[2022-09-20 06:34] Hehongyuanlove opened #2914 "Use node http will missing headers"

[2022-09-20 09:49] wafuwafu13 commented on #911
`path` done and working on `fs`

[2022-09-20 11:13] albnnc opened #2673 "`deepMerge` seems to ignore merge options on nested props"
**Describe the bug**

`deepMerge` seems to ignore merge options on nested props.

**Steps to Reproduce**

[code]

This test fails with the following output:

[code]

**Expected behavior**

The test should pass.

**Environment**

- OS:
- deno version:

[code]

- std version: 0.156.0

[2022-09-20 12:33] kt3k commented on #2673
cc @lowlighter

[2022-09-20 14:21] cjihrig opened #2674 "node: need a way to spawn process.execPath with no deno specific flags"
**Describe the bug**
Many Node.js tests spawn the node executable in a child process. This is separate from `child_process.fork()`. As an example, see [this test](https://github.com/nodejs/node/blob/96f072231d88ed3ed4a5422f2e37485b59f39e4d/test/parallel/test-child-process-spawnsync-env.js). The problem in that test is that in Deno's compat mode, the `spawnSync()` call needs to be updated to pass i

[2022-09-20 15:35] kt3k commented on #2674
In the compat code, detect when we are spawning the current executable and add the CLI flags. This could be done in std alone, but might have some edge cases.

The first solution might be ideal, but sounds adding lot of complexity to CLI entrypoint.

I think we should try the 2nd solution first and see how many cases it can cover.

cc @bartlomieju what do you think?

[2022-09-21 06:18] #2665 closed

[2022-09-21 07:26] PolarETech commented on #911
Hi,
I am working on `fs.ReadStream` (#2653) and `child_process.exec`.

[2022-09-21 15:05] #1654 closed

[2022-09-21 16:08] cmoog commented on #2674
I also encountered this here: https://github.com/denoland/deno/issues/15836

[2022-09-21 16:40] bartlomieju commented on #2674
I agree with that, we should go with 2nd solution for now.

[2022-09-21 21:02] bartlomieju opened #2677 "node: Listening for SIGTERM should be a noop"
Currently adding a listener for SIGTERM on windows will throw an error like so:
[code]
but according to https://docs.libuv.org/en/v1.x/signal.html and @cjihrig's knowledge this signal is a noop on Windows. We should align `std/node/` to this behavior.

[2022-09-22 04:24] #2666 closed

[2022-09-22 05:02] kt3k opened #2682 "test: node compat test `test-dns.js` is flaky on windows"
This test case seems flaky on windows recently. It wasn't flaky until last week iirc

[2022-09-22 05:09] lowlighter commented on #2673
Seems it was just the `options` object not passed down recursively

[2022-09-22 06:00] tracker1 opened #2685 "CSV Streams"
Similar to handling JSON streams, would be nice to have a stream processor for CSV that emitted a record at a time.

The main difference, is that the CSV handler would need to do it's own line ending detection for emitting a record.

Ideally, would be nice to have both an async and a sync version... to support `for of` and `for await of` patterns... where the blocking/sync version would yeild bett

[2022-09-22 06:03] tracker1 commented on #2685
Appears to be there, or at least a work in progress...

https://github.com/denoland/deno_std/blob/main/encoding/csv/stream.ts

Feel free to close if no desire to have both sync and async interfaces.

[2022-09-22 06:33] kt3k commented on #2685
Async iterable interface is available like the below example:

[code]

Synchronous iterable API is currently not available (as far as I understand). I'm not sure sync iterable API is desired to be added to std.

[2022-09-22 07:20] #2673 closed

[2022-09-22 09:19] #2682 closed

[2022-09-22 12:26] #2677 closed

[2022-09-22 18:21] cjihrig commented on #2674
I created an initial version of the CLI argument mapper (option 2) in #2688. The CI is passing, but I personally think that option 1 is the better solution in the long term due to the many edge cases in option 2.

We also need a way to spawn a Deno child process with `require()` available. See `node/_tools/test/parallel/test-child-process-spawnsync-env.js` as an example of why we need that.

[2022-09-23 14:02] penberg commented on #2557
Looks like there's some more unimplemented bits. As pointed out by @ricardodalarme, Octokit seems to use `jsonwebtoken` with `RS256` algorith, which hits a different unimplemented path in `crypto`:

[code]

[2022-09-23 20:48] cjihrig commented on #2631
`child_process.execSync()` is being added in https://github.com/denoland/deno_std/pull/2689. Unfortunately, the test still fails on Windows in CI.

[code]

[2022-09-25 04:29] PolarETech commented on #911
`fs.ReadStream` and `child_process.exec` are partly done.
I'm starting on `fs.WriteStream`.

[2022-09-25 22:53] iuioiua commented on #2270
Sorry @aslilac, I didn't read the title. @kt3k, this should be an easy fix - something like:
[code]
Are there any cases where this check is not desirable? If not, I'll submit the PR.

[2022-09-26 04:04] kt3k commented on #2270
sounds worth trying to me.

[2022-09-26 09:18] PolarETech opened #2697 "node: source file location of `fs.ReadStream` and `fs.WriteStream`"
I have a question about the location of `node/fs.ReadStream` and `node/fs.WriteStream` source files.

The current directories/files structure is as follows:

- fs.ReadStream -> node/_fs/_fs_streams.ts
- fs.WriteStream -> node/internal/fs/streams.ts

This seems confusing to me.

In Node.js repo, both code of fs.ReadStream and fs.WriteStream are in `lib/internal/fs/streams.js`.

Since both streams h

[2022-09-26 11:51] iuioiua commented on #2011
`execSync` has been implemented in #2689.

[2022-09-26 12:11] lucsoft opened #2698 "Bug: Unresolved promises when using webpack via npm import"
**Describe the bug**

**Steps to Reproduce**
1. Create a new folder
2. "install webpack": deno run -A --unstable --node-modules-dir npm:webpack
3. "install/run webpack cli": deno run -A --unstable --node-modules-dir npm:webpack-cli

**Expected behavior**

Not fail before webpack-cli starts up and logs propagate

**Environment**

- OS: macOS 13
- deno version: v1.25.4
- std version: v0.157.0

[2022-09-26 19:29] luk3skyw4lker commented on #2557
@penberg alright! I'll take a look at it too, the HMAC implementation is kinda done, but there are still some tests missing and the type checking is not right too. I guess that I can take a look this Sunday

[2022-09-27 10:09] jollytoad opened #2701 "node TLSSocket throws TypeError if opts undefined"
**Describe the bug**

TypeError thrown if opts is undefined...

https://deno.land/std@0.157.0/node/_tls_wrap.ts?source=#L70

[code]

The line `hostname = opts.host;` throws an error if opts was undefined.

[code]

but also, it doesn't make sense, as hostname may already be set and then this line completely overrides the line above (or errors).

**Steps to Reproduce**

I was attempting to run `web-

[2022-09-27 14:54] PolarETech commented on #2697
Thanks for your input.
I am preparing a pull request that will combine the files into `internal/fs/streams.ts` as well as Node.js.

[2022-09-27 15:18] cjihrig commented on #2674
Discussed this internally today. The plan is to land https://github.com/denoland/deno_std/pull/2688 and begin working on a Node argument parser in Deno. Once that is ready, the mapping logic in #2688 can be ripped back out.

[2022-09-27 23:11] iuioiua commented on #1036
The current API automatically prints where the server is listening. It can also be manually controlled via the `onListen` property, if needed. For example:
[code]
@kt3k, I believe this issue can be closed.

[2022-09-28 04:50] kt3k commented on #1036
@iuioiua Thanks. Right, this was resolved in #2311. Now the listening port is available in the option of `onListen` handler.

[2022-09-28 04:50] #1036 closed

[2022-09-28 05:00] kt3k commented on #1761
The test script:

[code]

The error:
[code]

There's probably a bug in v8

---
From Ben's comment.

[2022-09-28 15:15] #2270 closed

[2022-09-28 20:06] PolarETech opened #2706 "node: ci fails for lack of "caches" in "knownGlobals""
After Deno canary version b3122279e58e51520a38e51cca317a09cdadd7cb4, most tests run in `deno task node/test` fail with the following error:

[code]

The reason seems to be that "caches" was added to global by https://github.com/denoland/deno/pull/15829, but it is not yet supported in `node/_tools/test/common/index.js`.

[2022-09-28 20:54] #2706 closed

[2022-09-29 08:20] #2697 closed

[2022-09-29 11:11] surma opened #2709 "[http/file_server] `serveDir` should serve `index.html` regardless of `showDirListing`"
Currently, you need to pass `{showDirListing: true}` if you want to serve `index.html` when a request for a folder comes in.

Directory listings are a separate feature from serving `index.html`.

My suggestion: Add a new option `serveIndex` (or similar) that defaults to `true`.

[2022-09-29 19:00] KhaledSakr opened #2717 "Leaking async operation after closing server"
While working on a test case involving a simple std/http server I encountered the following error:
[code]

This can be reproduced using the following code snippet:
[code]

It seems to be related to the backoff here: https://deno.land/std@0.158.0/http/server.ts?source=#L387. Should this timer be cleared when closing the server?

[2022-09-30 08:00] iuioiua commented on #2594
@kt3k, I think it's worth:
1. Improving documentation, strongly and clearly recommending the "do the action directly" method.
2. Ensure any instance of `exists` within `std` is removed in favour of "doing the action directly" to our own recommendation.
3. Reverting the deprecation.

I'm happy to work on this. What do you think?

[2022-09-30 12:29] kt3k commented on #2717
The server doesn't immediately clear all resources after `server.close()` called. You need to wait the returned value of `server.listenAndServe()` call.

You also need to consume the response body of `fetch()`.

[code]

[2022-09-30 12:42] KhaledSakr commented on #2717
The [documentation](https://deno.land/std@0.158.0/http/server.ts?s=Server#method_close_0)  states that `close()` **immediately** closes the server listeners and associated HTTP connections though. If that's the case and no new connections can be accepted anyway because of the check in https://deno.land/std@0.158.0/http/server.ts?source=#L358, then what would be the reason for the dangling timer?

[2022-09-30 15:06] cjihrig commented on #2717
I think we should update `close()` to return a `Promise` that resolves once everything is cleaned up, and update the docs accordingly.

[2022-09-30 15:25] timreichen commented on #2594
@iuioiua I think this is a good solution.

[2022-09-30 16:48] Octo8080X opened #2728 "npm compat fs.ReadStream."
Hello.

I tried use json-server on Deno.
But,  fs.ReadStream will be not work.
How should we respond?

[code]

Best regards.

[2022-10-01 03:19] kidonng opened #2742 "Error running esbuild using npm specifiers"
Deno version: 1.26.0

esbuild runs fine, but Deno outputs a mysterious error:

[code]

[2022-10-01 09:22] FergoTheGreat opened #2731 "CacheStorage API ignores Accept-Encoding in cache matching"
Deno 1.26 adds the CacheStorage Web API. I wrote a little test that seems to fail.

    import { serve } from "https://deno.land/std@0.156.0/http/server.ts"

    const cache = await caches.open("test")
    cache.delete(new URL("http://localhost/"))

    serve(async function(request: Request) {
        const response = await cache.match(request)
        if (response) {
            console.log("Cach

[2022-10-01 09:56] FergoTheGreat commented on #2731
Just in case I missed something by not actually compressing the request body.

    import { serve } from "https://deno.land/std@0.156.0/http/server.ts"

    function delay(ms: number) {
        return new Promise(resolve => setTimeout(resolve, ms))
    }

    function compress(str: string, encoding: string) {
        const data = new TextEncoder().encode(str)
        const cs = new CompressionStre

[2022-10-01 10:46] #2731 closed

[2022-10-01 10:47] FergoTheGreat commented on #2731
My mistake, this belongs in the deno rep, not deno_std.

[2022-10-01 12:54] KhaledSakr commented on #2717
I wonder if checking if the server is closed before starting the backoff would solve the issue without introducing other problems. I created a PR to try it out here: https://github.com/denoland/deno_std/pull/2732

[2022-10-01 20:12] dionjwa commented on #2594
I feel like the use cases I put forward are not understood. All the suggestions are assuming that you want to write to the file, or create it if it doesn't exist, rather than take an unrelated action if the file exists. None of the suggestions work in this case, since I don't want to create the file or directory, just to check if it exists. I suppose we'll have to create a third-party module to co

[2022-10-02 00:05] iuioiua opened #2733 "review `std/crypto` and `std/hash`"
Continuing the discussion from #2719, `std/hash` shouldn't be fully deprecated due to its desired streaming functionality that isn't yet available as a web spec. [Although, it's planned to one day be.](https://github.com/wintercg/proposal-webcrypto-streams)

However, `std/hash` does overlap with `std/crypto` in a few ways. I have a few suggestions that I think would prune some of this overlapped f

[2022-10-03 08:18] iuioiua commented on #2609
@kt3k and @bartlomieju, what do you guys think?

[2022-10-03 09:05] kt3k commented on #2609
The suggestion makes sense to me. We don't have a usage of `TextProtoReader` anymore since https://github.com/denoland/deno_std/pull/1648 . Also we've been moving to ReadableStream-based design everywhere. I agree we probably don't use `TextProtoReader` for anything in the future.

[2022-10-03 09:32] iuioiua opened #2736 "bug: `deno fmt` doesn't work correctly for code blocks on `.ts` files"
**Describe the bug**

There are plenty of examples of unformatted code within code blocks in `.ts` files. Running `deno fmt` doesn't format the code blocks as it should, even though many "snippets are enclosed in triple backticks and have a language attribute", as noted in [documentation](https://deno.land/manual/tools/formatter). This issue is most likely for `denoland/deno`. However, I create th

[2022-10-03 11:09] #2709 closed

[2022-10-03 11:15] kt3k commented on #2609
We found that `std/textproto` has relatively high number of download count even today (according to the access log). We are now investigating the count by version number to make sure that heavily used versions are only old versions

[2022-10-03 20:04] #2742 closed

[2022-10-03 21:19] cjihrig commented on #2733
If we can make `std/hash` completely redundant, I'd be supportive of moving things into `std/crypto`. If we can't make it redundant, maybe we should just wait on streaming webcrypto.

[2022-10-04 08:49] kt3k commented on #2736
I think there's no such config for `deno fmt`. This seems like denoland/deno issue to me.

[2022-10-04 08:52] iuioiua commented on #2736
My question was: is there an option for `deno fmt` missing? However, I don't think this is the case. This should work by default.

[2022-10-04 08:56] kt3k commented on #2736
`deno fmt` can format code blocks in markdown files, but it can't format the code blocks in jsdoc in scripts iirc. I agree that this should be supported by default.

[2022-10-04 10:33] iuioiua commented on #2609
Alright! No worries.

[2022-10-04 15:22] #2717 closed

[2022-10-04 16:08] cdecompilador opened #2745 "WASI: Make the module, browser compatible"
If `wasmer-js` could do it, making something similar with deno should be possible, right?

[2022-10-04 17:03] cjihrig commented on #2745
Since the WASI module is already written in TypeScript, I think shims for the `Deno` are the only missing piece for browser compatibility, right?

[2022-10-04 20:25] PolarETech opened #2746 "node: selenium-webdriver fails to launch Firefox with Invalid URL error"
**Describe the bug**

When running [selenium-webdriver](https://github.com/SeleniumHQ/selenium/tree/trunk/javascript/node/selenium-webdriver), I get an `Invalid URL` error and cannot launch Firefox.

**Steps to Reproduce**

1. Install Firefox and geckodriver ([Ref.](https://github.com/SeleniumHQ/selenium/tree/trunk/javascript/node/selenium-webdriver#installation))
2. Create a script with the conte

[2022-10-04 20:27] cdecompilador commented on #2745
I've been looking at the code and it would require some rethinking of the API to make the needed calls to Deno just at the user side, for example while initializing the `Context` it sets by default the `stdin`, `stdout` and `stderr` to actual descriptors, when this ones could be abstacted to a ByteStream or something similar, also the `ContextConfig` handles the filesystem in a very native oriente

[2022-10-05 07:09] #2746 closed

[2022-10-05 11:12] kt3k commented on #2609
We discussed this internally, and we are in favor of deprecation.

Thank you for your suggestion! @iuioiua

[2022-10-05 11:14] #2609 closed

[2022-10-05 12:00] iuioiua commented on #2736
Thanks, @kt3k. I'll continue this discussion in denoland/deno#16160, where I make my suggestion.

[2022-10-05 22:43] dsherret opened #2752 "Missing readline/promises"
https://nodejs.org/api/readline.html#promises-api

[2022-10-06 11:44] PolarETech opened #2754 "node: selenium-webdriver fails to launch Chrome with `Uncaught WebDriverError: Unexpected HTTP response`"
**Describe the bug**

When running [selenium-webdriver](https://github.com/SeleniumHQ/selenium/tree/trunk/javascript/node/selenium-webdriver), I get an `Uncaught WebDriverError: Unexpected HTTP response` error and cannot launch Chrome.

Upon investigation, the following behaviors seem to be the cause of the error.

- chromedriver does not support chunked requests (https://bugs.chromium.org/p/chrom

[2022-10-07 02:11] ricardodalarme commented on #2557
hey, @luk3skyw4lker any progress on that?

[2022-10-07 06:40] iuioiua commented on #2733
@kt3k, would you be able to point out where streaming functionality exists within `std/hash`. Having a quick look through, I'm unable to spot it. Maybe I'm missing something...

[2022-10-07 06:52] iuioiua commented on #2733
I think `std/crypto` would benefit from having a `toHashString` function, inspired by the `Hash.toString()` method from `std/hash`. Seems like a convenient thing to have.

Apart from that, I don't see where `std/crypto` is lacking, compared to `std/hash` (see above comment).

[2022-10-07 10:41] PolarETech commented on #2752
Can I take this?

[2022-10-07 11:53] bartlomieju commented on #2752
@PolarETech please do!

[2022-10-07 12:13] iuioiua commented on #2268
Hi @dsherret, to clarify, would you still like to see this added to the repo?

[2022-10-07 15:51] cjihrig opened #2761 "flaky test: [node/child_process] child_process.fork"
This test appears to be flaky (and when it fails it causes the following test to fail as well):

https://github.com/denoland/deno_std/actions/runs/3202272796/jobs/5231090727

[code]

[2022-10-07 23:12] iuioiua commented on #2594
It'd be worth pointing out that `std/log` has a use case that supports keeping `exists`:
https://github.com/denoland/deno_std/blob/f096e33013fad0dfbb5a63f9d7960622a2ffe120/log/handlers.ts#L202-L209

If `exists` is to be deprecated, a reasonable alternative for this use case has to be vetted.

[2022-10-08 00:37] luk3skyw4lker commented on #2557
@ricardodalarme yep! I have made some progress on the PR, the tests are the only thing missing, I'll do them probably this weekend

[2022-10-09 12:10] iuioiua commented on #2733
Perhaps, there may be some confusion between `std/hash` and `node:crypto` (which does support streams with hashes).

[2022-10-09 20:13] kt3k commented on #2594
There's types of usages like `assertEquals(existsSync(srcFile), true);` in `copy` and `move` testing. Usages in testing might be also another example of legit usage.

[2022-10-09 20:22] kt3k commented on #2733
@iuioiua
With `std/hash`, you can call `hash.update("...")` multiple times and that appends the data to the internal state.

[code]

I think we can consider this capability as streaming support. (The same thing is not possible with current Web Crypto's `digest` API, I guess)

[2022-10-09 21:48] iuioiua commented on #2733
Ok, I see what you mean now. Well, I think `std/crypto` can be easily tweaked to support streams. By adding `ReadableStream<Uint8Array>` as a possible argument type for `crypto.subtle.digest()`, I was able to get the following working (taken from [proposal explainer](https://github.com/wintercg/proposal-webcrypto-streams/blob/main/explainer.md)):
[code]
There are also `EncryptionStream` and `Decry

[2022-10-09 21:51] iuioiua commented on #2594
Do these use cases provide sufficient reasoning to undo the deprecation of `exists` for now? I think they do.

[2022-10-10 03:32] iuioiua commented on #1986
I'll give `readRange` from `files.ts` a crack, if that's still something we want. I'm thinking `RangedTransformStream`.

Also, update:
1. `std/mime` is deprecated
2. `std/textproto` is deprecated
3. Streams-based CSV parsing is implemented

[2022-10-10 15:02] kt3k commented on #2636
note: we try to land prisma deno integration at prisma 4.5.0

[2022-10-10 15:04] #2752 closed

[2022-10-10 15:59] #2761 closed

[2022-10-10 22:07] kt3k commented on #2636
cc @lambtron

[2022-10-11 05:37] iuioiua commented on #2103
@kt3k, I believe this issue can be closed. `std/testing/bench` was deprecated and then removed in #2714.

[2022-10-11 07:36] iuioiua commented on #1707
@kt3k, I'll do `_readline.mjs`. Is there any issue in essentially merging the `.mjs` and `.d.ts` files into a `.ts` file? I gather that `.mjs` is separated to make following the node version easier to follow.

[2022-10-11 10:02] iuioiua opened #2771 "suggestion: measure Node compatibility"
Node compatibility could be measured by how many tests within `std/node` exist and are passing.

I suggest having a programmatic way of measuring which and how many Node tests are passing, with clear and readable results easily accessible. It'd allow a contributor to easily find which tests to pursue. Doing so would also make raising issues for failing/missing Node tests redundant.

I explored thi

[2022-10-11 10:11] iuioiua opened #2772 "suggestion: detect relative imports within code examples"
#2762 replaced relative imports within code examples with absolute imports. As @ayame113 pointed out, this allows examples within the documentation to be copied and pasted.

Having a tool that can detect and warn the user when a relative import within a code example would prevent this undesired from happening again. I think something similar to #2613 by @timreichen would do the trick.

[2022-10-11 10:22] ayame113 commented on #2772
I think it is good. For reference, the regex I used to find the relative imports from within the docs are `\*.*from.*"\.` and `\*.*import.*"\.`.

[2022-10-11 15:26] #2103 closed

[2022-10-12 06:08] iuioiua commented on #1986
Is the Deno team in favour of deprecating these APIs?

[2022-10-12 11:57] kt3k commented on #1707
@iuioiua I think there's no such issue. Do you think we should merge .mjs and .d.ts into .ts?

[2022-10-14 09:32] #1587 closed

[2022-10-14 14:28] loynoir opened #2777 "[perf] deno source code should explicit return type"
https://typescript-eslint.io/rules/explicit-function-return-type/

`1 + 1 === 2` at worst case deno test takes 30 seconds, due to type checking is included by default.

https://github.com/denoland/deno/issues/16116

https://deno.land/std@0.158.0/node/assert.ts?source#L240

[2022-10-15 02:10] sant123 opened #2778 "bug(flags): all boolean arguments included in alias are not set to false by default"
**Describe the bug**
When setting an alias and if one of the alias are included in the boolean argument, all arguments inside the alias should have their value to false.

![image](https://user-images.githubusercontent.com/7959437/195964205-cbca51ea-ac71-4ef8-8a0f-118a61f26712.png)

**Steps to Reproduce**

[code]

**Expected behavior**

`options.h` and `options.help` should be false.

Also the type

[2022-10-15 05:29] nkabbara commented on #2571
Hi @kidonng! I think this MR should take care of it? Please let me know if you think I should handle differently.

As far as `**` returning the parent, I went back and forth a couple of times, but in the end decided that maybe it should be included. My reasoning:
[code]
expandGlob is always getting the absolute path of a root. So when a `**` is present, I think including parent seem to mimic what

[2022-10-15 15:21] lino-levan commented on #1919
I'm pretty sure this issue should be closed given the following is now specified in agent:

[code]

  I can't really check though since the reproc isn't erroring out for me, even if I don't change the std version.

[2022-10-15 15:27] lino-levan commented on #1936
I'm pretty sure this issue should be closed.

[2022-10-16 07:08] kt3k commented on #1936
I confirmed the below script working now.
[code]

[2022-10-16 07:08] #1936 closed

[2022-10-17 03:53] lino-levan commented on #2667
The following is a quote from https://deno.land/manual@v1.26.1/node

It sounds to me like the Deno team do not plan to ever support `vm` which is quite sad.

[2022-10-17 10:51] iuioiua commented on #2540
Hi @jespertheend, are you still encountering this issue? If so, what's the minimal reproducible snippet?

[2022-10-17 12:24] jespertheend commented on #2540
Yes I can still reproduce with the snippet from the first comment. I can reproduce it on both macOS and Ubuntu. It seems a bit flaky though, about 1 in ten times it works fine, but the other 90% it fails with ERR_CONNECTION_RESET

[2022-10-17 18:32] iuioiua commented on #2733
@kt3k, I'll go ahead and remove `std/hash` if and once the above PRs are merged, seeing as it's been deprecated for a while now.

[2022-10-18 11:31] kt3k opened #2788 "npm: getting available port using `npm:get-port@5` doesn't work"
The following script throws `error: Uncaught AddrInUse: Address already in use (os error 48)`

[code]

(the 'available port' is not actually available)

If we delay the timing of listening a little bit, it works (the below script works):

[code]

This issue seems causing `AddrInUse` error in `deno run npm:prisma studio`. ref https://github.com/denoland/deno/issues/16282

[2022-10-18 14:05] ricardodalarme commented on #2557
okkk, thank you so much @luk3skyw4lker

[2022-10-18 17:49] vitalics opened #2790 "Feature: std support TemplateStringArray"
# Why

String literals allow to make code cleaner, since no need to use braces around argument. In my personal project i use [`chalk`](https://www.npmjs.com/package/chalk) function, but i want to switch to std library instead.

## Chalk example:
[code]

# Usage

[code]

I hope it will helpful feature not only for me

## Possible issues

### Nesting

I don't know how to handle nesting, since templa

[2022-10-18 20:46] martin-braun opened #2791 "Don't require `--unstable` for `Deno.getUid()` and `Deno.getGid()`"
`Deno.getUid()` and `Deno.getGid()` should just return `null` on Windows systems, but not require the `--unstable` keyword, so they can be used in `deno_std` for permission checks that are only necessary on POSIX systems.

This issue blocks #2785

Context:

Windows will raise a `Deno.errors.PermissionDenied` when calling `Deno.stat` on a directory/file that the user cannot read. However, on POSIX

[2022-10-18 21:03] bartlomieju opened #2792 "Make a list of all unstable APIs used in std/node"
We need this info to plan how we can stabilize `npm:` specifier support.

We had `_deno_unstable.ts` that grouped these APIs, but it was removed in #2600

[2022-10-19 03:10] martin-braun commented on #2594
@iuioiua My recent research shows that this code would throw an unhandled exception on Windows, when the backup file exists, but is not readable. If you'd use `isReadableFile` as substitution, it would not detect files with missing read permissions. Attempting to write on a file that has missing read-permissions could cause data loss if write-permissions are present.

Your code sample shows me tha

[2022-10-19 03:18] kt3k commented on #2571
closed by #2779

[2022-10-19 03:18] #2571 closed

[2022-10-19 12:28] #2788 closed

[2022-10-19 23:13] loynoir opened #2796 "`npm:tmp` doesn't work"
**Describe the bug**

**Steps to Reproduce**

[code]
[code]

**Expected behavior**

**Environment**

- OS: ArchLinux
- deno version: 1.26.0
- std version: 0.158.0

[2022-10-19 23:25] iuioiua commented on #2796
Hi @loynoir, try upgrading Deno to the latest version. The latest version is 1.26.2 which uses std version 0.160.0, which may have already fixed this issue.

[2022-10-20 01:42] loynoir commented on #2796
[code]

[2022-10-20 15:53] cjihrig commented on #2011
Closing this, as the API was added in https://github.com/denoland/deno_std/pull/2699.

[2022-10-20 15:53] #2011 closed

[2022-10-21 15:50] acrodrig opened #2798 "Env file loading with empty value is broken since 0.147"
**Describe the bug**

It is not possible to load `.env` files with empty values since version 0.147. It used to work until version 0.146.

**Steps to Reproduce**

Assume the following `.env` file:

[code]

And `test.ts` below:

[code]

It breaks as shown here:

[code]

**Expected behavior**

When changing version to 0.146:

[code]

Output is as shown:

[code]

**Environment**

- OS: Mac OS 12.6
-

[2022-10-21 19:33] gabrielba15 commented on #2557
Hey! I'm trying to implement an application that use the google api method but i'm getting this error:

[code]
This is the code:
![deno-google-api-code](https://user-images.githubusercontent.com/59029788/197274913-69061e08-391f-4e20-9166-0aad6bdbc943.png)

I ran this same code in nodejs and it's worked well.
More info:
[code]

[2022-10-21 19:38] gabrielba15 commented on #2557
I know that googleapis is an npm packages and that is intended for nodejs but i wanted to try it with deno.
Is there any solution any solution for this or do I have to go back to nodejs? xd

[2022-10-23 07:05] AaronDewes commented on #2557
googleapis seems to depend on gRPC, which is not yet supported in Deno, although it seems that it is being worked on https://github.com/denoland/deno/issues/3326#issuecomment-1198729530.

[2022-10-23 15:12] #2733 closed

[2022-10-24 20:41] timonson opened #2806 "http/serveDir: Returns wrong (because encoded) `href` values inside the html table"
The function `serveDir` with the option `showDirListing: true` returns a HTML `table` with incorrect hyperlinks if the filenames contain **url-unsafe** characters.

For example, the `href` value of the file `shadow@v1.1.1/css.js` becomes `shadow%40v1.1.1/css.js` in the returned HTML code. After clicking on the link, `serveDir` will return a `404`.

deno 1.26.2 (release, x86_64-unknown-linux-gnu)
v

[2022-10-24 21:44] cjihrig opened #2807 "Node compat test suite is failing on Windows"
**Describe the bug**

Starting with https://github.com/denoland/deno_std/commit/820474d600c5e1f612f08165d2b21c678e9692a0, the Windows CI has been failing consistently with the errors below. Nothing jumps out on the std side, so I'm thinking maybe it could be a change in core causing the failures here.

[code]

**Environment**
CI. I don't have a Windows setup to test locally.

[2022-10-24 21:48] bartlomieju commented on #2807
I suspect it might be related to https://github.com/denoland/deno/commit/c061538417cdb2b0a8f2d6eae7f5f11511ba34fe I got some unexpected network errors in another context. CC @lucacasonato I think we should revert that change and revist after v1.27 release.

[2022-10-25 13:34] kt3k commented on #2792
`deno check node/module_all.ts` would help for finding unstable APIs (I'm not 100% sure these are the all)

[2022-10-25 13:46] cjihrig commented on #2792
Running with latest `main` of the CLI (with duplicates removed):

[code]

[2022-10-25 18:32] #2807 closed

[2022-10-25 19:50] #2771 closed

[2022-10-25 20:30] iuioiua commented on #2792
Was removing `_deno_unstable.ts` in #2600 possibly a mistake?

[2022-10-26 06:57] kt3k commented on #2792
I think it was just fine. We need this info for stabilizing `npm:` specifier in near future, but no need of keep tracking it always

[2022-10-27 21:29] cjihrig commented on #2792
Updated list of unstable APIs once all of the stabilization PRs currently opened against the CLI land:

[code]

[2022-10-27 23:59] lino-levan commented on #1201
This issue should probably be closed. std/hash has been removed from std.

[2022-10-28 00:39] cjihrig commented on #1201
Thanks!

[2022-10-28 00:39] #1201 closed

[2022-10-28 08:07] #2663 closed

[2022-10-28 08:13] kt3k commented on #2595
closed by #2801

[2022-10-28 08:13] #2595 closed

[2022-10-28 11:25] bartlomieju opened #2821 "node: fs.findAncestorFile is not supported"
**Describe the bug**

error: Uncaught TypeError: fs.findAncestorFile is not a function

See https://github.com/denoland/deno/issues/16460
**Steps to Reproduce**

**Expected behavior**

**Environment**

- OS: [e.g. Ubuntu 20.04, MacOS 11]
- deno version:
- std version:

[2022-10-28 13:25] bartlomieju commented on #2821
Ooops, now that I read this comment https://github.com/denoland/deno/issues/16460#issuecomment-1294965669 I see you're right. Closing

[2022-10-28 13:25] #2821 closed

[2022-10-28 17:48] lino-levan commented on #2798
This was fixed in #2819. Should we close this issue now, or wait until a new std version is published?

[2022-10-28 17:49] cjihrig commented on #2798
Yes, this can be closed.

[2022-10-28 17:49] #2798 closed

[2022-10-28 17:50] acrodrig commented on #2798
Thanks.

[2022-10-28 18:52] josephrocca commented on #2557
Maybe worth mentioning: This is also blocking AWS SDK usage. I wonder if there's any way to polyfill this with something like `npm:node-forge` in the meantime?

[2022-10-28 23:20] iuioiua opened #2823 "bug: `deno task node:setup -y` is not working correctly"
**Describe the bug**

`deno task node:setup -y` doesn't correctly pass the `-y` to `deno task node:setup` since #2787 (my bad).

**Environment**

[code]

[2022-10-29 09:50] kt3k commented on #1919
`ProxyAgent` doesn't look defined/imported in the above example, and I can't reproduce the error.

[2022-10-29 10:12] kt3k commented on #2777
We intentionally don't write return types if they are `void` or `Promise<void>`. We consider those are unnecessary boilerplate

ref: https://github.com/denoland/deno/issues/8832

Also the performance issue reported in https://github.com/denoland/deno/issues/16116 looks like caused by the network download, not by typing issue. `deno test` now doesn't type check the remote modules by default. ref: h

[2022-10-29 10:12] #2777 closed

[2022-10-29 10:31] kt3k commented on #2778
cc @c4spar

[2022-10-29 11:37] c4spar commented on #2778
I'll take a look at it.

[2022-10-29 13:56] idanran commented on #1919
It should indeed be closed, thank you all.

[2022-10-29 13:57] #1919 closed

[2022-10-29 15:48] #2778 closed

[2022-10-29 22:29] iuioiua commented on #2823
If no one else gets to fixing this before me, I'll apply the fix once I get a chance.

[2022-10-30 11:48] iuioiua commented on #2796
Perhaps, instead, you could do the following:
[code]

[2022-10-30 12:20] iuioiua commented on #2806
This worked fine for me using `deno run --allow-net --allow-read https://deno.land/std@0.161.0/http/file_server.ts`. No 404s here.
<img width="1470" alt="image" src="https://user-images.githubusercontent.com/29347852/198877988-9d82adc7-e6d1-4677-94b8-cdb0d7c6fc67.png">

[2022-10-30 12:37] iuioiua commented on #2790
What happens when you run this now?

[2022-10-30 19:19] lino-levan commented on #2674
Compat mode no longer exists, is this still relevant? #2688 landed a while ago and I haven't seen a lot of movement on this issue.

[2022-10-30 19:27] bartlomieju commented on #2667
`vm` might be implemented once we get support for `ShadowRealm`

[2022-10-30 19:33] lino-levan commented on #2667
Could you provide some context on `ShadowRealm`? Is there an issue / PR about this?

[2022-10-30 19:36] lino-levan commented on #2667
Oh never mind, I found https://github.com/denoland/deno/issues/13239, which is an issue tracking support. Linking this here for future reference.

[2022-10-30 19:38] andreubotella commented on #2667
It's a JS API proposal that's currently being worked on: https://github.com/tc39/proposal-shadowrealm

Unlike most new JS APIs that Deno implements automatically because they ship in V8, this one requires some work to support in the internals of Deno. You can follow the work at denoland/deno#13239 (although the work recently had to be rolled back in denoland/deno#16366 because it was blocking cert

[2022-10-30 20:10] lino-levan commented on #2554
It almost feels like @ah-yu is asking for a "strict mode" for the semver module. I don't particularly see how this is useful, and I'm having trouble coming up with an API for this. I'm thinking something like

[code]

But even then, most of the semver utility functions are specifically designed for extensions to the spec. It's pretty trivial to parse semver otherwise (they literally give a regex s

[2022-10-31 00:04] lino-levan commented on #2806
I'm not getting any 404s on std 0.160.0 or 0.161.0. Was this a bug with Deno (I'm using 1.27.0)? It seems resolved regardless of what the root cause was.

[2022-10-31 11:29] #2823 closed

[2022-10-31 16:35] timonson commented on #2806
This doesn't contradict anything I said

[2022-10-31 16:48] timonson commented on #2806
OK, I messed up the routing on my end, but it seems that non-ASCII characters in URLs, percent-encoded or not, are safe now according to spec: https://stackoverflow.com/a/3705601/12222244

[2022-10-31 16:48] #2806 closed

[2022-10-31 18:33] lino-levan commented on #2268
@dsherret any updates on this? I'm personally against it being added but I think there should be an official decision on this.

[2022-10-31 19:05] dsherret commented on #2268
I think people can just add the code above to their projects if they really need this... it's super rare that someone would.

[2022-10-31 19:05] #2268 closed

[2022-10-31 21:12] lino-levan commented on #1429
@iuioiua The bug has been fixed but the docs have not been changed.

@kt3k How should this be documented? Is this just a JSDoc comment?

[2022-10-31 21:14] lino-levan commented on #1126
I think this issue should probably be closed, though the discussion in this issue is very interesting.

[2022-10-31 21:32] lino-levan commented on #2053
@TomokiMiyauci I feel like this has been clarified. Is there a reason this issue shouldn't be closed?

[2022-10-31 21:48] lino-levan commented on #1968
For anyone reading this thread in the future, `x/plug` does now support loading aarch64-darwin libraries [since version 0.5.2](https://github.com/denosaurs/plug/releases/tag/0.5.2)

As for this specific issue, I don't really see this as something std should do, given that `x/plug` does already exist. Would love to get an opinion from someone on the core team though.

[2022-11-01 02:27] TomokiMiyauci commented on #2053
@lino-levan   The maintainer believes that the supporting browsers need to be documented. #2052

This work does not appear to have been done yet, have I missed something?

[2022-11-01 03:25] lino-levan commented on #2055
Is this issue still relevant since the `--compat` flag has been removed? Vite support is more or less here (minus the need for the node_modules folder, rollup seems blocked on that) from what I've seen from community projects

[2022-11-01 03:32] lino-levan commented on #1649
I feel like this issue should be resolved as the `private` identifier no longer exists in std as far as I can tell.

[2022-11-01 03:38] lino-levan commented on #1815
Rel: https://github.com/denoland/deno_std/issues/2667

[2022-11-01 04:15] #1649 closed

[2022-11-01 06:32] kt3k commented on #2061
resolved. ref: https://github.com/denoland/deno/issues/15398#issuecomment-1236406923

[2022-11-01 06:32] #2061 closed

[2022-11-01 06:43] kt3k commented on #2055
Let's close this as the basic features of vite work now via `npm:` specifier.

ref: https://www.youtube.com/watch?v=Zjojo9wdvmY

npm module compatibility issues are still relevant. Please replace `--compat` part with `npm:` specifier when reading them. `--compat` and `npm:` uses the same underlying API shims (which is `std/node`). So many issues should apply for both.

[2022-11-01 06:43] #2055 closed

[2022-11-01 07:35] kt3k commented on #2790
There was the same proposal before https://github.com/denoland/deno_std/issues/886, and the majority was against this change/addition.

[2022-11-01 07:39] iuioiua commented on #2728
@cjihrig, can this ticket be closed? It appears as though this is no longer an issue.

[2022-11-01 08:07] kt3k opened #2827 "compat: tracking issue for `npm:json-server`"
Running [json-server](https://www.npmjs.com/package/json-server) cli doesn't work now.
[code]

The above command needs db.json, for example:

[code]

Issues:
- [ ] `TypeError: Cannot read properties of undefined (reading 'remoteAddress')` at `forwarded/0.2.0/index.js:49:22`
- [ ] `TypeError: this._implicitHeader is not a function` at `compression/1.7.4/index.js:84:14`

[2022-11-01 08:10] kt3k commented on #2728
The issue title is no longer valid (the above error doesn't reproduce anymore), but it looks like there are other issues for running `json-server`. I created #2827. Let's track remaining issues there.

[2022-11-01 08:10] #2728 closed

[2022-11-01 08:46] kt3k commented on #1429
Let's document in JSDoc comment. I also think it's better to document when `length` is meaningful. Do all digest algorithms respect length property? (I guess no)

[2022-11-01 14:11] Octo8080X commented on #2728
@cjihrig @iuioiua @kt3k
Thank you very much. I appreciate it very much.

[2022-11-01 15:56] lino-levan commented on #2506
I'm confused on how this is a bug with std? Unless I'm misunderstanding something, the execution order is as follows:
1. `import * as log from "https://deno.land/std@0.150.0/log/mod.ts";`
2. `import { foo } from "./3rd-party-lib.ts";`
3. `import { getLogger } from "https://deno.land/std@0.150.0/log/mod.ts";`
4. `const logger = getLogger("my-lib"); // fails (silently) because the logger my-lib is n

[2022-11-01 16:01] lino-levan commented on #2559
@luk3skyw4lker any updates?

[2022-11-02 00:17] lino-levan commented on #2053
@TomokiMiyauci You've linked [where it is documented](https://deno.land/manual@v1.27.0/contributing/style_guide#std) yourself? Are you suggesting that this is put elsewhere as well?

[2022-11-02 00:27] iuioiua opened #2829 "suggestion: retry algorithms"
I like the idea of having a retry function with a BYO algorithm. A common use case is initiating a TCP connection for a database or service. My idea is to have both the retry function and a few popular algorithms, perhaps in `std/async/retry.ts`. Example:
[code]
This function would retry until the algorithm reaches its retry limit and then reject.

I'd like to work on this, if it sounds like a goo

[2022-11-02 03:17] #2796 closed

[2022-11-02 03:35] kt3k commented on #2829
The idea looks good to me.

I found 3 npm modules which implement similar features (these all have >1M weekly downloads):
- https://www.npmjs.com/package/retry
- https://www.npmjs.com/package/async-retry
- https://www.npmjs.com/package/p-retry

They all seem supporting only exponential backoff. Maybe we can follow that design? (Is there any useful algorithm other than exponential backoff?)

[2022-11-02 05:59] darrachequesne commented on #2506
@lino-levan you are right, this is not really a bug, but rather a question: how can I, as a library author, provide a way for my users to display the internal logs of the library? (something like https://github.com/visionmedia/debug in the Node.js world)

Calling `getLogger()` every time works fine, but seems a bit counter-intuitive to me (or is it just me?).

[2022-11-02 15:23] lino-levan commented on #2506
I would imagine that the library author would provide a method for showing internal logs. Something like this:

[code]
[code]
Besides the fact that this code is kind of gross, I don't see what std can really do to solve this problem. The PR you linked (#1404) kind of addresses this, but it's a pretty huge breaking change (that changes a lot of things in log for this specific problem that in my min

[2022-11-02 15:27] lino-levan commented on #2829
I would really like to see `expontentialBackoff` built into the module in std. It seems to me that the only other function that would be useful other than exponential backoff is linear backoff (but that could be accomplished with `multiplier: 1`)

[2022-11-02 15:35] lino-levan commented on #2594
I agree with @martin-braun's analysis here. I would suggest that we deprecate (and eventually remove) `exists`, and replace it with `dirExists` and `fileExists`. I think it's pretty important to give people a route to migrate to newer versions of `std`. If we just remove `exists`, it is really going against this philosophy.

I, personally, have run into a very similar problem as @dionjwa where I n

[2022-11-02 16:30] kt3k commented on #2594
@lino-levan See also https://github.com/denoland/deno_std/pull/2785 . I believe it's the latest version of the proposal.

[2022-11-03 04:47] martin-braun commented on #2594
@kt3k Which is probably stale. I could maybe move forward when  https://github.com/denoland/deno_std/issues/2791 gets fixed, but I seriously question if the permission part should be included, or not.

Unfortunately, my last comment in this issue got no reply. Maybe you could look into it?

My concern is, that there are use-cases in which `fileExists` is better than `fileReadable`, for instance, w

[2022-11-03 05:36] iuioiua commented on #2791
This is an issue for the main repo and not `deno_std`.

[2022-11-03 06:46] kt3k opened #2832 "node: os.hostname() returns empty string on windows"
This causes the main CI red.

[2022-11-03 07:32] kt3k commented on #2594
@martin-braun
I probably don't understand the question well. It sounds just fine to return `false` when PermissionDenied thrown (on windows). What could be the issue in that case?

BTW I feel it's a little verbose to have both `fileExists` and `dirExists`. How about passing options like `isDir: true`, `isFile: true` instead?

[2022-11-03 08:13] martin-braun commented on #2594
@kt3k The primary goal was to undo the deprecation while improving the situation to reduce the potential for TOCTOU scenarios. Including permission checks was an idea and I was motivated to get consistent behavior between the platforms, thus making `readable*` instead of `*exists` functions. On Windows `PermissionDenied` is raised on failed access, on POSIX, it's not. Not good. Another issue is `r

[2022-11-03 09:31] kt3k commented on #2594
We can throw TypeError for wrong usages.

I still don't see what's wrong about returning `false` in case of `PermissionDenied`

[2022-11-03 10:38] martin-braun commented on #2594
In case of `exists` I would say the problem is that only Windows will throw `PermissionDenied`, thus we have inconsistent behavior between the platforms.

**`exists` will produce different results between Windows and POSIX if the file is available, but cannot be read by the user.**

Ok sure. So you think the best is to ignore the issue I just mentioned and simply re-implement `exists` with `isFile

[2022-11-03 15:48] kt3k commented on #2832
ref https://github.com/denoland/deno/issues/16527

[2022-11-03 16:44] cjihrig commented on #2791
FYI - https://github.com/denoland/deno/pull/16424 (the APIs were renamed to `uid()` and `gid()` in the last release)

[2022-11-04 11:41] kt3k commented on #2832
fixed by https://github.com/denoland/deno/pull/16530

[2022-11-04 11:41] #2832 closed

[2022-11-04 16:41] martin-braun commented on #2594
@lino-levan Now I'm actually interested in changing my PR to implement `exists` and `isReadable` and direct users from `exists` to `isReadable` for the 99% of the time that this is preferred. As soon as [`uid()` and `gid()` is stabilized](https://github.com/denoland/deno/pull/16424), there is really nothing that prevents me to do that.

One last thing though: I though that the 3 arguments rule hol

[2022-11-05 05:10] lino-levan commented on #2194
This would be pretty huge for https://github.com/socketio/socket.io-deno/issues/7. It looks like https://deno.land/x/msgpackr@v1.7.0 does exist, but have this be part of std would be really nice. Does this make sense to go in encoding?

[2022-11-05 05:14] lino-levan commented on #2506
@darrachequesne Sorry to ping again, but ^

[2022-11-05 05:16] lino-levan commented on #2488
I feel like there should be a decision made by either the core team or the community on whether or not XML parsing should be in std. My sense is that it is overly complicated and there are already /x/ libraries for it, but I'm curious to hear from not just myself.

[2022-11-05 05:17] lino-levan commented on #2476
Any updates @iuioiua? If not, I'd love to take a shot at this one.

[2022-11-05 05:21] lino-levan commented on #2197
A quick update for this one. This still errors out in an uncatchable fashion, but the error message for the first case makes it a bit more clear:
[code]

[2022-11-05 05:30] lino-levan commented on #1114
As far as I can tell, this issue was roughly related to the two PRs mentioned, but was never directly a bug and instead just weirdness with time zones. Should this be closed?

[2022-11-05 05:35] lino-levan commented on #2485
This issue is a bit different nowadays but basically boils down to: How can we more clearly explain what node modules are polyfilled, what is missing, what is being worked on, and what is a wontfix. I think there's a little bit of this on https://deno.land/manual@v1.27.1/node/std_node, but the node-compat part of the deno documentation is comedically out of date (and afaik, core team has said they

[2022-11-05 05:39] lino-levan commented on #2397
I am completely unable to reproduce this error when I try to make my one reproc.

The bigger issue is that the reproc given straight up doesn't work afaik. Can anyone else reproduce this?

[2022-11-05 05:45] lino-levan commented on #2119
Can confirm that this issue still exists, can be replicated, and is super weird. My reproc:
[code]
[code]
Running `deno run --allow-net --allow-read --allow-env main.ts` causes the script to be unable to exist normally.

[2022-11-05 05:49] lino-levan commented on #2068
This seems to have been fixed when https://github.com/denoland/deno_std/pull/2098 was merged. This has not been reproducable since std@0.134.0 (all later versions work as expected).

This issue should be closed.

[2022-11-05 06:00] lino-levan commented on #1772
ref: https://github.com/denoland/dotland/issues/1728

On another note though, the [filesystem api](https://developer.mozilla.org/en-US/docs/Web/API/FileSystem) has been dropped for a while so I see no chance of this issue ever really being implemented.

Thoughts @bartlomieju?

[2022-11-05 07:13] iuioiua commented on #2476
I haven't started work on this. Be my guest! 🤙🏾

[2022-11-05 08:01] iuioiua commented on #2488
I'm -1 on this. I don't see a benefit of a implementation in std if existing third party modules work great. I've used a couple of them before.

[2022-11-05 08:41] darrachequesne commented on #2506
@lino-levan thanks for your response 👍

[2022-11-05 08:41] #2506 closed

[2022-11-05 10:16] kt3k commented on #2485
@lino-levan FYI the manual rewrite was landed at https://github.com/denoland/manual/pull/425, and now you can see the new manual at https://deno.land/manual@main/introduction

I agree that we should be more clear about support status of modules, and have docs for it.

[2022-11-05 10:49] kt3k commented on #2194
It'd be also worth considering using rust implementation via wasm

[2022-11-05 12:23] kt3k commented on #1779
@TomokiMiyauci Have you made any progress on this? Is there anything we can help on it?

[2022-11-05 13:28] timreichen commented on #1779
Just saw this issue.
I am not sure about implementing this in deno std.
This is a framework and std should be as unopinionated as possible, on which 3rd party libs can build upon. As stated this is a more of a framework, in which case I think is better suited for /x. There is can also be guaranteed to work with deno

[2022-11-05 14:34] cjihrig commented on #2068
Thanks, I'll close this out then.

[2022-11-05 14:34] #2068 closed

[2022-11-05 15:01] cjihrig commented on #2488
@iuioiua do you have a few that you'd like to recommend here? I know I'm personally not super excited at the thought of maintaining an XML library unless absolutely necessary 😄

[2022-11-05 15:33] lino-levan commented on #2194
Could be a pretty huge selling point over /x/msgpackr... I don't plan on picking this up right now, but I might get back to it in a few ~weeks-months if no one else picks this up.

[2022-11-05 17:57] lino-levan commented on #1336
It looks like this has since resolved itself. The error changed from
`error: Module evaluation is still pending but there are no pending ops or dynamic imports. This situation is often caused by unresolved promises.`
to
`error: Uncaught TypeError: Callback must be a function. Received 100`
in std 0.122.0

and from
`error: Uncaught TypeError: Callback must be a function. Received 100`
to no error (

[2022-11-05 17:59] lino-levan commented on #1056
I'd love to pick this up, but is this desirable @cjihrig?

[2022-11-05 18:22] cjihrig commented on #1056
It looks like there was no opposition to https://github.com/denoland/deno_std/pull/1057, so I'm OK with it.

cc: @kt3k @bartlomieju in case the sentiment has changed in the past year.

[2022-11-05 19:03] iuioiua commented on #2488
I've used and recommend:
1. [xml2js](https://deno.land/x/xml2js) - converts xml to a straightforward and easy to work with JS object.
2. [xml](https://deno.land/x/xml) - probably more extensive and mimics the familiar JSON API (`parse` and `stringify`)

[2022-11-05 20:01] loynoir opened #2841 "`npm:tmp-promise@3.0.3` doesn't work when use `--trace-ops`"
**Describe the bug**

`npm:tmp-promise@3.0.3` doesn't work

**Steps to Reproduce**

reproduce.test.ts
[code]
[code]

**Expected behavior**

No Error.

**Environment**

- OS: [e.g. Ubuntu 20.04, MacOS 11]
- deno version:
- std version:

[code]

### Additional
I add `--trace-ops` because deno complain leak resource, seems like this issue is behind that issue.

[2022-11-06 09:55] meepeek commented on #2397
@iuioiua I try running with the current deno I have on machine. It no longer freeze.
[code]
@lino-levan To make the code work, I changed "logger.handlers" to "log.handlers" in log.setup. Can't recall the when I created the issue but it should be naming mistake.

[2022-11-06 10:17] iuioiua commented on #2397
Great to hear! If it's no longer a problem, this issue should be able to be closed 👍🏾

[2022-11-06 11:06] #1772 closed

[2022-11-06 11:06] TomokiMiyauci commented on #2053
@lino-levan I have modified the issue.

[2022-11-06 11:07] elycheikhsmail commented on #1772
when npm complete no need for this

[2022-11-06 11:14] TomokiMiyauci commented on #1779
@kt3k
When I learned that npm will be supported in Deno, I questioned the need for this module and left it out. Sorry about that.

Do you think this module is still necessary even after npm is fully supported?

[2022-11-06 12:08] kt3k commented on #1779
@TomokiMiyauci
Yes, I think we still need this because Deno-first implementation is better than jest or chai via `npm:` specifier in several ways (less dependencies, less downloads, better typings, etc).

`npm:` feature is mainly for compatibility to existing apps/libraries, and we generally don't recommend the usage of `npm:` to new projects.

[2022-11-06 14:01] cjihrig commented on #2397
Closing. Thanks!

[2022-11-06 14:01] #2397 closed

[2022-11-06 23:41] luk3skyw4lker commented on #2559
@lino-levan the PR is already merged, @kt3k @bartlomieju is this issue solved with the mentioned PR?

[2022-11-07 04:43] TomokiMiyauci commented on #1779
@kt3k I understand.

I do not know if I will be able to do this work this week.

If it is urgent, someone can do it for me.

[2022-11-07 05:07] kt3k commented on #1336
@lino-levan Thanks for checking various versions.

I think this PR has fixed the issue https://github.com/denoland/deno_std/pull/2198

Closing as fixed.

[2022-11-07 05:07] #1336 closed

[2022-11-07 05:13] kt3k commented on #1056
I'm still in favor.

[2022-11-07 05:46] ayame113 commented on #2559
There are currently two types of CSV parsers/stringify: WebStream-based and non-stream (converting strings).
As of today, it should look like this:

||string based|web stream based|
|--|--|---|
|**stringify**|<ul><li>`encoding/csv.ts`</li><li>Can handle CSV with headers</li></ul>|N/A|
|**parse**|<ul><li>`encoding/csv.ts`</li><li>Can handle CSV with headers</li></ul>|<ul><li>`encoding/csv/stream.ts

[2022-11-07 06:42] iuioiua opened #2849 "suggestion: remove `_util/assert.ts`"
Please read #2846 before reading this. I suggest moving `std/testing/asserts.ts` to either an `std/testing/asserts` or `std/asserts` folder with an assertion-per-file. The folder would look more like `std/fs`.

Indeed, there is a large number of assertions, meaning there will be a large number of files. However, I think this is worth it to gain leaner assertion-related dependencies.

The files wil

[2022-11-07 10:48] kt3k opened #2851 "compat: static file serving using express.static hangs"
Run the below script with some large (>100KB) file in `assets/`:

[code]

The request `http://localhost:3000/assets/<file>` often (not always) hangs.

If the file is larger (>1M), then the request also ends with `Malformed encoding found in chunked-encoding`.

[2022-11-07 10:54] kt3k commented on #2851
This blocks denoland/deno#16282

[2022-11-07 11:35] kt3k commented on #2851
Smaller reproduction code (`express.static` uses `serve-static` internally)

[code]

[2022-11-07 12:17] bartlomieju commented on #2849
Strong -1 from me; this module is probably one of the most popular modules from std, it would be a huge disruptive change. I don't think it's worth it, since very often you need more than one assertion. Having to import them from separate files will be cumbersome for no obvious gain.

[2022-11-07 16:59] lino-levan commented on #2849
Personally, I agree with @bartlomieju on this one. I think that if this was better for DX even if it was a disruptive change it could be seriously considered (deno itself was a disruptive change, less so now that we have pretty good compat). I struggle to see how splitting up assertions into different files would give *any* advantage to anything, especially DX?

I'd be curious to hear you elaborat

[2022-11-07 18:49] cjihrig commented on #2488
I'm going to close this out based on the feedback in https://github.com/denoland/deno_std/pull/2471, as well as the availability of third party modules.

[2022-11-07 18:49] #2488 closed

[2022-11-07 20:10] iuioiua commented on #2849
Non-test code is supposed to use `assert` from `_util/assert.ts` to:
1. Avoid importing other unneeded code from `testing/asserts.ts`.
2. Avoid browser compatibility issues from `testing/asserts.ts`.
However, now, `testing/asserts.ts` is browser compatible. I suggest breaking the code up to cater to number 1.

Again, what's gained is that importing unnecessary assertions can be avoided. There can

[2022-11-07 20:16] iuioiua commented on #2849
My question is: why is `assert` the only assertion that this rule applies to? Other assertions are used in non-test code.

Alternatively, these other assertions could move into `_util/asserts.ts`. It would be less disruptive.

<img width="406" alt="image" src="https://user-images.githubusercontent.com/29347852/200405699-c9e81b75-c5f9-4ccd-999c-4a4144e7e183.png">

[2022-11-07 20:21] iuioiua commented on #2790
I'm -1 on this. I understand the opinion that it's cleaner, but the difference is negligible, IMO. The added complexity of the functions wouldn't be worth avoiding having to use brackets.

[2022-11-07 20:23] cjihrig commented on #2790
I'm going to close this out. It doesn't seem to be getting much support. Thanks anyway for the suggestion.

[2022-11-07 20:23] #2790 closed

[2022-11-07 20:24] iuioiua commented on #2772
This has been implemented in #2820.

[2022-11-07 20:24] #2772 closed

[2022-11-07 21:57] iuioiua commented on #2849
Again, check out #2846. These are my points exactly. Perhaps, I closed the PR prematurely.

[2022-11-07 22:05] lino-levan commented on #2849
@kt3k, could you elaborate on this statement? I guess having `_util/assert.ts` is a tradeoff between code duplication and "less dependencies", but I don't quite understand what you mean by this.

In my opinion we really want to minimize code duplication, so I'd be in favor of removing `_util/assert.ts` and swapping it for `test/assert.ts`. What is the counterpoint on this?

[2022-11-07 22:22] iuioiua commented on #2849
`_util/assert.ts` has only one function - `assert`. So `_util/assert.ts` has fewer dependencies (only one assertion) than `testing/asserts.ts` (all the assertions). Importing from `_util/assert.ts` makes other code within the codebase lighter than `testintg/asserts.ts`.

To be clear, I also support removing code duplication because of the confusion it can bring. I also support having fewer depende

[2022-11-07 22:31] lino-levan commented on #2849
I don't understand how it makes other code in the codebase "lighter". Are you suggesting that the one-time cost of downloading `testing/assert` outweighs the benefits of no code duplication? It is quite literally only ~23kb.

[2022-11-07 22:34] iuioiua commented on #2849
That's the justification. Check out denoland/deno#5838.

[2022-11-08 03:45] kt3k commented on #2849
In my view these 2 are not duplicate of the same thing. `_util/assert.ts` is for checking internal state of program execution, and `testing/assets.ts` is for utility in testing. They can be extended in different ways in the future because the purposes are different.

For example `_util/assert.js` might have a feature to become noop in the production environment like assertion macros in other langu

[2022-11-08 04:13] kt3k commented on #2849
The difference of thrown error type is also meaningful. If you see `DenoStdInternalError`, then that's a bug of std. If you see `AssertionError`, it means something's wrong in your test cases.

[2022-11-08 04:13] iuioiua commented on #2849
Both functions have been essentially identical since the inception of `_util/assert.ts`. They just use different error classes, which doesn't change how they operate in any meaningful way.

I'd still like to know, how come this rule isn't being applied to the other functions being used throughout the codebase from `testing/asserts.ts` such as `assertEquals`, `assertStringIncludes`, `fail`, `Assert

[2022-11-08 04:14] iuioiua commented on #2849
Ok, well said.

[2022-11-08 04:31] kt3k commented on #2851
More reduced version:
[code]

[2022-11-08 04:53] kt3k commented on #2851
The above is reduced to:
[code]

[2022-11-08 07:40] iuioiua commented on #2849
If separation of concerns is so important, perhaps we can be more thorough. I suggest:
1. We create an internal version of each assertion that uses `DenoStdInternalError` and put it in `_util/asserts.ts`.
2. We create a tool that enforces use of `_util/asserts.ts` using `deno_graph`.

I'd be happy to do this.

[2022-11-08 09:08] kt3k commented on #2851
Looks like flash (Deno.serve) can't stream large file correctly.

This script hangs.
[code]

[2022-11-08 09:52] kt3k commented on #2851
created an issue for flash https://github.com/denoland/deno/issues/16567

[2022-11-08 10:15] kt3k commented on #2849
I don't think it's worth it because we probably only need `assert` for internal assertions (and the usages are not so much increasing). Maybe let's add others when they are needed.

I think this would be useful.

[2022-11-08 10:38] iuioiua commented on #2849
Sorry, I should've been clearer. That's what I was thinking - only assertions that are needed.

[2022-11-08 10:42] iuioiua commented on #2849
It'd be good to hear from some thoughts from other maintainers too.

[2022-11-08 21:03] bartlomieju opened #2856 ""require Node-API module" test fails on Mac M1"
**Describe the bug**

The test fails on Mac M1, because there's no Node-API file for this arch.
It should be ignored on this architecture.

[2022-11-09 05:30] kt3k opened #2859 "node/string_decoder: GenericDecoder doesn't handle incomplete chars correctly"
If the multi-byte chars are cut in the middle in the input, GenericDecoder (in node/string_decoder.ts) doesn't handle them correctly. The following script prints invalid chars.

[code]

For reference, the following node.js script prints correct original text.

[code]

[2022-11-09 07:20] iuioiua opened #2860 "suggestion: stale bot"
Would this improve the rate of progress of this repo? Perhaps those who have dealt with it may be able to chime in.

[2022-11-09 14:27] cjihrig commented on #2860
I personally don't like stale bot, but it is setup on the CLI repo, so it might make sense to add it here.

[2022-11-09 14:46] #2791 closed

[2022-11-09 15:41] kt3k opened #2862 "node/http: non-string buffer response is broken when `--unstable` is specified"
The following script can't response correctly when `--unstable` is specified (= when Deno.serve is used)

[code]

[2022-11-09 15:59] lino-levan commented on #2860
I'm a -1 on stale bot. I think it just adds noise to a repo:
[code]

[2022-11-09 16:15] littledivy commented on #2860
I'm also -1 on stable bot. I find it more annoying than useful.

[2022-11-09 16:16] lino-levan commented on #649
Is this still desirable?

[2022-11-09 16:43] #796 closed

[2022-11-10 20:00] iuioiua commented on #2860
Current vote: 0.5 yes, 2.5 no.

@kt3k, any thoughts?

[2022-11-10 20:10] iuioiua opened #2874 "bug: `serveDirIndex TLS` test is flaky on macOS"
[code]

[2022-11-11 05:46] kt3k commented on #2860
I agree that it will be more noise than useful as std has many old issues which are still valid. I'd suggest we should revisit this after a while when we are flooded by more issues.

[2022-11-11 06:02] iuioiua commented on #2860
I think we've reached a consensus.

[2022-11-11 06:02] #2860 closed

[2022-11-11 06:17] kt3k commented on #2874
related https://github.com/denoland/deno_std/issues/1750

This flakiness exists for long time...

[2022-11-11 06:18] iuioiua commented on #2874
Oh! Didn't see that...

[2022-11-11 06:18] #2874 closed

[2022-11-11 06:21] kt3k commented on #2631
Done in https://github.com/denoland/deno_std/pull/2585 and https://github.com/denoland/deno_std/pull/2814

Thanks @cjihrig !

[2022-11-11 06:21] #2631 closed

[2022-11-11 06:27] iuioiua opened #2877 "suggestion: remove `_util/assert_type.ts`"
I've only had a chance to have a quick look at this. `flags/test.ts` is the only file in the codebase using `_util/assert_type.ts`. Is this file needed?

[2022-11-11 06:34] kt3k commented on #2877
When we land https://github.com/denoland/deno_std/pull/2864, we can replace the usage of `_util/assert_type.ts` with `testing/types.ts` (`testing/types.ts` is superset of `_util/assert_type.ts`)

[2022-11-11 06:38] iuioiua commented on #2877
Is it worth just doing so in that PR?

[2022-11-11 16:47] kt3k commented on #2877
Maybe let's do this separately

[2022-11-11 18:31] djamelbencherif opened #2905 "No overload matches in csv parse with Buffer"
Hi,
an idea of ​​the problem with a readTextFile it works but with a buffer it blocks the overload of the function does not work 😱

 import { parse as csvParser } from "https://deno.land/std@0.163.0/encoding/csv.ts";

await csvParser(new BufReader(file), {
    skipFirstRow: true,
    comment: "#",
  });

[2022-11-11 21:48] iuioiua commented on #2877
@lino-levan, perhaps you'd be good to do this? I say it because you've been playing with the new API. What do you think?

[2022-11-11 21:51] lino-levan commented on #2877
When #2864 lands, I think that makes a lot of sense. Currently blocked on some community discussion + a few reviews from core team.

[2022-11-11 22:02] iuioiua commented on #680
It's been over a year since any sentiment in support of this functionality has been expressed. Also, Deno's shifting its focus to streams-based IO.

I think it's safe to say that this feature is longer desired, and this issue can be closed.

[2022-11-12 13:22] kt3k opened #2882 "`./node/_tools/test/parallel/test-http-url.parse-post.js` causes segfaults after denoland/deno#16579"
After denoland/deno#16383, `./node/_tools/test/parallel/test-http-url.parse-post.js` results segmentation fault

You can check this with the following script at the root of std:

test.js
[code]

[code]

(There are 2 patterns of error messages (on macOS), and also sometimes it finishes without error)

[2022-11-12 14:11] kt3k commented on #680
I agree. Let's close

[2022-11-12 14:11] #680 closed

[2022-11-13 00:12] dhardtke commented on #2841
Same issue just using `Deno.makeTempDir()`:

[code]

-->

[2022-11-13 06:14] kt3k commented on #2882
The example was reduced to:
[code]

[2022-11-13 08:35] #2882 closed

[2022-11-13 10:57] iuioiua commented on #678
By the lack of discussion in over a year, it appears as though this feature is not desired much in the community. Perhaps, this issue can be closed.

[2022-11-13 14:55] #2851 closed

[2022-11-13 15:45] kt3k opened #2883 "`run npm:prisma studio` command requires `--unstable` in `node/internal_binding/tcp_wrap.ts`"
The command `deno run -A --node-modules-dir npm:prisma@4.6 studio` still requires `--unstable` flag to work. It errors the below when invoked without `--unstable`:

[code]

[2022-11-14 01:56] lino-levan commented on #2594
@martin-braun https://github.com/denoland/deno/pull/16424 just landed in `deno 1.28.0`, is there any chance you could update your PR to use `uid()` and `guid()`?

[2022-11-14 06:39] iuioiua opened #2885 "suggestion: use `Deno.Command` API"
It just came out with Deno 1.28. Is it stable enough for use within the standard library?

If so, I'm happy to do it.

[2022-11-14 06:44] iuioiua commented on #2885
Actually, I'll just do it.

[2022-11-14 07:33] #2849 closed

[2022-11-14 10:17] kt3k opened #2887 "`deno run --unstable -A --node-modules-dir prisma@4.6 studio` seems using too much CPU"
If I run the above command for a while, the CPU usage got very high

[2022-11-15 02:55] bartlomieju opened #2888 "node: "object-hash" package doesn't seem to work"
**Describe the bug**

Trying to run a minimal NestJs project doesn't work, as it breaks on "object-hash" package.

[code]

More concretely calling `objectHash("somedata", { ignoreUnknown: true });` raises this error. Seems like there's a mismatch in expected names.

[2022-11-15 03:02] bartlomieju opened #2889 "node: "readline" polyfill might not be working on Windows 11 and Powershell"
https://twitter.com/Mauricio8208/status/1592288107961122816

[2022-11-15 10:16] rush1506 commented on #2859
Has anyone works on this yet? If not, can I take this up as my first issue? :)

[2022-11-15 11:19] roj1512 opened #2891 "TypeScript error with `WriteStream`"
**Describe the bug**

Described in the title.

**Steps to Reproduce**

[code]

**Expected behavior**

Should behave like /std@0.155.0/node/fs.ts.

**Environment**

N/A

[2022-11-15 13:03] kt3k commented on #2891
Probably https://github.com/denoland/deno_std/commit/be2493378d02d7360a72e80e3d19cd56dff5346d introduced this behavior.

cc @PolarETech

[2022-11-15 13:08] bartlomieju commented on #2883
Let's just stabilize `ref()` and `unref()` methods. I'm not sure why we didn't do that for 1.28 :/

[2022-11-15 14:11] cjihrig commented on #2859
@rush1506 go for it.

[2022-11-15 15:23] PolarETech commented on #2891
Hi,

It also reproduces in deno_std 0.156.0, so I think #2634 is the trigger. We need a way to resolve this issue without causing a recurrence of #2548.

I would like to investigate, but unfortunately will not have enough time for a while and therefore it is difficult for me to submit a PR soon. If someone would like to take on this, I would welcome it.

[2022-11-15 16:31] roj1512 opened #2894 "`Buffer` does not work in browsers"
**Describe the bug**

[`Buffer`](https://deno.land/std@0.164.0/node/buffer.ts) does not work in browsers because it tries to use `Deno.build` in its initialization.

**Steps to Reproduce**

1.

[code]

2.

[code]

3.

[code]

**Expected behavior**

It works if we assign a fake `Deno` to `globalThis`. It should work by default without the need of doing this.

**Environment**

N/A

[2022-11-15 16:57] TomokiMiyauci commented on #1779
I am currently redesigning the internal interface of expect.
The type definition complexity of unitest's expect was not good, so I am designing it to be as simple as possible.

Hopefully, I may be able to submit a Draft PR in the near future.

You can check this work in progress.
https://github.com/TomokiMiyauci/expect.js

[2022-11-16 00:12] lino-levan opened #2895 "suggestion: Add supports-color to the standard library"
## Problem
- Currently, it is not trivial to make CLI tools with color in deno (at least using the std), because it is unclear whether or not the terminal has access to color (and if it does, how many of them).
- This is something I've run into [at CookieDB](https://github.com/cookiedb/CookieDB/issues/5), and it's a real struggle. In a true-color terminal running `cookie start` looks like the top

[2022-11-16 02:03] martin-braun commented on #2594
@kt3k, @iuioiua Idea for further improvement:

[code]

The idea is to not just combine the file type check, but also the permission check, in one function. It's not very pretensive against bad programming styles that might lead to race conditions (similarly to the former `exists`), but it certainly allows to avoid all the pitfalls that could only be solved by using `try`/`catch`/`lstat` previously

[2022-11-16 02:10] lino-levan commented on #2594
Double thumbs on this one, I feel like the syntax is a lot clearer. I do want to really make sure the documentation is on point if we are essentially un-deprecating exists.

Also bumping this:

[2022-11-16 02:20] martin-braun commented on #2594
There is also an option to opt-in for another function name and have `isReadable: true` by default to address this passively. Although, I'd have hard times in naming such function. Any suggestions are welcome.

[2022-11-16 09:28] schwarzkopfb commented on #2894
I cannot reproduce the error with the latest Deno CLI in Chrome 107.0.5304.87.

In the generated output `Deno.build.os` occurs only once and is wrapped into an `if` condition which guarantees that it shouldn't break. That line is coming from [here](https://github.com/denoland/deno_std/blob/main/_util/os.ts#L9) btw.

<img width="431" alt="Screenshot 2022-11-16 at 10 07 19" src="https://user-images.

[2022-11-16 10:24] roj1512 commented on #2894
Hmm, I use 1.28.0, 0.164.0, and Chrome. The problem might not be in buffer then, but I'll look more into it.

[2022-11-16 12:02] roj1512 commented on #2894
Fixed.

The problem was not related to `Buffer` at all. It was because of importing std/node/net.ts. I fixed it by not including that in the bundle.

Thanks for participating, @schwarzkopfb!

[2022-11-16 12:02] #2894 closed

[2022-11-16 15:46] link-discord opened #2899 "Not implemented: crypto.generateKeyPairSync error with mineflayer"
**Describe the bug**

Using mineflayer from npm causes a "not implemented" error with the crypto module from the node compatibility layer

**Steps to Reproduce**

Running the code in this `index.ts` file
[code]

Results in this error
[code]

Cause of this bug is this line that is used inside a dependency of the package

[code]

The error triggers when the `createBot` method has this option
[code]

[2022-11-16 18:40] GJZwiers opened #2900 "`npm:ssh2` times out waiting for handshake"
`npm:ssh2` does not work in Deno right now, it hangs for a bit and then throws.

[code]

[code]

It looks like `ssh2` uses a number of methods from Node `crypto` that are not implemented in `std` yet:

- createDecipheriv,
- createDiffieHellman
- createDiffieHellmanGroup
- createECDH,
- createHmac
- createPublicKey
- createSign
-  createVerify
- diffieHellman
- generateKeyPairSync
- sign
- verify

[2022-11-17 00:05] dsherret commented on #2905
@djamelbencherif it looks like this function takes a string and not a BufReader?

https://deno.land/std@0.163.0/encoding/csv.ts?s=parse

[2022-11-17 00:05] #2905 closed

[2022-11-17 01:13] martin-braun commented on #2594
@iuioiua I agree. My PR is almost ready, but I need https://github.com/denoland/deno/issues/15576 to be addressed first. Let me explain:

`Deno.errors.PermissionDenied` (thrown by `Deno.stat`) is either raised from missing to provide the `--allow-read` flag or by trying to access a file that is protected in Windows systems. Only for the latter I have to return `!options.isReadable`, while I have t

[2022-11-17 03:16] SarahGreyWolf opened #2906 "Node version prepended with extra v"
**Describe the bug**
Was experimenting with seeing if homebridge could be ran with deno and ran into an assertion error of
[code]
Wherever this assertion is happening seems to be receiving a version with an extra v prepended to it (vv16.17.0 instead of v16.17.0).
Unsure if this is possibly a core issue or not but thought I should try here

**Steps to Reproduce**
1. deno run -A npm:homebridge
2. Re

[2022-11-17 03:29] iuioiua commented on #2906
I'll take a look at this one.

[2022-11-17 04:11] SarahGreyWolf commented on #2906
So I did some experimenting myself with docker, this may not actually be a deno issue at all, it seems that the error message in general is appending the extra v.
I got this from running it in a docker container with an older version of Node.
[code]

[2022-11-17 04:24] SarahGreyWolf commented on #2906
Yeah it's a string formatting issue with one of the libraries that homebridge uses and not caused by deno, the assertion in general is just a lack of support for that cipher in deno so this can be closed.
Sorry for the confusion 😅

[2022-11-17 04:30] iuioiua commented on #2906
That'd make sense!

[2022-11-17 04:35] #2906 closed

[2022-11-17 04:59] iuioiua commented on #2557
I'll give this a crack.

[2022-11-17 06:40] iuioiua opened #2907 "bug(node): setup script failure"
**Describe the bug**

1. Change `nodeVersion` in `node/_tools/config.json` to `18.12.1`.
2. Run `deno task node:setup -n`. The following error will occur:
[code]
3. Change `nodeVersion` in `node/_tools/config.json` back to `18.12.0` (original value).
4. Run `deno task node:setup -n`. The above error will occur again, but for v18.12.0:
[code]

**Environment**
std version = main branch of `deno_std`

[2022-11-17 15:14] dsherret opened #2909 "TLSSocket._start seems never set"
**Describe the bug**

https://github.com/denoland/deno_std/blob/bc345306e520e758e8af9b00144c393c9c066c52/node/_tls_wrap.ts#L373

**Steps to Reproduce**

[code]

**Expected behavior**

Should work.

**Environment**

- OS: Windows 10
- deno version: 1.28.1
- std version: 1.165.0

[2022-11-17 19:56] dsherret commented on #2889
It migth be https://github.com/denoland/deno/issues/5945

[2022-11-17 20:06] iuioiua commented on #2594
@kt3k and @cjihrig, what do you think?

[2022-11-17 20:11] iuioiua commented on #2594
The `Deno.permissions` API isn't needed because `Deno.lstat` requires `--allow-read` anyway.

[2022-11-17 20:17] lino-levan commented on #2594
@iuioiua If I'm understanding @martin-braun logic, I think you're missing the point. We need to query the `--allow-read` permission to the tell the difference between whether the user just didn't specify `--allow-read` or if the file is just not readable by us on windows.

Now that I say that out loud, is there even value in differentiating between these two @martin-braun?

[2022-11-17 20:38] iuioiua commented on #2594
Yes, I understand. However, my statement still stands: `Deno.permissions.querySync` would always return true anyway since it's needed for `Deno.lstat`.

I think that's a good question. Perhaps, a simple boolean option could set whether the function throws or ignores a permission error might do the trick. What do we think?

[2022-11-17 21:25] martin-braun commented on #2594
This is absolutely correct, @lino-levan.

Yes there is. If `PermissionDenied` is raised by `lstat` or `stat`, we know that the file exists, but cannot be read. If the user calls `exists` with `isReadable: false`, we must return true, because the file exists, it's just protected by the file system.

@iuioiua But `lstat` / `stat` could also raise `PermissionDenied` for other reasons, for instance wh

[2022-11-17 21:43] iuioiua commented on #2594
Yeah, my suggestion of adding options came from hearing about people's edge cases from previous discussions. But again, they're edge cases. `exists`, in its current form, takes care of its primary use case the vast majority of the time.

Thinking about it further, I agree. I think the best solution is to just add sufficient documentation to explain these edge cases and move on, rather than having

[2022-11-17 21:59] juanfra684 opened #2910 "npm:got -> error: Uncaught RequestError: Cannot set property statusMessage of #<IncomingMessageForClient> which has only a getter"
Hi, this code works with node 16 and npm 8.5:
[code]
Changing the import line to `import got from 'npm:got'` and running it with `deno run --allow-net deno-got.js`, deno shows this error:
[code]

[2022-11-17 22:28] martin-braun commented on #2594
That is very unfortunate, given that the implementation is almost ready to be reviewed (`querySync` was the missing piece).

I get that enhancing a function whose concept is not perceived in a positive manner feels counter-intuitive, but the proposed enhancements would improve the situation by covering all the possible pitfalls that would occur when using `exists`, because people want and continue

[2022-11-17 23:20] #2910 closed

[2022-11-18 04:12] #2856 closed

[2022-11-18 04:24] iuioiua commented on #2885
Completed in #2886.

[2022-11-18 04:43] telekram commented on #2557
I'm getting error: `Uncaught Error: Not implemented: crypto.Sign` when trying to use Google APIs with NPM Specifiers. Is there a suggested work around for this in the meantime or should I trundle back to Node?

[2022-11-18 04:52] iuioiua commented on #2540
Frankly, I don't think this is an issue with the server. Instead, I think the code snippet is flawed due to its hackiness. If you're trying to simply make a POST request, you can do so with just HTML. A tutorial on how to do so can be found [here](https://www.w3schools.com/howto/howto_html_file_upload_button.asp).

[2022-11-18 05:59] crowlKats commented on #2885
its not done as usages of `Deno.spawnChild` werent changed

[2022-11-18 06:01] iuioiua commented on #2885
Oh, right. I'll get that done too.

[2022-11-18 06:42] AaronDewes commented on #2557
https://github.com/denoland/deno_std/issues/2557#issuecomment-1288031144

[2022-11-18 07:00] iuioiua opened #2913 "suggestion: remove extraneous output from `lint:doc-imports` task"
The `lint:doc-imports` task currently produces a lot of output which doesn't provide much value. Perhaps, `Warn codeblock with no language specified...` is slightly useful, but I'd lean more towards removing it. IMO, the rest of the output should be omitted from the output.
[code]
CC @schwarzkopfb

[2022-11-18 09:20] PolarETech commented on #2891
I have considered and this case seems to be the following situation.

- To make the type guard with `instanseof` work well, the type of `WriteStream/ReadStream` must be provided as a class
- To solve #2548, the implementation of `WriteStream/ReadStream` needs to be function style

One solution would be to keep the implementation in the function style and provide the type definition in a separate .

[2022-11-18 12:13] kt3k commented on #2891
In other words, make them the same as the state of the Node implementation and type definition.

This sounds good to me. Thanks for the idea!

[2022-11-18 13:25] jespertheend commented on #2540
That example is missing `method="post"` and `enctype="multipart/form-data"` and as a result no file is uploaded. Only the file name is provided in the query string.

If you wish to achieve this using only html, you can use this reduced test case:
[code]

In this case the issue is arguably worse, because now the user gets redirected to an empty page with a full screen error, rather than only an err

[2022-11-19 16:12] GJZwiers opened #2916 "`npm:aws-cdk init` throws TypeError (windows only)"
[code]

[code]

Edit: Only happens on Windows

[2022-11-20 03:27] Tyrone commented on #2557
All aliyun npm prompts: Not implemented: crypto.Hmac, is there a solution?

[2022-11-20 07:00] PolarETech commented on #2891
I have submitted a PR that fixes this issue in the way I had suggested. I have verified the TS error does not occur and also verified #2548 does not reoccur.

[2022-11-20 11:25] iuioiua commented on #2907
That's not the case for me:
[code]

[2022-11-20 15:55] cjihrig commented on #2907
Can you remove that `-n` from the end.

[2022-11-20 18:41] PolarETech commented on #2907
Hi,

I have recently set up a new Mac and have had the same error.
It seems to be failing to decompress the "node-v18.12.0.tar.gz".
Here is the procedure to reproduce it.

1. Execute the command `rm -r node/_tools/versions`
2. Execute the command `deno task node:setup`
3. See error
[code]

After the above steps, the versions directory is as follows: "node-v18.12.0.tar.gz" is not decompressed.

[co

[2022-11-20 23:12] dsherret opened #2917 "node: "process" module should have `argv` export"
[code]

https://nodejs.org/api/process.html#processargv

Should be added in https://github.com/denoland/deno_std/blob/main/node/process.ts

[2022-11-21 02:45] iuioiua commented on #2907
Sorry @cjihrig , I realise now what you said. Yes, I've tried with no `-n` defined either and it still doesn't work.

Yes, @PolarETech, the issue is definitely with denoflate. For some reason, the `wasm` variable is undefined. Now that I think about it, I'll open a ticket in the denoflat repo.

[2022-11-21 05:46] #2754 closed

[2022-11-21 06:06] jflatow opened #2918 "`normalize` doesn't remove *all* `.` and `..` segments"
**Describe the bug**

The documentation says `normalize` resolves `..` and `.` segments, but these can remain in the output if they are the *only* components of the resulting path. Probably the documentation should point this out, if it is intended.

**Steps to Reproduce**

e.g. `normalize('.')` results in `.` and `normalize('..')` results in `..`

[2022-11-21 11:47] BearLemma opened #2920 "Upgrade from deno 1.26.2 to 1.28.1 breaks node imports"
Hello guys, we use Deno in https://github.com/chiselstrike/chiselstrike and recently when I did an upgrade of the deno we use to version `v1.28.1` (`v1.27.*` had the same problem), I got an error in one of our tests that tries to import node modules. The test is very simple, the only thing it does is:

`import * as module from "https://deno.land/std@0.165.0/node/module.ts";`

And the error I get i

[2022-11-21 19:11] bartlomieju opened #2921 "node: Get rid of Top-Level Await in "node/worker_threads.ts""
I'm trying to bundle "std/node/module_all.ts" into a single file, so it could be easily embedded into Deno, but I found one file that uses TLA that makes it harder to bundle:
https://github.com/denoland/deno_std/blob/5e5309ecb42a8ce3d1f82437e7f8995bc8aa290e/node/worker_threads.ts#L178

Ideally we could remove it this TLA and keep the module working the same.

[2022-11-21 20:13] lino-levan commented on #2829
@iuioiua If you don't want to pick this up, I'd love to do a PR on this

[2022-11-21 20:15] iuioiua commented on #2829
Feel free to take it! 👍🏾

[2022-11-21 21:09] iuioiua commented on #2907
Accidental close, sorry.

[2022-11-21 21:17] cjihrig commented on #2918
@jflatow would you like to update the docs?

[2022-11-21 21:26] #2891 closed

[2022-11-21 23:07] cjihrig commented on #2916
Since this is Windows only, would you care to help debug or fix, @GJZwiers ?

[2022-11-21 23:17] cjihrig commented on #2921
@bartlomieju would something like this work? `deno task node:test` passes locally for me with this change.

[code]

[2022-11-22 00:25] bartlomieju commented on #2921
@cjihrig yes, it appears this solves the problem!

[2022-11-22 07:39] royalknight56 opened #2925 "Is there an api that can check if a file exists?"
**Describe the solution you'd like**

Is there an api that can check if a file exists?

such as node:

fs.exists(path, callback);

**Describe alternatives you've considered**

I get an error when I use lstatSync and the file doesn`t exists.

and I think "try catch" is not very good

[2022-11-22 07:42] #2925 closed

[2022-11-22 11:44] AleksandrHovhannisyan opened #2928 "Allow Cookie['expires'] to be a number"
**Is your feature request related to a problem? Please describe.**

I was trying to set a cookie on [Netlify Edge](https://docs.netlify.com/edge-functions/api/), which runs on Deno under the hood, using code that looks like this:

[code]

However, it was failing with this error:

[code]

Looking at the definition for Deno's `setCookie` and [the `Cookie` interface](https://deno.land/std@0.114.0/htt

[2022-11-22 13:39] #2907 closed

[2022-11-22 18:38] GJZwiers commented on #2916
I can do some debugging! Is there a way to make my local deno binary/cargo build work with my local copy of `std`, so I can test some changes?

[2022-11-22 18:41] cjihrig commented on #2916
Yep! Here is what I use:

`DENO_NODE_COMPAT_URL='file:///path/to/your/std/' /path/to/cli/deno run -A --unstable your_script.js`

[2022-11-22 23:00] jflatow commented on #2918
Can you point me to the source?

[2022-11-22 23:10] iuioiua commented on #2918
`normalize` lives in `path/posix.ts` and `path/win32.ts`.

[2022-11-22 23:11] jflatow commented on #2918
The docs are split between those files?

[2022-11-22 23:17] iuioiua commented on #2918
Yes, `normalize` works differently internally on POSIX systems than on Windows systems.

I'm not sure what platform you're issue is regarding, but I'm guessing you're looking to modify the JSDocs for one or both functions.

[2022-11-22 23:30] iuioiua commented on #2928
I think that makes sense to do. I'm happy to do this if there's some agreement.

[2022-11-23 11:36] superted17 commented on #2909
If it helps, here is another scenario in which this issue can also be seen:

[code]

Error stack trace:

[code]

[2022-11-23 12:08] uki00a opened #2930 "suggestion(dotenv): support type inference"
**Is your feature request related to a problem? Please describe.**

`std/flags` supports type inference based on the options passed. It would be useful to support type inference in `std/dotenv` as well.

For example, `std/dotenv` provides `restrictEnvAccessTo` option, so return type could be inferred based on this.

[code]

[2022-11-23 14:23] WilsonNet commented on #2557
thanks, it will help me a lot

[2022-11-23 16:43] #2928 closed

[2022-11-23 16:45] kt3k commented on #2557
closed by #2664

[2022-11-23 16:45] #2557 closed

[2022-11-23 18:23] cjihrig commented on #2792
Thanks, I'll close it out.

[2022-11-23 18:23] #2792 closed

[2022-11-23 18:33] lino-levan commented on #1896
Should this issue still be open?

Maybe I didn't understand node compatibility mode (when it still existed as `--compat`) but I don't even know what this means.

[2022-11-23 18:39] lino-levan commented on #678
I agree with @iuioiua on this one. It doesn't seem like anyone really wants to pick this up.

[2022-11-23 18:59] GJZwiers commented on #2916
The issue seems to be that the `mode` parameter passed to [chmod function](https://github.com/denoland/deno_std/blob/main/node/_fs/_fs_chmod.ts#L9) is `null` and no default value `def` is set in `parseFileMode`, causing an assignment to `undefined`. Deeper in the call stack I found that `mode` is set to 0 but when it goes through the node compat layer it changes to `null` somewhere. This happens i

[2022-11-23 19:08] cjihrig commented on #2916
Thanks for taking a look. Interestingly, Node does not pass a default value to [here](https://github.com/nodejs/node/blob/3ebe7535b456771078368ba72345f8d2e16ce695/lib/fs.js#L1861) either.

[2022-11-23 22:12] #2917 closed

[2022-11-24 01:07] iuioiua commented on #1627
@bartlomieju, is this still an issue?

[2022-11-24 01:14] bartlomieju commented on #1627
To be honest I'm not sure - I haven't tried this example in a while. Any chance you could try to replicate it with `npm:` specifiers?

[2022-11-24 03:19] iuioiua commented on #1627
[code]

[2022-11-24 06:49] iuioiua opened #2936 "suggestion: move closer towards single-export files"
The `std/collections`, `std/async` and `std/fs` modules are great. They're structured so that each file essentially has one export. This makes the purpose of each file clear. They also have the added benefit of allowing the developer to keep dependencies lean but provide an alternative of importing multiple functions via their respective `mod.ts` files if needed.

On the other hand, other modules

[2022-11-24 07:31] kt3k commented on #1896
This is no longer relevant. Thanks for the ping. @lino-levan

Also nopt seems working fine with `npm:` specifier. The below works:

[code]

[2022-11-24 07:31] #1896 closed

[2022-11-24 12:22] khrj commented on #1436
`os.version()` and `os.machine()` are also missing now

[2022-11-24 14:39] bartlomieju commented on #1627
The equivalent would be `deno run -A npm:@eslint/create-config`

[2022-11-24 16:26] lino-levan commented on #2936
I'd like to see what this would look like, but I'm a little bit skeptical as this seems like it will be a very noisy change. Would be a big fan of seeing a draft PR though.

[2022-11-24 22:46] lucacasonato opened #2942 "Add `ByteLineStream` transform stream"
Same as `TextLineStream`, except that it operates on `Uint8Array` streams rather than `string` streams.

Also see https://github.com/denoland/deno/issues/16523

[2022-11-24 22:53] crowlKats commented on #2942
we used to have this, however for reasons i cant remember, we removed it.

[2022-11-24 23:23] iuioiua commented on #2942
Could `DelimiterStream("\r\n")` or `DelimiterStream("\n")` from `streams/delimiter.ts` be what you're after?

[2022-11-24 23:24] lucacasonato commented on #2942
I guess so :D

[2022-11-24 23:24] #2942 closed

[2022-11-25 00:33] ralyodio opened #2943 "Can't use puppeteers' stealth plugin in deno"
https://discord.com/channels/684898665143206084/1045472556221734983

The issue is that npm's ws lib (and thus all consumers) doesn't work client-side, because deno's node-compat impl of http/https clients don't handle upgrades / emit upgrade-events

With the sub-issue that http/https uses fetch, which might use h2 for https whereas node's https module only supports/assumes h1

Though in your speci

[2022-11-25 02:53] emogua commented on #2900
Keep watching this!

[2022-11-25 04:27] kt3k opened #2944 "node compat test `parallel/test-http-outgoing-finish-writable.js` fails"
The test seems to have started failing since https://github.com/denoland/deno/pull/16616

(it's fine with https://github.com/denoland/deno/commit/b6f49cf4790926df125add2329611a8eff8db9da, started failing with https://github.com/denoland/deno/commit/fd023cf7937e67dfde5482d34ebc60839eb7397c

[2022-11-25 08:40] Tyrone opened #2947 "node/https :export const globalAgent = undefined;"

[2022-11-25 10:42] GJZwiers opened #2949 "Displaced lines in `deno test` Actual / Expected diff"

[2022-11-25 11:47] kt3k commented on #904
Now the registry has the ability to show the JSDocs of APIs in a nice & organized way (See https://deno.land/std@0.166.0?doc for example), and therefore we've decided to document APIs only in JSDocs (ref https://github.com/denoland/deno_std/pull/2658).

Thank you for the suggestions and discussions anyway

[2022-11-25 11:47] #904 closed

[2022-11-25 15:30] dsherret commented on #2949
Reproduction:

[code]

[2022-11-25 20:02] #2930 closed

[2022-11-26 09:41] #2944 closed

[2022-11-27 10:07] gregmagdits commented on #2667
There is a page in the Deno documentation that states that JSDOM works with Deno, however running the example code on the site generates the same error reported by the OP. The documentation should be updated until this issue is addressed.

[2022-11-27 18:59] cjihrig commented on #2918
Documented in https://github.com/denoland/deno_std/pull/2946

[2022-11-27 18:59] #2918 closed

[2022-11-28 09:24] zuisong commented on #2667
It works for me to use jsdom in deno.

[code]
[code]

[2022-11-28 11:54] #2913 closed

[2022-11-28 16:09] lino-levan commented on #2145
@kt3k this issue should probably be closed now that #2864 landed?

[2022-11-28 16:10] lino-levan commented on #2877
#2864 landed, let me try my hand at doing this.

[2022-11-28 16:34] mdunisch opened #2953 "Missing Functions in crypto lib"
I want to use firebase admin with deno. So i startet with:

[code]
unfortunately that leads to this error:
`error: Uncaught Error: Not implemented: crypto.getCurves`.

The documentation dont give any hint that about a missing implementation: https://deno.land/std@0.166.0/node/crypto.ts?s=getCurves

**Steps to Reproduce**
`deno run --unstable --allow-env  --allow-read https://gist.githubusercontent

[2022-11-28 16:50] #2145 closed

[2022-11-28 21:52] dsherret opened #2954 "testing/asserts - Handle `__proto__` property"
We might have a readonly `__proto__` property in Deno (https://github.com/denoland/deno/pull/16775) and it seems like `assertEquals` does not handle it.

See here for more details: https://github.com/denoland/dnt/issues/235

[2022-11-29 04:16] iuioiua commented on #2211
[x/gql](https://deno.land/x/gql) appears to be maintained well enough, and there only seems to be a small amount of support for it to exist within std.

Any thoughts, @kt3k?

[2022-11-29 04:20] iuioiua commented on #1755
These tests are listed [here](https://github.com/denoland/deno_std/blob/main/node/_tools/TODO.md). Is this issue still required?

[2022-11-29 04:50] #2877 closed

[2022-11-29 05:42] kt3k commented on #1755
Let's close. Thanks for the ping!

[2022-11-29 05:42] #1755 closed

[2022-11-29 21:15] lino-levan commented on #2895
@iuioiua do you have a preference on which of the api options makes the most sense. I'm leaning towards option A, and might make a draft PR at some point soon to start a discussion on it. I'm wondering if you have a strong opinion on this.

[2022-11-29 21:32] iuioiua commented on #2895
Having both options, A and B, sounds like a good idea. Doing nothing if colour isn't supported is a great default that would cover most cases. But also having `supportsColour` functionality, which returns a boolean, can provide extra control if needed. I feel as though option C may not be worth the complexity.

[2022-11-29 22:02] iuioiua opened #2959 "suggestion: automatically add copyright header to files missing one"
Currently, the licence check tool prints the list of files missing a copyright header and throws an error. It'd be cool if the tool could instead insert the copyright at the top of the file as defined by the `COPYRIGHT` constant. It should be easy to implement.

The tool is located at `_tools/check_licence.ts` and is run using `deno task lint:licence-headers`.

[2022-11-30 01:00] schwarzkopfb commented on #2954
https://github.com/denoland/dnt/issues/235#issuecomment-1331510064

[2022-11-30 05:12] #2885 closed

[2022-11-30 18:45] #2829 closed

[2022-11-30 18:59] lino-levan commented on #2959
This makes sense to me. Wondering if there's a reason this hasn't been done before? I feel like there might be a legal reason?

[2022-11-30 19:40] lino-levan commented on #2792
@cjihrig sorry for the ping but this should probably be unpinned

[2022-11-30 20:49] GJZwiers opened #2964 "`deno run npm:0x` throws `acorn.Parser.extend(...).extend is not a function`"
[code]
[code]

I found a closed issue with a similar error: https://github.com/denoland/deno_std/issues/723

[code]

OS: WSL 2 (Ubuntu)