[2021-10-25 10:33] #1439 closed, assigned to nobody

[2021-10-25 14:46] oceaann opened #1490 "Add node:tls module"
Missing node internal module https://nodejs.org/api/tls.html
`error: Uncaught (in promise) Error: Cannot find module 'tls'`

[2021-10-26 05:21] kt3k opened #1467 "Update std/signal following the signal API change"
We changed the signal API in https://github.com/denoland/deno/pull/12512. We need to update std/signal to follow it

[2021-10-26 08:03] #1467 closed, assigned to nobody

[2021-10-26 09:05] #1444 closed, assigned to nobody

[2021-10-26 10:54] bartlomieju opened #1472 "Set up bot that automatically requests review"
We should have a bot that automatically requests a review from one of maintainers for PRs.

In the beginning it could assign either me or @kt3k

[2021-10-26 19:07] piscisaureus opened #1474 "Add http compatibility to std/node"

[2021-10-26 19:08] piscisaureus opened #1475 "std/node: support the "tls" module"
- [x] connect
- [x] createServer https://github.com/denoland/deno_std/pull/1948

[2021-10-28 08:17] bartlomieju opened #1480 "Add "watchFile" to "node/fs" module"
This API is required to run Next.js

[2021-10-28 11:01] bartlomieju opened #1482 "std/node: "process.nextTick" is broken"
Given this example:
[code]

[code]

I get following output:
[code]
Somehow even though the callback is called in `TestWritable._write` the actual `common.mustCall()` is called the function returns. It suggest to me that `common.mustCall()` gets called on the next tick of event loop, <s>but I'm unable to spot where that happens</s>, actually I think it might be happening here:
https://github.com/de

[2021-10-28 19:10] AndyDecker opened #1485 "Import of node modules in webworkers cause error"
**Describe the bug**
When using libraries from node the std@0.106.0 is called to load the module. The std tries to call window.addEventListener, which isn't defined in a webworker.

backend_1       | error: Uncaught (in worker "") ReferenceError: window is not defined
backend_1       |     window.addEventListener("unload", () => {
backend_1       |     ^
backend_1       |     at new Process (https

[2021-10-29 07:28] #1474 closed, assigned to bartlomieju

[2021-10-29 15:12] ThePlenkov opened #1486 "Add node:dns/promises module"
Hi! Could you please add dns promises support? Thank you!

[2021-10-30 11:13] reckter commented on #1126
This is not the same with the interfaces:

[code]

[2021-10-30 16:23] bartlomieju commented on #1480
Done in #1483

[2021-10-30 16:23] #1480 closed

[2021-10-30 16:23] bartlomieju commented on #1459
Fixed by @kt3k in #1470

[2021-10-30 16:23] #1459 closed

[2021-10-30 17:34] stsysd opened #1491 "datetime: `parse` returns wrong result on the last day of the large month"
On the last day of a large month (e.g. October 31),  `parse` will fail, when dates of the small month are passed.

**Steps to Reproduce**
[code]

**Expected behavior**

return correct result

**Environment**

- OS: WSL2/Ubuntu 20.04.2 LTS
- deno version: 1.15.3 (release, x86_64-unknown-linux-gnu)
- std version: 0.113.0

[2021-10-31 12:06] bartlomieju opened #1495 "node: CJS loader shouldn't require full read access."
Currently, trying to use CJS loader you get following error:
[code]
It's not strictly required to have full disk read access, the loader should work perfectly fine with access to the current directory.

CC @kt3k

[2021-10-31 14:51] bartlomieju opened #1496 "node: add fs.read, fs.readSync, fs.write, fs.writeSync APIs"
These APIs are needed by ESLint and TSC

- https://nodejs.org/api/fs.html#fsreadfd-buffer-offset-length-position-callback
- https://nodejs.org/api/fs.html#fsreadsyncfd-buffer-offset-length-position
- https://nodejs.org/api/fs.html#fswritefd-buffer-offset-length-position-callback
- https://nodejs.org/api/fs.html#fswritesyncfd-buffer-offset-length-position

[2021-11-01 05:53] kt3k commented on #1495
I agree that the error message can be improved, but the required range of read permission may vary depending on the dependencies of the script.

For example, you can require scripts from the parent directory (`require("../foo.js")`). Also if bare require (like `require('foo')`) doesn't find module in `./node_modules`, then it tries to look up `../node_modules`, `../../node_modules`, etc. Those req

[2021-11-01 05:58] kitsonk commented on #1495
Why not use `Deno.permissions.query()`?

[2021-11-01 07:07] kt3k opened #1503 "Document available algorithms of std/crypto in README"

[2021-11-01 14:47] bartlomieju commented on #1495
That's correct, but it's not the most popular path - which is sniffing in the current directory. I believe that we should require to have read access to `./` and then use @kitsonk's suggesting and query for additional permissions

[2021-11-02 21:29] bartlomieju opened #1511 "node: missing readline.createInterface API"
[code]

This is function that errors:
[code]

Something is going wrong when `utils.mixinEmitter(fn, new Events());`.

In addition to that I'm pretty sure this will break on printing interactive prompts due to missing APIs in `readline` module (`node/readline.js`)

[2021-11-03 15:46] lucacasonato opened #1518 "https://deno.land/std@0.113.0/node/_util/_debuglog.ts does not work in Deploy"
**Describe the bug**

https://deno.land/std@0.113.0/node/_util/_debuglog.ts uses `Deno.permissions`, an API not available in Deploy. Just importing this module fails with `TypeError: Cannot read properties of undefined (reading 'query')`.

**Steps to Reproduce**

https://dash.deno.com/playground/long-pheasant-80

**Expected behavior**

If the permissions API is not available, don't try to call it.

[2021-11-04 04:39] #1518 closed

[2021-11-04 20:51] lucacasonato opened #1523 "node/_errors.ts is not compatible with lib.dom"
lib.dom.d.ts does not include typings for `Error.captureStackTrace`. This API is used in `node/_errors.ts` however. This API use should get a `// @ts-ignore` so it works in lib.dom.d.ts.

[code]

[2021-11-05 05:46] lowlighter commented on #1472
You could maybe use a [code owner file](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners) to make GitHub automatically assign a reviewer depending on your areas of expertise ?

[2021-11-05 14:24] lucacasonato opened #1525 "Remove findLast and findLastIndex from std/collections"
This feature is landing as a native JS feature in V8 9.7. https://v8.dev/blog/v8-release-97#findlast-and-findlastindex-array-methods

[2021-11-05 16:20] LionC commented on #1525
Let's do that once that is released!

[2021-11-05 16:23] getspooky commented on #1525
I agree with @LionC

[2021-11-05 16:30] lucacasonato commented on #1525
@LionC Will be in 1.16 on Tuesday.

[2021-11-06 09:17] uki00a commented on #1511
In Node.js, classes such as `EventEmitter` are written in ES5 style. This allows methods to be enumerated by `Object.keys()`:

[code]

In contrast, the `EventEmitter` class in `deno_std/node/events.ts` is written in ES6 style, so the methods are not enumerable. :cry:

As a quick workaround, how about the following?

[code]

[2021-11-06 18:09] bartlomieju commented on #1511
@uki00a if your solution will make "eslint --init" work, or at least move us forward to another error then I'm strongly in favor of the solution

[2021-11-07 05:21] kt3k commented on #1525
How about deprecating first before removing?

[2021-11-07 07:47] uki00a commented on #1511
The fix in #1530 causes another error:

[code]

[2021-11-07 09:00] bartlomieju commented on #1511
@uki00a thanks for checking, this expected as I didn't port that API from `readline` module yet.

[2021-11-07 16:09] bradenmacdonald commented on #890
@mfulton26 I just tried the new wasm-baed crypto implementation and it seems faster than both your JS version and the earlier std implementation. So I think this issue can be closed?

Code for `solve_year_2018_day_4_deno_wasm.ts` :

[code]

Result:

[code]

[2021-11-08 10:53] kasperk81 commented on #1336
same error was reported here https://github.com/denoland/deno/issues/11469#issuecomment-963029366, but it was pinned on the consumer code. node.js jsc, d8 and browsers don't have problem with orphanded async calls. deno seems to be too sensitive. i am having a hard time root causing the issue in a large project with 100s of async requests in flight.

[2021-11-08 19:59] getspooky commented on #1525
The function is still available using native JS feature in `V8 9.7`, I suggest that we add alert message in the documentation for example:
[code]

[2021-11-09 00:52] KnorpelSenf commented on #1214
Working on this in https://github.com/grammyjs/grammY/pull/78

[2021-11-09 06:16] kt3k opened #1535 "Idea: Include pretty_bytes in std/fmt"
https://github.com/kt3k/pretty_bytes (which is ported from [sindresorhus/pretty-bytes](https://github.com/sindresorhus/pretty-bytes))

[2021-11-09 07:37] LionC commented on #1535
As that is often needed in CLI applications, I am all for it

[2021-11-09 10:07] #1523 closed

[2021-11-09 16:46] bartlomieju commented on #1490
Closing in favor of https://github.com/denoland/deno_std/issues/1475

[2021-11-09 16:46] #1490 closed

[2021-11-09 16:47] bartlomieju commented on #1390
Closed in #1420

[2021-11-09 16:47] #1390 closed

[2021-11-09 16:48] bartlomieju commented on #1313
This is already shimmed; not all events are supported but the API no longer throws an error. I'm going to close this issue, please open a new one if you encounter a concrete problem with the `process.on`.

[2021-11-09 16:48] #1313 closed

[2021-11-09 16:49] bartlomieju commented on #1004
This seems to be stale, we're type-checking against latest canary in each PR.

[2021-11-09 16:49] #1004 closed

[2021-11-09 16:50] bartlomieju commented on #640
This problem was addressed in https://github.com/denoland/deno/pull/12591 and is now used in https://github.com/denoland/deno_std/pull/1435

[2021-11-09 16:50] #640 closed

[2021-11-09 16:52] bartlomieju commented on #639
I think `Deno.core.evalContext` is the way to go, it's a backbone for the implementation of `createRequire`. I'm going to close this issue for now.

[2021-11-09 16:52] #639 closed

[2021-11-09 16:54] bartlomieju commented on #650
I'm all in for having JSDocs for all public APIs, the problem is we currently have no way to ensure it automatically. I opened https://github.com/denoland/deno_lint/issues/970 for that purpose.

[2021-11-09 16:55] bartlomieju commented on #667
This module is already available in `std/node`. I'm going to close this issue for now, please open new issues if you hit some missing APIs.

[2021-11-09 16:55] #667 closed

[2021-11-09 16:55] bartlomieju commented on #674
This is already fixed in the latest `main` branch.

[2021-11-09 16:55] #674 closed

[2021-11-09 17:01] bartlomieju commented on #656
These APIs are now available in `std/node`.

[2021-11-09 17:01] #656 closed

[2021-11-09 17:03] bartlomieju commented on #663
`std/http` implementation was rewritten to leverage native HTTP bindings available in Deno (`Deno.serveHttp`). This error should no longer occur. I'm going to tentatively close this issue, please let me know if the problem persists.

[2021-11-09 17:03] #663 closed

[2021-11-09 17:04] bartlomieju commented on #659
`std/http` and `std/ws` implementations were rewritten to leverage native HTTP bindings available in Deno (`Deno.serveHttp`). This error should no longer occur. I'm going to tentatively close this issue, please let me know if the problem persists.

[2021-11-09 17:04] #659 closed

[2021-11-09 17:05] bartlomieju commented on #1089
`std/http` implementation was rewritten to leverage native HTTP bindings available in Deno (`Deno.serveHttp`). This error should no longer occur. I'm going to tentatively close this issue, please let me know if the problem persists.

[2021-11-09 17:05] #1089 closed

[2021-11-09 17:06] #683 closed

[2021-11-09 17:07] bartlomieju commented on #727
Please expand your proposal: what the API would look like? What is the use case? At the moment this issue is non-actionable.

[2021-11-09 17:07] bartlomieju commented on #809
`std/http` implementation was rewritten to leverage native HTTP bindings available in Deno (`Deno.serveHttp`). This error should no longer occur. I'm going to tentatively close this issue, please let me know if the problem persists.

[2021-11-09 17:07] #809 closed

[2021-11-09 17:08] bartlomieju commented on #953
I agree with @kt3k, this should be left to the user and API shouldn't be too opinionated in this case. Respectfully declined.

[2021-11-09 17:08] #953 closed

[2021-11-09 17:09] bartlomieju commented on #944
`std/http` and `std/ws` implementations were rewritten to leverage native HTTP bindings available in Deno (`Deno.serveHttp`). This error should no longer occur. I'm going to tentatively close this issue, please let me know if the problem persists.

[2021-11-09 17:09] #944 closed

[2021-11-09 17:09] bartlomieju commented on #931
@dsherret can you take a look? What is proposed way to handle that?

[2021-11-09 17:10] bartlomieju commented on #860
I believe this is no longer a problem.

[2021-11-09 17:10] #860 closed

[2021-11-09 17:12] bartlomieju commented on #988
`std/http` and `std/ws` implementation was rewritten to leverage native HTTP bindings available in Deno (`Deno.serveHttp` and `Deno.upgradeWebSocket`). This error should no longer occur. I'm going to tentatively close this issue, please let me know if the problem persists.

[2021-11-09 17:12] #988 closed

[2021-11-09 17:18] bartlomieju commented on #1472
@lowlighter it's a great idea! PRs are welcome.

[2021-11-09 17:20] bartlomieju commented on #1535
I'm also in favor, let's do it

[2021-11-09 19:17] ry opened #1539 "std/fs/mod.ts depends on unstable APIs"

[2021-11-09 20:01] ry opened #1540 "Implement std/node/tls -> startTls has been stabilized, we probably have enough"

[2021-11-09 20:08] ry opened #1541 "implement std/node/zlib on top of CompressionStream (maybe?)"

[2021-11-10 01:17] ah-yu commented on #1539
seems unstable api `Deno.utime(sync)` is used in `copyFile(sync)/copySymLink(sync)`

[2021-11-10 02:23] mfulton26 commented on #890
I tried this the other day and the WASM solution was slightly slower than the JS solution but sufficiently fast so yes, I think this issue is good to be closed. Thank you all.

[2021-11-10 02:23] #890 closed

[2021-11-10 05:35] kt3k commented on #1539
There is a plan for deprecating `utime` in favor of `utimes` (or `utimens`) https://github.com/denoland/deno/issues/8634. That's probably the reason why utime is not stabilized yet.

I think the correct steps to resolve this issue would be:
1. implement Deno.utimes (or Deno.utimens)
2. replace the `utime` usage with `utimes` in std/fs
3. stabilize Deno.utimes

[2021-11-10 10:21] bartlomieju commented on #1015
Closing in favor of https://github.com/denoland/deno_std/issues/1539

[2021-11-10 10:21] #1015 closed

[2021-11-10 10:48] bartlomieju commented on #1540
Closing in favor of https://github.com/denoland/deno_std/issues/1475

[2021-11-10 10:48] #1540 closed

[2021-11-10 10:53] bartlomieju commented on #1495
I just tried to see if this solution is feasible and there's a hiccup. APIs that are `stat`ing file system are all synchronous, while `Deno.permission.request` is an async API. There's not much room for work arounds here as the APIs are ported from Node (eg. `Module._findPath`). Without synchronous permissions API we might not be able to handle that.

[2021-11-10 10:56] bartlomieju commented on #1392
@MichailVestnik thank you for suggestion, as pointed out by @LionC we already supported `Handler`. I'm going to close this issue, please feel free to open another one for the routing (unless @LionC will open a PR before that ;) )

[2021-11-10 10:57] #1392 closed

[2021-11-10 10:58] bartlomieju commented on #1362
I think https://github.com/denoland/deno_std/pull/1376 solves the issue presented here in the limit. I'm going to close the issue for now, please feel free to comment if the solution is not satisfactory.

[2021-11-10 10:58] bartlomieju commented on #1354
Is this supported in Node?

[2021-11-10 10:59] bartlomieju commented on #1316
@kt3k is this issue in any way actionable? It seems to already be stale due to changes in `Deno.Signal` and `Deno.kill` APIs.

[2021-11-10 11:00] bartlomieju commented on #1302
@dsherret @KyleJune I think your arguments are valid and I'm in favor of changing the behavior of `assertRejects`.

[2021-11-10 11:04] bartlomieju opened #1544 "Remove "ws" module for Deno 1.17"
The "ws" module has been deprecated since Deno 1.14.2 (over 1,5 months ago) and I think it's high time we remove it completely.

A good target would be Deno 1.17 (so probably 0.117.0 or 0.118.0 for `deno_std`).

[2021-11-10 11:05] bartlomieju commented on #711
This issue is no longer relevant since `http` module now uses native HTTP bindings (`Deno.serveHttp`).

[2021-11-10 11:05] #711 closed

[2021-11-10 11:06] bartlomieju commented on #848
This issue is no longer relevant since `Deno.upgradeWebSocket` API is available and `ws` module is deprecated and soon to be removed (https://github.com/denoland/deno_std/issues/1544)

[2021-11-10 11:06] #848 closed

[2021-11-10 11:06] bartlomieju commented on #1183
No longer an issue.

[2021-11-10 11:06] #1183 closed

[2021-11-10 11:08] standvpmnt commented on #662
@bartlomieju I'd like to take a stab at this, I'll just review the node implementation and come back if I need any help (most likely with the types I think).

[2021-11-10 11:08] bartlomieju commented on #950
Closing the issue as `http` module migrated to `Deno.serveHttp` API.

[2021-11-10 11:08] #950 closed

[2021-11-10 11:10] bartlomieju commented on #870
We've been using `canary` version of Deno for over a month and I think it works well. @kt3k @nayeemrmn do you still want to pursue this issue?

[2021-11-10 11:11] bartlomieju commented on #868
This is now available as `Server.addrs` API.

[2021-11-10 11:11] #868 closed

[2021-11-10 11:12] #832 closed

[2021-11-10 11:13] bartlomieju commented on #827
CC @caspervonb is this something we should pursue?

[2021-11-10 11:14] bartlomieju commented on #1112
I'm going to tentatively close this issue since `http` module migrated to using native HTTP bindings with `Deno.serveHttp()` API and the problem should no longer manifest itself.

[2021-11-10 11:14] #1112 closed

[2021-11-10 11:14] bartlomieju commented on #687
@lowlighter are you still interested in working on this?

[2021-11-10 11:15] #1485 closed

[2021-11-10 11:15] bartlomieju commented on #939
@kt3k any idea how we can tackle this problem?

[2021-11-10 11:17] bartlomieju commented on #654
The module was updated and contains doc strings for all exported APIs.

[2021-11-10 11:17] #654 closed

[2021-11-10 11:17] bartlomieju commented on #653
HMAC algos are now available. This issue is no longer relevant.

[2021-11-10 11:17] #653 closed

[2021-11-10 11:18] bartlomieju commented on #647
This issue is stale, I'm going to tentatively close it for now. Using `BufWriter` is preferable anyway.

[2021-11-10 11:18] #647 closed

[2021-11-10 11:19] bartlomieju commented on #646
I agree with @kitsonk that this is not something that should belong to `std`. Respectfully declined.

[2021-11-10 11:19] #646 closed

[2021-11-10 11:20] bartlomieju commented on #645
I'm open to having these modules in `deno_std`. If anyone wants to work on this, feel free to open a PR so we can discuss it in detail.

[2021-11-10 11:20] bartlomieju commented on #644
I'm still open to adding this flag, if anyone wants to work on this feel free to open a PR so we can discuss it further. Suggestions made by @littletof make a lot of sense and are a good starting point.

[2021-11-10 11:21] kt3k commented on #1362
I think this issue is still valid. From my understanding, what this issue suggests is removing the below 3 lines from `assertThrows`:

https://github.com/denoland/deno_std/blob/6212e9021f7533f106558721909315cf8639de0a/testing/asserts.ts#L682-L684

[2021-11-10 11:22] bartlomieju commented on #904
I'm not sure this issue is actionable. If we don't have an automatic way to enforce unified structure and formatting there will always be a drift. If anyone has proposed solution to the problem I'm glad to discuss them, but I'm leaning towards closing this issue.

[2021-11-10 11:24] bartlomieju commented on #657
This issue is not actionable. I'm going to close it. Please open a new one if there's a need.

[2021-11-10 11:24] #657 closed

[2021-11-10 11:25] bartlomieju commented on #660
I don't have a strong opinion either way.

CCing @LionC @nayeemrmn @cmorten @kitsonk @AaronO

[2021-11-10 11:26] bartlomieju commented on #661
I'm still open to this feature, if anyone wants to implement it feel free to open a PR so we can discuss it in detail.

[2021-11-10 11:27] bartlomieju commented on #665
This is interesting concept and from my knowledge used heavily in Node world. I don't have a strong opinion about it, but calling @dsherret who worked on recent changes to Deno's testing API.

[2021-11-10 11:27] #669 closed

[2021-11-10 11:28] kt3k commented on #1316
Right, this isn't very much actionable. Closing

[2021-11-10 11:28] #1316 closed

[2021-11-10 11:29] bartlomieju commented on #680
I'm still open to this feature, if anyone wants to work on it feel free to open a PR.

[2021-11-10 11:29] bartlomieju commented on #678
I think this is still desirable. If anyone is courageous enough to undertake it, please let me know.

[2021-11-10 11:30] bartlomieju commented on #677
This issue is quite stale and I don't have any strong opinion either way. I'm going to tentatively close it, please comment if this is still a problem for you use cases.

[2021-11-10 11:30] #677 closed

[2021-11-10 11:30] bartlomieju commented on #675
This issue is no longer relevant since `http` module was rewritten to use native HTTP bindings (`Deno.serveHttp()`).

[2021-11-10 11:30] #675 closed

[2021-11-10 11:31] bartlomieju commented on #670
I'm going to close this issue as Temporal proposal is moving forward and should be soon available.

[2021-11-10 11:31] #670 closed

[2021-11-10 11:48] kt3k commented on #939
I think @lowlighter's suggestion is reasonable. We should add `maxStringLength` option to Deno.InspectOptions (in CLI repo) and setting that value to `Infinity` should resolve this issue

[2021-11-10 11:56] bartlomieju commented on #939
I'm in favor of that.

[2021-11-10 12:02] nayeemrmn commented on #870
With `--compat` we have yet another cyclic dependency between CLI and std (the first being the [version map](https://github.com/denoland/dotland/blob/cd157675e81db0f71adbaa278322bb6b7d7fea2c/versions.json#L151) used for manual rendering) that may become an obstacle for this. I'm not going to push for it. Std is intrinsically a userland library, so it's unfortunate that normal best practices can't

[2021-11-10 12:02] #870 closed

[2021-11-10 12:07] littletof commented on #661
Regarding the last lines from the original issue about multiple threads for the benchmarking itself, aka parallel running, I've found that it was considered before, but it was discarded as it can impact the results: https://github.com/denoland/deno_std/pull/203#issuecomment-465164761

With this, I think there could be a way to implement the described functionality the issue asks for, but maybe not

[2021-11-10 12:32] MierenManz commented on #1535
is anyone going to make a pr for this issue? cuz I don't mind making a pr for this later today.

[2021-11-10 12:32] bartlomieju commented on #1535
@MierenManz please do

[2021-11-10 13:06] majidsajadi commented on #1541
is there any plan to add `compress` module to `deno_std`? like  `compress` module in `golang`?

if we want to add `compress` module I guess it's a better approach to implement the std module and then implement `node/zlib` base on the implemented module.

[2021-11-10 13:22] bartlomieju commented on #661
@littletof that sounds good to me. If we can get a reliable solution then we can punt on the parallel aspect for now.

[2021-11-10 14:24] getspooky commented on #1496
I will start working on `fs.read`, `fs.readSync`, `fs.write`, `fs.writeSync` APIs

[2021-11-10 17:26] vwkd opened #1549 "Remove legacy HTTP server in Deno 1.17"
Currently there are two HTTP server after #1128 introduced a legacy HTTP server. I think having two options is confusing and complicates documentation and manual. This is the only part of Deno I know of that has a "legacy" thing.

Is there a good reason why people can not use a previous version of std instead? Isn't this case why there are versions in the first place?

[2021-11-10 17:30] bartlomieju commented on #1549
Let's do it in tandem with #1549

[2021-11-10 17:47] bartlomieju commented on #1495
Discussed this offline with @ry, jumping to adding sync permissions API is not a good idea. We should change the error message in such a way that doesn't suggest completely opening the sandbox for read operation, so maybe something like:
[code]

[2021-11-10 17:59] waldyrious commented on #904
There's [standard-readme-preset](https://github.com/RichardLitt/standard-readme-preset), which can be used with [remark](https://github.com/remarkjs/remark) to enforce a common structure in README files, based in the [standard-readme spec](https://github.com/RichardLitt/standard-readme/blob/master/spec.md). Among the [rules it supports](https://github.com/RichardLitt/standard-readme-preset#rules),

[2021-11-10 18:02] bartlomieju commented on #904
@waldyrious if you want to try get it working on the repo I'll be more than happy to assist. That said, the project doesn't look too mature and has a very low star count so I'm a bit wary as having it as a dependency. Maybe we could get away with some custom made script that does the same?

[2021-11-10 18:18] waldyrious commented on #904
Looking at the code of `standard-readme-preset`, it does seem like a custom remark preset might be doable, yeah. That said, I've never worked with the preset before (or `remark`, for that matter), so I'm not sure how long it may take me to come up with something usable. I'll try to carve up some time to explore this sometime soon (possibly within the next few weeks).

[2021-11-10 19:05] caspervonb commented on #827
Great thing is that the implementation is pluggable, just instantiate a different adapter so no imo Deno's interface should be tied into system calls with the goal of eventually making them zero overhead fast calls in the runtime.

[2021-11-10 21:59] kitsonk commented on #660
I think that is what frameworks are for.  We jettisoned `media_types` from `std` a long time ago because it was "too frameworky".

GoLang as different fundamentals around how HTTP requests are handled, in Deno, we have adopted the web standards of `Request` and `Response`.  While they are seperate, a pair is effectively a HTTP request's context, and then `Deno.serveHttp` provides a "context" of th

[2021-11-10 22:18] bartlomieju commented on #904
@waldyrious cool! But no pressure, if it's too much work we can revisit the topic in the future.

[2021-11-10 22:23] bartlomieju commented on #827
Sounds good. I'm going to close this issue for now; I think it should be left to 3rd party module to integrate it.

[2021-11-10 22:23] #827 closed

[2021-11-10 22:25] bartlomieju commented on #660
Thanks for opinion @kitsonk; I'm going to tentatively close this issue for now. I'll be happy to reopen if there are strong opinions in the other way.

[2021-11-10 22:25] #660 closed

[2021-11-10 22:35] MierenManz commented on #904
If there is a structure defined for this already then I don't mind adding a few pr's myself

[2021-11-10 22:36] bartlomieju commented on #904
@MierenManz the problem is we have no way to enforce this structure, so if someone misses discrepancy in the review the structure will not be preserved. That's why I suggested we should have an automated way of enforcing it before we do.

[2021-11-10 22:37] bartlomieju commented on #1496
@getspooky great! Feel free to open separate PRs for each API if it will help.

[2021-11-10 22:57] lowlighter commented on #687
@bartlomieju I can work on it, just need to know which approach I should take

Personally I'm more for the 2nd one to be consistent with other std sections, but it breaks retro-compatibility. Or else I guess I could turn `win32.ts` and `posix.ts` into "virtual files" which re-exports by os again each function

[2021-11-10 22:58] wperron commented on #1056
If anyone wants to pick up where I left off, all that was left on my branch was to add tests for windows and validate that it works there, I doubt that it wouldn't. I no longer have the time (or even a Windows machine) to carry on this issue.

[2021-11-10 23:01] bartlomieju commented on #687
I don't have a strong opinion regarding this, @nayeemrmn what do you think?

[2021-11-10 23:14] lucacasonato commented on #660
@kitsonk `context` in Golang is mostly an `AbortSignal`, not so much a general purpose context store (although it can be used for that too).

I think that answers the question though: if you want an `AbortSignal`, use `Request.signal` - that _should_ be wired up so that if a request is cancelled, it is cancelled. (I am not 100% confident this is wired up correctly right now though).

[2021-11-10 23:22] nayeemrmn commented on #687
Assuming breakages are okay, my vision was just removing `win32.ts` and `posix.ts`, shoving them all into `mod.ts` and giving each function a branch for os. We can split them further with demand down the line. But preserve the ones which are already split out, like `common.ts`, `glob.ts` and `separator.ts`.
[code]
The reason I don't want to split the modules up front (even though that's one of the

[2021-11-10 23:46] lowlighter commented on #687
@nayeemrmn Ok so basically it's just merging `win32` and `posix` to provide an abstraction to ease a future splitting?

Shoving them all in `mod.ts` seems strange, maybe it's just a misconception of mine, but I always thought that `mod.ts` were intended to be quite short. Should I go with a `_path.ts` instead, or do I just use the `mod.ts` directly ?

[2021-11-10 23:51] nayeemrmn commented on #687
Having `mod.ts` import `_path.ts` which contains everything would be the exact same thing to the user as what I proposed. Code splitting out of `mod.ts` only matters if those deps are public, which can be done later.

[2021-11-11 00:55] LionC commented on #1392
Finished implementation of the PR and its docs today - will do a last re-read if the (elaborate) docs tomorrow night and post. Fleshing it out took longer than expected^^

[2021-11-11 03:05] ccheng commented on #680
@bartlomieju I'd appreciate some feedback or guidance, especially as it relates to this (now old) PR for this issue: denoland/deno#6171.

That PR initially had lots of duplicated code to create a sync version from the async version, but ry wasn't happy with having a bunch of very technical duplicated code .

So I tried a different approach that supported async and sync with no duplicate code.  I t

[2021-11-11 06:15] kt3k commented on #680
@ccheng
I saw denoland/deno#6171, but the main type `ReaderMaybeSync = Reader | ReaderSync` looks hard to work with / hard to reason about to my eyes. That requires `as` casting whenever actually do the operations. I think that is an unusual pattern of coding style.

I prefer the first version of denoland/deno#6171 much better https://github.com/denoland/deno/pull/6171/commits/3aa119c7033be9dd9964

[2021-11-11 07:08] kt3k commented on #665
I think the API like this was only useful when there wasn't promise yet in my view. Modern frameworks like mocha, jest don't have this feature. (Correct me if I'm wrong)

[2021-11-11 07:43] #1288 closed

[2021-11-11 09:02] bartlomieju commented on #665
That's a good data point @kt3k; @aricart do you still feel strongly about this feature?

[2021-11-11 09:03] bartlomieju commented on #680
@kt3k I agree with you, in this case duplicated code is better than trying to get it done in a single function.

[2021-11-11 09:04] #1472 closed

[2021-11-11 09:12] LionC commented on #665
Just my .02€: Currently you *could* do this by just having a mutable and by defining an assert function that increments that and then passes all args on to the actual assert function, which allows you to run assertions on that variable afterwards:

[code]

It is also posisble to write a utility to wrap a function like that and add a `calls` property to it:

[code]

whether such a utility (which st

[2021-11-11 09:38] bartlomieju commented on #1486
I took a look at `node/lib/internal/dns/promises.js`; it's quite complex so I'm removing "good first issue" label.

[2021-11-11 09:39] bartlomieju commented on #1462
Seems to no longer be the case. Closing

[2021-11-11 09:39] #1462 closed

[2021-11-11 09:47] bartlomieju commented on #1482
The problem is definitely in `process.nextTick`; opened https://github.com/denoland/deno/issues/12735 which needs to be addressed to make it work properly.

[2021-11-11 10:00] #1535 closed

[2021-11-11 10:53] wafuwafu13 commented on #911
`querystring` partly done and working on `util`

[2021-11-11 15:19] aricart commented on #665
@bartlomieju to be honest after using Deno now for over a year - I don't think it is required. The assert count is effectively a crutch, and it simplifies some cases, but there are workarounds like a deferred latch that after N number of calls releases or times out.

[2021-11-11 15:33] standvpmnt commented on #662
I have opened a draft PR #1556 as I wasn't very confident while working on this so I thought I'd get some opinions on it to check if I was in the right direction. My concerns with the current code are, (besides the obvious failing tests) :

1. I was unable to figure out where to find how exactly some of the primordials from Nodejs were implemented and hence I am not sure how to implement these, pr

[2021-11-11 15:49] MierenManz commented on #880
I want to pick up this issue. It seems like I only have the remove the `BufReader` input and the code related to that? I hope I understood that correctly tho

[2021-11-11 23:01] #1173 closed

[2021-11-11 23:01] bartlomieju commented on #665
Thanks for the feedback @aricart! Since there's not much interest in this feature I'm going to close the issue for now, we can always revisit it in the future, but it seems JS world moves towards other patterns.

[2021-11-11 23:01] #665 closed

[2021-11-11 23:06] bartlomieju commented on #1173
@LionC great work on seeing this proposal through in full! Also thanks to @getspooky, @majidsajadi, @grian32, @ayame113 and other contributors for help implementing all the APIs. This module is a very valuable addition to the standard library!

[2021-11-12 02:52] lowlighter commented on #1415
Is the aim of this to check the presence of "Copyright Deno authors, MIT license" at the beginning of each code file ?

[2021-11-12 03:40] kt3k commented on #1415
yes, and probably we can use this tool https://github.com/kt3k/deno_license_checker

[2021-11-12 03:52] #1358 closed

[2021-11-12 04:05] lowlighter commented on #687
Seems that they are already tests files splitted for each function (`basename_test.ts`, `dirname_test.ts`, `extname_test.ts`, `from_file_url_test.ts`, `isabsolute_test.ts`, `join_test.ts`, `parse_format_test.ts`, `relative_test.ts`, `resolve_test.ts`, `to_file_url_test.ts`) so wouldn't it feel more natural to split everything directly following tests's current structure (and eventually rename them

[2021-11-12 11:42] kt3k commented on #662
@standvpmnt
I think premordials are from this file https://github.com/nodejs/node/blob/master/lib/internal/per_context/primordials.js

I guess tag means `Symbol.toStringTag`, which controls the string representation of the objects

I think their test cases are good resources for that https://github.com/nodejs/node/blob/master/test/parallel/test-util-isDeepStrictEqual.js

BTW we also have an infras

[2021-11-12 11:46] standvpmnt commented on #662
Great, @kt3k I'll review these and update the PR with this information. Thanks for the help.

[2021-11-12 17:25] bartlomieju opened #2153 "deno test: Consider adding "tap" format"
Currently `deno test` has only default and json format available. Tap is a very popular format (especially in Node world) that would allow users to pipe the output into different reporters of their liking.

We should research what it would entail to implement it.

[2021-11-12 21:15] bartlomieju opened #1562 "Remove "assertThrowsAsync" in Deno v1.17"
The "assertThrowsAsync" has been deprecated since August (over 3 months ago) and I think it's high time we remove it completely.

A good target would be Deno 1.17 (so probably 0.117.0 or 0.118.0 for deno_std).

[2021-11-13 13:14] F3n67u commented on #911
I am working on `fs`.

[2021-11-14 13:43] bartlomieju commented on #1455
So "events" implementation was reworked in #1558; we still need to fix situation with `EventTarget` - that said I think it will be quite hard as Deno's and Node's global `EventTarget` are incompatible.

[2021-11-14 15:40] apowers313 opened #1569 "vm.runInThisContext"
**Is your feature request related to a problem? Please describe.**

I would like to create a [Jupyter](https://jupyter.org/) [kernel](https://jupyter.readthedocs.io/en/latest/projects/kernels.html) for Deno. The [IJavascript](https://github.com/n-riesco/ijavascript) uses node’s [vm.runInThisContext](https://nodejs.org/api/vm.html#scriptruninthiscontextoptions) which isn’t polyfilled and Deno’s std

[2021-11-14 17:52] bartlomieju commented on #1569
@apowers313 thanks! The easiest way would be to use `Deno.core.evalContext`, but then we'd have to ignore all options present in the Node API: https://nodejs.org/api/vm.html#scriptruninthiscontextoptions Supporting any of the options would require some work in `deno` itself, so if you don't have immediate need for them then `Deno.core.evalContext` should be sufficient.

Example of API usage in `no

[2021-11-15 11:56] bartlomieju opened #1575 "_tools/lint.js doesn't fail on CI"
I'm getting the following lint errors as of this change:
[code]

_Originally posted by @bnoordhuis in https://github.com/denoland/deno_std/issues/1570#issuecomment-968769382_

[2021-11-15 11:56] bartlomieju commented on #1575
I'm getting this errors locally too and it shows up on CI as well: https://github.com/denoland/deno_std/runs/4205386249?check_suite_focus=true

However the CI did not fail. CC @kt3k can you take a look?

[2021-11-15 12:04] mfulton26 opened #6207 "mutation testing"
Deno's testing and code coverage support are great and continue to improve. Sometimes developers write code and don't realize their tests don't assert certain things. Sometimes they write tests and they pass but don't realize that they wouldn't fail even if the code under test were changed. We can "test our tests" using methods like [mutation testing](https://en.m.wikipedia.org/wiki/Mutation_testi

[2021-11-15 12:10] timreichen commented on #904
I agree an automated readme generation seems like the way to go.

[2021-11-15 12:15] bnoordhuis opened #1577 "Node compat test runner doesn't fail when it should"
At commit 23c868be, I see test failures but the runner thinks everything's okay:
[code]
Output (includes control codes): [test.txt](https://github.com/denoland/deno_std/files/7538570/test.txt)

[2021-11-15 12:22] #1575 closed

[2021-11-15 12:36] bartlomieju opened #1578 "node/streams implementation is broken"
I've hit multiple issues with implementation of "streams" in `std/node` while working on https://github.com/denoland/deno_std/pull/1554, eg `highWatermark` argument is ignored, `this._read()` in `Readable doesn't handle promises.

Turns out there are more issue with it like swallowed errors which causes Node test suite not to fail when it should:
[code]
(this is actually the same problem as in htt

[2021-11-15 12:42] bartlomieju commented on #1577
Example of failing test:
[code]

Adding some logs to `resume_` function in `node/_stream/readable_internal.ts`:
[code]
Proper error is thrown but never surfaced - `resume_` should be called scheduled by `process.nextTick`, but right now it uses `queueMicrotask` and errors being swalled seems to be directly connected to https://github.com/denoland/deno/issues/4350

[2021-11-15 12:45] LionC commented on #904
Is that actually something we need to lint? My impression is not that they are not unified because reviewers have missed to check against an agreed standard, but because there was no agreed standard.

I think it is more important to have an agreed standard, make sure that the current REAMEs and the contribution guide reflect that, so that the places new contributors will check put them on the righ

[2021-11-15 13:46] bartlomieju opened #1579 "node: Enable "stdin-setrawmode.js" test"
Currently this test is not enabled as it raises an error in the CI:
[code]
We need to find a way to run tests that require TTY

[2021-11-15 14:01] bartlomieju opened #1580 "ci: Change CI script to run "regular" tests and "node" tests in separate steps"
It should make it easier to catch performance regressions caused by enabling more Node tests, and might be a good starting point to run "Node" tests conditionally only if something in `std/node` changes.

[2021-11-15 14:04] bartlomieju commented on #1415
I'm in favor, maybe we could vendor `deno_license_checker` in `_tools/` directory?

[2021-11-15 14:05] bartlomieju opened #1581 "ci: Generate lcov step causes type checking"
This seems strange to me that generating coverage via `deno coverage` command causes type checking of all files. This needs to be investigated.

[2021-11-15 14:31] bartlomieju commented on #1581
@caspervonb is this expected?

[2021-11-15 14:39] ry commented on #1539
I don't think `std/fs/mod.ts` is useful. It implies many dependencies. I would be in favor removing it entirely.

The steps listed in https://github.com/denoland/deno_std/issues/1539#issuecomment-964803551 are good for updating `std/fs/copy.ts` to not use utime.

[2021-11-15 15:54] #1580 closed

[2021-11-15 17:09] Soremwar commented on #1578
Even when using the `nextTick` polyfill for the browser I'm hitting multiple failed tests trying to tackle this, most of them related to stream events not executing the amount of times they are suppossed to

It now seems to me a correct-ish `nextTick` implementation is a requirement for this

[2021-11-15 17:10] bartlomieju commented on #1578
@Soremwar thanks for letting me know, I'll try to tackle that tomorrow, nonetheless let's open the PR ASAP so we can coordinate the work.

[2021-11-15 21:51] jaredkrinke opened #1586 "std/flags should be able to provide "--help" usage information"
**Is your feature request related to a problem? Please describe.**

Deno's std/flags module can parse command line arguments, but a complete command line interface should also be self-documenting, e.g. by printing out usage information when "--help" is specified. Currently, there doesn't appear to be anything in the standard library for producing usage information.

**Describe the solution you'd l

[2021-11-16 00:42] tjosepo opened #1587 "std/http: Provide classes for common HTTP response status codes"
**Is your feature request related to a problem? Please describe.**

When building a web application, it's very common to have to re-use the same HTTP responses when handling errors.
Applications that do a lot of input-validation might find it annoying to have to redeclare the proper HTTP responses.
Others might find it annoying that there is no "proper" way of handling errors.

[code]

**Describe

[2021-11-16 01:59] bartlomieju opened #1589 "Doctests are broken on main"
Most likely related to landing of https://github.com/denoland/deno/pull/12604

[code]

[2021-11-16 02:11] #1589 closed

[2021-11-16 02:49] #1539 closed

[2021-11-16 03:46] kitsonk commented on #1562
The way it is being exported means that it does actually reflect in any IDE intellisense that it has been deprecated.

I was curious, because I was using it and wasn't seeing any warnings and I went and looked.  The JSDoc block doesn't work that way...  We would need to do something like:

[code]

Also, its deprecation isn't reflected in the [generated docs](https://doc.deno.land/https/deno.land/s

[2021-11-16 07:58] LionC commented on #1587
I like this and have been wishing for something like it several times.

In other languages and frameworks, I have seen that "preset / factory" pattern as static functions (not as a clnstructor) like that:

[code]

But that is a small stylistic decision, its just less prototypes. I don't even know if that is possible to do though, with Response being provided by the runtime.

A design note: I think

[2021-11-16 09:56] kt3k commented on #1562
Oh, I didn't realize this. Thank you for reporting this. I created a PR for the fix https://github.com/denoland/deno_std/pull/1593

[2021-11-16 10:12] kitsonk commented on #1562
ooops, didn't mean to close it... sorry.

[2021-11-16 10:17] bartlomieju commented on #1562
Still I think we should remove it completely in Deno 1.27. #1583 was done abruptly as well and it seems @ry has no problem with removing APIs as std is still considered unstable.

[2021-11-16 11:15] bartlomieju opened #1594 "node: polyfill process.config, process.exitCode, process._exiting"
Required for `process.nextTick` polyfill

[2021-11-16 12:22] getspooky opened #1596 "node: `node/open` should throw error if we don't add `allow-read` flag"
**Describe the bug**

`open` function should throw error if we don't add `allow-read` flag

[code]

**Steps to Reproduce**

- Run
[code]

- Result
[code]

**Expected behavior**

[code]

**Environment**

- OS: e.g. Ubuntu 20.04
- deno version: 1.16.1

[2021-11-16 16:45] #1594 closed

[2021-11-16 20:50] bnoordhuis opened #1601 "node: empty chunked response hangs http server"
[code]
With node:
[code]
With deno:
[code]

[2021-11-17 09:26] caspervonb commented on #1581
Side effect of loading, fixed it in the reverted refactor iirc. Not desirable.

[2021-11-17 12:33] #1482 closed

[2021-11-17 12:33] #1577 closed

[2021-11-17 12:37] #1601 closed

[2021-11-17 15:36] kt3k commented on #1596
Your example seems having error in `finally` handler. If you change the example like the below, you should see read permission error:
[code]

[2021-11-17 16:04] bartlomieju opened #1607 "node: Reenable tests disabled during "process.nextTick" integration"
Disabled in https://github.com/denoland/deno_std/pull/1588

Should be enabled after #1585 lands

- [ ] `node/process_test.ts` - `[process] stdio`
- [x] `test-event-emitter-max-listeners-warning-for-null.js`
- [x] `test-event-emitter-max-listeners-warning-for-symbol.js`
- [x] `test-event-emitter-max-listeners-warning.js`
- [ ] `test-fs-write-file.js`
- [x] `test-stream-pipe-error-handling.js`
- [x]

[2021-11-17 16:40] bartlomieju opened #1609 "node: Add a test case checking for circular imports in std/node"
We started hitting following errors:
[code]
#1608

[code]
#1585

These are most likely caused by circular dependencies. Node's runtime code is written in CJS format and there are several "lazy loads" of modules, eg.
[code]
Right now we are reworking them to be static imports at the top of the file, but that might lead to strange errors like the ones shown above. I believe a test case that would ca

[2021-11-17 18:12] TillaTheHun0 opened #1611 "Uncaught TypeError: core.setNextTickCallback is not a function"
The following error is being thrown when using the `std@0.115.0` lib:

[code]

**Steps to Reproduce**

Simply run this module:

`deno run --no-check foo.ts`
[code]

**Expected behavior**

`http` is printed

**Environment**

- OS: MacOS 11 and Ubuntu (have tried both)
- deno version: 1.16.1
- std version: 0.115.0

[code]

[2021-11-17 18:16] TillaTheHun0 commented on #1611
I saw that `1.16.2` was published, which upon upgrading to, seems to resolve the issue. I can see the `setNextTickCallback` on `Deno.core` in `1.16.2` and cannot on `1.16.1`

[2021-11-17 18:38] TillaTheHun0 commented on #1611
Seems to be addressed in https://github.com/denoland/deno/commit/fd78953e1c241c8dd14686631a2509aec97f1167

I'll close this, but for anyone who stumbles across this error using `std@0.115.0`, upgrade deno to `1.16.2` and you should be good.

[2021-11-17 18:38] #1611 closed

[2021-11-18 12:04] ralyodio commented on #659
does this impact oak?

I'm runngin puppeteer and if I do 5 instances at a time it crashes.

[2021-11-18 12:14] bartlomieju commented on #659
`oak` doesn't use `std/http` anymore in the latest version so it shouldn't be affected.

[2021-11-18 13:24] bartlomieju commented on #1586
Sounds like a good idea and it would be a nice addition! PRs are welcome.

[2021-11-18 13:25] bartlomieju commented on #1587
That seems reasonable to me, a bit "frameworky" but I can't see how convenient it is. @kitsonk what's your opinion?

[2021-11-18 14:35] LionC commented on #1587
For me personally, "framework" means opinionated, specific, locked-in (which does not necessarily mean that we should not do it - `std/http` being a viable option to write an application is at least my goal). For me, this seems more like a utility to solve something that happens in pretty much all use cases in a more spec compliant  way.

[2021-11-18 15:32] lucacasonato commented on #1455
As for:

We have the same behaviour as node, because we also don't have a hierarchy. This should not be an issue.

This is just a dumb deviation from Web APIs. Why did anyone think this was ok? It breaks the entire model for event handlers... we should not implement this. Any Node code that uses this behaviour should be considered buggy (as it won't work in browsers), and should fix their code to

[2021-11-18 17:55] tjosepo commented on #1587
I like that idea. I can see the value of having something like this:
[code]

I agree with LionC.

I understand how it feels a bit "frameworky", but because `Deno.serveHttp` works with  the `Request` and `Response` classes directly, I think everyone would benefit from the std having a few utilites to help work with those two classes.
- If you're building a framework, the utilites can help  you conv

[2021-11-18 18:41] LionC commented on #1587
That is not what I meant - I meant that the actual status response helpers themselves could be automatically generated from the status enum names. But I think that would have to be done statically anyways, don't want any runtime startup impact because of that. But starting out with a Vim Macro converting the Statuses to the helpers probably works^^

[2021-11-18 21:02] jaredkrinke commented on #1586
My vote would be for scoping this to just argument parsing, commands, and usage info. In other words, for non-interactive command line interfaces. (I thought commander was also scoped this way, but I could be wrong.)

Redrawing, progress bars, etc. are often handled separately in other languages (e.g. popt vs curses oh C).

If you think both should be grouped together, I've heard the "cliffy" modu

[2021-11-18 22:28] bedakb opened #1615 "Test case is leaking async ops when running a promise with deadline"
**Code:**

[code]

**Test case:**

[code]

**Expected:**
The test is passing.

**Actual:**
The test is failing with following error:

[code]

**Additional info:**
[code]

[2021-11-18 22:33] kitsonk commented on #1615
This isn't an issue with Deno CLI.  It is an issue with `std/async` leaving a hanging promise given this specific scenario.

[2021-11-18 23:09] bedakb commented on #1615
@kitsonk I inspected `delay` and `deadline` functions from std package, and couldn't see anything obviously wrong there.
However, If I run the same test case twice:
[code]
The second one will pass, while the first one will.

[2021-11-19 03:08] kt3k commented on #1615
In the above example, `slowOperation` is not finished when the deadline is reached. So the timer op is leaked. (So I think this is intended behavior)

You need to clean up the ops at the end of `performTask`

[code]

[2021-11-19 03:49] kitsonk commented on #1295
As I stated back in https://github.com/denoland/deno_std/pull/1283#issuecomment-922090326 I think this goes too far in the framework direction for `std`.

The middleware type would be really hard to get wide consensus on.  It fundamentally wouldn't work for oak, so I would consider using this out of `std`.

I feel this is something that should exist outside of `std`.

[2021-11-19 11:09] bnoordhuis opened #1616 "node: nexttick cb doesn't run if event loop is empty"
[code]
Should print "http://127.0.0.1:8888/" and wait for connections but instead it exits, unless I uncomment the timer. Worked okay earlier this week.

Related: https://github.com/denoland/deno/pull/12814

[2021-11-19 20:10] piscisaureus opened #1618 "http: no error logged when calling undefined function"
https://dash.deno.com/playground/whats-the-error

![image](https://user-images.githubusercontent.com/218257/142685226-8a4af4bb-c74f-4952-b675-193c1141c87f.png)

[2021-11-19 20:48] ry opened #1619 "std/http/server.ts should not swallow errors in handler function"

[2021-11-19 20:51] ry commented on #1619
duplicate of #1618

[2021-11-19 20:51] #1619 closed

[2021-11-19 21:52] lucacasonato commented on #1618
If the handler throws / rejects, we should console.error the error.

[2021-11-20 10:21] bnoordhuis commented on #1616
Fixed in denoland/deno@22dcf8223.

[2021-11-20 10:21] #1616 closed

[2021-11-20 10:47] #1615 closed

[2021-11-20 13:38] bartlomieju opened #1620 "node: Errors in http server"
Running benchmarks I hit following errors:
[code]
and
[code]

[2021-11-20 18:11] apowers313 commented on #1569
Thanks, that's what I needed -- I really appreciate the help.

I'm going to try to use pure Deno rather than porting over the IJavascript kernel, so I won't be needing `vm.runInThisContext` after all.

[2021-11-20 18:11] #1569 closed

[2021-11-20 18:16] bartlomieju commented on #1569
@apowers313 sounds good, I'm very much interested in running Jupyter with Deno so feel free to open issues if you hit any hiccups

[2021-11-20 21:05] standvpmnt commented on #662
I was able to use the Node.js test cases instead of the ones that I was creating and have been able to make progress with the help of these tests now, I however am presently stuck on the Boxed Primitve Cases, specifically I am having a tough time figuring out exactly how the `NumberPrototypeValueOf`, `StringPrototypeValueOf`, `BooleanPrototypeValueOf`, etc. methods work. They all come in from prim

[2021-11-21 09:29] kt3k commented on #662
hmm I couldn't find where these are defined either, but I guess these are just `Number.prototype.valueOf`, `String.prototype.valueOf`, `Boolean.prototype.valueOf` respectively by the naming convention

[2021-11-21 13:53] kt3k commented on #662
Found `NumberPrototypeValueOf` is created here (It uses utilities for creating the name `NumberPrototypeValueOf`)
https://github.com/nodejs/node/blob/e31d1cb55da6ad9d05ed98d22164c01501ca2b39/lib/internal/per_context/primordials.js#L168-L213

(Thanks smorimoto for the help)

[2021-11-22 05:00] jaredkrinke commented on #1586
Not sure how I missed this the first time I looked, but someone already created a commander-like module for Deno:

https://github.com/siokas/denomander

I haven't tried it out yet, but it sounds promising.

[2021-11-22 10:15] kt3k opened #1622 "std/node: Node compatible setTimeout, setInterval"
setTimeout in Node.js returns Timeout object

ref(Node.js):
- https://github.com/nodejs/node/blob/8ee4e672eca6826e7b6f2c1ad36ecbe6e570d412/lib/timers.js#L140
- https://github.com/nodejs/node/blob/ee9e2a2eb6143fa7b4b1454f7aed009a8703d4d7/lib/internal/timers.js#L167

We have `Timeout` class implemented in std/node, but doesn't seem implementing setTimeout correctly
- Timeout https://github.com/denol

[2021-11-22 11:13] bnoordhuis commented on #1620
The second one is a bug in std, the first one I'm not sure of. I can't seem to suppress it in std/node/http.ts.

[2021-11-22 11:24] standvpmnt commented on #662
Ok, I think I may know where I am getting stuck. So right underneath the highlight that you have mentioned above, there is a comment which states
[code]
So the issue I am facing now is that in order to use `String.prototype.valueOf.call(arg1)` I need to have the `arg1` be a string, however some of the tests for this method check for "coercion" cases. (I am not sure what the exact word is for this)

[2021-11-22 11:37] #1620 closed

[2021-11-22 12:45] bartlomieju commented on #1622
I'm not sure how we can do that, it's the same problem as in #1455.

I'm very much against overriding globals depending if we're in compat mode or Node, ie. we should stick to Deno's globals anyway. I discussed it with @dsherret, but there are no ideas how to reconcile the two, the globals are just incompatible.

@bnoordhuis any ideas?

[2021-11-22 13:07] bartlomieju opened #1625 "Remove "onSignal" in Deno v1.17"

[2021-11-22 16:06] kt3k commented on #1625
I'm in favor

[2021-11-22 16:12] kt3k commented on #1622
But this difference actually prevents running mocha's integration test in compat mode as they use `setInterval().unref()` in their testing utility. ref: https://github.com/mochajs/mocha/blob/3b4cc05f3fa0502d5d714a8f62ac8785267aa695/lib/nodejs/parallel-buffered-runner.js#L307-L310

How about overriding these in compat mode, but discouraging the use of these non-standard features somehow, for exampl

[2021-11-22 17:12] lucacasonato commented on #1622
I'd say it is probably safe to override them in compat mode, _if_ `Symbo.toPrimitive` is implemented on the timers object. Very ugly though (and very painful). See https://twitter.com/lcasdev/status/1462766579196862470

[2021-11-23 07:26] Jack-Works opened #1626 "std/node does not work in Worker"
It requires access to `window` which is not available in the worker.

[code]

[2021-11-23 11:45] kt3k commented on #662
@standvpmnt
BTW we can merge it with some flaws in the edge cases like the above (many node compat APIs have known bugs in edge  cases). Please comment out test cases with `TODO` comment if it's difficult resolve them at the moment.

See [this PR](https://github.com/denoland/deno_std/pull/1592/files), for example, for reference

[2021-11-23 12:02] lucacasonato commented on #1626
`window` should be replaced with `self`.

[2021-11-23 12:27] Jack-Works commented on #1626
Or globalThis

[2021-11-23 13:28] bartlomieju commented on #1626
This was already fixed in #1543, upgrade to `std@0.115.1`

[2021-11-23 13:28] #1626 closed

[2021-11-23 15:09] bartlomieju opened #1627 "node: Error when requiring package doesn't return 1 exit code"
[code]

This is a blocker for https://github.com/eslint/eslint/pull/15336

[2021-11-23 15:26] bartlomieju commented on #1627
Probably related to this bit:
https://github.com/denoland/deno_std/blob/93ee52d5a8e2ee1d88153b51a4fda2efa452c9da/node/module.ts#L536-L554

If `module.load()` throws the error is never surfaced.

[2021-11-23 15:40] Jack-Works commented on #1622
Node also has `Symbol.toPrimitive` on its timer class.

[2021-11-23 15:55] bartlomieju commented on #1627
This is actually caused by the fact that `process.exitCode` is not respected when the event loop shuts down "cleanly". Ie. if `process.exitCode` is set anywhere in the code it is not forwarded to Rust in any way.

[2021-11-23 20:47] halvardssm commented on #645
Hi @bartlomieju ! I was testing around with the mail parser, and I made two (relatively unfinished) branches, [one](https://github.com/halvardssm/deno_std/tree/feat/mail) to simply parse a straight forward email in text format, and [one](https://github.com/halvardssm/deno_std/tree/feat/mail_go) which is a port of the go std. I would be happy to properly sit down and finish either of the branches,

[2021-11-23 23:18] MierenManz commented on #880
Anyone else can try if they want.
I don't got the time to pick up this issue.

[2021-11-24 01:38] Vehmloewff opened #1629 "Errors thrown inside http.serve magically disappear"
**Describe the bug**
Errors thrown inside http.serve magically disappear.

https://gist.github.com/Vehmloewff/775e44186cb2732523f1b0ecafbc9788

The error is never written to the console.

**Steps to Reproduce**

Run the example...

[code]

...then head to http://localhost:3000

**Expected behavior**

"before throw" to be written to the console, then the error to be printed

**Environment**

- OS:

[2021-11-24 06:25] kt3k commented on #880
(Sorry for the late reply, but) I think async parse (with BufReader) might make sense if the source csv file is very big. That should reduce the memory usage and execution time.

[2021-11-24 06:37] kt3k opened #1630 "node: process.binding(...)"
Some npm modules depend on `process.binding(<module>)` ex. https://github.com/anseki/readline-sync/blob/202fe647300645c2727b4c4c9314d44703a67233/lib/readline-sync.js#L19

We need to shim these to run those npm modules.

[2021-11-24 06:57] kt3k commented on #1622
The issue https://github.com/denoland/deno/issues/12745 might be related if we want to implement `setInterval().unref()`

[2021-11-24 10:57] bnoordhuis commented on #1622
Channeling @lucacasonato: idea is to monkey-patch setTimeout/setInterval globals and return objects instead of numbers in `--compat` mode.

(My recollection was to return objects always but I might be misremembering and I don't have a strong preference anyway.)

[2021-11-25 03:51] kt3k commented on #1630
The tool [nps](https://www.npmjs.com/package/nps) (used in mocha repo) errors at `process.binding('wrap_tty').TTY`. The same module also uses `process.binding('fs')`, `process.binding('constants')`

[code]

[2021-11-25 05:28] NotFounds commented on #1491
I got reproduced result in the following environment on Docker.

#### Environment
- OS: macOS Monterey Version 12.0.1
- Docker: docker desktop 3.3.3(64133)
- Image: `denoland/deno:ubuntu-1.16.3`
  - deno version: 1.16.3
  - std version: 0.116.0

<details><summary>Docker details</summary><div>

[code]

</div></details>

And I set the machine's date to 2021/10/31 from the System Preference.

---

I

[2021-11-26 13:27] bartlomieju commented on #1578
Done in #1634

[2021-11-26 13:27] #1578 closed

[2021-11-26 16:40] bartlomieju opened #1635 "node: Reenable test for "net" module"
Following tests were disabled when landing #1634 and need to be reenabled

- "test-net-access-byteswritten.js",
- "test-net-after-close.js",
- "test-net-allow-half-open.js",
- "test-net-better-error-messages-listen.js",
- "test-net-better-error-messages-port-hostname.js",
- "test-net-bind-twice.js",
- "test-net-buffersize.js",
- "test-net-bytes-stats.js",
- "test-net-bytes-written-large.js",
- "te

[2021-11-27 10:01] bnoordhuis commented on #1620
As (belated) follow-up: I suspect it's another incarnation of #833. I'll investigate.

[2021-11-28 09:31] ralyodio opened #1639 "fetch doesn’t handle try/catch when http2 request fails"
any ideas how to fix this in pooledMap? I wrapped my entire fetch request with Try catch and it still crashes

[code]

this happens if my api goes down while I'm trying to send a request to it....if nginx doesnj't server a 200 then my script crashes

i'm using systemd and if i crash the api it restarts, but during that time my pooledMap crashes from my script.

i basically did `try { ... fetch() }

[2021-11-28 14:21] ry opened #1642 "http: Remove Go-style address/port strings"
Early on in the lifetime of Deno, we used strings like `":8000"` to declare a server listening on localhost at port 8000. However long ago Deno's internal APIs no longer parse these strings. See for example [`Deno.ListenOptions`](https://doc.deno.land/builtin/stable#Deno.ListenOptions).

However in std/http/server.ts and elsewhere we still accept strings of this form or use them internally. [`_par

[2021-11-28 16:02] bartlomieju opened #1645 ""_tools/format.js" cheks over 32k files"
[code]

Something is wrong in format script, it should have to check so many files.

CC @kt3k

[2021-11-28 21:38] yuhr commented on #1372
Confirmed the fix has been released, thanks @getspooky!

[2021-11-28 21:38] #1372 closed

[2021-11-29 02:48] sno2 opened #1649 "Port TS "Private" Variables to JavaScript Private Variables"
**Is your feature request related to a problem? Please describe.**

TypeScript's `private` class property modifier is only checked when you are using TypeScript and the encapsulation is lost through compilation.  Furthermore, we're assuming that someone didn't cast something as `any` along the line in which "private" variables are not private at all.

**Describe the solution you'd like**

I think

[2021-11-29 04:31] kitsonk commented on #1649
Just to point out, private fields not "ES6".  They are technically not even part of the standard yet.  It is expected they will be part of ES2022.

Wholesale change/refactoring would be breaking changes where they exist, because even though they are "private" they are still accessible at runtime and people may have decided to access them.  They should be taken carefully on a case by case basis, no

[2021-11-29 05:18] kt3k commented on #1645
I guess you might have `cov` directory created, which is specified in test command in ci.yml

[2021-11-29 06:31] kt3k opened #1651 "`node/_util/_util_callbackify_test` is failing with canary"
The 2nd case `callbackify passes the rejection value as the first argument to the callback` is never settled with canary. It was ok with ~~1.6.3~~ 1.16.3

[2021-11-29 07:13] kt3k commented on #1651
Seems to have started with https://github.com/denoland/deno/pull/12908 . It doesn't have this issue with CLI `1974eb10210832da946ee57fd216b7bc0cf398aa`

[2021-11-29 07:57] kt3k commented on #1651
`callbackify passes arguments to the original` and `callbackify preserves the this binding` seem also affected

[2021-11-29 08:02] kt3k commented on #1651
`[node/crypto.Hash] streaming usage` in `node/crypto_test.ts` is also broken in a similar way

[2021-11-29 08:17] kt3k commented on #1651
also `node/http_test.ts` is affected

[2021-11-29 09:47] kt3k commented on #1651
Reproduces the issue with a smaller example. It seems related to nextTick:
[code]

[2021-11-29 10:23] getspooky commented on #1639
@ralyodio can you please specify deno version you are using ?

[2021-11-29 10:53] bartlomieju commented on #1645
Yes, I just spotted it, and indeed I got `cov/` directory.

[2021-11-29 13:55] #1645 closed

[2021-11-29 14:05] #1511 closed

[2021-11-29 14:15] #1651 closed

[2021-11-29 18:31] bartlomieju opened #1654 "node: Add child_process.spawnSync"
Running `eslint --init` and trying to install `typescript-eslint` results in:
[code]

Caused by missing `child_process.spawnSync` API. Currently we have no way of running subprocesses synchronously in Deno, so the solution to this issue might be quite involved.

[2021-11-29 18:40] bartlomieju commented on #1630
`process.bindings('fs')` is also required to run `npm`.

[2021-11-29 18:52] chovyprognos commented on #1639
[code]

[2021-11-30 02:08] sno2 commented on #1649
Oh, thanks for the correction.

Ok, do you know if there are any places where it would be ok to port to private variables to start off with? Or is the possibility of breaking code too large?

I guess also my issue is that we modify the types / names of these "private" variables  in updates so what is the difference between removing them as the code could have broken if we changed the property's na

[2021-11-30 02:15] bartlomieju commented on #1649
@sno2 feel free to start with code in `node/` and `io/buffer.ts`

[2021-11-30 16:58] #1607 closed

[2021-11-30 18:02] jonasgrunert commented on #1642
If no one has taken on it yet I would give it a try. I guess the option should be replaced by a seperate Port as a number and a host  as a string?

[2021-11-30 18:34] lucacasonato commented on #1642
@jonasgrunert Exactly.

[2021-11-30 23:39] lucacasonato opened #1658 "Modernize `std/archive/tar`"
The current `std/archive/tar` builds on `Deno.Reader` and friends. We should rewrite it to use WHATWG streams. So a `TarDecoderStream` and `TarEncoderStream`.

[2021-12-01 13:21] bartlomieju opened #1663 "node: Add "https" module"
This is currently a blocker for running `npm` in Deno compat mode.

[code]

[2021-12-01 13:41] #1618 closed

[2021-12-01 13:41] #1629 closed

[2021-12-01 15:19] bartlomieju opened #1664 "node: Implement ref/unref for child_process"
Ref https://github.com/denoland/deno_std/issues/1664

Needed to run Vite, which spawns `rollup` as a subprocess

[2021-12-01 17:29] #1630 closed

[2021-12-02 11:11] kt3k opened #1666 "node: add url.parse"

[2021-12-02 15:14] piscisaureus commented on #1455
Discussed off-github: although this issue exists, it is unlikely to cause any problems and we won't address it for now.
If anyone discovers an real world bug that is caused by this issue, feel free to open a new issue.

[2021-12-02 15:14] #1455 closed

[2021-12-03 06:34] pasha-bolokhov opened #1668 "log: add an option to the logger to use "stderr" for warnings and higher"
Add an option so that the ConsoleHandler writes non–success messages to "stderr" rather than "stdout"

Both Node and, in prospect, Deno are being used for "shell scripting" purposes. Quite often one needs to redirect the standard output of a program/script, in which case errors sent via the existing log implementation may be lost or gone unnoticed. Standard Unix behaviour is that errors (and other

[2021-12-03 08:12] LionC commented on #1668
There are refactor PRs open right now which solve this issue

[2021-12-03 08:30] ralyodio commented on #1639
Any update on this? Is it a bug?

[2021-12-03 12:22] bartlomieju commented on #1639
Please provide a full reproduction code, the code you pasted is not enough to debug the problem.

[2021-12-03 15:30] #1668 closed

[2021-12-03 20:43] jespertheend opened #1671 "Node: importing esm files."
**Is your feature request related to a problem? Please describe.**

I'm trying to `createRequire` an existing module from npm. But the module uses esm and it seems like this isn't supported right now?
`Uncaught Error: Importing ESM module`
I could `import` the module directly, but the module imports some other npm dependencies itself, which now fails because those aren't prefixed with `/` or `./`

[2021-12-03 21:13] bartlomieju commented on #1671
You need to use `--compat` flag when running `deno`. It will enable Node resolution. See more details at https://deno.land/manual@v1.16.3/npm_nodejs/compatibility_mode

[2021-12-03 21:33] jespertheend commented on #1671
Am I correct in that `--compat` breaks support for url imports?
When I run a script containing an `"https://deno.land/std@0.117.0/fs/mod.ts"` import with `--compat --unstable` I get
[code]
I'd like to gradually move to deno so I was hoping to use both deno and node apis at the same time.

[2021-12-03 21:50] bartlomieju commented on #1671
@jespertheend --compat mode supports URL imports too. Which version of Deno are you using? Make sure to use the latest available.

[2021-12-03 23:07] jespertheend commented on #1671
Ah sorry my bad, upgrading deno fixed it.

[2021-12-03 23:07] #1671 closed

[2021-12-06 05:31] #1194 closed

[2021-12-06 05:50] ralyodio commented on #1639
http://sprunge.us/TQ93n4

[2021-12-06 06:02] satyarohith opened #1677 "http: introduce onError to `serveTls` & `serveListener`"
`serve()` accepts `onError` handler option. We should also add it to `serveTls()` & `serveListener()`.

[2021-12-06 06:30] ralyodio commented on #1639
I also get this error sometimes:

`TypeError: Fetch failed: Maximum number of redirects (20) reached`

try/catch is ignored

[2021-12-06 07:25] ralyodio commented on #1639
So I guess my fetch pattern sucked and doesn't do what I thought it did.

I replaced:
[code]

with a real try/catch:

[code]

and now it doesn't crash.

[2021-12-06 07:29] #1639 closed

[2021-12-07 02:58] #1677 closed

[2021-12-07 16:24] kt3k commented on #1666
fixed by https://github.com/denoland/deno_std/pull/1667

[2021-12-07 16:24] #1666 closed

[2021-12-08 06:07] #1491 closed

[2021-12-08 08:04] kt3k commented on #648
I'll work on `fs.access` https://nodejs.org/api/fs.html#fsaccesspath-mode-callback

[2021-12-08 08:08] kt3k opened #1684 "node: add fs.access"
fs.access is needed for running ava in node compat mode. ref: https://github.com/denoland/deno/issues/12999

I'll work on this issue soon.

[2021-12-08 08:10] bartlomieju commented on #1684
FYI this was "polyfilled" in https://github.com/denoland/deno_std/pull/1435/files#diff-19b278ec062f6f86c9408dbce2b7679686494a721c1b0ceec13bc613a13f5f6d

[2021-12-08 08:56] bartlomieju opened #1685 "Add "node/_core.ts" for a single integration point with Deno.core"
We should add "node/_core.ts" module that will be responsible to coordinate access to `Deno.core` namespace required for integration with bindings that are needed to properly polyfill some of the Node APIs.

To cater for environments that don't have `Deno.core` we will have a fallback that either uses APIs that will cause slight breakage of respective Node APIs or will not polyfill them properly.

[2021-12-08 12:57] #1685 closed

[2021-12-08 13:07] #1684 closed

[2021-12-08 13:22] kt3k opened #1689 "node: add fs.Stats class"
`fs.Stats` class is used in [globby](https://npm.im/globby) module. ref: https://github.com/sindresorhus/globby/blob/79765fbff3a50d4ca0bf97bc51d74fda95915601/index.js#L36

[2021-12-08 13:25] kt3k opened #1690 "node: add child_process.fork"
child_process.fork is used by ava. ref: https://github.com/avajs/ava/blob/77623a5f32c139fa4ef7d316a4bbf7e172cc5acb/lib/fork.js#L51

[2021-12-09 14:11] #1689 closed

[2021-12-09 14:15] #1067 closed

[2021-12-10 05:06] #1690 closed

[2021-12-11 08:00] kt3k opened #1702 "Enable colors test disabled in #1700"
Enable tests disabled in #1700 when https://github.com/denoland/deno/issues/13050 is resolved

[2021-12-12 05:17] standvpmnt commented on #662
@kt3k I have done the implementation, however the main disadvantage is that there is a function `getOwnNonIndexProperties` which should return all the properties (including symbols) of any object unless they are index values. This is done in C by node project, and I can't figure out a way to identify whether a property is an index or a symbol, as such I have had to return all properties instead fo

[2021-12-13 04:43] kt3k opened #1703 "node: add https.request"
part of #1663

- [x] Add `http.OutgoingMessage` https://github.com/denoland/deno_std/pull/1705
- [x] Add `http.Agent` https://github.com/denoland/deno_std/pull/1706
- [x] Add `http.ClientRequest` https://github.com/denoland/deno_std/pull/1712
- [x] Add `http.get`, `http.request` https://github.com/denoland/deno_std/pull/1712
- [ ] Add tls.connect
- [ ] Add `https.get`, `https.request`

[2021-12-13 04:43] kt3k commented on #1663
I'll try `https.request` part of this https://github.com/denoland/deno_std/issues/1703

[2021-12-13 08:32] gseok opened #1704 "Don't execution in node env after deno project bundling result"
- Deno default logger's code using `Top Level await'
  - https://deno.land/std@0.117.0/log/mod.ts#L211

And...

- Deno default bundler don't support `target` or `module` config
  - https://deno.land/manual@v1.16.4/typescript/configuration#how-deno-uses-a-configuration-file

So

If using `Deno default loger(std lib)` And Bundling code's result include follow codes
[code]
These code don't execution

[2021-12-13 09:20] kt3k commented on #1704
Node.js should support top level await in ESM mode. Do you still see an error if you change the file extension of the script to `.mjs`?

[2021-12-13 09:31] gseok commented on #1704
- There are no `top level await error` when change output file name `js` to `mjs`
  - `deno bundle -c ./deno.json ./src/sever.ts ./dist/server.mjs`
- But... follow new error displayed...

[code]

[2021-12-13 12:50] #1625 closed

[2021-12-13 13:10] #1544 closed

[2021-12-13 13:18] #1549 closed

[2021-12-13 15:38] #1642 closed

[2021-12-13 15:43] kt3k commented on #1704
Ah, looks like so to me. Can you check with the canary version of Deno (You can upgrade to canary with `deno upgrade --canary` command. BTW we're going to release the next version 1.17 on 16th Dec)

[2021-12-14 04:52] gseok commented on #1704
`canary` version test
[code]

-  `node ./dist/server.mjs`  don't running....
[code]

- `deno run --allow-run --allow-net --allow-read --unstable ./dist/server.mjs` SUCCESS!

There is a still some problems at bundled `mjs` file to run in node

[2021-12-14 08:42] kt3k commented on #1704
The module (`std/streams/delimiter`) seems depending on global [TransformStream](https://developer.mozilla.org/en-US/docs/Web/API/TransformStream) class, which is a part of Web Stream API. Deno provides Web Stream in global namespace, but Node.js doesn't. That seems the reason of the above difference in both runtimes.

Can you try to add a polyfill of Web Stream API (for example, `import "https://

[2021-12-14 16:28] getspooky opened #1707 "Refactor: Move internals file in node folder to `/node/internal`"
Move internals files like `_net.ts` , `_errors` , etc to `node/internal` .
Target:
- [x] _net.ts
- [x] _async_hooks.ts #2051
- [x] _buffer.js #2643
- [x] _dtrace.ts
- [x] _errors_test.ts, _errors.ts
- [x] _fixed_queue.ts https://github.com/denoland/deno_std/pull/2064
- [x] _idna.ts
- [x] _options.ts #2065
- [x] _readline.js
- [x] _stream.js
- [x] _timers.ts #1699
- [x] `_util/_debuglog,ts` -> `int

[2021-12-15 03:55] kt3k commented on #1707
@getspooky Thank you for creating this issue!

Right. We should keep the file structure as close as possible to Node.js structure. The above change make sense to me.

BTW `node/_core.js` is something we invented on our own. Maybe we should keep it somewhere else?

[2021-12-15 08:15] kt3k commented on #1707
Also `deno_std/node/_buffer.js` seems corresponding to `node/lib/buffer.js`. So let's just rename it to `deno_std/node/buffer.js` in this case.

Please carefully compare node.js `lib/` directory and deno_std `node/` directory before starting working on each item

[2021-12-15 10:45] getspooky commented on #1707
@kt3k thanks for feedback, i will work on it.

[2021-12-15 11:49] kt3k commented on #1707
Also `_timers` will conflicts with #1699. Please avoid it at first.

[2021-12-15 15:02] herkulessi commented on #1503
Well, digests are pretty easy to get....
There is a List in https://deno.land/std@0.117.0/_wasm_crypto/mod.ts
The part will be the Rest.

[2021-12-15 20:20] erfanium opened #1715 "feat(uuid): Add a generic validator for all uuid versions"
In current std/uuid implementation, each uuid version (v1,v4 and v5) has their own validate function and there's not a generic validate function to validate uuids regardless of its version.

there's a similar function in npm's uuid module:
https://github.com/uuidjs/uuid/blob/main/src/validate.js

[2021-12-16 00:16] gseok commented on #1704
`import "https://unpkg.com/web-streams-polyfill/dist/polyfill.min.js";` then pass `TransformStream` error !!

But... still don't running in node... follow error

[code]

I think, It looks like a similar problem. `Deno` and `Node` diff api..
- deno: https://deno.land/std@0.117.0/crypto
- node: https://nodejs.org/api/crypto.html
  - node not have `getRandomValues`

---

ps. There is an additional qu

[2021-12-16 04:36] kt3k commented on #1704
Can you share the dependencies of your server? What's the result of `deno info -c ./deno.json src/server.ts`?

[2021-12-16 04:59] cs09g commented on #1704
I found `oak` uses `ws` and `ws` uses `crypto`. So, the result of `deno bundle` contains crypto?

[code]

[2021-12-16 05:37] kt3k commented on #1704
Sounds so to me. And oak recently dropped the dependency of ws. I think upgrading oak to the latest might solve the issue.

[2021-12-16 06:10] gseok commented on #1704
@cs09g is my team member.  we guess... our project `crypto` is include by `oak`

[2021-12-16 11:17] kt3k commented on #1707
I updated the description, and crossed out some items (`_core.ts` `_events.js` `_next_tick.ts` `_utils.ts`) which don't seem existing in `internal/`

[2021-12-16 21:50] Jekahome commented on #659
I get this error when I intensively fill with data of 64 kb 3000 iterations
[code]
Error: Io(Os { code: 32, kind: BrokenPipe, message: "Broken pipe" })

[2021-12-17 09:38] nable-denis-gulin opened #1721 "Typo in bytes/equals.ts"
typo `equalsNaive` => `equalsNative`
(I'm not able to find any code related with `equalsNaive` in WWW, so only DENO has this typo)

**Expected behavior**

`equalsNative` exported function name

**Environment**

any

- OS: any
- deno version: latest
- std version: latest

[2021-12-17 09:52] getspooky commented on #1721
can you please provide full example ?

[2021-12-17 19:46] q1qgames commented on #638
Seems like this is behaving as designed and should perhaps be a documentation addition with a reference to emptyDir (and the sync counterpart) if desired.

[2021-12-17 19:54] q1qgames commented on #1721
If I'm not mistaken this is a reference to the brute force check loop in equalsNaive being a "naive implementation" of the check (as opposed to the equalsSimd function which is much more performant etc.).

So while I'm not the author, I doubt it is a typo.

[2021-12-18 11:07] tjni opened #1725 "node: environment variables can contain non-string values"
Node.js can accept environment variable values that are string, numeric, or boolean. On the other hand, Deno requires those values to be strings.

**Steps to Reproduce**

[code]
[code]
[code]

**Expected behavior**

I expect the script to work in Deno when using the Node compatibility layer. The [process.env documentation](https://nodejs.org/api/process.html#processenv) says:

I think this means t

[2021-12-18 16:51] #1215 closed

[2021-12-19 05:08] F3n67u commented on #1215
@grian32 thanks for reporting that issue. I have submitted a pr to fix this issue.

[2021-12-19 05:30] F3n67u commented on #662
@standvpmnt FYI. I have implemented `internalBinding.util`'s `getOwnNonIndexProperties` function in https://github.com/denoland/deno_std/pull/1728 and replace the `getOwnNonIndexProperties` function in `comparison.ts` with `internalBinding.util`'s `getOwnNonIndexProperties` function.

[2021-12-19 13:11] Sembiance opened #1730 "async/delay DelayOptions should take an unref boolean"
With the new `Deno.unrefTimer` support in Deno v1.17, the `DelayOptions` interface for `async/delay.ts` should support a new `boolean` field `unref`

When `unref` is set to `true`, the id of the internal `setTimeout` should be automatically unreffed with `Deno.unrefTimer(i)`

Thus a call like this:
[code]
wouldn't prevent Deno from exiting.

[2021-12-19 14:10] bartlomieju commented on #1730
I think this is reasonable, @kt3k are you in favor?

[2021-12-20 06:04] standvpmnt commented on #662
@kt3k regarding this, the tests that are keeping this issue pending are the ones wherein a type mimics another type. Specifically, the tests actually have a statement which I believe is not permitted in the Deno runtime whereas it is permitted in the Node runtime. As an example this is one of the [test blocks](https://github.com/denoland/deno_std/blob/main/node/_tools/suites/parallel/test-util-isD

[2021-12-20 06:32] kt3k commented on #1730
I'm in favor.

[2021-12-20 06:58] kt3k commented on #662
@standvpmnt
hmm the 3rd line itself can be executed in Deno if you don't use repl. (The error seems being thrown when it's printed to the console).

The error in assertion seems caused at this toString call:

https://github.com/denoland/deno_std/blob/33253d60ac181a6298af13546a8b605ab282c141/node/internal/util/comparisons.ts#L91

I guess if we could avoid calling this toString depending on some con

[2021-12-20 15:44] bartlomieju opened #1734 "node: Add stubs for APIs in several modules"
We should add stubs for following modules, so we can set them up automatically in REPL when running in `compat` mode:

- [ ] cluster
- [ ] domain
- [ ] https
- [ ] tls
- [ ] v8

The idea is to add top level export that would throw `not implemented` error instead of throwing the error when the module is loaded.

Ref https://github.com/denoland/deno/pull/13127

[2021-12-20 21:23] getspooky commented on #1730
Good idea.

[2021-12-21 08:54] kt3k commented on #1721
`naive` here means that it simply compares every byte of 2 arrays, without using SIMD technique. So this is intended, ref: https://github.com/denoland/deno_std/pull/1349

Thank you for reporting anyway

[2021-12-21 08:54] #1721 closed

[2021-12-21 09:00] kt3k commented on #1725
Good catch! Thanks

PRs are very welcome

[2021-12-21 15:11] #1734 closed

[2021-12-21 15:36] kt3k opened #1738 "node: http.request is flaky"
The following script doesn't show the response always (sometimes it shows the response though)
[code]

[2021-12-21 23:18] matthewleon opened #1739 "streams.readableStreamFromReader should create a byte stream"
The code below fails with `Cannot use a BYOB reader with a non-byte stream`.  This feels like a bug. A `ReadableStream` created from an arbitrary `Reader` seems, if anything, like a canonical example of a "byte stream," no?

[code]

[2021-12-22 04:57] kt3k opened #1742 "crypto: add tiger hash"
Add Tiger hash to crypto module in a similar way as #1729

[2021-12-22 16:22] bartlomieju opened #1744 "node: Add process.on("unhandledRejection")"

[2021-12-22 17:44] #1715 closed

[2021-12-23 05:32] #794 closed

[2021-12-23 07:33] #1703 closed

[2021-12-23 17:00] kt3k opened #1750 "test: `serveDirectory TLS` and `serveDirIndex TLS` are flaky"

[2021-12-23 17:43] kt3k opened #1752 "node: 'exit' event is emitted twice when process.exit() is called"
[code]

This causes `npm` error at exit

[2021-12-23 18:00] bartlomieju commented on #1752
I think I know what's the problem. I'll look into it.

[2021-12-23 18:32] #1752 closed

[2021-12-23 19:23] kevincennis opened #1754 "Incomplete documentation for running tests"
**Describe the bug**

Right now, the README file says you should be able to run `deno test --unstable --allow-all`, but that actually fails with:

[code]

I'm not 100% sure what the best option is here. Seems the docs could be updated to include the same environment variable as the `ci.yml` action:

[code]

But that seems a bit cumbersome.

**Steps to Reproduce**

[code]

or, much more quickly

[c

[2021-12-23 19:28] kevincennis commented on #1754
I'd be super happy to open a PR for this – just need a little guidance on what the best path to remediation is. Seems like there oughta be a better option that adding that environment variable to the test command.

[2021-12-24 05:57] #1738 closed

[2021-12-24 06:04] kt3k opened #1755 "node: enable http-client tests"
These tests are disabled in #1751. We should enable these again:

- [ ] `test-http-agent-close.js`
- [ ] `test-http-agent-getname.js`
- [ ] `test-http-agent-timeout-option.js`
- [ ] `test-http-client-abort-event.js`
- [ ] `test-http-client-abort-no-agent.js`
- [ ] `test-http-client-abort-unix-socket.js`
- [ ] `test-http-client-abort3.js`
- [ ] `test-http-client-agent-abort-close-event.js`
- [ ] `t

[2021-12-24 06:59] kt3k opened #1756 "node: fs.readdir doesn't handle error correctly when the directory doesn't exist"
[code]
This script should print "error" and exit normally, but it errors with uncaught error.

[2021-12-24 08:47] bartlomieju commented on #1756
The problematic code is here:
https://github.com/denoland/deno_std/blob/6bbfc8f48cfdcdcf007773d7b03c8b3a0543c658/node/_fs/_fs_watch.ts#L5-L38

Both of these helper functions only use handlers if promise resolves successfuly, neither can handle errors raised from the iterators.

[2021-12-24 08:59] kt3k commented on #1754
Thank you for reporting. I'll fix it

[2021-12-24 09:19] #1754 closed

[2021-12-24 09:35] #1742 closed

[2021-12-24 09:57] kt3k commented on #1756
Thanks for the input. I'll work on this

[2021-12-24 16:16] kt3k opened #1761 "node: enable `test-fs-readdir-stack-overflow.js` compatibility test on windows"
This is blocked by https://github.com/denoland/deno/issues/13196

[2021-12-24 16:29] #1756 closed

[2021-12-25 14:32] #1725 closed

[2021-12-26 14:00] lilnasy opened #1763 "async/pool: returned results may be out of order"
pooledMap is helpful for many IO programs. However, IO is non-deterministic: newer requests may be resolved sooner than older requests. For pooledMap, this means that the sequence for returned results becomes less reliable as we increase the pool limit. This could lead to undesirable effects in certain applications that include updating the UI and writing to a database.

I would find it useful to

[2021-12-26 14:45] lilnasy commented on #1763
I'm not good at programming, but I wrote a basic variation of pooledMap to demonstrate what I had in mind. It returns an async iterable of a tuple that contains both the original element and the result of applying the iterator on it.
[code]
I've strayed somewhat away from the original implementation: I used a readable stream instead of a transform stream, exceptions don't stop further mapping, and

[2021-12-26 20:23] UltiRequiem commented on #1090
This sounds nice, any update?

[2021-12-26 20:29] crowlKats commented on #1090
@UltiRequiem https://github.com/denoland/dotland/pull/1902

[2021-12-27 07:34] #662 closed

[2021-12-28 15:24] mfulton26 opened #1767 "assertEquals' diff: does not show actual values compared from getters"
**Describe the bug**

The diff printed whenever `assertEquals` fails does not include the actual values compared from enumerable properties implemented using [getters](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/get).

**Steps to Reproduce**

1. Create a test file with following contents:

[code]
2. Run the test with `deno test`
3. Observe the diff printed and how t

[2021-12-28 19:18] erfanium commented on #1525
@lucacasonato i guess this issue should be closed

[2021-12-28 19:31] #1525 closed

[2021-12-29 00:44] jespertheend opened #1768 "Make `file_server.ts` less verbose"
**Is your feature request related to a problem? Please describe.**

When hosting a site (for development) that is making a lot of requests, the console is spammed with tons of messages for every request. I really don't need to know about every request, and if a request fails I can see that from the browser inspector.

**Describe the solution you'd like**

Either disable logging for requests by def

[2021-12-29 17:52] erfanium commented on #1768
It's better to use `console.debug` for request logging and user can easily disable debug logs

[2021-12-30 10:19] ledmirage opened #1770 "log doens't flush until rotation"
**Describe the bug**

I found that when using rotation file logger, the log lines do not get written until rotated

i check the source code, i believe adding a this._buf.flush() can help
i manually insert this code into my cache copy of handles.ts and the issue is resolved

[code]

However i am not sure if this WAD (works as designed) in the first place, eg for better IO efficiency, so only writin

[2021-12-30 16:26] lmx-Hexagram commented on #1093
Hello, I am working on this issue and now I can't reproduction this issue.
I use the code provide by @dgpgdev and tried with std version `80, 117, 119`, but nothing special happened.
Also I read the source code of `std/log` and `std/io/buffer`, I don't think this issue will happen.

So can @dgpgdev  provide deeper information about this issue? Or I will think this issue need to be closed.

[2021-12-30 17:06] lmx-Hexagram commented on #1770
I don't think this is a bug. Deal to PR [#6014](https://github.com/denoland/deno/pull/6014) write log to buffer and only flush it when needed will get better performance.
So flush before rotate is an expected behavior and you can use log level that higher than ERROR which will immediately flush.

[2021-12-30 17:39] elycheikhsmail opened #1772 "make fs work in browser"
In browser we don't have files like in linux/window but we can simulate files in  indexed db in browser like made in capacitor.
use cases :
- x/sqlite will work in browser
-  make js/ts code more stable  written for deno when used for browser
- ..

[2021-12-31 02:34] lmx-Hexagram commented on #1770
Well, one more thing, you can use
[code]
to force flush the log from buffer to file.
But it seems a little bit hack.

[2021-12-31 02:40] ledmirage commented on #1770
That what i tho, which is why I mentioned I am not sure if this is actually expected behavior for better IO efficient. I can close this issue.
However in case I want to write a custom handler, is there documentation on how to do that? as I might want to log using syslog protocol as well.

[2021-12-31 02:40] #1770 closed

[2021-12-31 02:45] lmx-Hexagram commented on #1770
https://deno.land/std@0.119.0/log#custom-handlers

Maybe this link will help you. You can `extends` exist handler in std to custom handler.

In fact, in the source code every handler is `extends` from `BaseHandler`

[2021-12-31 11:46] #1503 closed

[2022-01-01 14:09] lmx-Hexagram commented on #1445
I try to work on this issue and finally I find out that `console.log(sthArrayBufferLike)` will always display `ArrayBuffer {}`
But in browser, Edge prints `ArrayBuffer(48)` and Safari the same `ArrayBuffer {byteLength: 48}`.

I think I can fix this problem.
First I will modify the README of `std/crypto` and change the example from directly print ArrayBuffer to UInt8Array.
Secondly I will work on m

[2022-01-01 14:10] lmx-Hexagram commented on #1445
Here is the evidence.

In Safari
<img width="351" alt="image" src="https://user-images.githubusercontent.com/52130356/147852403-1361f9d8-93e7-4d9f-820f-d493725899bc.png">

In Edge
<img width="363" alt="image" src="https://user-images.githubusercontent.com/52130356/147852392-08d95eae-7c8c-4fd9-9b79-c1ff18a68d99.png">

In Deno
<img width="344" alt="image" src="https://user-images.githubusercontent.c

[2022-01-01 14:34] littledivy commented on #1445
@lmx-Hexagram This is not an issue with `std/crypto`. Deno's console implementation chose not print the `byteLength` for `ArrayBuffer`s. You can get the underlying bytes by putting into a view (a TypedArray)

Anyways, https://github.com/denoland/deno_std/pull/1515 already fixed the original issue by always returning an ArrayBuffer (in accordance with WebCrypto).

[2022-01-01 14:34] #1445 closed

[2022-01-01 14:41] lmx-Hexagram commented on #1445
Well, I think I understand what you mean, but I will keep my PR open. Because example will print `ArrayBuffer {}` to console, It will confuse some people like me.

[2022-01-01 18:09] #1763 closed

[2022-01-02 06:31] shivam-tripathi opened #1777 "assertEquals"
**Describe the bug**
-0 and 0 are not same

**Steps to Reproduce**

[code]

**Expected behavior**

`-0 == 0` and `-0 === 0` gives true always.

**Environment**

- deno version: `deno 1.17.1 (release, x86_64-apple-darwin)`
- std version: `0.119.0`

[2022-01-02 10:28] lucacasonato opened #1778 "Deprecate and remove std/mime/multipart"
We have `FormData` that has all the same functionality as std/mime/multipart as far as I can tell.

Let's deprecate this module for 1.18, and remove it for 1.19.

[2022-01-02 11:57] bartlomieju opened #1779 "Consider adding "testing/expect.ts" module"
Jest is arguably the most popular testing framework for Node ecosystem at the moment. It uses [`expect`](https://jestjs.io/docs/expect) style assertions, which seems to [be very popular](https://www.npmjs.com/package/expect) way of exercising tests too.

I was prompted to consider it by a [recent issue in `vitest`](https://github.com/vitest-dev/vitest/issues/43) (which seems to be somewhat compati

[2022-01-02 12:50] WingDust opened #1780 "file_server download file have memory allocation failed"
**Describe the bug**
When I try to download file by file_server file
**Steps to Reproduce**
`file_server .`
in downloading
server show
[code]

**Expected behavior**

**Environment**
windows 10

- OS: [e.g. Ubuntu 20.04, MacOS 11]
- deno version: 1.15.2
- std version:

[2022-01-02 12:56] lucacasonato commented on #1780
Please update your Deno version to 1.17.1 and try again. To do this: `deno upgrade`.

[2022-01-02 17:29] jd1378 commented on #1778
How do we handle multipart on server side with `FormData` ?
Currently I use `MultipartReader` from std/mime/multipart to get the form data sent by a client. so how is this done with `FormData` if we remove this module ?

[2022-01-02 17:43] lucacasonato commented on #1778
You call `Request.form` on the incoming request. This will give you a `Promise<FormData>`

[2022-01-02 18:29] jd1378 commented on #1778
It was `request.formData`, and it worked nicely, and It's a lot cleaner now, thanks !

[2022-01-03 07:42] gseok commented on #1704
- deno bundle result running in `node` is possible (theoretically)
- But, use the third-party library(e.g oak), not a standard LIB(stdlib), the more separate actions(e.g. add polyfill) is needed.
- Or waiting the third-party lib's own fixed....

so we decided `deno bundle` result do not execute by 'node'. we execute by 'deno'.
 - we think it is make sense.. because project already 'deno' project..

[2022-01-03 07:42] #1704 closed

[2022-01-03 11:51] dgpgdev commented on #1093
hi, still the same behavior with std@0.119.0
 as you can see here [screen](https://imgur.com/a/8J3Ptkp) after restart process the last line was cutted and the next line append

[2022-01-03 12:20] lmx-Hexagram commented on #1093
Do you cancel progress via ctrl+c？

[2022-01-03 12:52] lmx-Hexagram commented on #1093
ok, I success reproduct this issue. I am working on it.

[2022-01-03 15:55] getspooky commented on #1779
Good suggestion, but I believe it would be better to create a separate library rather than include it in deno std.

[2022-01-03 16:33] lmx-Hexagram commented on #1777
According to [MDN Strict equality](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Strict_equality#description) `Numbers must have the same numeric values. +0 and -0 are considered to be the same value.`. I think this is a bug, so I open a PR.

[2022-01-03 17:30] shivam-tripathi commented on #1777
What about lists with numbers? ['hello', 0, 23.45] and  ['hello', -0, 23.45] are still not equal. Similarly for objects etc.

[2022-01-03 17:40] lmx-Hexagram commented on #1777
Also on object {test:0} and {test:-0}. Let me think about it.

[2022-01-04 05:34] lmx-Hexagram commented on #1777
Sorry for my late reply.
Case like `assertEquals([-0], [0])` and `assertEquals({test:0}, {test:-0})` will success after this PR.
Because
1. `assertEquals` call `equal`
2. `equal` will Iterating over elements on two objects(array is object)
3. By Recursive `compare` each elements
4. When meet two number this PR will deal `-0` and `+0` and `0` as the same value.

[2022-01-04 06:01] #1777 closed

[2022-01-04 06:11] quaos opened #1785 "[debuglog] Error: Unexpected Identifier/Deno not defined when bundled"
**Describe the bug**

I have a React app which previously worked, but after updating Deno and std to latest version, the app fails to start with error message: `Uncaught SyntaxError: Unexpected identifier` in the bundled JS.

_NOTE: I tried to reproduce the issue in my another small, public repo. But it produces `Uncaught ReferenceError: Deno is not defined` instead_

Digging deeper, it is these l

[2022-01-05 00:38] treethought commented on #1785
experiencing the same issue

[2022-01-05 03:42] bartlomieju commented on #1779
@getspooky is there a reason why you would prefer it as a third party lib? The whole idea is to have it in `deno_std` so it's easy to discover and could be used reliably.

[2022-01-05 13:43] XMLHexagram opened #1787 "Error code in std/log/handlers.ts - FileHandler"
[code]
addEventListener and removeEventListener only work when you use exactly the same eventListener function.
In this way, `removeEventListener` won't remove the handler you want.

change to this code will fix this issue.
[code]

[2022-01-05 20:23] dgpgdev commented on #1787
Thanks a lot for this fix 🙏🤘

[2022-01-06 16:00] clemens-tolboom opened #1789 "walk() fails on socket"
**Describe the bug**

Running `walk('/Users/clemens')` does not check for sockets.

MacOS says
[code]

**Steps to Reproduce**

On MacOS run

[code]

The checks in https://github.com/denoland/deno/blob/d44011a69e0674acfa9c59bd7ad7f0523eb61d42/runtime/ops/fs.rs#L1178 seems logic. What is wrong?

**Expected behavior**

Happy scanner the whole tree

**Environment**

- MacOS 11.6.2
- deno 1.17.1 (relea

[2022-01-07 08:28] clemens-tolboom commented on #1789
FWIW I tried to create a socket like using python but my default python is broken. Using `mkfifo` seems not to work either.

[code]

(my2cents)

[2022-01-07 08:34] clemens-tolboom commented on #1789
I can reduce the test by

[code]
then run
[code]

[2022-01-07 10:03] #1768 closed

[2022-01-07 10:49] bnoordhuis commented on #1789
#1792 - I opted to filter them out. Please weigh in on the PR if that works for you.

[2022-01-07 14:49] bartlomieju opened #1794 "node: process.env is broken"
It appears `process.env` polyfill is broken.

Consider `envVal` function from https://github.com/isaacs/jackspeak/blob/2a1f46fde1cde8c7c4eecf831a12a50f27d82307/index.js#L339-L365

More concretely this bit:
[code]

For `TAP_SAVE_FIXTURE` this function gets `e` value of `undefined`, which is caused by `Object.prototype.hasOwnProperty.call(j.env, name)` returning `true`.

Running this code in Deno's

[2022-01-07 15:13] bartlomieju opened #1796 "node: Module is missing a prototype"
This breaks https://github.com/evanw/node-source-map-support

In this example we're running `tap`:
[code]

Crash happen on this line:
[code]

Adding console log:
[code]
And running again, we can see:
[code]

[2022-01-07 15:37] #1794 closed

[2022-01-07 23:38] bartlomieju opened #1798 "node: Add md4 hash support"
Need to add support for `md4` hash in `node/crypto.js`

Required for https://www.npmjs.com/package/import-jsx which is required for `tap`

[2022-01-08 14:35] #1796 closed

[2022-01-08 15:42] bartlomieju opened #1800 "Upgrade _wasm_crypto to digest 0.10"
Required for #1799

CC @jeremyBanks

[2022-01-09 14:49] #1800 closed

[2022-01-09 16:32] #1798 closed

[2022-01-09 19:27] bartlomieju opened #1808 "node: chalk doesn't work"
index.js
[code]
package.json
[code]

[code]

[2022-01-09 19:30] bartlomieju commented on #1808
This seems to stem from the fact that Deno doesn't support `__proto__` from Annex B. @kt3k @kitsonk any ideas how we could handle that?

[2022-01-11 10:40] wafuwafu13 commented on #911
`util` partly done and working on `path`.

[2022-01-11 10:45] wafuwafu13 opened #1813 "node: Move `/path` into `/node` and improve compatibility with node"
#### 1. Move `/path` into `/node`

now, `path` is implemented in [deno_std/path](https://github.com/denoland/deno_std/tree/main/path) and  [deno_std/node/path](https://github.com/denoland/deno_std/tree/main/node/path) import this.
API provided by `deno_std/path` is almost the same as [node](https://nodejs.org/api/path.html) so move API implemented in `deno_std/path` into `deno_std/node/path`.

###

[2022-01-11 10:46] wafuwafu13 commented on #1813
I'll start with `1. Move /path into /node`.

[2022-01-11 10:47] kitsonk commented on #1813
No.  We would be unwilling to accept that breaking change, especially without further discussion.

[2022-01-11 10:48] lucacasonato commented on #1813
I am strictly opposed to moving `/path` into `/node`.

[2022-01-11 16:13] JumpLink opened #1815 "node polyfill for vm.runInContext using web workers"
**Is your feature request related to a problem? Please describe.**

I would like to use JSDom for SSR on Deno. I can't use JSDom directly without its own global context, because I want to run a browser script on it. For that it needs to have an environment for the script where all global browser methods are available, for example window, dom, etc and for security.

**Describe the solution you'd li

[2022-01-11 16:15] andreubotella commented on #1815
`runInContext` is a synchronous API, but any communication with workers is asynchronous, so there is no way to implement it with the same semantics.

[2022-01-11 21:09] JumpLink commented on #1815
@andreubotella ah okay thanks for the answer, do you think there is another way?

[2022-01-11 21:17] andreubotella commented on #1815
It might be possible to create a library with an API similar but not identical to `vm` that uses workers in that way. But it wouldn't be compatible with `std/node`, of course.

In the long run, however, I'm working on denoland/deno#13239, a refactoring of the Deno internals that will make it possible to support realms (a.k.a. "contexts"), the JS feature that powers Node.js's `vm` module and web if

[2022-01-12 08:19] JumpLink commented on #1815
Okay that seems like a lot of work. I think it makes sense to wait for your feature to implement my feature. Until then, I can try to use Web Worker internally in my project. Or what do you think?

[2022-01-14 07:12] exe-dealer commented on #1020
custom props on typed arrays also not listed in Deno.inspect

[2022-01-15 02:09] sno2 opened #1824 "feat(testing): add compile-time type equal/assignable assert functions"
**Is your feature request related to a problem? Please describe.**

When you are creating very hacky and complex TypeScript types, it is a necessity to add tests. However, it can be hard to figure out how to correctly test your types. This new API would give people an easy way to test their TypeScript types and also give the standard library a way to test certain features that have been discussed

[2022-01-16 06:54] sno2 commented on #1824
Honestly, it might be better to remove the negating methods (`assertInequalTypes` and `assertNotAssignableType`). If you're asserting something, then should most likely say what you want it to be or check the values of properties. Otherwise, you're opening yourself up to more errors.

[2022-01-16 13:10] lucacasonato opened #1825 "std/node/streams does not work in Deno Deploy anymore"
**Describe the bug**

std/node/streams does not work in Deploy.

**Steps to Reproduce**

Do the following in Deno Deploy:

[code]

This breaks because it expects that `Deno.stdout` and `Deno.stderr` are present. It does not make sense that these exports are in this module anyway. This should be in process, not in streams.

The relevant code is here: https://deno.land/std@0.119.0/node/internal/stre

[2022-01-16 13:14] lucacasonato commented on #1825
Stdin has the same issue, just in a different file: https://deno.land/std@0.119.0/node/_process/streams.ts

[2022-01-16 17:27] apowers313 opened #1826 "log: should expose global state"
**Is your feature request related to a problem? Please describe.**

When developing a system with a large number of dynamic components (e.g. extensions, modules, libraries) the names of the loggers may not be known in advance or may require extensive work to deep dive code and aggregate a list of logger names.

Instead, the `log` module should expose its internal [state](https://deno.land/std@0.12

[2022-01-17 13:45] bnoordhuis commented on #1475
This is at least partially blocked on https://github.com/briansmith/webpki/issues/219 - webpki rejects certain types of certificates that are exceedingly common when dealing with self-signed CAs.

A workaround is to add x509v3 extensions to the server certificate to force it be a v3 certificate (note: an empty extension list won't work - also rejected), but that means our tls module is hardly a dr

[2022-01-17 16:33] #1825 closed

[2022-01-18 01:40] bartlomieju opened #1830 "Deprecate "_tools/" scripts"
With https://github.com/denoland/deno/pull/13313 landed we no longer need to have these scripts as a config file will be auto discovered. However we shouldn't outright remove them, instead we should check Deno version used to execute these scripts and suggest users on `>=1.18.0` to directly use `deno fmt` and `deno lint`; while for users using `<1.18.0` we should suggest to upgrade to latest versi

[2022-01-18 07:11] kt3k commented on #1779
I like the idea. This makes the migration of existing libraries from node to deno very much easier.

[2022-01-18 09:35] kt3k opened #1831 "Include mocha polyfill to std"
Include the [Mocha polyfill](https://gist.github.com/lucacasonato/54c03bb267074aaa9b32415dbfb25522) to std (with further compatible APIs such as `it.skip`, `decribe.skip`, `timeout`, `retries`.

Inclusion of it makes it easier for existing libraries to migrate from node to deno.

[2022-01-18 09:38] kt3k commented on #1831
similar issue https://github.com/denoland/deno_std/issues/931

[2022-01-18 10:27] getspooky commented on #1779
@bartlomieju can you please list of functions will be supported ?

[2022-01-18 12:12] nayeemrmn commented on #1831
#1389

[2022-01-19 04:18] #1830 closed

[2022-01-19 04:36] kt3k commented on #1824
I like the idea, and there was also a similar proposal https://github.com/denoland/deno_std/discussions/1115

cc @jeremyBanks

[2022-01-19 05:00] #1622 closed

[2022-01-20 00:27] #1093 closed

[2022-01-20 02:05] #881 closed

[2022-01-20 06:32] kt3k commented on #1813
Probably we should copy the contents of `std/path` into `std/node/path` first, and modify them to improve the compatibility further

[2022-01-20 07:06] kt3k commented on #1785
@quaos You import `std/node/querystring.ts` [here](https://github.com/quaos/deno-react-minimal-frontend/blob/test-std-119/src/deps/std.ts#L4), which introduces the dependency to `std@0.119.0/node/_util/_debuglog.ts` and that causes the above error.

`std/node` is not for browsers. You shouldn't import from `std/node` in client side script. For `querystring.encode`, you can use [URLSearchParams](ht

[2022-01-20 07:50] #1789 closed

[2022-01-20 10:24] wafuwafu13 commented on #1813
I agree.

[2022-01-21 21:45] vwkd commented on #1831
Is there a precedence to include polyfills for third party modules in the std library? It starts with a single one, and ends with the whole NPM library. How to decide including Mocha but not XYZ? Amounts of users, or subjective need of maintainers?

Why should this be included in std library? Why can’t this be published as a third party module in the x library?

[2022-01-22 08:32] kt3k commented on #1831
`flags` is based on minimist. `encoding/yaml` is based on js-yaml. `std/fmt/bytes` is based on pretty-bytes npm module. We selectively borrow from npm modules when those make sense.

A 3rd party module might be a possibility, but if it's available in std, the users can rely on that module more confidently.

BTW what I suggest is not a complete polyfill of the entire mocha APIs, but similar set of

[2022-01-22 08:45] kt3k commented on #1831
but having thought about this again, I now feel it's better to start as a 3rd party module.

[2022-01-22 08:45] #1831 closed

[2022-01-23 02:50] DetachHead opened #1837 "type errors with `noUncheckedIndexedAccess`"
main.js:
[code]
deno.json:
[code]
[code]

[2022-01-23 05:43] crowlKats commented on #1837
Duplicate of #937

[2022-01-23 05:43] #1837 closed

[2022-01-23 18:48] cfjello opened #1840 "Changed behavior in: std/encoding/csv.ts"
I have observed a changed behavior when using **deno 1.18.0** and  _'https://deno.land/std/encoding/csv.ts'_:

I'm am not sure if this is a bug or just some type related fallout.

### Steps to reproduce
Here is some working code using _std@0.82.0/encoding/csv.ts_:

[code]
This compiles and runs without problems:

`deno run -A --unstable  csvTest.ts`

If you switch the import statement to the one a

[2022-01-24 06:13] kt3k commented on #1840
We changed `parse` behavior at `v0.122.0` (PR: https://github.com/denoland/deno_std/pull/1724)

We change the return type of `parse()` depending on the given options, and also removed the `.parse` option (because `.parse` option can be rewritten as `.map(parse)` call to the result).

If you don't have time to update the script, please use the pinned version below <= v0.121.0. If you can update the

[2022-01-24 07:44] cfjello commented on #1840
I will update - thanks for the quick reply!

[2022-01-24 07:44] #1840 closed

[2022-01-24 09:47] kt3k commented on #1840
The informations about breaking changes are available at the release page of each version, for example, https://github.com/denoland/deno_std/releases/tag/0.122.0

[2022-01-24 18:25] TillaTheHun0 opened #1842 "`assertObjectMatch` does not correctly match `Uint8Array`"
**Describe the bug**

When comparing `Uint8Array` values within an object, `assertObjectMatch` throws an `AssertionError` claiming that the `Uint8Array` fields are not equal.

**Steps to Reproduce**

Run the following test
[code]

which should log, failing the test:
[code]

**Expected behavior**

The assertion to pass successfully, since the expected value is a subset object of the actual object

[2022-01-24 21:42] gtamas commented on #1586
@bartlomieju
I would look into this, but it's not clear to me what's the goal here.
Is this only  about adding the ability of usage info generation (--help), or is this more like improving the current implementation, turning it into a more sophisticated commander-like module (or something similar), as proposed above?

Could you clarify so I can get started? Thx!

[2022-01-25 08:12] kt3k opened #1845 "node: process.exit should accept string as parameter"
Currently `process.exit` in std/node only accepts number or undefined as the argument, but it should also accept string type.

https://github.com/denoland/deno_std/blob/2b84a2be4a4d912ed65467962fd767a31e09e5f3/node/process.ts#L58

[2022-01-25 08:44] gtamas commented on #1586
Btw, in my opinion the ideal scope would be maybe improving the current implementation, but keeping it simple. Just argument, option parsing,  defaults, help generation etc in a nicely organised API.
I mean, turning this module into a super advanced CLI parser is also an option of course, but Yargs and other packages are already available for Deno. Yargs is by far the best CLI parser for Node. I'm

[2022-01-25 14:54] #1609 closed

[2022-01-25 15:30] kt3k opened #1847 "node: fs.access doesn't check file permission correctly"
Given `path` is a writable path, `fs.promises.access(path, fs.constants.W_OK)` should return without error, but it throws with the current implementation

This blocks `yarn` from detecting cache directly correctly. ref https://github.com/denoland/deno/issues/13420

[2022-01-25 20:03] gtamas commented on #645
@bartlomieju
What's the status of this? I think I could help out with this one too.
What do you think about the code provided above?

@halvardssm are you still working on this?

[2022-01-25 22:57] Nautigsam commented on #1845
I take this.

[2022-01-25 23:26] bartlomieju commented on #1845
@Nautigsam please do!

[2022-01-25 23:42] halvardssm commented on #645
@gtamas I made two proofs of concept, but I am waiting for feedback from the maintainers to proceed with either one of them. I'd be happy to collaborate on this if you are interested.

[2022-01-26 00:00] Nautigsam opened #1848 "node: ChildProcess should support AbortSignal"
In class `ChildProcess`, we can pass `signal` among the options but we don't use it.
https://github.com/denoland/deno_std/blob/d0232ce805a159555dcbc6a7aca4a2beea54a5ee/node/internal/child_process.ts#L300-L303
We must support this option in `spawn` function and all its derivatives.

[2022-01-26 03:10] #1842 closed

[2022-01-26 05:38] #1845 closed

[2022-01-26 05:45] kt3k commented on #1847
I'm working on this

[2022-01-26 06:01] kt3k commented on #1847
seems necessary to have access to OS user id to implement this correctly

[2022-01-26 10:32] bartlomieju commented on #645
Apologies for late reply. We discussed this issue among the core team and we believe that these two modules shouldn't be in the standard library (at least not now), instead being developed as community/3rd party modules.

The implementation of these modules would require a lot of work and potential bug fixing; and we feel like we might not be able to address potential problems/bugs in a timely man

[2022-01-26 10:32] #645 closed

[2022-01-27 17:46] Nautigsam commented on #1848
I will work on this.

[2022-01-27 17:47] piscisaureus commented on #1475
I would suggest to pursue this without support for self signed X509 version 1 certificates.

If you need to generate a self signed certificate that works (e.g. for testing) you can use the following snippet (works on mac):

[code]

[2022-01-28 10:24] martin-braun commented on #1216
@bnoordhuis @kt3k A valid use-case is to check if a specific file exists that a third-party binary needs before starting that binary eventually. node introduced fs.accessSync() for that case.

[2022-01-28 11:26] kt3k commented on #1216
@martin-braun Sounds curious to me. Can you link to more specific context?

This still causes TOCTOU bugs. So I think the ideal solution to that situation is that the 3rd party binary handles the situation correctly and propagate the error to the user.

[2022-01-28 11:40] gtamas commented on #1586
@kt3k
Thanks for the reply.
My plan for now is just to extend the current implementation and add usage info generation (if possible).
As I can see, the current code is a  minimalist approach  So I would extend it without any major API changes.

But I still don't understand what's the long term goal. Do you wish the "flags" module to be a highly advanced CLI parser / API someday or do you want to k

[2022-01-28 13:33] kt3k opened #1860 "node: fs.copyFile doesn't support 4 args overload"

[2022-01-28 13:39] kt3k opened #1861 "node: new Agent throws"

[2022-01-28 14:04] martin-braun commented on #1216
@kt3k You are right. In theory the binary that needs the file should at least exit with an error code when it catches such exception, I just like to point out that in real life scenarios things are not always in control of us.

I do not have a specific case to explore, but I know that I had to check for file existences in the past, because foreign binaries failed to do so or to provide a seamless

[2022-01-29 15:27] guybedford opened #1863 "node: writev"
See https://nodejs.org/dist/latest-v17.x/docs/api/fs.html#fswritevfd-buffers-position-callback

This is currently entirely not in the export list, one of the last few missing.

[2022-01-29 23:29] Nautigsam opened #1865 "node(events): add internal/event_target (or equivalent)"
Currently `node/_events.js` uses `require("internal/event_target")` but this file does not exist.
https://github.com/denoland/deno_std/blob/1c8e6ce506267edb3ce64ce667d9611161b35a42/node/_events.js#L790-L815
This function is used in several places e.g. tests copied from Node.js source. In order to convert it to static imports, we need to get this file from Node or wrap Deno's `EventTarget` and `Eve

[2022-01-31 04:02] #1848 closed

[2022-01-31 09:36] joakimunge commented on #1436
Looks like `networkInterfaces` was merged into Deno a few days ago in https://github.com/denoland/deno/pull/13475

Should `networkInterfaces` here then be disregarded?

[2022-01-31 10:48] cknight commented on #1436
Updated, thanks for the reminder

[2022-01-31 20:19] jespertheend commented on #898
I think it makes sense for file_server not to grow in too large of a framework. I'm using it for local development only, for production I'd probably want to use something.

That said though, I've reached the point where I need a WebSocket for local development, and I'd like to use the same port for http and the WebSocket, something that could easily have been achieved if `file_server.ts` had expor

[2022-02-01 09:41] kt3k commented on #1216
Thanks for the further input

This is sort of understandable scenario of using fs.exists. The point is probably how common that kind of situation is...

I try to bring up this topic again at least before actually deleting these APIs.

[2022-02-01 09:59] kt3k commented on #1586
@gtamas

If the change doesn't include breaking changes, we probably can land those changes.

I think there's no fixed long term goal about `std/flags` for now. So I think this depends on what the community needs for it.

But because yargs now officially supports deno https://github.com/yargs/yargs#deno, and there's also a good CLI framework [cliffy](https://github.com/c4spar/deno-cliffy), I perso

[2022-02-01 15:01] martin-braun commented on #1216
@kt3k Thank you and yes I agree, it's a rare situation, yet not avoidable in all cases.

[2022-02-01 17:05] bartlomieju opened #1868 "TypeScript errors with "noImplicitAny: false""
[code]

These errors show up when `noImplicitAny` is set to false in `compilerOptions`.

[2022-02-01 17:07] bartlomieju commented on #1868
@kitsonk should we actually guard against this setting?

[2022-02-01 19:34] kitsonk commented on #1868
Why? It maybe intentional for someone who then is using `--no-check=remote`.

This isn't a bug with `std` either. There maybe a "bug" with TypeScript, but I am not sure the are going to fix it. What is going on is that when `noImplicitAny` is turned on, it enables a lot of CFA features that contextually type things so they don't require type annotations. When you turn it off, you are left with amb

[2022-02-02 11:17] bartlomieju commented on #1868
Thanks @kitsonk, I wasn't sure either if this is desirable, so that's why I pinged you. `--no-check=remote` was indeed the solution to the problem the user on Discord faced, though it was a bit surprising for me that this problem happened at all. I was under the impression that we use the strictest possible TS settings for `deno_std`.

Closing then.

[2022-02-02 11:17] #1868 closed

[2022-02-02 19:59] kitsonk commented on #1868
We do. But with `noImplicitAny` on, TypeScript tightens the control flow analysis (CFA) which allows it to assume more about the code (because it can't be implicitly any) which then allows types to be inferred (strictly) without type annotations.  When you turn that off, lots of types become ambiguous.

Most notably, before advancements in CFA, you would always have to have a type annotation on so

[2022-02-02 21:31] bartlomieju commented on #1868
Thanks for in-depth explanation @kitsonk, it totally makes sense now.

[2022-02-03 00:52] #1860 closed

[2022-02-03 08:34] kt3k opened #1873 "node: fs.createWriteStream can't create new file"
The following node.js script should create a new file `foo.txt` with the content `hi`, but our current `fs.createWriteStream` implementation can't create it.

[code]

[2022-02-03 11:26] kt3k opened #1875 "node: Buffer.from(str, "base64") should ignore data after invalid characters"
Current implementation of `Buffer.from(str, "base64")` in std/node throws with TypeError when the str includes invalid character, but node.js ignores data after invalid character.

[ssri](https://www.npmjs.com/package/ssri) (which is in dependencies of yarn) seems depending on the above feature of `Buffer.from`. So we need to make this behavior aligned to node.js to make ssri (and yarn) working

[2022-02-03 17:10] jimmywarting commented on #1772
I wish for for more stuff other than fs to also work in browsers
it would be good/useful if you could provide a compiled version of your ts file as vanilla javascript also along side.
even wishes for deno to be able to load a js file so it don't have to waste any time to compile ts to js in the first place

[2022-02-04 03:22] #1873 closed

[2022-02-04 12:27] wafuwafu13 commented on #1813
finish https://github.com/denoland/deno_std/pull/1879

[2022-02-04 12:27] #1813 closed

[2022-02-05 14:30] quaos commented on #1785
Thanks. This is just a test repo/branch that I used to try and reproduce this behaviour, and I didn't add `pixijs` to it.

So that might be an issue in `@pixi/utils` itself that include Node's libs. Supposed I should open the issue there instead.

[2022-02-05 14:30] #1785 closed

[2022-02-06 21:46] jsejcksn opened #1884 "http(server): Infer discriminated addresses in ConnInfo (e.g. based on listen options)"
For an example and demonstration (and the motivation for the creation of this issue) see https://stackoverflow.com/a/71011282/438273

---

When using APIs from `deno.land/x/std/http/server.ts` which create a server, ergonomics and type-safety would be improved by providing a narrowed version of [`ConnInfo`](https://doc.deno.land/https://deno.land/std@0.125.0/http/server.ts/~/ConnInfo) (which is in

[2022-02-07 08:24] kt3k opened #1887 "node: tar-fs extract doesn't work correctly"
When extracting tar using `tar-fs` extract method, the items after the 2nd entry event fail to be read correctly.

This causes corrupted files while extracting tarballs from registries.

part of https://github.com/denoland/deno/issues/13420

[2022-02-07 08:35] kt3k commented on #1887
something seems wrong with fs.WriteStream

[2022-02-07 09:32] kt3k commented on #1887
6-arg version of `fs.write` wasn't implemented correctly

[2022-02-07 13:59] #1875 closed

[2022-02-07 15:27] elycheikhsmail commented on #1772
I think what you need a special browser : let's say deno-browser I mean by deno-browser a browser that have full access to deno api and deno cli, this will be useful for frontend dev and test but we still need build step because "normal browser" don't understand ts, and deno transform ts to js (under the hood) on the fly befor run it

[2022-02-07 23:04] brodriguez-eb opened #1889 "Running "deno run -A _tools/format.js" from main branch is failing"
**Describe the bug**
Running "deno run -A _tools/format.js" from main branch is failing.

<img width="636" alt="Screen Shot 2022-02-07 at 7 04 55 PM" src="https://user-images.githubusercontent.com/83300615/152887103-51a61216-3185-4069-88ef-b9b4fc457a6c.png">

**Steps to Reproduce**
1. Clone main branch
2. Execute:
[code]
**Expected behavior**
It should not fail.

**Environment**
- OS: MacOS 12.0.1

[2022-02-07 23:16] crowlKats commented on #1889
https://github.com/denoland/deno_std/blob/d0ffe846446e7ffa32c643e22af3fb31b334381d/_tools/format.js#L1
The command should be run with `--no-check`

[2022-02-07 23:16] #1889 closed

[2022-02-08 02:47] #1887 closed

[2022-02-08 11:15] kt3k opened #1893 "node: `fs.mkdir` sometimes fails to set dir permission correctly"
While running `yarn install` (or `yarn add <mod>`) in compat mode, there are some little chance when fs.mkdir fails to set the directory permission correctly. This fails `yarn install` sometimes (the probability of failure is very high for modules with many dependencies)

<img width="1379" alt="スクリーンショット 2022-02-08 20 13 28" src="https://user-images.githubusercontent.com/613956/152976146-64d472c4-

[2022-02-08 11:16] kt3k commented on #1847
closed by #1869

[2022-02-08 16:41] kt3k commented on #1893
Note: `umask` is always `22`. The given mode (file permission) is always `0o755`.

[2022-02-08 17:53] kt3k commented on #1893
hmm, disabling `Deno.umask()` call seems fixing the issue.

You can reproduce the issue with following scripts and command:

test.js
[code]

[code]

and you'll see sometimes some directories are created with `0o000` permission

<img width="654" alt="スクリーンショット 2022-02-09 2 52 18" src="https://user-images.githubusercontent.com/613956/153046680-231f94f0-a95a-407e-8683-18f351fe66b0.png">

[2022-02-08 18:21] jespertheend opened #1894 "testing/asserts: `assertAlmostEquals()`"
**Is your feature request related to a problem? Please describe.**

I'm writing unit tests for a lot of math heavy functions, so floating point errors are all over the place. For instance:
[code]
results in
[code]
**Describe the solution you'd like**

A method for comparing numbers with a tolerance:

[code]

alternative names:
- `assertCloseTo()` (from [chai](https://www.chaijs.com/api/bdd/#closet

[2022-02-09 13:30] vorticalbox commented on #1825
does anyone know when this will be released? my app still has this error

[2022-02-09 15:38] #1893 closed

[2022-02-10 05:45] kt3k opened #1896 "compat: some specific npm modules can't be installed with yarn"
`nopt@1.0.10` can't be installed with yarn in node compat mode.

[code]

`nopt@latest` doesn't have this problem

- `mongo@0.1.0` (not mongodb) has the same issue

[2022-02-10 13:12] 4513ECHO opened #1898 "feature(flags): Add generic type to `parse()`"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

The `parse()` function return `Args` type. This interface's keys types except `-` are `any` type. So, I suggent using generic type. Like this:

[code]

**Describe alternatives you've considered**

[2022-02-11 02:06] SheetJSDev opened #1900 "Type errors when importing createRequire"
**Describe the bug**

[code]

**Steps to Reproduce**

[code]

**Expected behavior**

No errors with std types

**Environment**

- OS: macOS Monterey 12.1
- deno version: deno 1.18.2 (release, x86_64-apple-darwin)
- std version: 0.125.0 based on the URL

[2022-02-11 05:55] kt3k opened #1901 "node: providing timers in commonjs wrapper conflicts with the declaration of timers in modules"
If an npm module has the following line:

[code]

This throws a SyntaxError: `error: Uncaught SyntaxError: Identifier 'setInterval' has already been declared`

[2022-02-11 06:14] kt3k commented on #1901
This happens with requiring `discord.js@13` https://github.com/discordjs/discord.js/blob/988a51b7641f8b33cc9387664605ddc02134859d/src/rest/RESTManager.js#L3

[2022-02-11 11:18] ah-yu commented on #1900
@SheetJSDev You should add `unstable` flag.
`deno run --unstable node.ts`

[2022-02-11 12:39] bartlomieju commented on #1901
This will completely break the source map support

[2022-02-11 12:47] #1900 closed

[2022-02-12 00:02] surma opened #1905 "[http] Expose inline handler as `serveDir`"
**Is your feature request related to a problem? Please describe.**

Often I just want to serve a folder with my static content. The standard lib has `serveFile`, but that only serves a _file_, regardless of the requested file. So you have to rip out the request path yourself and join it with the static root and do all kinds of sanitization.

This magic source already exists in `file_server.ts`, bu

[2022-02-13 14:07] idanran opened #1908 "TS2578 [ERROR]: Unused '@ts-expect-error' directive."
**Describe the bug**
TS2578 [ERROR]: Unused '@ts-expect-error' directive.
      // @ts-expect-error Using `call` seem to be interfering with the overload for write
[code]

[2022-02-13 14:09] idanran opened #1909 "TS2322 [ERROR]: Type 'number | Partial<NetConnectOptions>' is not assignable to type 'number'."
**Describe the bug**
TS2322 [ERROR]: Type 'number | Partial<NetConnectOptions>' is not assignable to type 'number'.
  Type 'Partial<TcpNetConnectOptions>' is not assignable to type 'number'.
    (options as TcpSocketConnectOptions).port = arg0;
[code]

[2022-02-13 14:15] idanran opened #1910 "IncomingMessage not exported from node/http.ts"
**Describe the bug**
TS2614 [ERROR]: Module '"https://deno.land/std@0.125.0/node/http.ts"' has no exported member 'IncomingMessage'. Did you mean to use 'import IncomingMessage from "https://deno.land/std@0.125.0/node/http.ts"' instead?
import { Server, createServer, IncomingMessage } from 'https://deno.land/std/node/http.ts'
**Steps to Reproduce**

**Expected behavior**

**Environment**

- OS: Wi

[2022-02-13 14:17] bartlomieju commented on #1908
This error comes from `std@0.122.0/node` so it's probably coming from one of your dependencies. Try upgrading it.

[2022-02-13 14:22] idanran commented on #1908
This may be https://deno.land/std/node/http.ts import.

[2022-02-13 14:26] bartlomieju commented on #1908
All `std` code always uses a single version (ie. it's not possible that `std@0.125.0` uses code from `std@0.122.0`). Make sure you always use pinned version of your imports, otherwise you might have cached sources for previous versions.

[2022-02-13 14:31] idanran commented on #1908
import { Agent } from 'https://deno.land/std@0.125.0/node/http.ts'

[2022-02-13 14:33] idanran commented on #1908
I have import it like this, and the problem still exists.

[2022-02-13 14:34] bartlomieju commented on #1908
Correct, you are using unversioned import, most likely you used it first when `deno_std` was at version 0.122.0 and now it is cached with this version. Change the import to use latest version or use `--reload` flag to pull the latest version (but you'll be subject to the same problem in the future).

[2022-02-13 14:40] bartlomieju commented on #1908
No, `@latest` is not supported. Use explicitly pinned version.

[2022-02-13 14:45] idanran commented on #1908
I executed "--reload" and the version changed to 0.125.0, but the problem still exists.

[2022-02-13 14:49] bartlomieju commented on #1908
Do you use a custom `tsconfig.json`? I can execute this import statement just fine on latest Deno:
[code]

[code]

[2022-02-13 14:55] idanran commented on #1908
I modified tsconfig.json to turn off strict mode. The component reporting the error could also have been import by another component.

[2022-02-13 14:57] #1908 closed

[2022-02-13 14:59] idanran commented on #1908
Thanks

[2022-02-13 17:00] djedr commented on #1909
Reason for this is that type inference fails because the `arg === null` case is not handled.

This can be solved by replacing line 280 with:

[code]

(+ wrap the enclosing `if`s body in curlies for proper style)

although whether that makes sense for the rest of the logic is another question (`options` will then remain empty).

[2022-02-13 17:08] idanran commented on #1909
Maybe you can try to mention pr. I don't know much about typescript.

[2022-02-13 19:15] hironichu commented on #1910
That is because it is exported as default, you need to use either the alias to default, or to IncomingMessageForServer
[code]
So this should work

[code]

[2022-02-13 19:28] idanran commented on #1910
thanks

[2022-02-13 23:27] bartlomieju commented on #1910
This is a bug and it would have been caught by https://github.com/denoland/deno_std/pull/1382

[2022-02-14 00:35] idanran opened #1912 "TS2322 [ERROR]: Type 'string | Error' is not assignable to type 'string'."
**Describe the bug**
TS2322 [ERROR]: Type 'string | Error' is not assignable to type 'string'.
  Type 'Error' is not assignable to type 'string'.
      message: message ?? "Failed",
[code]
        at https://deno.land/std@0.125.0/node/assertion_error.ts:361:3

**Steps to Reproduce**

**Expected behavior**

**Environment**

- OS: Windows11
- deno version: 1.18.2
- std version: 0.125.0

[2022-02-14 00:37] idanran opened #1913 "TS2300 [ERROR]: Duplicate identifier 'Buffer'."
**Describe the bug**
TS2300 [ERROR]: Duplicate identifier 'Buffer'.
  type Buffer = bufferModule;
[code]
        at https://cdn.esm.sh/v66/node.ns.d.ts:16:15

**Steps to Reproduce**

**Expected behavior**

**Environment**

- OS: Windows11
- deno version: 1.18.2
- std version: 0.125.0

[2022-02-14 00:41] idanran opened #1914 "TS2793 [ERROR]: The call would have succeeded against this implementation, but implementation signatures of overloads are not externally visible."
**Describe the bug**
TS2793 [ERROR]:     The call would have succeeded against this implementation, but implementation signatures of overloads are not externally visible.
    function maybeDecode(
[code]

[2022-02-14 00:42] idanran opened #1915 "TS2769 [ERROR]: No overload matches this call."
**Describe the bug**
TS2769 [ERROR]: No overload matches this call.
  Overload 1 of 2, '(data: Uint8Array, encoding: TextEncodings): string', gave the following error.
    Argument of type 'Encodings' is not assignable to parameter of type 'TextEncodings'.
      Type '"binary"' is not assignable to type 'TextEncodings'.  Overload 2 of 2, '(data: Uint8Array, encoding: "binary"): Buffer', gave the f

[2022-02-14 00:44] idanran opened #1916 "TS2345 [ERROR]: Argument of type 'string | RegExpExecArray' is not assignable to parameter of type 'string'."
**Describe the bug**
TS2345 [ERROR]: Argument of type 'string | RegExpExecArray' is not assignable to parameter of type 'string'.
  Type 'RegExpExecArray' is not assignable to type 'string'.
      (slashes || (proto && !slashedProtocol.has(proto)))
[code]

[2022-02-14 04:03] kitsonk opened #1918 "A way to check std when converted to working under Node.js via dnt"
We should consider adding a process to CI that "exports" `std` to Node.js via dnt to identify any issues that are specific to the code when targetting Node.js with the `std` library.

Ref: #1917

cc/ @dsherret

[2022-02-14 04:05] kt3k commented on #1909
What is the 'contents' here?

I don't see a type error when I run the command `deno run --unstable https://deno.land/std@0.122.0/node/net.ts`. Do you have some customized compiler options?

[2022-02-14 04:10] idanran commented on #1909
I turned off strict mode in Typescript.

[2022-02-14 04:12] kitsonk commented on #1909
Duplicate of #1868

`std` does not work under "loose" mode in TypeScript and we shouldn't make it.  When you turn off strict mode, you disable a lot of CFA which is a "bad" thing.

[2022-02-14 04:15] idanran commented on #1909
The purpose is to enable fast code migration. From Node to Deno.

[2022-02-14 04:16] idanran commented on #1909
I admit, it's really not a very good solution.

[2022-02-14 04:22] kitsonk commented on #1909
@idanran then `--no-check=remote` is likely the solution you are looking for.

[2022-02-14 04:25] idanran commented on #1909
Thank you.

[2022-02-14 05:08] idanran opened #1919 ""Agent" in Node is not complete"
**Describe the bug**
[code]

**Steps to Reproduce**
[code]

**Expected behavior**

**Environment**

- OS: Windows11
- deno version: 1.18.2
- std version: 0.125.0

[2022-02-14 05:18] idanran opened #1920 "TS2709 [ERROR]: Cannot use namespace 'Server' as a type."
**Describe the bug**
[code]

**Steps to Reproduce**
[code]

**Expected behavior**

**Environment**

- OS: Windows11
- deno version: 1.18.2
- std version: 0.125.0

[2022-02-14 09:55] lucacasonato commented on #1909
Duplicate of #1868. `std` does not support TypeScript "loose" mode.

[2022-02-14 09:55] #1909 closed

[2022-02-14 09:56] lucacasonato commented on #1912
Duplicate of #1868. `std` does not support TypeScript "loose" mode.

[2022-02-14 09:56] #1912 closed

[2022-02-14 09:56] lucacasonato commented on #1913
This looks like a bug with esm.sh, not with `std`.

[2022-02-14 09:56] #1913 closed

[2022-02-14 09:57] lucacasonato commented on #1914
Duplicate of #1868. `std` does not support TypeScript "loose" mode.

[2022-02-14 09:57] #1914 closed

[2022-02-14 09:57] lucacasonato commented on #1916
Duplicate of #1868. `std` does not support TypeScript "loose" mode.

[2022-02-14 09:57] #1916 closed

[2022-02-15 14:56] bartlomieju opened #1924 "Add linguist configuration to exclude "node/suites" directory"
Currently GitHub shows that `deno_std` is almost 80% JavaScript, this is caused by a ton of files pulled directly from Node. We should change "linguist" configuration to exclude these directories.

[2022-02-16 03:23] idanran opened #1927 "TS2339 [ERROR]: Property 'getUid' does not exist on type 'typeof Deno'."
**Describe the bug**
[code]

**Steps to Reproduce**

**Expected behavior**

**Environment**

- OS: Windows11
- deno version: 1.18.2
- std version: 0.125.0

[2022-02-16 03:24] crowlKats commented on #1927
You need to run with the `--unstable` flag

[2022-02-16 03:24] #1927 closed

[2022-02-16 03:24] idanran opened #1928 "[ERROR]: Property 'networkInterfaces' does not exist on type 'typeof Deno'."
**Describe the bug**
[code]

**Steps to Reproduce**

**Expected behavior**

**Environment**

- OS: Windows11
- deno version: 1.18.2
- std version: 0.125.0

[2022-02-16 03:25] idanran commented on #1927
Ok, thank you.

[2022-02-16 03:26] #1928 closed

[2022-02-16 03:42] #1901 closed

[2022-02-16 08:18] #1924 closed

[2022-02-16 11:17] idanran opened #1930 "[fs] Uncaught (in promise) NotFound (os error 2), stat '..\plugin'"
**Describe the bug**
`[fs] Uncaught (in promise) NotFound (os error 2), stat '..\plugin'`

**Steps to Reproduce**
site/
├── plugin
└──└── test.js
└── lib
└──└── core.js

lib/core.js:
[code]

**Expected behavior**

**Environment**

- OS: Windows11
- deno version: 1.18.2
- std version: 0.125.0

[2022-02-16 11:26] lucacasonato commented on #1930
Can you also log `Deno.cwd()` before you do the walk? Is your working directory `site/` or `site/lib/core.js`? File paths are relative to your working directory, not the JS file you call an API from.

[2022-02-16 12:05] idanran commented on #1930
Thanks, `Deno.cwd()` solved my problem.

[2022-02-16 12:05] #1930 closed

[2022-02-17 14:48] elisee opened #1933 "Make the standard modules "noImplicitOverride"-compliant"
**Describe the bug**

Currently some standard modules will throw an error when imported with TypeScript's `noImplicitOverride` option enabled.  Although [it is not (yet?) enabled by default for Deno](https://github.com/denoland/deno/issues/11836), I believe it should be possible to use all standard modules when one opts into `noImplicitOverride`?

**Steps to Reproduce**

For instance:

[code]

wit

[2022-02-18 02:57] billyadelphia opened #1936 "Need explanation, net node module return Not implemented error"
I'm trying to understand the issue about `Not implemented` error on net module, so I could try to fix an issue with [web3](https://deno.land/x/web3@v0.10.0) package

Here the code and the error messages
[code]

[code]

**Expected behavior**
No error, web3 will connect normally to the ipc

**Environment**

- OS: Ubuntu 20.04
- deno version: 1.18.2
- std version: 0.125.0

[2022-02-18 14:57] azerpas commented on #1927
Happens to me too even with `--unstable`

[code]

[2022-02-18 14:59] crowlKats commented on #1927
What deno version are you running?

[2022-02-18 15:01] azerpas commented on #1927
[code]

[2022-02-18 15:04] crowlKats commented on #1927
Your version is quite outdated. `getUid` was added in 1.18.2

[2022-02-19 10:54] #1894 closed

[2022-02-19 16:45] standvpmnt commented on #1779
I might not be understanding the full context here but, could someone instead just add the expect package from jest into their project instead, by adding something like [expect package from skypack](https://www.skypack.dev/view/expect) ?

[2022-02-19 16:49] bartlomieju commented on #1779
Yes, that would be equivalent (if the library indeed works with Deno), however we would like to make sure that this library is guaranteed to work with Deno and tested as part of our CI pipeline. I haven't tested this URL so can't say if it would just work.

Ideally we would support all APIs listed in the link from the first comment, but this list is a good start.

[2022-02-19 18:18] standvpmnt commented on #1779
Yes, simply importing it doesn't work in deno I suppose because of some module and dependency resolution.

[2022-02-19 21:19] GJZwiers opened #1941 "Potential bug in `signal` function: "module evaluation is still pending""
**Describe the bug**

Code using `signal` is throwing the following error:

[code]

This occurs in a [code example](https://deno.land/manual@v1.19.0/examples/os_signals#async-iterator-example) from the Deno manual

**Steps to Reproduce**

1. Open VS Code in WSL: Ubuntu 20.04
2. Create a `.ts` file with the following code:
[code]
3. run the code with `deno run file.ts`
4. after the 5000 ms timeout,

[2022-02-19 22:43] bartlomieju commented on #1779
Right, so ideally we'd have first-class support by having this module in `deno_std`, so users can safely rely on it for crucial part of project which is test code.

[2022-02-20 07:12] standvpmnt commented on #1779
Makes sense. From looking around, I found that there is a 3rd party package that some people in the community were working on with similar objectives [deno.land/x/expect](https://deno.land/x/expect@v0.2.9) could we try reaching out to them and explore any possibilities of bringing that into standard library?

[2022-02-20 10:55] kt3k commented on #1936
IPC feature is not yet implemented in Deno, and therefore IPC features of `std/node` are not available yet.

The feature is worked on this PR https://github.com/denoland/deno/pull/13566

[2022-02-20 16:35] #1933 closed

[2022-02-21 09:26] kt3k commented on #1750
Doesn't seem flaky now (no failures in recent ~20 main CI runs)

[2022-02-21 11:38] kt3k commented on #1941
There are 2 types async `op`s in Deno: `ref` and `unref`. `ref` op blocks the program existing, and `unref` doesn't.

The above error happens when there's no remaining `ref` ops, but some `unref` op existing and those `unref` ops are blocking some promise resolutions.

Signal polling ops are `unref` type of ops and that causes the above error.

I'm not sure this is a bug or not.

@bartlomieju What

[2022-02-21 19:53] WilliamRagstad opened #1945 "`getUid` not on type `typeof Deno`"
I'm building a website using the framework Aleph.js and for some reason I'm getting the following error:
[code]
It appears that the error is thrown inside an await expression used by this code:
[code]
https://github.com/denoland/deno_std/blob/3b43d075ea6977e10bb1d9bd58fbeacc721a114e/node/_fs/_fs_access.ts#L24

Does anyone know what could have caused this? From https://github.com/denoland/deno/issu

[2022-02-21 19:54] crowlKats commented on #1945
Duplicate of https://github.com/denoland/deno_std/issues/1927

[2022-02-21 19:54] #1945 closed

[2022-02-22 02:06] #898 closed

[2022-02-22 02:06] #1905 closed

[2022-02-23 11:48] kt3k opened #1952 "node: move `node/_tools/suites` to `node/_tools/test`"
Some test cases in Node.js repository suppose that the directory structure is `test/parallel`, etc. So we need to rename the dir `suites` to `test` to pass those test cases without modification.

[2022-02-23 11:51] kt3k commented on #1952
Affected test cases are `test-path-dirname.js` and `test-fs-realpath-native.js` for now.

[2022-02-23 15:42] josephrocca opened #1954 "`MultiReader` spread notation in constructor argument leads to "maximum call stack exceeded" errors for many readers"
**Describe the bug**
The [`MultiReader` in `std/io`](https://deno.land/std@0.126.0/io/readers.ts#L17) has this constructor:
[code]
It's of course used like this (for example on [this line in `std/archive/tar.ts`](https://deno.land/std@0.126.0/archive/tar.ts#L450)):
[code]
This means that if there are too many elements in `readers`, an error will be thrown like this:
[code]

**Steps to Reproduce**

[2022-02-24 06:12] #1952 closed

[2022-02-24 17:24] ayame113 opened #1957 "Avoid top-level-await in dotenv/load.ts"
Since the top level await is in `dotenv/load.ts`, `load.ts` runs asynchronously. Therefore, another file that is imported cannot use the environment variables that dotenv loads. (See example.)

[code]

[code]

[code]

This is inconvenient when we want to manage environment variables used in external modules with dotenv. I think we need to replace the function used in load.ts with a synchronous fun

[2022-02-24 23:45] Shougo opened #1958 "abortable() does not work"
**Describe the bug**

abortable does not work in the example.

**Steps to Reproduce**

[code]

[code]

Because, abortable is not exported in `mod.ts`.  Oh, no.

https://deno.land/std@0.127.0/async/mod.ts

**Expected behavior**

`abortable()` should work.

**Environment**

- OS:Manjaro Linux
- deno version: 1.19.0
- std version: 0.127.0

[2022-02-25 03:57] kt3k commented on #1957
Sounds like a good idea. Let's change it to readFileSync.

How about doing `typeof` check for this, something like `if (typeof Deno.readFileSync == "function")`? I think this is even type safe for Deno Deploy environment.

[2022-02-25 04:01] bartlomieju commented on #1957
Why not provide both sync and async version?

[2022-02-25 04:28] kt3k commented on #1957
The main module (`dotenv/mod.ts`) already provides `config` and `configSync`. I think what @ayame113 suggests is that we should use sync API in side effect version of API (`import "https://deno.land/std@0.127.0/dotenv/load.ts"`)

[2022-02-25 08:11] kt3k opened #1962 "node: port publicEncrypt from crypto-browserify"
We need to have `crypto.publicEncrypt` method to support `mysql2` module.

I think the quickest way to do this is to port [public-encrypt](https://github.com/crypto-browserify/publicEncrypt) module from crytp-browserify organization to `std/node`.

[2022-02-25 08:51] kt3k commented on #1962
This module seems having unexpectedly huge dependency tree

- [ ] https://github.com/crypto-browserify/publicEncrypt
- [ ] https://github.com/crypto-browserify/browserify-rsa
- [ ] https://github.com/crypto-browserify/parse-asn1
- [ ] https://github.com/crypto-browserify/browserify-aes
- [ ] https://github.com/crypto-browserify/EVP_BytesToKey
- [ ] https://github.com/crypto-browserify/randombytes

[2022-02-25 08:59] kt3k commented on #1962
@bartlomieju Do you think it's ok to include all of the above in `std/node`?

[2022-02-25 12:20] avihavai opened #1966 "Misleading assertion error in assertNotEquals"
Hi,

The function [assertNotEquals in /testing/asserts.ts has a misleading assertion error](https://github.com/denoland/deno_std/blob/97dc90373893b83713b05b1891a109ad48f8abc2/testing/asserts.ts#L311). Instead of using:

[code]

The error should indicate that the actual string should not be the same as the expected string, e.g.

[code]

Really nice work on Deno by the way, have enjoyed using it a l

[2022-02-25 13:33] bartlomieju commented on #1962
Seems like some of these modules are already available in `deno_std`. If this is a blocker to support `mysql` driver then I think we should just include them in the standard lib.

[2022-02-25 13:33] bartlomieju commented on #1966
PRs are welcome

[2022-02-26 01:28] #1957 closed

[2022-02-26 18:44] lowlighter opened #1968 "feat: abstraction of ffi api libraries loading"
**Is your feature request related to a problem? Please describe.**

The [FFI API](https://deno.land/manual@main/runtime/ffi_api#usage) starting boilerplate feels like it could be abstracted in deno std lib to be more friendly.

I feel like the `switch` should be put under the carpet and users should just pass the lib without the extension and the underlying function automatically append the correc

[2022-02-27 04:08] FujiHaruka commented on #833
@bnoordhuis

It seems that this is already fixed in the current version (`0.127.0`) of the std library.

**Common conditions**

[code]

**With version `0.86.0`**

main.ts

[code]

I tested the server by launching server with `deno -A main.ts` and running the following command.

[code]

Then, the server process exited with the following error.

[code]

**With version `0.127.0`**

main.ts

[code]

I

[2022-02-27 10:19] wiremoons opened #1969 "Standard Library 'fmt' returning "Bad Gateway""
**Issue**

When attempting to view the 'fmt' documentation here:  https://deno.land/std@0.127.0/fmt

The following error is returned:
[code]

**Steps to Reproduce**

Visit the URL: https://deno.land/std@0.127.0/fmt

**Expected behavior**

Be able to view the documentation for `fmt`  in the Deno Standard Library.

**Environment**

- OS: [e.g. Ubuntu 20.04, MacOS 11]
[code]
- deno version:
[code]
-

[2022-02-27 10:35] kt3k commented on #833
@FujiHaruka Thank you for checking this! I also confirmed this doesn't happen anymore with the latest `http/server`. Let's close this issue.

[2022-02-27 10:35] #833 closed

[2022-02-27 10:38] kt3k commented on #833
BTW we've completely replaced the http server implementation at https://github.com/denoland/deno_std/pull/1128. I guess that made the difference

[2022-02-27 20:25] zhong-yiyu commented on #1969
In addition, not just 0.127.0 version has this issue, https://deno.land/std@0.126.0/fmt and multiple previous versions all return `502: Bad Gateway (DEPLOYMENT_FAILED)`.

[2022-02-27 20:26] crowlKats commented on #1969
Yes, in the linked issue (denoland/dotland#2031) investigation has revealed that its an issue with an upstream module we added in the rewrite

[2022-02-27 22:42] kitsonk commented on #1969
The root issue is denoland/dotland#2031 and needs to be resolved there, so closing here.

[2022-02-27 22:42] #1969 closed

[2022-02-28 11:35] shabbyrobe opened #2160 "Cannot check custom object properties using assertRejects/assertThrows in Deno.test"

[2022-03-01 04:05] jsejcksn opened #1973 "Some modules cannot be marked as "browser compatible" because of outdated TS DOM types"
## Context

The current browser compatibility CI test [uses TypeScript's native DOM types](https://github.com/denoland/deno_std/blob/main/browser-compat.tsconfig.json) when type-checking modules. This is appropriate.

However, the current DOM types appear to be outdated (technically, _misaligned_ from what's being commonly shipped by browsers), so it's not possible to get tests to pass for some mo

[2022-03-01 22:24] aheissenberger opened #1976 "std/streams - LineStream,DelimiterStream remove empty lines, records"
**Describe the bug**
controller.enque will remove empty chunks from stream
When using e.g. LineStream, all empty lines are removed from the stream.

**Steps to Reproduce**

[code]

**wrong result**
[code]

**Expected behavior**

empty Lines should not be suppressed

**correct result**
[code]

**Environment**

- OS: MacOS 12.2.1
- deno version: deno 1.19.1 (release, aarch64-apple-darwin); v8 9.9.11

[2022-03-01 23:27] crowlKats commented on #1976
upstream https://github.com/whatwg/encoding/issues/283

[2022-03-02 02:22] #1475 closed

[2022-03-02 03:56] andykais opened #1977 "support parsing "set-cookie" header in http/cookie.ts getCookies method"
**Is your feature request related to a problem? Please describe.**
I need to parse the "set-cookie" response header of a request for a web scraper.

**Describe the solution you'd like**
`getCookie` could support parsing "set-cookie" response headers, similar to how it parses "cookie" request headers

**Describe alternatives you've considered**
implementing my own cookie parser logic, since https:/

[2022-03-02 10:34] jimmywarting commented on #1541
I think NodeJS should be the one that has to adapt to more web standards instead, they have recently got support for web streams and CompressionStream

[2022-03-02 11:23] littledivy commented on #1968
On Windows, dynamic libraries generally don't have `lib` prefix. So it's `add.dll`.

Also, This is useful but its not enough for most libraries that need to release libraries and cache them on first run. Currently, `deno_bindgen` use `x/plug` for that - maybe we could have something similar to `x/plug` in deno_std.

Note that `x/plug` is not complete too, it lacks support for loading aarch64-darwi

[2022-03-03 06:47] crowlKats opened #1986 "tracking: Deno streams to web streams conversion"
There is also the separate effort to replace any code that uses various deno ns classes that implement `Deno.Reader` & `Deno.Writer` that still uses the `read` & `write` functions over the `readable` & `writable` properties.

### io
- [x] buffer.ts
  - [x] `Buffer` (#1970)
  - [x] `BufReader`: replaced by `ReadableStreamBYOBReader.read(, {atLeast})`
  - [x] `BufWriter`: unnecessary (doesnt make mu

[2022-03-03 10:58] getspooky commented on #1977
Cookie implementation is based on https://datatracker.ietf.org/doc/html/rfc6265 and doesn't include parsing "set-cookie" response headers.

[2022-03-03 14:36] bartlomieju opened #1991 "Add test_suite module to deno_std to help bridge a gap in testing experience between Deno and Node"
### Discussed in https://github.com/denoland/deno_std/discussions/1942

<div type='discussions-op-text'>

<sup>Originally posted by **KyleJune** February 20, 2022</sup>
In the [discord](https://discord.com/channels/684898665143206084/688040863313428503/944799764397056020), @bartlomieju suggested opening an issue here about possibly adding my third party module to deno_std to help bridge a gap in t

[2022-03-03 19:40] SheetJSDev opened #1992 "`createRequire` `FsFile` errors starting in 0.127.0"
**Describe the bug**

error: TS2551 [ERROR]: Property 'FsFile' does not exist on type 'typeof Deno'. Did you mean 'File'?

**Steps to Reproduce**

[code]

**Expected behavior**

No errors

**Environment**

- OS: MacOS Monterey
- deno version: 1.18.2 (release, x86_64-apple-darwin)
- std version: affects 0.127.0 and 0.128.0

[2022-03-04 00:02] crowlKats commented on #1992
You need to update your deno, the latest version is 1.19.2

[2022-03-04 00:59] SheetJSDev commented on #1992
Updating deno resolved the issue.

[2022-03-04 00:59] #1992 closed

[2022-03-04 08:15] kt3k commented on #1991
I'm in favor of this proposal. I recently ported many npm modules from crypto-browserify to std, and converting all `describe`/`it` to `Deno.test`/`await t.step` was very painful work. If this module is available in std, I think it should promote the migration of node.js code to deno-first project.

(links to past similar discussions: #1389, #931, #1831)

Regarding the past discussions/objections,

[2022-03-04 14:07] KyleJune commented on #1991
It's close enough that it should be easy to adapt existing mocha, jest, and jasmine tests to using describe and it from these functions. I believe in most cases it would be as simple as adding the import at the top. For hooks you may need to rename before to beforeAll and same for after, depending on which test runner you were using. I went with including all in that hook name to make it more clea

[2022-03-04 14:38] KyleJune commented on #1991
The fact that the describe and it definitions extend Deno.TestDefinition and has all the same call signatures minus the fn being different makes it so that it would be easy to switch from using Deno.test and t.step to using describe and it.

[2022-03-04 14:44] KyleJune commented on #1991
One difference between this module and the node test frameworks is that this one also supports a flat style, an example of that can be found in the readme. What it means is that describe does not have to take a fn callback and will return an object that can be used to add tests to the group. The it and describe functions optionally take that suite object as a first argument or it can be included i

[2022-03-04 15:00] andykais commented on #1977
alright. I ended up just reimplementing the `getCookie` logic myself, which is pretty straight forward. If supporting `set-cookie` is out of the scope of std, then thats fine since I have my workaround. Ill let a @getspooky or another contributor close this issue if that is the case.

(side note)
this seems kind of redundant
[code]
why not just write
[code]

[2022-03-04 18:06] getspooky commented on #1977
@andykais thanks for feedback, i will check that.

[2022-03-05 01:26] jsejcksn commented on #1973
@crowlKats I don't see [any activity at all in the TS repo which mentions `ReadableByteStreamController`](https://github.com/microsoft/TypeScript/issues?q=ReadableByteStreamController). Am I missing something or should we file an issue?

[2022-03-05 01:32] crowlKats commented on #1973
yep, we probably should. Major missing structs are `ReadableByteStreamController` & `ReadableStreamBYOBReader`

[2022-03-05 06:51] jsejcksn commented on #1977
@andykais Setting the [`limit`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/split#parameters) argument to `2` would exclude all of the parts of the string after a potential second occurrence of `"="`.

Looking at [the syntax in the spec](https://datatracker.ietf.org/doc/html/rfc6265#section-4.1.1), it's not evident to me that `"="` is an invalid token in

[2022-03-05 14:32] talentlessguy commented on #648
Implementing `createReadStream` would be awesome :pray:

(I'm rewriting a port of a Node.js framework and I need this func for `readFile` func)

[2022-03-05 18:01] andykais commented on #1977
@jsejcksn oh you are right! I think I have been assuming the limit arg works differently for a while now :sweat_smile: thanks for the tip

[2022-03-06 09:02] kt3k opened #1999 "compat: `npm install` doesn't work on mac and linux since Mar 4"
In the integration test suites of compat mode, `npm install` test started failing since 4e8f0e7bb80300f4ad06483436d154e7fe10b5ab.

The changes in std seems irrelevant to the failure. Probably it was caused by the CLI change around that time.

[2022-03-06 18:37] KyleJune commented on #1991
If I could get an example of a test case that would be acceptable without using mocking, I could get started on re-writing the tests so that it will be easier to add this module to deno_std later on. I'll wait to do the actual work until it's agreed on that it should be added or in what way it should be added.

I've created a few issues in the test_suite module's github repository regarding improv

[2022-03-07 02:57] KyleJune commented on #1991
I've cleaned up the TestSuite interface, hiding all the functions and properties that are used internally only. The TestSuite object now just has a symbol on it for looking up the internal representation for a group of tests.

I've removed the third party dependency on Vector that was mentioned in my original post.

[2022-03-07 05:42] kt3k opened #2001 "compat: npm@8.5.3 doesn't work with compat mode"
`npm install` works with `v8.5.2` with compat mode, but it doesn't with `v8.5.3`

diff between npm 8.5.2 and 8.5.3 https://github.com/npm/cli/compare/v8.5.2...v8.5.3

[2022-03-07 05:43] #1962 closed

[2022-03-07 06:28] kt3k commented on #1991
Nice!

👍

How much do you expect that re-write would take amount of time? If it takes a lot of time, then I guess including the entire `mock` module as test utility in std would be a possible option.

[2022-03-07 06:29] #1999 closed

[2022-03-07 09:20] kt3k commented on #2001
`npm install` started hanging with compat mode with this commit https://github.com/npm/cli/commit/3c17b6965f0c5fffd5ac908388568a307466a73f

In this commit the following modules are updated:
- make-fetch-happen `10.0.3` -> `10.0.4`
- agentkeepalive `4.2.0` -> `4.2.1`
- lru-cache `7.3.1` -> `7.4.0`
- minimass-fetch `1.4.1` -> `2.0.1`

[2022-03-07 09:39] kt3k opened #2003 "compat: tap module can't be run"
[tap](https://www.npmjs.com/package/tap) is often used by npm-related modules.

When you run `tap` with compat mode, it exits immediately with the error `Cannot add property spawn, object is not extensible` (no stack trace)

[2022-03-07 09:51] kt3k commented on #2001
[This commit](https://github.com/npm/minipass-fetch/commit/f96f3b13e68f3851fd9fadb762c58f441a4c3f48) breaks minipass-fetch for node compat mode

[2022-03-07 10:27] kt3k commented on #2001
The reason was that `minipass-fetch` started calling `http(s).request` without `href` option since [this commit](https://github.com/npm/minipass-fetch/commit/f96f3b13e68f3851fd9fadb762c58f441a4c3f48#diff-2871801a54601791d9e1004f04b2df5d7adc881560285ff3fa6bee7bf9697857R235-R244), which we haven't supported yet.

[2022-03-07 10:39] kt3k commented on #2001
I wonder why this didn't break window CI.. 🤔

[2022-03-07 12:12] KyleJune commented on #1991
It depends on what the new tests would need to look like, I'd need an example to estimate re-wrote time. Also I mostly just do work on side projects like this on weekends because I work as a software engineer full time during the week.

The mock module is similar to Sinon.js but I wrote it from scratch in TypeScript. I'm not sure how much work it would take to get it into a state where it would be

[2022-03-07 12:29] KyleJune commented on #1991
I feel like re-writing the tests in the way @bartlomieju described would probably make this require much more test coverage code than it currently has because we would probably want to also verify all of the different `TestDefinition` and `TestStepDefinition` properties are being covered on `describe` and `it`.

The current test coverage just verified that properties like `sanitizeOps` are being p

[2022-03-07 13:21] samthecodingman commented on #1865
I currently manually patch this bug out with a **dodgy** polyfill that walks the prototype chain to find the [local enumerable `Symbol()`](https://github.com/denoland/deno/blob/1fb5858009f598ce3f917f9f49c466db81f4d9b0/ext/web/02_event.js#L843-L882) defined on Deno's built-in `EventTarget` (since [22 Sep 2021](https://github.com/denoland/deno/pull/12166)).

**Disclaimer:** This is very much a hack

[2022-03-07 15:04] cknight opened #2005 "Return 404 from serveFile when resource is not found"
When using the [serveFile](https://deno.land/std/http/file_server.ts) function like so:

[code]
this successfully returns content requested.  However, if the requested resource doesn't exist, the `serveFile` code returns 500 internal server error.  Instead it would ideally return a 404.

As an added thought, accepting a custom response handler for 404 and 500 responses would be nice.

[2022-03-08 00:49] bartlomieju commented on #1941
So I think this might be the correct behavior.

Once timeout is fired off the module evaluation is still pending (because there's a top-level await in this code), but there are no more pending `ref` ops (only `unref` ops coming from signal listener) - so up to this point everything is corret.

The module evaluation is still pending, because we are "stuck" on the `for await` loop - since we're stil

[2022-03-08 01:33] bartlomieju commented on #1991
@KyleJune sorry for late response. Let me try to address as many details as possible.

I think we could consider adding `mock` to `std/testing` too - seems very useful and a lot of folks use such functionality, I think it warrants addition to `deno_std`.

Correct, our implementation of RB tree is internal and can't be exposed. I'm also open to adding this module to `std/collections` as well as oth

[2022-03-08 01:33] bartlomieju commented on #1991
Also ref https://github.com/denoland/deno_std/issues/1389

[2022-03-08 02:16] KyleJune commented on #1991
I could work on adding that after adding the data structures it uses to std/collections.

I'll try getting some PRs up this weekend for that if I have time to. Then after getting it and mock added, do the work to add test_suite.

I'm not too familiar with snapshot testing. If that capability is added and I'm given an example of how to use it, I could re-write the tests to use it for verifying the

[2022-03-08 02:20] bartlomieju commented on #1991
Sounds good! Let me know if you need any help.

It's essentially a way of asserting that output matches what is expected with some wildcards. Examples:
https://jestjs.io/docs/snapshot-testing

We use this technique heavily in `deno` itself, eg. https://github.com/denoland/deno/blob/main/cli/tests/testdata/test/overloads.ts and https://github.com/denoland/deno/blob/main/cli/tests/testdata/test/over

[2022-03-08 02:31] KyleJune commented on #1991
Oh nice, I get what you mean now. Still with switching to that style, we would probably want to add test coverage that `describe` and `it` would pass if not leaking async ops and fail if leaking async ops when sanitizeOps is true and pass when sanitizeOps is false. With mocking we can just verify we pass the sanitizeOps argument through correctly to `Deno.test` and `t.step` and assume it works cor

[2022-03-08 05:18] #2001 closed

[2022-03-08 05:46] #1958 closed

[2022-03-08 06:16] Shougo commented on #1958
Thank you!

[2022-03-08 06:56] kt3k opened #2010 "compat: tracking issue for starting a remix project"
Issues
- [ ] `TypeError: child_process.execSync is not a function` (used for calling `npm install` during `npx create-remix` wizard)

[2022-03-08 11:21] kt3k opened #2011 "compat: child_process.execFileSync"
part of #2010

We need to shim `child_process.execFileSync` to `esbuild` and `remix` run with node compat mode.

[2022-03-08 11:34] crowlKats commented on #2011
Yea, I think that would be the best way to achieve this. Should be fairly simple to add as well

[2022-03-08 14:36] bartlomieju commented on #2011
How so? I think we will need a completely separate implementation that uses sync API from `std` instead of using `tokio`.

[2022-03-08 16:02] kt3k opened #2013 "compat: postinstall fails for some modules during `npm install`"
When the npm module has `postinstall` script in package.json, then `npm install` with compat mode stops with errors.

Known npm modules which cause this error:
- `es5-ext`
- `core-js-pure`

[2022-03-08 16:04] bartlomieju commented on #2013
Right... `postinstall` script. We need to find some sane solution for that.

[2022-03-08 19:57] GJZwiers commented on #1941
Thanks for looking into this! Sounds like it's not a bug then, closing the issue.

[2022-03-08 19:57] #1941 closed

[2022-03-09 04:19] kt3k commented on #2013
`es5-ext` has `node -e \"try{require('./_postinstall')}catch(e){}\"` in `postinstall`
https://github.com/medikoo/es5-ext/blob/406507807f96aa092ee252ab5fe759fc0dd4b778/package.json#L115

and that command passed to `child_process.spawn`.

`core-js-pure` also has the same postinstall script https://github.com/zloirock/core-js/blob/6eb66ebbcd9c50a8f337c87992076b51a4beecec/packages/core-js-pure/package

[2022-03-09 06:26] kt3k commented on #2013
dirty solution could be parsing the input at the beginning of `child_process.spawn`, and change the behavior if the input is `node` command with `-e` option...

[2022-03-10 03:18] martin-braun opened #2015 "Reading lines of stdout / stderr yield is always one line behind"
When I await `io.readlines` on `stdout` or `stderr` the message is always one message behind the current message, because the message has to pass-through. I'm not sure if this is really a bug or I'm doing something wrong, but in essence one should be able to pass-through outputs without queue delay. The following method is required when modifying the output of a process in any way:

[code]

Now I

[2022-03-10 04:10] ayame113 opened #2017 "Feature request: Should the API of the fs module support URL strings?"
Currently, functions in the fs module only accept path strings as arguments.
https://doc.deno.land/https://deno.land/std@0.128.0/fs/mod.ts

As with Deno's built-in filesystem API, it would be nice to accept file URLs as well as strings (eg `ensureFile()`).

Related to https://github.com/denoland/deno/issues/8579 .

[2022-03-10 08:09] kt3k commented on #2017
I like the idea. This makes fs APIs of Deno namespace and std/fs more consistent.

Is there any concern about this?

[2022-03-10 13:25] talentlessguy commented on #1496
All of the functions have been implemented in `std/node` so this can be closed

[2022-03-10 13:49] #1496 closed

[2022-03-11 11:10] OliverBrotchie opened #2019 "Crypto ImportKey: unknown/unsupported ASN.1 DER tag: 0x2d at DER byte 1"
### Description

I am trying to use the Crypto API to import a PKS8 private key for use in a PS256 JWS, however, I receive the following error when running the code below: `DataError: unknown/unsupported ASN.1 DER tag: 0x2d at DER byte 1`

### Reproduction

[code]

### Expected behaviour

That a CryptoKey object should be generated.

### Environment

**Example Private Key:**
[code]

- OS: MacOS 12

[2022-03-11 12:00] littledivy commented on #2019
You are directly using the PEM encoded private key. Extract the DER bytes and then import. See https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#pkcs_8_import

[2022-03-12 07:57] kt3k commented on #1863
Implemented in https://github.com/denoland/deno_std/pull/2008

[2022-03-12 07:57] #1863 closed

[2022-03-12 12:24] #1787 closed

[2022-03-13 21:51] jespertheend opened #2025 "testing/asserts: `assertInstanceOf()`"
**Is your feature request related to a problem? Please describe.**

I would like to assert if an object is an instance of a specific type, but using `asserts()` does not cause TypeScript to know about the new type of a variable:

[code]

A workaround is to not use `assert()` and simply check for `instanceof` in an `if` statement and throw manually if it's not an instance, but this is cumbersome if

[2022-03-13 22:14] jespertheend commented on #2025
Ah nevermind, my JavaScript was messed up as well. Here's a working JavaScript Example:
[code]

and its TypeScript equivalent:

[code]

[2022-03-14 05:12] kt3k opened #2026 "compat: CallSite.prototype.getFileName needs to return an absolute path instead of `file://` scheme URL in compat mode"
`get-caller-file` (33M weekly downloads) do the below:

[code]

Here `getFileName()` returns the callers absolute path in node, but it returns `file://` scheme url in compat mode. We need to change this to absolute path in compat mode to support modules which depends on this feature.

[2022-03-14 08:55] kt3k opened #2027 "node: require("console").Console is missing"
[Console](https://nodejs.org/api/console.html#new-consolestdout-stderr-ignoreerrors) constructor is missing in `console` module.

Console constructor is used in [fancy-log](https://www.npmjs.com/package/fancy-log) module, which is used in most gulp related projects.

[2022-03-14 14:26] bartlomieju commented on #2026
So I think we might want to close this issue? @kt3k wdyt?

[2022-03-14 19:59] jespertheend commented on #2025
I'd like to work on this

[2022-03-15 12:12] bartlomieju opened #2031 "Exposing `abortablePromise` and `abortableAsyncIterable` directly."
### Discussed in https://github.com/denoland/deno_std/discussions/2030

<div type='discussions-op-text'>

<sup>Originally posted by **harrysolovay** March 15, 2022</sup>
The [`abortablePromise`](https://github.com/denoland/deno_std/blob/main/async/abortable.ts#L23) and [`abortableAsyncIterable`](https://github.com/denoland/deno_std/blob/main/async/abortable.ts#L38) utilities are exposed only throu

[2022-03-16 02:46] #2026 closed

[2022-03-16 05:38] #2025 closed

[2022-03-17 05:09] #2031 closed

[2022-03-17 20:25] jsejcksn commented on #1884
[`Deno.TcpConn`](https://github.com/denoland/deno/pull/13714) just landed in unstable. Will that make this easier to implement?

[2022-03-18 11:13] kt3k commented on #1581
fixed by https://github.com/denoland/deno/issues/13161

[2022-03-18 11:13] #1581 closed

[2022-03-18 11:16] kt3k commented on #1134
implemented in #1507

[2022-03-18 11:19] kt3k opened #2042 "ci: confirm no type errors with stable deno"

[2022-03-19 19:46] KyleJune commented on #1991
I've removed the test dependency on the mock module's FakeTime class. That was the one that used the collection module's Red-Black Tree. I'm working on a refactor of the mock module then will make a PR for adding spy and stub to std/testing. Those are all that are needed for the test_suite module's test coverage.

I think FakeTime would be good to add to std/testing too but that could wait until a

[2022-03-20 15:56] UltiRequiem opened #2045 "testing/asserts : `assertFalse`"
**Is your feature request related to a problem? Please describe.**

Currently, the testing module lacks a method to check if a value is False.

**Describe the solution you'd like**

[code]
**Describe alternatives you've considered**

[code]

With the solution shown before we could

[code]

Which I think is a lot more readable. Similar to 👇🏽
https://jestjs.io/docs/expect#tobefalsy
https://github.co

[2022-03-20 16:26] getspooky commented on #2045
@UltiRequiem you can use `assert` or `assertEquals` so no need to add `assertFalse`

[2022-03-20 16:32] marcushultman opened #2046 "Buffer.prototype.utf8Write fails when called without length"
**Describe the bug**

I don't know exactly where the bug is, so I'll describe what I'm seeing. I use `createRequire` (from `https://deno.land/std@0.130.0/node/module.ts`) in order to import another module that `require('protobufjs/minimal')`. When I end up protobuf encoding a string >= 40 length, protobufjs calls `utf8Write` on the buffer like this:
[code]
(see https://github.com/protobufjs/protob

[2022-03-20 16:33] LuizzAugusto opened #2047 "responsiveness callback for serve (std/http/server.ts)"
Hey. I suggest responsiveness callback for serve like `serve(req, handler, onResponsive)`, I think it will make test easier

[2022-03-20 16:37] UltiRequiem commented on #2045
I already listed both options on `Describe alternatives you've considered`.

Despite that, an `assertFalse` function would upgrade readability and other libraries include it.

[2022-03-20 16:42] crowlKats commented on #2047
I am not sure i understand what you mean

[2022-03-20 17:01] marcushultman commented on #2046
Looking at [node source code](https://github.com/nodejs/node/blob/master/src/node_buffer.cc#L714), it looks like the `length` argument does exist, but it's optional.

[2022-03-20 17:07] marcushultman commented on #2046
Perhaps a fix like this is reasonable: https://github.com/denoland/deno_std/commit/fdaa7b9cc77b387a04177fd1749d732c61e9ac4d

[2022-03-20 21:13] LuizzAugusto commented on #2047
i'm trying to create a serverController (for a rest api), but it's hard to sync the test with the fetch and the server. I'm thinking in use some callback, so I can use await server.init(). The code is comething like `import { createFakeBrowser } from "./createFakeBrowser.js"
import { createServer } from "./createServer.js"
import { assert } from "./deps/for_test/asserts.js"

Deno.test({ name: "cre

[2022-03-21 02:03] KyleJune commented on #1991
I resolved the issue of not being able to have multiple of the same type of a test hook globally or with a describe block. I'll try to create a PR to add test_suite to std next weekend. It will branch off of my branch for adding mocking utilities since the test coverage uses them.

[2022-03-21 21:23] UltiRequiem commented on #2045
Another library that has something similar is Ava.

https://github.com/avajs/ava/blob/main/docs/03-assertions.md#falseactual-message

[2022-03-22 05:20] TomokiMiyauci opened #2053 "Clarify supported browsers"
### Discussed in https://github.com/denoland/deno_std/discussions/2052

<div type='discussions-op-text'>

<sup>Originally posted by **TomokiMiyauci** March 22, 2022</sup>
[code]

What does the comment browser compatible refer to?

Some modules use ES2022 features.
For example, [`Object#hasOwn`](https://github.com/denoland/deno_std/blob/main/collections/deep_merge.ts#L8).

According to MDN, this is

[2022-03-22 06:10] fxrysh commented on #2053
I guess it meant that it doesn't depend on `Deno.*` specific API which means you can transpile it down to ES6 (or other) and use it normally.

[2022-03-22 06:41] TomokiMiyauci commented on #2053
@fxrysh

Yes.This is clearly stated in the [documentation](https://deno.land/manual/contributing/style_guide#std).

[2022-03-22 12:41] zlumyo opened #2054 "Use releases as x-axis in benchmarks"
[Benchmarks on landing page](https://deno.land/benchmarks) use commits as x-axis. IMHO, for average visiter it's more natural to see progress through releases instead of countless and (often) meaningless commits.

UPD

Or at least provide a switch between two modes.

[2022-03-22 12:47] zlumyo commented on #2054
Agh! I confused repos to open issue, sorry.

[2022-03-22 12:47] #2054 closed

[2022-03-23 00:05] martin-braun commented on #2015
There are some more issues coming with the way I redirect `stdout`/`stderr`. I've build a `runRemote` function that utilizes `ssh` like so:

[code]

and it seems to flush all by once, instead of sending message by message altogether. This caused some further issues when I tried to run `composer install` via SSH to the worst possible scenario, the process will not start and Deno will get stuck only

[2022-03-23 00:44] #2015 closed

[2022-03-23 02:05] #2027 closed

[2022-03-23 02:15] #1865 closed

[2022-03-23 09:31] kt3k opened #2055 "compat: tracking issue for Vite"
This issue tracks the issues for executing basic example of [vite](https://vitejs.dev/) in compat mode

A typical workflow we try to support is:
[code]

With deno compat mode warpper script (the script should be named `node` and in your `$PATH`):
[code]
(`DENO_NODE_COMPAT_URL=...` part is optional)

- [x] `Not implemented: ChildProcess.unref()` used in esbuild
- [x] `Not implemented: ChildProcess.

[2022-03-24 09:35] kt3k opened #2061 "node: implement 'upgrade' event in http.Server"
part of #2055

Necessary for supporting websocket implementation of hmr server of vite https://github.com/vitejs/vite/blob/c7fc7c34029f109bb716c6a2888022b2f4c40e3d/packages/vite/src/node/server/ws.ts#L39

[2022-03-25 06:54] kt3k commented on #1778
I think we should still deprecate on the next version and remove it one minor version later

[2022-03-27 06:04] hirochachacha opened #2068 "node/global.ts doesn't polyfill during importing module"
**Describe the bug**

**Steps to Reproduce**

main.ts
[code]

mod.ts
[code]

then

[code]

got

[code]

**Expected behavior**

no errors

**Environment**

- OS: MacOS 12.3
- deno version: 1.19.3
- std version: 0.132.0

FWIW, this issue has been persisted since 702914453d59a37591004319d329fbd5bf6beb86, std@0.110.0 works fine as far as I know.
Although I'm not sure where the root cause comes from. I

[2022-03-27 06:11] hirochachacha commented on #2068
Another work-around is using dynamic import: `import("./mod.ts")`, which I'm currently using.

[2022-03-30 04:43] sholladay opened #2071 "Provide a way to tell when the server is ready"
**Is your feature request related to a problem? Please describe.**

When making a web server with `std/http` and listening with the `serve()` function or the `Server` class, It is difficult to write code for logs and tests (etc) that rely on the server being ready, because readiness is never signaled and the promise never resolves while the server is running.

[code]

[code]

**Describe the soluti

[2022-03-30 04:54] AnInternetTroll commented on #2071
The recommended way i think is to make the handler function outside of the server, then for testing you just use `new Request` as the argument for it. Here's how dotland for does it https://github.com/denoland/dotland/blob/3ec18e8a1e1de84432213ca6befdc15a287896ce/worker/handler_test.ts

[2022-03-30 05:22] sholladay commented on #2071
I also use that technique for testing. Pogo has [`server.inject()`](https://github.com/sholladay/pogo#serverinjectrequest) to do requests without an actual `fetch()` call. It's great in most cases. However, for end-to-end tests and other scenarios, we're going to need to use the network. It's important that we be able to tell when the server is ready for requests. For reference, Node.js has had ev

[2022-03-30 15:01] ry opened #2072 "Path class similar to Rust's PathBuf"
I've come to love Rust's `PathBuf` and `Path` abstractions. Is anyone interested in doing a class in std that works like these?

https://doc.rust-lang.org/stable/std/path/struct.PathBuf.html
https://doc.rust-lang.org/stable/std/path/struct.Path.html

I'm not sure how exactly this should look - but here's some example code of what I have in mind...

Example:
[code]

- You should be very familiar wi

[2022-03-30 18:31] nayeemrmn commented on #2072
Duplicate of #678. We need to consider the fact that Rust's `PathBuf` and `Path` are built-in and how a non-native `Path` type would fragment APIs across the ecosystem which accept paths.

[2022-03-30 18:39] lucacasonato commented on #2072
I agree with @nayeemrmn here. I am not sure I am in favour of a new `Path` wrapper class. Paths should be represented as strings, and path methods should be functions IMO.

[2022-03-30 18:45] ry commented on #2072
Closed in favor of https://github.com/denoland/deno_std/issues/678

[2022-03-30 18:45] #2072 closed

[2022-03-31 17:36] dsherret opened #2078 "Improvements to deno_std release"
1. Similar to what we have in the CLI, we should have a workflow that automatically updates the `Releases.md` and bumps versions.ts. This should open a PR and have a checkbox task list that asks if they tested std with the current CLI.
2. On merge, we should have the release automatically created with the new contents from `Releases.md`

[2022-04-03 05:05] luk3skyw4lker commented on #882
I'm taking this issue! I'll take a look and see what can I do.

[2022-04-03 05:09] luk3skyw4lker commented on #880
I could take a look on that too, I'm already on the works of another issue envolving the same file. I'm just not sure if this is already resolved.

[2022-04-03 23:08] dev-nicolaos commented on #1216
I've come across another possible use case for this API, a templating helper script (like you might find in some framework CLIs) with this logic:

1. If no file exists at the specified path, create file X at that location
2. If a file already exists at the specified path, the script should not create file X

The advice given above...

...assumes there is some action that the script wants to perfor

[2022-04-03 23:25] martin-braun commented on #1216
@kt3k After a while I figured out that Deno has a way to check for file existence and uses this approach itself in the std lib.

[`await Deno.lstat(filename: string)`](https://doc.deno.land/deno/stable/~/Deno.lstat) will throw if the file/folder does not exist. A proper way to do what `fs.access()` did in node, but it will also give information about the file system item which can be a file or a f

[2022-04-04 13:29] #2078 closed

[2022-04-04 14:57] martin-braun commented on #1216
@kt3k Yes, but it still feels subjective. The deprecation of `exists` does not solve or prevent TOCTOU, but pushes people to a programming style that has less TOCTOU potential.

The deprecation warning should be longer and more detailed, listing up all common scenarios and how to solve them, i.e. `ensureFile`, `ensureFolder`, directly writing to a file without prior check, because it is unnecessar

[2022-04-04 18:48] martin-braun commented on #1216
@dev-nicolaos Sorry, I have problems to understand what you try to achieve. Please quote what you "outlined above", so it's easier to follow.

Above you said:

1. If no file exists at the specified path, create file X at that location
2. If a file already exists at the specified path, the script should not create file X

And `fs.ensureFile` will do both things for you.

If you talk about the case

[2022-04-04 19:46] dev-nicolaos commented on #1216
The sudo code for that example is roughly...
[code]

`ensureFile` isn't helpful in this circumstance. It could be used _inside_ the conditional once you know a file doesn't already exist (although I think just using `Deno.writeFile` with the `create: true` is easier for that), but that doesn't help with the _conditional itself_. `exists` feels like the natural thing to use, without it...

or...

T

[2022-04-04 20:18] uki00a opened #2080 "node/child_process: implement `ChildProcess.kill(signal: number | string): boolean`"
When trying to use [execa](https://github.com/sindresorhus/execa) package with `--compat` flag, the following error occurred:

[code]

`Deno.Process#kill` is now stable, so this seems to be implementable

[2022-04-05 02:08] martin-braun commented on #1216
@dev-nicolaos Now I got what you mean, you mean the case: _Create file X with content Y if it does not exist_

Using `exists` or even `lstat` will cause a race condition. [The node.js docs also deprecated `exists` for the same reason.](https://nodejs.org/api/fs.html#fsexistspath-callback). [`stats` has the same recommendation, btw.](https://nodejs.org/api/fs.html#fsstatpath-options-callback)

So u

[2022-04-05 04:14] masx200 opened #2081 "node/module.ts does not type check properly"
**Describe the bug**
[code]
**Steps to Reproduce**
[code]

**Expected behavior**

**Environment**

- OS: Microsoft Windows [版本 10.0.19044.1620]
- deno version:1.20.4
- std version:0.133.0
deno 1.20.4 (release, x86_64-pc-windows-msvc)
v8 10.0.139.6
typescript 4.6.2

[2022-04-05 05:03] kt3k commented on #1216
@martin-braun

What API (option name) do you suggest more exactly? I feel it'd be a little too complex and too specific to certain scenario as a Deno namespace API.

In general deno_std is more open to the addition of functions which are specific to some scenarios.

[2022-04-05 06:43] bartlomieju commented on #2081
This is expected, you need to use `--unstable` flag

[2022-04-05 08:42] martin-braun commented on #1216
@kt3k I'm not sure, playing with my thoughts, at the moment. I agree though, altering `Deno.writeTextFile` is not really a good idea for such a specific case. Hmm, maybe `fs.ensureFile` could take an optional argument the contents that will be written to the file, when it's created? Something like `await fs.ensureFile("myfile.txt", "Hello World")`, but I fear we are giving the impression that it w

[2022-04-05 15:13] bnoordhuis commented on #1216
The "create file only when not already there" case would benefit from an `{ exclusive: true }` flag that maps to `std::fs::OpenOptions::create_new(true).open(path)` a.k.a. `open(path, O_CREAT + O_EXCL)`.

[2022-04-05 15:15] bartlomieju commented on #1216
Which maps directly to `Deno.open("filepath", { createNew: true });`, see https://doc.deno.land/deno/stable/~/Deno.OpenOptions for details

[2022-04-06 04:02] #2080 closed

[2022-04-06 04:29] martin-braun commented on #1216
@bnoordhuis @bartlomieju

is basically `{ create: true }` and `{ createNew: true }`. The difference is the latter will throw an error if the file already exists.

[2022-04-06 12:40] kt3k commented on #2013
- `_postinstall.js` script in ex5-ext https://github.com/medikoo/es5-ext/blob/edf9fbac6c0d72a6192de7e0fbfb022eb34c3ac7/_postinstall.js
- `postinstall.js` script in core-js https://github.com/zloirock/core-js/blob/master/packages/core-js/postinstall.js

These scripts seem technically irrelevant to make them working (political messages and donation requests). Maybe ignoring these postinstall scripts

[2022-04-07 11:21] lambdalisue commented on #1216
Hi.

I feel that "making `fs.exists()` deprecated" is too aggressive. You all talking about file operations after `fs.exists()` and some race condition caused by that but **sometime there is a situation that just want to know if a file or directory exist**. In that case, I anyway need to use `fs.exists()` and  deal deprecation warning messages always.

For example, I need to check presence of a `.

[2022-04-07 14:48] dsherret opened #2091 "`[child_process spawn] 'spawn' event` test uses "echo" which is not available on windows"
This test uses "echo", but that's not available on Windows except when executing through `cmd`:

[code]

[2022-04-08 04:45] kt3k commented on #2045
This looks too trivial to include in std to me.

Is there any supportive opinions to this other than the above?

[2022-04-08 05:01] #1991 closed

[2022-04-08 06:03] #1954 closed

[2022-04-08 22:38] martin-braun commented on #1216
@lambdalisue

It doesn't matter if you do something with the folder or not. Another process in the background could do it.

So why not using `lstat`? You have to check if `.git` is a folder anyways. I don't think you should ignore this case. Remember, the user will cause anything to break what can be broken, always.

[2022-04-09 02:52] luk3skyw4lker commented on #882
About number 2, I think that the best solution would be to move the columns argument into the options object, this way the user could specify which columns he wants in the output and if no option is provided, then all columns will de present into the output.

[2022-04-09 02:54] luk3skyw4lker commented on #882
About 1, would be the case to think about adding a generic parameter to stringify to specify the type of the input object or am I wrong? I didn't fully understand the type safety that this funciton would have, can you clarify it for me?

[2022-04-09 02:58] luk3skyw4lker commented on #882
And about 3, I think that the examples would do a good job, but I'll take a look at the code you provided as a simple solution and see if it fits into the case. I gave a quick look and at least for me the deno implementation looks simpler, but would benefit from a better documentation.

[2022-04-09 09:41] lambdalisue commented on #1216
Yes. That's why I'm trying to say "race condition" is not the matter what Deno library should care.

It's just an example case so I don't dig it deeper but I don't check if `.git` is a folder because that's git's job (sometime `.git` is NOT folder but a file that points a bare repository path)

Additionally, using `lstat` means that I need to write a code like

[code]

And this code is already exi

[2022-04-09 10:05] KyleJune opened #2096 "testing/bdd.ts with flat test grouping style the only option scoped to top level test instead of the file"
**Describe the bug**

feature: https://github.com/denoland/deno_std/pull/2067

The issue with this feature is that `Deno.test` is called by the `describe` function. If tests are added to the group after the `describe` function call completes, it can handle that, except for the only option. Because `Deno.test` was already called without the `only` option, it cannot retroactively change the test to

[2022-04-09 10:05] KyleJune commented on #2096
There is a workaround to both of the above issues. It is to change the `describe("User")` to `describe.only("User")` so that it knows to call Deno.test with the only option. The following example is the same as the one from issue 2 but with the "User" test suite focused too.

[code]

[code]

[2022-04-09 13:52] luk3skyw4lker commented on #2091
Looking at it right now.

[2022-04-09 14:03] luk3skyw4lker commented on #2091
Another tests on the same file also use echo, would it be the case to refactor them all or just this one?

[2022-04-09 14:40] martin-braun commented on #1216
@lambdalisue So you say git should handle the error that `.git` is a file not a folder, but it should not handle the error that `.git` does not exist? This sounds very inconsistent to me, but it would be reasonable if `.git` can be a file that contains a path, but is this officially supported by `git`? I couldn't find any documentation that git can handle a `.git` file.

Anyway, for the sake of de

[2022-04-09 16:26] lambdalisue commented on #1216
It's off topic so I don't want to dig it deeper but see https://git-scm.com/docs/git-init#Documentation/git-init.txt---separate-git-dirltgit-dirgt if you need some evidence.

I'm sorry but my point of view is not an exact case what I mentioned. I'd like to point out that **there is situation that we need to check presence of a file/directory and we need to use deprecated code in that case because

[2022-04-09 17:42] dsherret commented on #2091
Thanks for looking into it. I think only that test. The other one is ignored on Windows and the other one uses a shell.

[2022-04-09 18:10] luk3skyw4lker commented on #2091
You're welcome, I'll try to open a PR for solving this still today. I'm looking out for probable replacements for echo if it's a windows environment.

[2022-04-09 18:16] luk3skyw4lker commented on #2091
One last thing, in which case that error is thrown? Because as far as I know, echo is really a command in the windows CMD, but you made it look like you weren't in a cmd environment when describing the issue, could you clarify it for me?

[2022-04-09 18:35] luk3skyw4lker commented on #882
I took a deeper look at the csv-string implementation and it really looks simpler. I still stand with the idea of passing columns through the options object though which it would add some complexity to deno's implementation. What do you guys think? @bartlomieju  @crowlKats @dsherret

[2022-04-09 19:20] martin-braun commented on #1216
@lambdalisue Thanks for the evidence in regards of git.

`lstat` can definitely do all and more compared to `exist`, I hope this is a point you can agree on, because after all `exists` is just an abstraction.

I would like to know: Can you confirm `exists` being a pitfall for people that want to check if a file exists, who end up checking for its existence before calling `lstat` to verify it's a f

[2022-04-10 00:13] nayeemrmn opened #2097 "`std/node` should avoid TLA"
See https://github.com/denoland/deno/issues/14243. Imagine side-effect-importing some polyfill from esm.sh at your application entrypoint. That polyfill was built for Deno to import things from `std/node`. If it is asynchronously evaluated, you will get an undesired dependency evaluation order and the conventional `import "https://cdn.esm.sh/reflect-metadata?deno"` at your application entrypoint m

[2022-04-10 15:12] #2097 closed

[2022-04-10 16:31] UltiRequiem commented on #2045
I think the two strongest points are readability, and that other frameworks have it.

But I understand if it is not wanted here 😆

[2022-04-11 00:35] albert-sun opened #2099 "crypto/randomInt marks maximum as inclusive instead of exclusive"
**Describe the bug**
Most crypto libraries, upon calling `randomInt(max)` or `randomInt(min, max)` generate a random number within the range [min, max), or min inclusive and max exclusive. The Node.js crypto library (https://nodejs.org/api/crypto.html#cryptorandomintmin-max-callback) follows this convention, with the arguments being labeled as:

[code]

**Steps to Reproduce**
Generate many random

[2022-04-11 05:12] kt3k opened #2100 "node: wrap Listener.ref/unref call to avoid type error in stable"
Define wrapper in https://github.com/denoland/deno_std/blob/main/_deno_unstable.ts

[2022-04-11 08:33] albert-sun commented on #2099
Within [crypto/randomInt.ts](https://deno.land/std@0.134.0/node/_crypto/randomInt.ts), the fix to generate with maximum exclusive would be (referencing this StackOverflow post [here](https://stackoverflow.com/questions/1527803/generating-random-whole-numbers-in-javascript-in-a-specific-range) for the appropriate syntax):
[code]

[2022-04-11 14:42] lambdalisue commented on #1216
Of course, people write problematic code from time to time, myself included, but I don't understand why `exists` is the only victim. For example, I don't think anyone would deprecate `delay()` even if  the following code cause TOCTOU issues.

[code]

I think `fs.exists()` in node.js is deprecated **because of inconsistencies in the callback design**, not because of TOCTOU issues, according to the

[2022-04-11 21:07] bartlomieju opened #2103 "Deprecate and remove "testing/bench.ts" module"
Not that `deno bench` subcommand is available I think we should deprecate and eventually remove `testing/bench.ts` module.

While the module is certainly useful I strongly believe we should encourage use of `Deno.bench()` API and add functionality to it if some is missing.

Let's deprecate it in Deno v1.21 release and remove in Deno v1.22

CC @littleof

[2022-04-12 14:24] bartlomieju opened #2107 "http/file_server.ts is extremely slow"
https://twitter.com/jarredsumner/status/1513878964531519494

Deno:
[code]

[code]

Node:
[code]

[code]

[code]

I expect there's an `await` somewhere in `file_server.ts` that effectively limits the concurrency.

[2022-04-12 18:18] KnorpelSenf opened #2108 "Compilation error of `node/internal_bindings`"
**Describe the bug**

The `internal_bindings` modules does not compile.

[code]

**Steps to Reproduce**

[code]

**Expected behavior**

The module compiles.

**Environment**

- OS: Debian 11
- deno version: 1.20.5
- std version: 0.134.0

[2022-04-12 18:31] KnorpelSenf commented on #2108
That was stupid, it's an unstable API so it obviously needs to be compiled with `--unstable`. Closing.

[2022-04-12 20:24] albert-sun commented on #2099
I think it's also important to note that the Node.js spec for crypto/randomInt specifies an inclusive minimum and exclusive maximum - regardless of whether [minimum, maximum) is more prominent in other languages, it's important that the deno implementation matches the native Node.js JavaScript/TypeScript implementation to ensure properly transpiled code between the two runtimes. Furthermore, the o

[2022-04-13 11:44] bartlomieju commented on #2099
I think this is reasonable.

[2022-04-13 13:03] bartlomieju commented on #2103
Let's keep this issue open, until the module is removed.

[2022-04-13 13:08] ry commented on #1778
How do you write multipart data using FormData?

[2022-04-13 13:16] lucacasonato commented on #1778
[code]