[2022-04-14 08:42] kt3k opened #2110 "compat: add dgram.Socket"
`dgram.Socket` is needed to run [multicast-dns](https://www.npmjs.com/package/multicast-dns) in compat mode. (feature request from community)

[2022-04-15 19:54] Danielduel opened #2113 "node/EventEmitter - Allow passing a type to define event data"
EventEmitter uses `...args: any[]` as event data and `string` as event names, which is very broad definition.
At the same time it doesn't provide any way to narrow down what events developer expect to be part of implementation.

Workaround would be extending EventEmitter as and then defining overloads to use generic type as event definition.
https://github.com/ryo-ma/deno-websocket/blob/9e52a3fd65

[2022-04-16 04:31] naijun0403 opened #2114 "node: executing crypto.randomBytes says crypto.getRandomValues ​​is not a function"
**Describe the bug**
When I run crypto.randomBytes, it says crypto.getRandomValues ​​is not a function
**Steps to Reproduce**
1. enter to deno repl
2. ```> crypto.randomBytes(10)```
3. > Uncaught TypeError: crypto.getRandomValues is not a function
    at generateRandomBytes (https://deno.land/std@0.134.0/node/_crypto/randomBytes.ts:24:12)
    at Object.randomBytes (https://deno.land/std@0.134.0/no

[2022-04-16 09:30] ayame113 commented on #2114
When I run `crypto.randomUUID()` in a node compat mode repl, I get a `Maximum call stack size exceeded`, which I think is the same cause.

![image](https://user-images.githubusercontent.com/40050810/163669740-09dec744-78cf-4d2c-9199-57db849ee699.png)

[2022-04-17 00:01] jsejcksn commented on #2103
In [Deno v`1.20.6` / std v`0.135.0`](https://github.com/denoland/dotland/blob/46462c8a3c3ca830d49dfa110f26d3231231d334/versions.json#L195): [`Deno.bench()`](https://doc.deno.land/deno/unstable@v1.20.6/~/Deno.bench) and the [benchmarking API](https://deno.land/manual@v1.20.6/tools/benchmarker) are [not currently available](https://doc.deno.land/deno/stable@v1.20.6/~/Deno.bench) as stable features,

[2022-04-17 23:56] pasha-bolokhov opened #2119 "`createRequire()` makes a child worker stall"
**Describe the bug**
Exporting "require()" or "createRequire()" stalls a child worker

**Steps to Reproduce**
Prepare the main program, and a child worker — use the sample from [Deno Workers](https://dotland-fresh.deno.dev/manual@v1.20.6/runtime/workers).
Then, add `import { createRequire } from "https://deno.land/std@0.133.0/node/module.ts";`
at the top of the child worker

Doing one of the follo

[2022-04-18 19:22] jespertheend opened #2121 "testing/mock.ts: Infer spy function arguments when using replacing a function on an object."
**Is your feature request related to a problem? Please describe.**

Say you want to spy a function on an object:

[code]

Currently the returned spy has the type `Spy<Self, unknown[], any>`, making types less useful down the line when asserting against arguments and return values.

**Describe the solution you'd like**

Infer the argument and return type.
[Here's a working prototype](https://www.ty

[2022-04-19 04:10] littledivy opened #2122 "crypto: add fnv1a hash"
Like the one in `std/hash` https://github.com/denoland/deno_std/blob/main/hash/_fnv

[2022-04-19 10:38] jaydenseric opened #2123 "Unable to use one `AbortSignal` instance with multiple HTTP servers"
**Describe the bug**

Currently one user provided `AbortSignal` instance can't be used to control multiple Deno std library HTTP servers running at the same time, because under the hood instead of using the `addEventListener` method to safely listen for `abort` events, `onabort` properties are set which overrides previously set handlers.

- https://github.com/denoland/deno_std/blob/f482c486446b72d

[2022-04-19 14:50] kt3k opened #2125 "docs: give more detailed description/reasoning/alternative suggestions for the deprecation of fs.exists"
Got feedback from the community that the reason of deprecation of fs.exists are not enough clear, not enough understandable and that alternative solutions are not clear. We should document these points in `deprecated` docs of the API.

[2022-04-20 04:49] #2123 closed

[2022-04-20 05:01] pasha-bolokhov opened #2127 "Property 'ref' does not exist on type 'Listener'"
[code]

**Steps to Reproduce**
`import { createRequire } from "https://deno.land/std@0.136.0/node/module.ts";`

Similar to https://github.com/denoland/deno_std/issues/2108, but I don't know if should it be considered the same issue…

**Expected behavior**

**Environment**

- OS: Ubuntu 20.04
- deno version: 1.21.0
- std version: 0.136.0

[2022-04-20 05:42] kt3k opened #2128 "test(snapshot): do not commit wrong snapshot"
ref #2039

Currently we intentionally commit some wrong snapshots in `testing/__snapshot__` to test `assertSnapshot`, and that means we can't use `--update` option for updating that snapshot. We need to somehow fix this to avoid the maintenance difficulties

[2022-04-20 05:47] kt3k opened #2129 "test(snapshot): use `Deno.makeTempDir` instead of custom tmp directory"
ref #2039

and also let's remove tmp directory at assertion failures.

[2022-04-20 13:27] mvolfik commented on #2127
Previous report of the same error: #2108

I'm also running into this, and using `--unstable` doesn't change anything

[2022-04-20 14:10] mvolfik commented on #2127
Nevermind: `--unstable` **does** help with deno 1.20.6. I was running 1.17.something before

[2022-04-20 16:16] kt3k commented on #2099
closed by #2101

[2022-04-20 19:24] pasha-bolokhov commented on #2127
looks like you're right, I'll close this

[2022-04-20 22:43] bcheidemann commented on #2045
I don't have a strong opinion if this should be implemented or not.

However, it should be `assertNot` in my opinion to match the existing convention set by other assertions e.g. `assertEquals()` vs `assertNotEquals()`.

[2022-04-21 06:11] TomokiMiyauci opened #2134 "recursive functions need to be checked for circular references"
**Describe the bug**
Recursive functions need to be checked for circular references.

I do not know about all modules, but the ones covered are:

- deepMerge

For `deepMerge`, there is a test, but It is not enough.

https://github.com/denoland/deno_std/blob/f4474d681790cc79c2d1142a1efcaa2aaba86991/collections/deep_merge_test.ts#L341-L345

**Steps to Reproduce**

[code]

**Expected behavior**

Not

[2022-04-21 06:44] #2114 closed

[2022-04-21 09:28] Zamiell commented on #2127
I am on the following version of Deno:
[code]

When I run the following program:
[code]

With `deno run deps.ts --unstable`, it gives the following errors:
[code]
Thus, I believe that this issue should be reopened.

[2022-04-21 09:32] Zamiell commented on #2127
More info:
When I use the standard library version 0.130.0, the error disappears.
However, versions 0.131.0 through 0.136.0 have various types of errors.

[2022-04-21 12:42] bartlomieju opened #2135 "Improvements to the "assertSnapshot" API"
Just noticing this now; sad to see opinionated magic around where snapshots are saved (a `__snapshots__` dir) instead of the `assertSnapshot` function just accepting 2 arguments; the actual value being asserted, and a file URL / string path to the snapshot file. That way just by reading argument intellisense it's predictable (and customisable) where the snapshots end up, and the snapshot can be he

[2022-04-21 16:50] KyleJune commented on #2121
I went with that as the defaults because I didn't know there was a way to get the type information for the property when passing in the key.

I think it would be a good change to make it possible for it to infer the args and return from the property name when called with that signature as long as it doesn't make stubbing more difficult.

I think the function that gets passed in to replace the orig

[2022-04-21 18:45] jespertheend commented on #2121
I've been thinking about this, maybe there's a way to keep the current generic parameters, making this a non breaking change. Though it would likely still cause an error when the provided generics do not  match the arguments of the real function. So not sure how useful this would be.

Yeah that sounds ideal. To be honest I wasn't aware the `stub()` function had a similar signature that could benef

[2022-04-21 19:05] KyleJune commented on #2121
I think making the change but just changing the func argument type to the following would work and be good. I believe this would allow the replacement function to not require Args to match the real function. Alternatively the args could be unknown[], allowing any function to be used as the replacement function.

[code]

I believe the benefit of inferring the types is worth making as it will help y

[2022-04-21 19:10] jespertheend commented on #2121
Sounds good! I can take a look at this and do a PR later today. Unless you prefer to have a go at this yourself.

[2022-04-21 21:38] pasha-bolokhov commented on #2127
Ok, re–opening it…

[2022-04-21 21:42] pasha-bolokhov commented on #2127
I don't know people, when I use `deno` version `1.21.0` with `--unstable`, with `std@0.136.0` — the error disappears

[2022-04-21 22:22] jespertheend commented on #2121
I've created #2137, but I'm still running into an issue while making the args `Partial<>`. Not sure how to resolve that yet, but I'll have another look at it tomorrow.

[2022-04-21 23:10] Zamiell commented on #2127
It might be a Windows-specific issue then.

[2022-04-22 03:57] sant123 commented on #2071
@sholladay what about this code? I think it could be a workaround for what you need:

[code]

Oak does the same, after using `Deno.listen` and initializing the `Application`. A event `listen` is fired:

https://github.com/oakserver/oak/blob/main/application.ts#L546
https://github.com/oakserver/oak/blob/c4fe8b35c0362b9b153e1cf8af4081c7a3905834/http_server_native.ts#L91

Hope it helps 😄

[2022-04-22 13:23] TheSecondPower opened #2139 "Deno Install on Standard Library File Server TypeScript Error"
**Describe the bug**
When I attempt to installed the Deno standard library file server, I get type errors.

**Steps to Reproduce**

1. In my project's root directory, I ran the install command, as per the instructions in the manual (https://deno.land/manual/examples/file_server).
[code]
2.
<summary>
    The following type error results:
    <details>

[code]

</details>

</summary>

3.  But when I

[2022-04-22 13:26] nayeemrmn commented on #2139
You most likely have type libs set in `deno.json` which are meant for maybe a front end. Yes, `deno.json` is detected automatically as of 1.18 https://deno.com/blog/v1.18#auto-discovery-of-the-config-file.

[2022-04-22 17:16] littledivy commented on #2107
Fixed in https://github.com/denoland/deno/pull/14284 and https://github.com/denoland/deno/pull/14366

note that the Node.js server above is not equivalent to the std file_server. It's missing etag generation, header ranges and other complex stuff. Here's the benchmark anyways:

`sample.txt` is 5mb

Deno `std/http/file_server.ts`:
[code]

Node:
[code]

[2022-04-22 17:16] #2107 closed

[2022-04-22 22:55] ralyodio commented on #882
Columns in json objects don’t guarantee order.  I would assume an array of arrays is the only way or possible a “Map” that does retain order in keys.

[2022-04-22 23:21] oscarotero opened #2140 "assertSnapshot crops long texts"
**Describe the bug**

I want to use assertSnapshot to test the pages generated by [Lume](https://github.com/lumeland/lume), but just noticed that values with long content (more than 115 characters) are cropped so I cannot test the whole page content.

**Steps to Reproduce**

1. Create a file with the contents:
[code]

2. Run the test with `deno test --allow-read --allow-write test.ts -- --update`

[2022-04-22 23:25] oscarotero commented on #2140
Note that if the content passed to the snapshot is a string, it will be saved entirely. So a workaround for this is using `JSON.stringify` to pass the content:

[code]

[2022-04-23 02:51] luk3skyw4lker commented on #882
I didn't specifically thought about order, but your suggestion is good. But in this case a normal array wouldn't do the job? Why a array of arrays? Didn't manage to think this through

[2022-04-23 07:45] TomokiMiyauci commented on #1779
I have previously created a module [unitest/expect](https://github.com/TomokiMiyauci/unitest/tree/main/expect).

With the significant enhancements to the testing environment since 1.21.0, it would be nice if this module could also be provided as a standard.

I hope my work will be of some help.

[2022-04-23 09:10] bcheidemann commented on #2135
As suggested by @kt3k in [this comment](https://github.com/denoland/deno_std/pull/2039#issuecomment-1104699940) we could overload the `assertSnapshot` function.

When I was working on the implementation, this is something I considered because we could have avoided #2128 but I didn't want to over complicate/rush the implementation for first pass because we wanted to release this feature with Deno v

[2022-04-23 09:11] bcheidemann commented on #2135
Btw this would enable us to close both #2128 and #2129 😁

[2022-04-23 09:16] bcheidemann commented on #2129
@kt3k I think we can sidestep this issue.

Currently spawning new instances of `deno test` adds 5+ seconds which is not ideal.

If we implement something similar to [my suggestion](https://github.com/denoland/deno_std/issues/2135#issuecomment-1107438487) in #2135 I think we can test the behaviour of updating and asserting a mismatched snapshot without needing to spawn new instances of `deno test`.

[2022-04-23 09:38] bcheidemann commented on #2045
@bartlomieju @kt3k can we make a call yet on if we want to include this or not? The reasons for including it seem valid to me and I know I (and many other developers) would use it even though it is trivial 😉

[2022-04-23 09:40] kt3k commented on #2135
@bcheidemann
Thanks for suggesting the API design!

Overloading with options object looks good to me, but the properties of `SnapshotOptions` look a little verbose to me:

The example in https://github.com/jaydenseric/snapshot-assertion#examples will be like:

[code]

Because it's already the options for `assertSnapshot`, `snapshot` part in property name looks redundant to me. Also the separation

[2022-04-23 09:54] bcheidemann commented on #2135
@kt3k Thanks for the feedback!

On reflection, I completely agree! 😁

Great! I'll get started!

[2022-04-23 10:12] bcheidemann opened #2142 "assertSnapshot handles multiline strings incorrectly"
**Describe the bug**

When `assertSnapshot` is called with a multiline string, the newlines are replaced with the characters `\\n` making it hard to read multiline snapshots.

**Steps to Reproduce**

1. Create a test file

[code]

2. Run `deno test test.ts -- -u`
3. See resulting snapshot file

[code]

4. Observer the issue

**Expected behavior**

The snapshot file should be formatted as follows:

[2022-04-23 10:38] bcheidemann commented on #2135
@kt3k On... third thought?... would you object to a `dir` option? 😄

I think this makes sense because if all you care about is the snapshot directory then it's cleaner to write:

[code]

than

[code]

This has the added benefit that if you rename the test file, you don't need to make any manual alterations.

[2022-04-23 10:50] bcheidemann opened #2143 "assertSnapshot should report the number of snapshots removed"
**Is your feature request related to a problem? Please describe.**

When I run `deno test -- --update` to update my snapshots, it reports the number of snapshots updated:

[code]

but it doesn't report how many snapshots were removed.

**Describe the solution you'd like**

I would like to see which snapshots have been removed in the following format:

[code]

**Describe alternatives you've conside

[2022-04-23 11:14] GJZwiers opened #2144 "`assertSnapshot` adds commas to empty arrays"
**Describe the bug**

When passing an object to assertSnapshot, commas are added inside empty arrays, causing the snapshot test to fail

**Steps to Reproduce**

test file (simplified):
[code]

snap file:

[code]

output:

[code]

**Expected behavior**

There should not be commas inside the empty arrays

**Environment**

- OS: Windows 10
- deno version: 1.21.0
- std version: 0.136.0

[2022-04-23 12:12] bartlomieju commented on #2135
`dir` seems fine. Other suggestions looks fine too. Looking forward to PRs.

[2022-04-23 12:12] bartlomieju commented on #2129
FYI I'm still unable to run all tests locally, the "update" test is failing. We should fix this situation ASAP.

[2022-04-23 12:13] bartlomieju commented on #2135
One more thing I'd love to see is an alternative serializer provided as an exported function - the serializer should match using wildcards, ie. we want to assert the shape of the object but certain values don't need to match exactly. This is useful if there are dates/time measurements.

[2022-04-23 12:14] bartlomieju commented on #2045
If there's prior art for such assertion I'm willing to squint my eyes and accept it.

[2022-04-23 12:14] bartlomieju commented on #2144
CC @bcheidemann

[2022-04-23 12:19] bartlomieju commented on #1779
@TomokiMiyauci your module looks very interesting, but it looks like it only provides single `expect` function. I was aiming for a module that would provide the same API as in Jest: https://jestjs.io/docs/expect

[2022-04-23 12:21] bartlomieju commented on #2140
CC @bcheidemann

[2022-04-23 14:07] bcheidemann commented on #2140
@bartlomieju on it 👍

[2022-04-23 14:24] bcheidemann commented on #2135
I really like this idea! Jest has the following:

[code]

[code]

But this doesn't work for many use cases 🤔

I'll put some thought into this later but I wonder if it should be a separate PR? It could be very powerful if done right and I'd want to give it the attention it deserves.

Thoughts? @bartlomieju @kt3k

[2022-04-23 14:26] bcheidemann commented on #2144
@bartlomieju on it 👍

[2022-04-23 14:37] bcheidemann commented on #2129
That's not ideal 🤔

The update test will basically be completely re-written as part of #2135 so hopefully this should fix it.

By the way, this test passes locally for me but the `http/file_server_test.ts` fails on `file_server file responses includes correct etag`:

[code]

[2022-04-23 15:15] TomokiMiyauci commented on #1779
@bartlomieju
Since the API consists of pure functions only, except for throwing Error, some APIs were not implemented.

- APIs related to snapshots
- `expect.assertions`
- `expect.hasAssertions`

And in the interest on composability, some APIs were cut out as functions.

- `expect.extend` -> `extendExpect`

Also, so-called asymmetric matchers (like `expect.anything`) are in [expect/dummy](https://

[2022-04-23 15:36] kt3k commented on #2135
Ok. `dir` seems fine to me now. Let's have both `path` and `dir`.

Separate PR sounds good to me 👍

[2022-04-23 15:45] kt3k commented on #2135
Wildcard matching is powerful and desirable feature (We already needed something like this in our test cases. [ref](https://github.com/denoland/deno_std/blob/3b7aca1842a697daee7833310ff1bb9c049c73ea/testing/snapshot_test.ts#L106-L109)).

FYI Deno CLI uses the format like [this](https://github.com/denoland/deno/blob/d2c80aa26f30cfc3d614ff313a8dfe4c2c534cd1/cli/tests/testdata/022_info_flag_script.ou

[2022-04-23 15:52] Danielduel opened #2145 "Include type assertion utils in std library"
It would be handy to have a standard way of writing type assertions.
Main use-case is to check typings that you add on top of node module.

Examples of type assertion utils that I like:

Lib https://github.com/type-challenges/type-challenges/blob/main/utils/index.d.ts
Usage https://github.com/type-challenges/type-challenges/blob/main/utils/index.d.test.ts

Lib https://github.com/TypeStrong/ts-expe

[2022-04-23 15:52] kt3k commented on #2129
@bartlomieju

What error do you see?

@bcheidemann

That should be fixed by upgrading to canary version: `deno upgrade --canary`

[2022-04-23 17:38] bartlomieju commented on #2135
Yeah, a copy of what CLI does (`[WILDCARD]`) would cover most cases I can think of.

[2022-04-23 17:39] bartlomieju commented on #1779
@TomokiMiyauci I see; I think we don't need all of the APIs in the first iteration. Could you possibly list which APIs are supported in your library?

[2022-04-23 17:47] bartlomieju commented on #2129
Scratch that, it no longer happens after upgrading to latest stable release. I guess I had hit some flake.

[2022-04-23 18:21] TomokiMiyauci commented on #1779
@bartlomieju
Note that there is no guarantee of equivalence with `jest`.

unitest/expect API

- [expect.toBe](https://github.com/TomokiMiyauci/unitest/tree/main/matcher/to_be.ts)
- [expect.toEqual](https://github.com/TomokiMiyauci/unitest/tree/main/matcher/to_equal.ts)
- [expect.toBeFalsy](https://github.com/TomokiMiyauci/unitest/tree/main/matcher/to_be_falsy.ts)
- [expect.toBeTruthy](https://gith

[2022-04-23 18:37] bartlomieju commented on #1779
@TomokiMiyauci looks awesome! I'd be more than happy to include it in the deno_std if you wanted to upstream it.

[2022-04-24 09:05] cmorten commented on #1635
Looking into this as part of https://github.com/denoland/deno_std/pull/2146

@bartlomieju have you made any headway / have any pointers as to what is causing the tests to hang? (No worries if not!)

[2022-04-24 10:36] cmorten commented on #1635
Been trying to triage the issue using the `test-net-buffersize.js` test from Node.

Side by side comparison (easier to spot divergence):

![Screenshot 2022-04-24 at 11 26 48](https://user-images.githubusercontent.com/11313985/164972199-61c7397a-0c97-44a7-8f6a-3977a247351e.png)
![Screenshot 2022-04-24 at 11 26 56](https://user-images.githubusercontent.com/11313985/164972203-27805368-2460-4aad-a40f-

[2022-04-24 11:05] bcheidemann opened #2147 ""assertSnapshot" should add support for wildcards"
Originally posted by @bartlomieju in [#2135 (comment)](https://github.com/denoland/deno_std/issues/2135#issuecomment-1107461840)

[2022-04-24 11:35] Duelsik opened #2149 "Test task fails on main branch"
`deno task test` results in

[code]

- OS: Arch 5.17.x
- deno version: 1.21.0
- std version: main branch, last local commit that I see `3b7aca1842a697daee7833310ff1bb9c049c73ea`

[2022-04-24 17:46] bartlomieju commented on #2149
I'm actually having the same error locally. CC @littledivy could you take a look?

[2022-04-24 19:03] bartlomieju commented on #2103
You should use `Deno.bench()` API, hopefully we'll stabilize it in Deno v1.22. `deno_std` is at 0.135.0 so it's still unstable, giving a few weeks of deprecation notice seems enough to migrate to the new API. Alternatively you can stay on previous versions of `deno_std` for `testing/bench` imports.

We'll add JSON output from `deno bench` subcommand before stabilization.

[2022-04-24 20:28] orl0 opened #2151 "assertStrictEquals could use a better comparation"
**Is your feature request related to a problem? Please describe.**

`assertStrictEquals()` inherits the problem of strict equality operator (`===`), exactly the `===` operator treats the number values `-0` and `+0` as equal and `Number.NaN`/`NaN` as not equal.

This behavior doesn't seems for me to be expected when testing.

Expression `assertStrictEquals(func(), NaN)` shouldn't throw if `func` re

[2022-04-24 21:12] bcheidemann commented on #2144
@GJZwiers

I have raised a PR to address this.

In the meantime, the recommended way to create a new snapshot is to run `deno test -- --update` after you've written the test. This will avoid this error as it will create the snapshot file with the extra commas and you can then run `deno test` as you normally would - the tests should pass.

When the fix ships, you will need to run `deno test -- --up

[2022-04-24 22:01] cmorten commented on #1635
Update on the above issue - resolved by implementing `LibuvStreamWrap.prototype.writev`. Curious that the `notImplemented(...)` error was getting swallowed...

[2022-04-24 23:45] bartlomieju commented on #2153
Transfered to `deno_std` as this should be implemented on top of `Deno.test()` API similar to `testing/bdd.ts`

[2022-04-25 02:47] littledivy commented on #2149
It's expected, the tests pass on canary. https://github.com/denoland/deno_std/pull/2133 introduced the change because of the auto compression for HTTP bodies.

[2022-04-25 04:10] jsejcksn commented on #2103
@bartlomieju I interpret that you're suggesting this is the only alternative.

Although I understand the current scenario, I want to point out that using a TypeScript module which is "unstable" according to [semver](https://semver.org/) is very different than running Deno itself in unstable mode. I can independently evaluate the code in the module and use it without adopting the rest of the `std`

[2022-04-25 06:08] treysis commented on #1165
Keep in mind that on many systems, including Windows, `localhost` also resolves to `::1`. Right now, I only know of Ubuntu that doesn't resolve localhost to ::1, but instead uses `ip6-localhost`.

[2022-04-25 06:27] kt3k commented on #2045
Researched other languages and libraries. Some languages seem intentionally avoiding including it (Node, Ruby, Rust, etc), but many languages/libraries seem having `assertFalse` or similar. Interestingly I couldn't find any example of `assertNot`, which I personally think is worth considering.

### Libs/Languages which have something similar to `assertFalse`
- JUnit (Java) has `assertTrue` and `as

[2022-04-25 07:17] Duelsik commented on #2149
It makes sense, thank you.

[2022-04-25 07:17] #2149 closed

[2022-04-25 07:31] bcheidemann commented on #2045
@kt3k That's very interesting 🤔 seems like a fairly even split.

I think `assertFalse` makes sense for many of the other languages mentioned because they have much narrower definitions of what it means to be falsy.

In JS I think it is misleading because `assertFalse(""); assertFalse(0); assertFalse(null); assertFalse(undefined); assertFalse(NaN);` would all pass.

I suggested `assertNot` because

[2022-04-25 08:55] 7flash opened #2155 "server duplicate requests"
**Describe the bug**

It duplicates all incoming requests

**Steps to Reproduce**

1. Create a file server.ts with the contents

[code]

2. Start the process

[code]

3. Open http://localhost:9191 in browser and refresh page again

**Expected behavior**

It's expected to have counter equal to 1, 2, 3...
but instead it shows 1,3,5,7...
also "new request" appears in the console twice on each refresh

[2022-04-25 09:44] littledivy commented on #2155
Your browser is sending 2 requests when you visit `http://localhost:9191/` (one to `/` and another to `/favicon.ico`). If you `curl` the endpoint you can see the counter increment normally.

[2022-04-25 11:29] ralyodio commented on #882
Arrays will maintain order. You would just need to add a header array first. So first array is first row and that contains an array of columns.

You’ll need to add empty spaces for missing cells.

I think. Map might be better suited here

[2022-04-25 11:32] luk3skyw4lker commented on #882
Nice, I got the idea, thanks for your suggestions! I'll make a PR this week with the modifications

[2022-04-25 11:59] #2140 closed

[2022-04-25 15:08] 7flash commented on #2155
Thx makes sense

[2022-04-25 15:08] #2155 closed

[2022-04-25 20:16] bartlomieju commented on #2045
@kt3k since there are more examples of support for this feature I think we can add it.

[2022-04-26 11:04] #2144 closed

[2022-04-26 16:23] oscarotero commented on #2142
I have the same problem. I was expecting multiline strings were stored with template literals ([like Jest](https://github.com/marketgoo/Ola/blob/development/src/Button/__snapshots__/test.js.snap)), so it's more easy to detect changes and see git diff.

I've also detected differences between Windows and Unix/Macos due endline (`\n` vs `\r\n`) but not sure if this is a bug or is the desired behavior

[2022-04-26 16:26] andykais opened #2156 "http mocking"
**Is your feature request related to a problem? Please describe.**

I would like to mock out http requests inside deno tests

**Describe the solution you'd like**
It would be awesome if deno could provide a clean interface for this in the std library. In nodejs land, there is a pretty killer library called [nock](https://www.npmjs.com/package/nock) that accomplishes this. In addition to mocking ou

[2022-04-26 16:39] bcheidemann commented on #2142
I would expect that (within reason) if you run the same code, it should produce the same output on all platforms.

Are you able to produce different snapshot output with the same code on MacOS and Windows? If so, could you share the code and the output it produces for each platform?

[2022-04-26 20:56] oscarotero commented on #2142
I saw this problem when I was porting the tests of Lume (a SSG) to snapshots. You can see here the github action with the error: https://github.com/lumeland/lume/runs/6140674360?check_suite_focus=true

And was able to fix it with a `replaceAll` function: https://github.com/lumeland/lume/commit/f3f29787ba8e6c739f2443a8e116df6b67734316

But I'm not sure if the problem is the snapshot. Lume reads the

[2022-04-27 07:15] bcheidemann commented on #2142
Thanks for the explanation @oscarotero

I can't see the GH actions output you sent for some reason 🤔

Anyway, I'll put up I fix for this - most likely this evening but definitely this week. 👍

[2022-04-27 14:58] crowlKats opened #2159 "`_createUrlStrFromOptions` misses defaults for some arguments"
https://github.com/denoland/deno_std/blob/1329dfaceb654b353bb3d1037dd328679f8349cc/node/http.ts#L165

[2022-04-28 01:27] TheSecondPower commented on #2139
Yep, that would be the issue; in the future I'll run the install command from a directory that doesn't have `deno.json`.

[2022-04-28 01:27] #2139 closed

[2022-04-28 01:49] kitsonk opened #2163 "Improve JSDoc to improve doc.deno.land"
https://doc.deno.land/ now has an "index" page for complex libraries like std (see: https://doc.deno.land/https://deno.land/std). Currently the inline documentation generated is lacking in a lot of key ways.  Specifically the doc.deno.land generator will take the first paragraph of a JSDoc block and display it as the summary on the index page.  For modules, the first paragraph of a `@module` JSDoc

[2022-04-29 09:54] cmorten commented on #1486
Added support for the `require("dns/promises").lookup` in https://github.com/denoland/deno_std/pull/2164

[2022-04-29 12:18] kt3k commented on #2160
The 2nd arg of `assertThrows` can be a callback, which seems already implementing your idea (though it's not 3rd arg).

https://github.com/denoland/deno_std/blob/210e8332634607ca82b1e0abab01b526215be317/testing/asserts_test.ts#L718-L728

`assertRejects` also provides similar feature

https://github.com/denoland/deno_std/blob/210e8332634607ca82b1e0abab01b526215be317/testing/asserts_test.ts#L730-L74

[2022-04-29 17:52] luk3skyw4lker commented on #2122
I can take this one. I'll take a look at the algorithm today and create an implementation.

[2022-04-29 17:55] luk3skyw4lker commented on #2122
It seems like they're already implemented. There are two classes being exported of the module and one is the fnv algorithm and the other is the fnv-a

[2022-04-29 17:56] luk3skyw4lker commented on #2122
Why the need for them to be at the crypto module? Is it because it's internal? I didn't fully understand the need for it.

[2022-04-29 18:17] KyleJune commented on #2122
It's because hash module is deprecated. They are going to delete the whole hash folder. Instead of deleting fnv that can't be replaced with WebCrypto and std/crypto, I think they are just going to just move it to std/crypto folder instead of keeping this folder with just fnv algorithms in it.

[2022-04-29 18:19] luk3skyw4lker commented on #2122
Dang! That totally slipped through me, I'm sorry!

I'll do the work of implementing the algorithms then, thanks for the heads up!

[2022-04-29 18:29] luk3skyw4lker commented on #2122
In that case, wouldn't be the case to migrate all of the hashing algorithms to the crypto module? Or I am wrong?

[2022-04-29 18:44] KyleJune commented on #2122
I think all the other ones in that directory can be done by WebCrypto or std/crypto. fnv is a non cryptographic hash, which is why it currently doesn't have a replacement. I'm not sure about internal discussions at Deno on this task, but I think the fnv implementation in hash could just be moved to std/crypto instead of re-implementing it.

[2022-04-29 18:52] luk3skyw4lker commented on #2122
I'm checking with the maintainers about the internals, thanks for your tips!

[2022-04-30 10:33] #1486 closed

[2022-04-30 11:05] littledivy commented on #2122
Yup `std/hash` is deprecated so we need this in `std/crypto`. You can simply copy over the algorithm from `std/hash/_fnv` to expose this API:

[code]

The streaming implementation can also be simplified to a simple function, like the one used in `std/http/file_server.ts` https://github.com/denoland/deno_std/blob/main/http/file_server.ts#L183

[2022-04-30 11:17] kt3k opened #2170 "`assertFalse` can have better typing"
ref https://github.com/denoland/deno_std/pull/2093#discussion_r862336747

[2022-04-30 15:52] UltiRequiem commented on #2045
Closing because the feature was merged.

[2022-04-30 15:52] #2045 closed

[2022-04-30 18:01] sholladay commented on #2071
@sant123 `serveListener()`, like the other functions I mentioned, also returns a promise, which your code is ignoring.

As I understand it ...

[code]

... is prone to race conditions. But I could be mistaken. Either way, it's unusual to treat an async function as having a synchronous result.

[2022-04-30 20:38] sant123 commented on #2071
Yeah that makes sense, however don't forget that Deno.listen does not return a promise and from there is already listening for new connections. The serveListener just adds the handler for http requests so when doing a fetch request it will work and race conditions will not be present. Could you try my code above and let me know if it works?

[2022-05-01 09:54] MathisBullinger opened #2171 "`assertEquals` results in stack overflow when comparing self-referential objects"
**Describe the bug**

When comparing two self-referencing objects with `assertEquals`, `RangeError: Maximum call stack size exceeded` is thrown.

**Steps to Reproduce**

1. Create a file `example.test.ts` with contents:
[code]

2. Run test: `deno test example.test.ts`
3. See output:
[code]

**Expected behavior**

The test should pass without error, since the two objects are structurally equal.

**

[2022-05-01 12:50] #2171 closed

[2022-05-01 13:36] luk3skyw4lker commented on #2122
Yeah, I was thinking about placing a function just like the one from `std/http/file_server.ts` at the mod.ts file of the crypto module. But then I took a deeper look at the module implementation and saw that most of the algorithms are placed in the `_wasm_crypto` module which is in Rust.

In that case, should I do the Typescript implementation or follow the pattern and implement them in Rust? (I'm

[2022-05-01 13:46] littledivy commented on #2122
Typescript. The algorithm is fairly trivial and possibly more performant than WASM (calling into WASM each iteration is not cheap)

[2022-05-01 13:50] luk3skyw4lker commented on #2122
Right! Thanks for the answers, I'll try to make a PR today.

[2022-05-01 15:16] jespertheend opened #2174 "test/asserts.ts: assertEquals() doesn't show a diff when two different constructors have the same name"
**Describe the bug**

When comparing two large objects that are almost the same, except for the two using two different instances of a constructor, the function throws without giving any helpful info about what part of the object isn't equal.

**Steps to Reproduce**

[code]

When the objects being compared are small, like in this example, it's easy enough to figure out that the issue is that `MyCo

[2022-05-02 01:13] sant123 opened #2176 "Memory leak when using Deno.open and streams with serve()"
**Describe the bug**
Please see https://github.com/denoland/deno/discussions/14442

**Steps to Reproduce**

1. Create a file with these contents:

[code]

2. Go to http://localhost:8080
3. See the console, you will see a `fsFile` resource
4. Go again or refresh the page
5. See the console, you will see the previous (not closed) and a new `fsFile` resource

![image](https://user-images.githubuserco

[2022-05-02 18:01] c4spar commented on #1898
i can work on it. i have already a partialy working virsion.

[2022-05-02 18:13] bartlomieju commented on #1898
@c4spar sounds good 👍 looking forward to PR

[2022-05-02 18:38] bcheidemann commented on #2128
@kt3k This is fixed in https://github.com/denoland/deno_std/pull/2179 😊

[2022-05-02 18:40] bcheidemann commented on #2129
@bartlomieju @kt3k This is fixed in https://github.com/denoland/deno_std/pull/2179 👍

[2022-05-03 04:46] nayeemrmn opened #2181 "`node/module.ts` hangs in a web worker"
Because of node `worker_thread` detection. Fix coming.

[2022-05-03 14:32] #2181 closed

[2022-05-03 16:20] jsejcksn opened #2186 "http/server: disable startup message behavior for `serve` fn"
**Is your feature request related to a problem? Please describe.**

Recently, a controversial PR #1641 was merged (see feedback in the PR for details), which changed the exported function [`serve`](https://github.com/denoland/deno_std/blob/0.137.0/http/server.ts#L525-L568), causing it to write to `stdout` when invoked (via a call to `console.log`). The content that is written is an English-localiz

[2022-05-04 10:05] #2081 closed

[2022-05-04 10:05] #2100 closed

[2022-05-04 10:05] #2127 closed

[2022-05-05 11:10] bartlomieju commented on #1779
@TomokiMiyauci should I expect a PR from you adding this API?

[2022-05-05 12:11] jsejcksn commented on #1649
It seemed to me like this is exactly the misusage case that this issue intended to surface through breakage by preventing access.

@sno2 Is that correct? If not, why perform the refactor?

[2022-05-05 22:58] timonson opened #2193 "log: The file handler only creates a file but doesn't write to it in some cases"
The logger causes strange behavior. The file handler only creates a file but doesn't write to it in some cases. I also tested it with another server, so `Oak` is obviously not the issue here.

In the following example the logger creates the file but doesn't write to `./log.txt`:

[code]

On the other hand, when I remove the server code it works like expected and the message is written to the file:

[2022-05-06 08:29] idanran opened #2194 "Add MessagePack's encode and decode"
**Is your feature request related to a problem? Please describe.**

encode or decode MessagePack

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

[2022-05-06 13:05] #2128 closed

[2022-05-06 13:05] #2129 closed

[2022-05-06 13:05] #2135 closed

[2022-05-06 16:24] TomokiMiyauci commented on #1779
@bartlomieju
I intend to issue a PR, but before I do, there is something that should be clarified.

unitest internal implementation is very different from jest. Therefore, I'm not sure if the community will like it.

Specifically, the following points are very different:

- Proxy

  It does not take a class-based approach like jest. unitest emphasizes composability, and by default, there is none.

[2022-05-06 16:38] bartlomieju commented on #1779
We can make exceptions to that rule, and it seems like this is one of these situations where we should.

I aimed for Jest-like API, I don't particularly care if errors messages are the same.

[2022-05-06 23:45] timonson commented on #2186
With regards to *reverting this PR*: I think you are underestimating how many times this would force people to write this exact line of code. I wouldn't be surprised if it would end up in the millions.

[2022-05-07 00:53] masx200 commented on #2186
I think we can add an optional callback function onlisten to the options parameter to allow the user to customize the startup message.

[2022-05-07 02:13] masx200 opened #2196 "http/server.ts : The attribute `secure` should be added to interface `ConnInfo` to indicate whether it is a `tls` connection."
**Is your feature request related to a problem? Please describe.**

http/server.ts : The attribute `secure` should be added to interface `ConnInfo`   to indicate whether it is a `tls` connection.

**Describe the solution you'd like**

[code]
**Describe alternatives you've considered**

[2022-05-07 05:20] TomokiMiyauci commented on #1779
@bartlomieju
I am not sure if it should be a jest like class base implementation or a unitest like Proxy implementation.
jest's `expect` is a mix of matchers (e.g. `toBe`), modifiers (e.g. `not`, `rejects` ), dummy objects (e.g. `anything`), and even `assertions`.

Since unitest/expect is overly concerned with bundle size, only matchers and modifiers are configurable. Also, the dummy object is a p

[2022-05-07 10:50] kt3k commented on #1779
@TomokiMiyauci Can you give us more specific examples which show the differences of jest and unitest?

We generally don't try to make it 100% compatible with existing libraries (in this case jest) in std. So subtle difference is just fine in my view.

[2022-05-07 11:05] bartlomieju commented on #1779
I agree, the high level goal is to have similar API to what Jest provides. I'd also be fine with an implementation that is a direct port of what `vitest` has (linked in the first comment).

[2022-05-07 13:02] lucacasonato commented on #2196
You can already get this info from the request URL.
[code]

[2022-05-07 13:02] #2196 closed

[2022-05-07 13:31] danopia opened #2197 "pooledMap can throw uncaught `undefined` when cancelled"
**Describe the bug**

If `pooledMap` gets canceled, it seems to throw an uncaught `undefined` value. Cancelling can happen due to returning from within the loop body. The `undefined` does not seem to be catchable with a `try {} catch {}` construction.

The lack of a stack trace can make debugging tricky, as the developer may not immediately suspect `pooledMap` to be the source of the issue.

**Ste

[2022-05-07 18:50] TomokiMiyauci commented on #1779
@kt3k
The biggest difference is the presence of ambient(interface).

jest defines [interface](https://github.com/facebook/jest/blob/main/packages/expect/src/types.ts#L125) for matchers, etc.

The matcher interface is almost the same in jest and unitest. For example `toBe`:

[code]

Matchers are defined as pure functions. (although jest depends on `this`).
Since ``actual`` is actually passed intern

[2022-05-08 12:51] #2046 closed

[2022-05-08 17:01] jsejcksn commented on #2186
The simplest option (least thinking/typing) from a user perspective would be something like `{ startupMessage?: boolean }` with a default of `false`, making it simple for anyone who wants the startup message behavior to enable it like this: `serve(handler, { startupMessage: true })`.

An alternative option (in the spirit of [the message from @masx200](https://github.com/denoland/deno_std/issues/21

[2022-05-08 20:06] jespertheend opened #2202 "testing/asserts.ts: Consider making `assertEquals()` and friends more strictly typed."
**Is your feature request related to a problem? Please describe.**

At the moment, [`assertEquals()`](https://deno.land/std@0.138.0/testing/asserts.ts#L155), [`assertNotEquals()`](https://deno.land/std@0.138.0/testing/asserts.ts#L201), [`assertNotStrictEquals()`](https://deno.land/std@0.138.0/testing/asserts.ts#L297) and [`assertArrayIncludes()`](https://deno.land/std@0.138.0/testing/asserts.ts#L4

[2022-05-08 20:33] jespertheend commented on #2202
I tried this out on the deno_std repository and was greeted with 112 new type errors across all 2439 tests.
However, all were fixable by simply adding `<unknown>` to 29 `assert` calls across 7 files.
So that gives you some idea of the impact a breaking change like this would have.

[2022-05-09 03:33] iwinux commented on #1359
The skip logic was introduced by https://github.com/denoland/deno_std/pull/1792.

Would @bnoordhuis kindly explain why are symlinks skipped in this way?

[2022-05-09 03:41] iwinux commented on #1359
Forget the deleted comment, my mistake.

The "if not follow symlink then continue (skip)" logic actually dates back to the initial `fs.walk` implementation (see https://github.com/denoland/deno_std/pull/192), and gets carried over since then.

Would someone who knows the background explain the decision behind this? It seems like an easy fix (just remove the `continue` branch) but I'm afraid that s

[2022-05-09 14:13] oles opened #2204 "Support the Response object in assertObjectMatch"
**Is your feature request related to a problem? Please describe.**

I'm creating some tests for a server handler, and assertObjectMatch didn't work as expected on the responses.

**Describe the solution you'd like**

That

[code]

would work.

**Describe alternatives you've considered**

The Response object does not have enumerable properties, so there's no elegant way to convert it into a plain o

[2022-05-09 16:40] cmorten commented on #2110
Will take a look

[2022-05-10 05:26] masx200 opened #2206 "test failed in http/file_server_test.ts error: Uncaught TypeError: Must be a file URL."
**Describe the bug**

test failed in http/file_server_test.ts error: Uncaught TypeError: Must be a file URL.

**Steps to Reproduce**
[code]

**Expected behavior**
no errors

**Environment**

v8 10.0.139.17
typescript 4.6.2
- OS: Microsoft Windows [版本 10.0.19044.1682]
- deno version:deno 1.21.2 (release, x86_64-pc-windows-msvc)
- std version:0.138.0

[2022-05-10 05:33] masx200 opened #2207 "error conditional response in http/file_server.ts"
**Describe the bug**

error conditional response in http/file_server.ts

`If-None-Match: W/3ff580a0`

`etag: W/3ff580a0`

expect response status to be 304

**Steps to Reproduce**
start server
[code]

request
[code]
response
[code]
**Expected behavior**

expect response status to be 304

**Environment**

v8 10.0.139.17
typescript 4.6.2

OS: Microsoft Windows [版本 10.0.19044.1682]
deno version:deno 1

[2022-05-10 09:48] ayame113 opened #2208 "Proposal: Web stream based jsonlines parser"
Would you like to add stream based [jsonlines](https://jsonlines.org/) parser as suggested in discord?

https://discord.com/channels/684898665143206084/712010403302866974/972924800852951040

[code]

[code]

Implementations can be copied from https://deno.land/x/jsonlines@v1.1.0.

[2022-05-10 09:52] ayame113 commented on #2208
My another suggestion is to add `transformStreamFromGeneratorFunction`, a utility function used [inside jsonlines modules](https://deno.land/x/jsonlines@v1.1.0/mod.ts#L86), to the strams module.

[code]

[2022-05-10 09:59] crowlKats commented on #2208
I am in favour of this, though unsure about the latter.

[2022-05-10 10:10] bartlomieju commented on #2208
The name is very long, maybe `generatorToStream`?

[2022-05-10 11:13] kt3k commented on #2208
I'm in favor of having this in std.

It seems that there's also a spec called NDJSON, which seems having a little bit more formal document https://github.com/ndjson/ndjson-spec, http://dataprotocols.org/ndjson/ Maybe better to also consider this as module name?

(Elasticsearch, for example, seems using ndjson for it https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html

[2022-05-11 11:51] kt3k commented on #2186
@jsejcksn
I'm in favor of adding `onlisten` (or maybe `onListen`?) option, but I don't think the logging behavior should be opt-in as we (especially core team) want to keep the default logging behavior.

Which do you see more reasonable:
- We have `serve` and `listenAndServe` and `serve` logs the massage by default.
- We have only `serve` and it has `onListen` option and it logs the message by def

[2022-05-11 12:04] AnInternetTroll commented on #2186
:+1:

[2022-05-11 12:06] kt3k commented on #2206
That test file isn't meant to be run with `https://` scheme. Please check out the repository and run it like:

[code]

[2022-05-11 12:29] kt3k commented on #2207
Seems like it's caused by https://github.com/denoland/deno_std/pull/2133

When deno does the body compression, etag becomes the form of `W/<etag>` and the matching of `If-None-Match` doesn't work anymore.

[2022-05-11 12:42] masx200 commented on #2207
https://unpkg.com/browse/fresh@0.5.2/index.js

[code]

According to the code of the `fresh` module, this is no problem.

[2022-05-11 12:58] kt3k commented on #2207
Let's do something similar

[2022-05-11 17:10] jsejcksn commented on #2186
Hi @kt3k:

It's not clear to me how your listed suggestions relate to the topic of this issue, which is about using the `serve` function without the side-effect behavior of writing a startup message to `stdout`. In your second suggestion:

Are you implying that providing some kind of value to the `onListen` property will prevent `serve` from logging the startup message? Can you clarify this, pleas

[2022-05-12 05:27] kt3k commented on #2186
@jsejcksn

Yes, in my second suggestion, I meant that `onListen` has the default value which is something like `onListen: () => console.log("Listening ...")`, and you can replace that value (behavior) with your own implementation.

So this can be done like `serve(handler, { onListen: () => console.log("...localized message...") }` (with my second suggestion)

I think passing `onListen: () => {}` (

[2022-05-12 05:30] idanran opened #2211 "Add GraphQL Server"
**Is your feature request related to a problem? Please describe.**

Build GraphQL API

**Describe the solution you'd like**

[https://graphql.org/](https://graphql.org/)

[code]

**Describe alternatives you've considered**

[2022-05-12 06:37] kt3k commented on #2206
Or do you have any reason to run it via `https://` scheme?

[2022-05-12 13:25] ehsan2003 opened #2213 "it.each in bdd testing style"
**Is your feature request related to a problem? Please describe.**

It is sometimes necessary to run a single test against multiple inputs
but it seems strange to see for loops surrounding test cases.
for example in jest we have some thing like :
[code]

**Describe the solution you'd like**

having this feature in deno std so we can easily write tests of this kind

**Describe alternatives you've c

[2022-05-12 15:01] ayame113 commented on #2208
I think it's good 👍

[2022-05-12 17:37] bcheidemann opened #2214 "testing/snapshot: "assertSnapshot" should have a way to set options in a persistent way"
**Is your feature request related to a problem? Please describe.**

Currently, if I want to set some options for each snapshot in a file, I need to pass these options to each call of `assertSnapshot`. For example:

[code]

This makes tests harder to read.

**Describe the solution you'd like**

Ideally, it would be possible to do something like this:

[code]

EDIT: On further consideration, I am ac

[2022-05-12 17:39] bcheidemann commented on #2214
@bartlomieju @kt3k If you agree this would be a useful addition, I'd be happy to raise a PR for either or both proposals 👍

[2022-05-12 19:28] jsejcksn commented on #2186
@kt3k Thanks for clarifying how it relates.

In your example you don't show a parameter for the hypothetical `onListen` callback function, but I think having a value like Oak's [`ApplicationListenEvent`](https://deno.land/x/oak@v10.5.1/application.ts#L213) with relevant properties like:

[code]

will be quite helpful in creating localized messages or doing any other work in response to the server'

[2022-05-13 08:45] kt3k commented on #2208
So the module name may need to be a comprehensive name. For example, encoding/json/stream.ts? (Like encoding/csv/stream.ts)

hmm interesting. I didn't know JSON Text Sequence and Concatenated JSON, but it sounds good idea to support both. `encoding/json/stream.ts` sounds good to me 👍

[2022-05-13 10:48] cuobiezi commented on #2207
@masx200 Hi  Masx,  Is for Directory of your request demo ?  Seem the file_server.ts didn't care Http Catch for Directory request, only care files request,seem it is correct. Need to refer  /** RFC 7232, 4.1 */ .

[2022-05-13 11:30] masx200 commented on #2207
[cuobiezi](https://github.com/cuobiezi)

request demo is for file.

[2022-05-13 11:57] lucacasonato opened #2220 "`assertRejects` and `assertThrows` should return the caught error"
It'd be nice if these functions returned the error they caught, so users could do more intricate assertions on the error itself.

[2022-05-13 12:07] bartlomieju commented on #2220
Sounds good to me, this should be a simple change.

[2022-05-13 12:09] mrkldshv commented on #2220
Hey! I'd like to take this issue.

[2022-05-13 12:10] bartlomieju commented on #2220
@mrkldshv please do!

[2022-05-13 12:15] kt3k opened #2223 "Some util.inspect (of `node/`) test cases fail with `Fatal process OOM in RegExpCompiler` in ubuntu"
Since https://github.com/denoland/deno/commit/0ee76da07b12fba38962634e65853d73adf9d4c0 `test-util-inspect-getters-accessing-this.js` test case crashes with `Fatal process OOM in RegExpCompiler` only on Ubuntu

You can check it with the below steps on ubuntu
[code]

[2022-05-13 12:27] kt3k commented on #2220
`assertThrows` accepts `errorCallback` as the 2nd arg and you can assert on details about the thrown error in it.

I think we discussed similar suggestion before, but we didn't accept it based on the design principle `assertion functions shouldn't return anything` ref: https://github.com/denoland/deno_std/pull/1052#discussion_r674510375

[2022-05-13 12:35] kt3k commented on #2220
(Note: we added `errorCallback` overload in https://github.com/denoland/deno_std/pull/1219)

[2022-05-13 12:43] kt3k commented on #2223
Will continue to detect exact regexp that causes the above

[2022-05-13 12:52] kt3k opened #2224 "Include /x/redis as /std/redis"
There seem strong demands/needs of redis client in the community. We should have one in std

ref: https://deno.land/x/redis

ref: https://news.ycombinator.com/item?id=31333025

External dependencies of /x/redis:
- lodash-es/shuffle
- lodash-es/sample
- lodash-es/uniqBy
- cluster-key-slot

[2022-05-13 13:02] mrkldshv commented on #2220
Right, I've just looked through previous discussion. As pointed by @kt3k, it wasn't added because `assertion functions shouldn't return anything`. What do you think we should do? @lucacasonato @bartlomieju

[2022-05-13 13:22] lucacasonato commented on #2220
I think the "Assertions shouldn't have return values." rule is rather arbitrary. I think in this case returning an error is totally reasonable. the error callback does not really solve the issue for me, because I may need to do some async work with the error

[2022-05-13 14:25] cuobiezi opened #2225 "There is a fail case when run file_server_test.ts"
**Describe the bug**
Test is fail when run `file_server_test.ts` for *file_server file responses includes correct etag* case.

**Steps to Reproduce**
Run follow up command
[code]
I will get fellow up fail case
[code]

**Expected behavior**

Test case should be ok

**Environment**

v8 10.0.139.17
typescript 4.6.2

- OS: [MacOS 11.6.2]
- deno version: 1.21.0(release , x86_64-apple-darwin)
- std vers

[2022-05-14 10:05] erfanium commented on #2224
what makes `redis` different from mysql, postgres, mongodb, elasticsearch,... ? They are all popular. we can't just include `redis` driver in std and ignore the rest.

[2022-05-14 11:06] kt3k commented on #2214
@bcheidemann
Thanks for the proposal! The idea makes sense and looks useful to me.

I agree with you. Curried function looks clearer than global settings API. Global settings API apparently simple, but I guess it might cause confusion when it called from multiple places. So I'd suggest we should add only Curried function design.

[2022-05-14 15:39] #2134 closed

[2022-05-14 20:44] KyleJune commented on #2220
In this previous issue I proposed a similar change to having these functions return the values thrown. I believe the fix for this could also be made to be a fix for that issue. Here is a link to my comment there. It would be good to keep error class and message arguments as a shorthand for both asserting that they throw/reject and asserting that it is an Error that was thrown.

https://github.com/

[2022-05-15 00:53] bcheidemann commented on #2214
Great! I will raise a PR 🙂

[2022-05-15 01:40] cuobiezi commented on #2225
It is ok now updated 1.21.3 , many thanks

[2022-05-15 01:41] #2225 closed

[2022-05-15 15:15] KyleJune commented on #2213
I'm against this change because there is an easy alternative to this that is much more flexible. With template strings you can make the title include the variables and with the forEach you can structure your test matrix however you want. Same can be done with describe blocks.

[code]

Output from `deno test example_test.ts`:
[code]

This easy alternative that makes use of template strings instead

[2022-05-15 16:28] Sorikairox commented on #1302
I was working on it, but I got the following problem :

With the change, how do we assert async functions that throw instead of returning a rejecting `Promise`?

`assertThrows` is not asynchronous, it only takes a non-async function as a parameter.
I can make it async, but that would be another breaking change on top of this issue breaking change.

[2022-05-15 16:41] dsherret commented on #1302
I think we can leave `assertThrows` as-is and people could use it for this. Does it not work as-is?

[2022-05-15 16:48] Sorikairox commented on #1302
It sadly doesn't work as-is. `assertThrows` cannot take async functions as parameters.
[code]
Gives the following error :

` Argument of type 'Promise<void>' is not assignable to parameter of type '() => unknown'.`

[2022-05-15 17:14] dsherret commented on #1302
@Sorikairox they can use `assertThrows` for functions that throw before returning a promise. async functions return a promise that rejects:

[code]

[2022-05-15 17:20] Sorikairox commented on #1302
@dsherret That is my point. You can use `assertThrows` with `syncThrow` but not with `asyncThrow`.
We cannot ask people to rewrite their `async function` to be used with `assertThrows` as they won't be able to use them with `assertRejects` 👀

[2022-05-15 17:21] KyleJune commented on #1302
Async functions capture thrown errors and turn them into promise rejections. If the function wasn't actually async and just returns a promise normally and it were to throw instead, the `assertRejects` assertion should fail because the function doesn't reject, it throws.

I think if `assertThrows` returns a rejected promise, it would fail because the function didn't throw. I think that would be des

[2022-05-15 17:27] dsherret commented on #1302
I think I'm not understanding what you mean. People would continue using `assertRejects` for async functions after this change to my understanding.

[2022-05-15 17:29] Sorikairox commented on #1302
It is the behavior I implemented 😄

But, as I was writing tests for `assertRejects`  new behavior, I could not assert with `assertThrows` that `assertRejects` throws an error because `assertRejects` is an async function and `assertThrows` do not take async functions as parameter.

[2022-05-15 17:33] Sorikairox commented on #1302
My bad, I might not be as clear as I think I am.

Before changes :
- assert that a function throws => use `assertThrows`
- assert that an async function rejects => use `assertRejects`
- assert that an async function throws => use `assertRejects`

After changes:
- assert that a function throws => use `assertThrows`
- assert that an async function rejects => use `assertRejects`
- assert than an asyn

[2022-05-15 17:38] dsherret commented on #1302
View async functions as only rejecting a promise because that's what they do.

Before changes :

- assert that a `function` throws => use `assertThrows`
- assert that an `async function` rejects/throws => use `assertRejects`
- assert that a `function` that returns a promise throws synchronously => use `assertThrows`, but right now `assertRejects incorrectly passes

After changes:

- assert that a

[2022-05-15 17:45] Sorikairox commented on #1302
Okay my bad, I totally missed the point of synchronicity, which was the subject of this issue, and went in an insanely wrong direction.

[2022-05-15 17:50] dsherret commented on #1302
@Sorikairox that's ok! It's a very particular behaviour 😄

No, not a time waste. We're on the same page now and thanks for contributing this!

[2022-05-15 23:46] cjihrig commented on #2151
+1 to this. In my experience, this is generally the behavior that people want. This is also how Node's `assert` module works.

Alternatively, we could add new `assertIs()` and `assertIsNot()` if people wanted to leave `assertStrictEquals()` as is.

What do you think @bartlomieju? I'd be interested in working on this.

[2022-05-16 02:35] sntran opened #2236 "async/pool: `pooledMap` results are not in the order of iterable element argument"
**Describe the bug**

When `async/pool` [was introduced](https://github.com/denoland/deno/pull/6898), it was expected to be like `Promise.all(array.map(async () => {...}))`. However, while `Promise.all` returns values are in order of the Promises passed, the returned values of `pooledMap` are not in the same order of the argument iterable.

Also, the name `map`, at least to me, is always an 1 to 1

[2022-05-16 07:13] kt3k commented on #2145
There's also [conditional-type-checks](https://github.com/dsherret/conditional-type-checks) by @dsherret

[2022-05-16 07:45] Touffy opened #2237 "streaming Zip file creation"
I am the developer of [client-zip](/Touffy/client-zip), a very small, pretty fast streaming Zip file generator, written in modern JavaScript and a bit of WASM. A user suggested to me — insistently — that client-zip (or something based on it) should become part of the Deno standard library, presumably alongside the existing `archive/tar` module. client-zip already runs very well in Deno, by the way

[2022-05-16 09:19] bartlomieju commented on #2151
I agree, sounds like a reasonable change.

[2022-05-16 09:33] Touffy commented on #2237
Thanks for the feedback.

Since you're rewriting Tar, I have a few suggestions :

Streams are better for optimized handling of binary data and I/O buffers. But streams of objects are just more complicated than async generators for no benefit. The *input* happens to be a sequence of objects (basically streams with metadata, or `TarOption`s in your case). In fact, `walk` is probably the most obvious

[2022-05-16 09:56] Touffy commented on #2237
I forgot to mention the stage-2 [proposal for `map`, `filter`, etc. on (Async)Generators](https://github.com/tc39/proposal-iterator-helpers). Makes async iterables even more attractive.

Anyway, if there is indeed a general drive to make Deno modules browser-compatible, then client-zip makes more sense here than I thought. We could probably have the Zip and Tar modules share the same interface (ju

[2022-05-16 10:25] kt3k commented on #2220
I'm open to changing that rule now as it's requested/suggested many times and it seems to have some practical use case.

@kitsonk What do you think about this suggested change? Do you have any concerns/objections?

[2022-05-16 11:39] #2186 closed

[2022-05-16 13:04] kt3k commented on #2224
@erfanium
We chose to try migrating `redis` (and `sqlite`) first because they have comparatively less external dependencies. (Also the maintainer welcomes the transition in case of redis)

We haven't decided on other drivers. We might take different path for other drivers depending on their situations

[2022-05-16 13:30] #2207 closed

[2022-05-16 17:36] piscisaureus commented on #2224
I'm -1 on this. This is out of scope for std.

If there is no community provided driver for an important database like redis, we can consider starting the effort.
But I still think they should be separate projects. The discoverability issue can be fixed with improved search.

[2022-05-16 20:15] Duelsik commented on #2145
@kt3k I like those utils done by @dsherret, do we want to add them as dependency and reexport or should we include their copy to std after asking the author if they will be okay with that?

[2022-05-16 21:11] Sorikairox commented on #2236
I'm taking this, but if someone is already on it no problem (at least I would have learned how this work internally)

[2022-05-17 00:04] Sorikairox opened #2240 "node/perf_hooks_test.ts fail"
**Describe the bug**
When running `deno test` and `deno test --unstable` in the repository, I get the following errors :

[code]

**Steps to Reproduce**

Run `deno test` or `deno test --unstable`

**Expected behavior**

Not throw any error.

**Environment**

MacOS Catalina 10.15.7
deno 1.21.3 (release, x86_64-apple-darwin)
v8 10.0.139.17
typescript 4.6.2

- std version: up to date with main branch

[2022-05-17 00:13] bartlomieju commented on #2240
This is expected - tests on CI run on latest `canary` version. The error you hit is coming from an API that is available in the latest `canary`, but wasn't available in v1.21.3 (but will be available in v1.22 on Wednesday). There's not much that can be done about it, besides adding `@ts-ignore` directives locally above failing lines.

[2022-05-17 00:16] Sorikairox commented on #2240
Thanks for the explanation!

[2022-05-17 01:26] kt3k opened #2241 "`test-net-socket-close-after-end.js` is flaky"
A node compat test case `test-net-socket-close-after-end.js` is flaky recently

cf:
- https://github.com/denoland/deno_std/runs/6452931906?check_suite_focus=true
- https://github.com/denoland/deno_std/runs/6469931518?check_suite_focus=true

[2022-05-17 03:17] kt3k commented on #2145
@Duelsik
We should include the copy of them with copyright attribution in the file header (In principle, std shouldn't depend on any external deps. ref: https://github.com/denoland/deno_std#deno-standard-modules). Copying is ok without authors' permission because they are licensed under MIT.

[2022-05-18 11:28] cmorten commented on #2213
Agree with nested arrays, forEach provides equivalence.

Personal main preference with `it.each` like syntax is the tagged template literal support which find far more elegant and expressive that an array of arrays. Don’t know if worth considering?

[code]

[2022-05-18 11:39] cmorten commented on #2110
TODO:

- [ ] `socket.addMembership()`
- [ ] `socket.addSourceSpecificMembership()`
- [ ] `socket.dropMembership()`
- [ ] `socket.dropSourceSpecificMembership()`
- [ ] `socket.setBroadcast()`
- [ ] `socket.setMulticastInterface()`
- [ ] `socket.setMulticastLoopback()`
- [ ] `socket.setMulticastTtl()`
- [ ] `socket.setTtl()`
- [ ] `socket.ref()`
- [ ] `socket.unref()`

[2022-05-18 13:24] littledivy opened #2243 "ci: draft release step is skipped"
In https://github.com/denoland/deno_std/commit/867b5d1f0a8ca249280d755ae0f3c2d45333468b, the release step is skipped - which should not happen.

Probably caused by https://github.com/denoland/deno_std/pull/2219

cc @kt3k

[2022-05-18 16:15] vwkd commented on #2186
Well, you suggest that 1. you are forced to document where a server is listening, and 2. this documentation needs to specifically be logging to console. Both aren’t true. You could not document it. Or you could document it in any way you prefer, like a JSDoc comments, a normal comment, a README, logging to console, etc. pp.

Though it seems the maintainers also share the belief that for running a

[2022-05-18 22:32] tjjfvi opened #2245 "`assertSnapshot` errors on empty snapshot in non-update mode"
**Describe the bug**

`assertSnapshot` errors when the serialized snapshot is an empty string when not in update mode (I suspect this is due to a truthiness check which should instead be a null check.)

**Steps to Reproduce**

[code]

[code]

[code]

[code]
[code]

**Expected behavior**

`assertSnapshot` should not error on an empty snapshot string.

**Environment**

- OS: MacOS 12.3
- deno versio

[2022-05-18 23:05] c4spar opened #2246 "Flags: Add collect option"
This is a requirement for #1898 and has been discussed in #2180.

Currently all non boolean values are collactable. If we make the flags module type safe, we would always have to check if it's an array or not. It would be more usefull to make collectable options configurable.

Collect option:
[code]

Usage:
[code]

Result:
[code]

[2022-05-19 02:57] kt3k commented on #2243
right, thanks for reporting!

[2022-05-19 03:36] #2243 closed

[2022-05-19 05:05] #2236 closed

[2022-05-19 14:18] lucacasonato opened #2250 "Add utility function for etag comparisons"
https://github.com/denoland/deno_std/commit/3403116ca9d43d7b95c318ac0f367d74402d0aec adds support for handling weak etags in `serveFile`. It'd be nice if there was a utility function to do just the weak etag comparison:

[code]

[2022-05-19 15:12] fonsp opened #2251 "file_server: Chrome DevTools Workspaces stopped working"
**Describe the bug**

The [Chrome DevTools Workspaces](https://developer.chrome.com/docs/devtools/workspaces/) feature, which allows editing local source files directly from the inspector (💕), stopped working in combination with a local `file_server`. I bisected the problem, and it appeared between `v0.102.0` and `v0.103.0`, which [leads](https://github.com/denoland/deno_std/compare/0.102.0...0.10

[2022-05-19 18:08] jerry4718 opened #2252 "require('fs').ReadStream is undefined"
**Describe the bug**
In the node.js code running in --compat mode, the class "ReadStream" cannot be import from the fs module

**Steps to Reproduce**
console.log(require('fs').ReadStream)

**Expected behavior**
export class ReadStream in file "_fs_streams.ts", and mount it to fs module

**Environment**

- OS: Deepin 20.5 x86_64
- deno version: 1.22.0
- std version: 0.140.0

[2022-05-19 18:43] #2151 closed

[2022-05-19 19:44] jerry4718 opened #2254 "(node/crypto) TypeError: crypto.createHmac is not a function"
**Describe the bug**

**Steps to Reproduce**

**Expected behavior**

**Environment**

- OS: Deepin 20.5 x86_64
- deno version: 1.22.0
- std version: 0.140.0

[2022-05-20 04:30] kt3k opened #2255 "`grantOrThrow invalid argument` test case is failing in main"
`grantOrThrow invalid argument` in `permissions/test.ts` is failing in main. It was passing with CLI v1.22

[2022-05-20 04:37] kt3k commented on #2255
validation of permission names are improved in denoland/deno#14676, and now the expectations of some error messages don't match with it

[2022-05-20 11:10] kt3k opened #2258 "Node compat integration test is flaky"
- `yarn add npm` (in compat mode) failed at https://github.com/denoland/deno_std/actions/runs/2357731220/attempts/1

[2022-05-20 11:21] #2252 closed

[2022-05-20 11:28] kt3k commented on #2255
fixed in #2256

[2022-05-20 11:28] #2255 closed

[2022-05-20 12:08] #2202 closed

[2022-05-20 15:01] #2240 closed

[2022-05-21 15:14] Duelsik commented on #2145
Thank you, not sure if I did everything correctly, but did a PR that copies essential code from https://github.com/dsherret/conditional-type-checks, I've tried to infer how to put proper headers from nodes mjs file - comments are very welcome, I feel very new to copy-pasting code between repos :)

[2022-05-22 11:50] cmorten commented on #1936
Unix domain socket support as added in #2146

[code]

[code]

Appears to be working as far as can tell. @billyadelphia would be good to confirm if all good your end?

[2022-05-22 22:50] sntran opened #2262 "path/glob: `globToRegExp` does not return valid RegExp"
**Describe the bug**

`globToRegExp` does not escape `/` character correctly when handling `*` in the glob. It generates `[^/]*`, which is not a valid RegExp since the `/` must be escaped.

**Steps to Reproduce**

`deno run` the following snippet:

[code]

**Expected behavior**

The test passes

**Actual behaviour**

The test fails with the following error:

[code]

**Environment**

- OS: Mac 12.3

[2022-05-22 23:46] nayeemrmn commented on #2262
The slash doesn't need to be escaped in a character range. `/` specifically needs to be escaped when written in a `/.../` JS regexp literal unless it occurs in a `[...]` range. If it wasn't escaped where it needed to be, there would be a syntax error in the lib and it couldn't be returned in a regexp object.

[2022-05-23 02:32] sntran commented on #2262
That was I was thinking, but turned out I was checking under a Regex engine other than JS one. Sorry for opening an invalid issue.

[2022-05-23 02:32] #2262 closed

[2022-05-23 04:53] #2250 closed

[2022-05-23 12:39] kt3k commented on #1750
https://github.com/denoland/deno_std/runs/6555001761?check_suite_focus=true

[2022-05-23 20:26] timreichen commented on #1224
@kt3k I think this issue can be closed since the PR got merged.

[2022-05-23 20:32] #1224 closed

[2022-05-24 02:15] iuioiua commented on #1977
@andykais What's your method of parsing the `set-cookie` header?

[2022-05-24 02:31] andykais commented on #1977
[code]

[2022-05-25 00:28] jsejcksn commented on #1977
The code in https://github.com/denoland/deno_std/issues/1977#issuecomment-1135331882 won't handle attributes which aren't in the key-value format (e.g. `HttpOnly` and `Secure` — see [`Set-Cookie` on MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie) for more info): it will throw an exception when encountering those (and they're very common). @iuioiua

I agree that having so

[2022-05-25 01:33] dsherret opened #2268 "Add sleepSync helper function"
Since `Deno.sleepSync` is going to be removed, it would be useful to provide a helper function that uses `Atomics.wait` in deno_std.

- https://github.com/denoland/deno/pull/14719
- https://github.com/denoland/deno/issues/14708#issuecomment-1135707599

[2022-05-25 05:14] #2246 closed

[2022-05-25 08:51] #1362 closed

[2022-05-25 21:41] aslilac opened #2270 "`serve` swallows errors when `Response` object body has been consumed already"
**Describe the bug**

**Steps to Reproduce**

[code]

**Expected behavior**

Should see some error output that the `Request` object didn't have any body content available to reply with

**Environment**

- OS: [e.g. Ubuntu 20.04, MacOS 11] macOS 12
- deno version: 1.22.0
- std version: 0.140.0

[2022-05-26 05:39] MKRhere commented on #2268
Could use the same implementation from [here](https://github.com/denoland/node_deno_shims/blob/ee4710f96270ba0ed4ceb6f939078404a50fd294/packages/shim-deno/src/deno/stable/functions/sleepSync.ts), which makes it possible to remove it from [both](https://github.com/denoland/node_deno_shims/blob/ee4710f96270ba0ed4ceb6f939078404a50fd294/packages/shim-deno/src/deno/stable/functions/sleepSync.ts) [insta

[2022-05-27 01:35] hkong opened #2274 "dotenv-expand"
**Is your feature request related to a problem? Please describe.**

On complex projects with a lot of variables inside the .env file, variables of the form `ABC=${A}/${B}.${C}` is often used.  While the dotenv library works great, it is missing the expansion feature of something like https://github.com/motdotla/dotenv-expand to expand the .env file variables so that when using them in deno, the en

[2022-05-27 02:57] kitsonk opened #2275 "CI not catching issues"
There was a regression in Deno 1.21 that causes the test case `node/tty_test.ts:[node/tty isatty] returns false for irrelevant values` to fail (see: https://github.com/denoland/deno/issues/14398#issuecomment-1139215947).  But it isn't failing in CI, which it should have been failing for an extended period of time.

[2022-05-27 11:49] kt3k commented on #2241
https://github.com/denoland/deno_std/runs/6624679247?check_suite_focus=true

[2022-05-28 11:14] matthewleon opened #2279 "doc: async docs needlessly avoid top-level await"
**Describe the bug**

The documentation of `tee` from async (https://github.com/denoland/deno_std/blob/main/async/README.md) needlessly avoids top-level `await`. It wraps invocation in an immediately-invoked `async` function. This appears to be redundant.

**Expected behavior**

The docs should show use of `for await` at the top level.

[2022-05-28 12:05] #2279 closed

[2022-05-28 15:44] matthewleon opened #2283 "tests: async pool_test uses deprecated assertRejects"
**Describe the bug**

`pool_test.ts` uses the deprecated, non-generic, callback-accepting version of `assertRejects`: https://github.com/denoland/deno_std/blob/6dcb19b0037d9d4e1e9b08a95d20e0d3da6fa026/async/pool_test.ts#L37

**Steps to Reproduce**

Open the file in IntelliJ with the deno plugin, and you'll be issued a deprecation warning, with the method in the editor being shown in ~~strikethroug

[2022-05-28 15:50] matthewleon commented on #2283
related: https://github.com/denoland/deno_std/pull/2282

[2022-05-29 14:35] crowlKats commented on #2237
I'd say most usages will actually be unzipping than zipping

[2022-05-29 22:31] iuioiua commented on #1977
Thank you @andykais, but I did encounter the errors that @jsejcksn mentioned. I decided to go with something far simpler, which suits my use case:
[code]

[2022-05-29 22:33] iuioiua commented on #1977
@bartlomieju

[2022-05-30 04:04] #2241 closed

[2022-05-30 10:21] #2283 closed

[2022-05-30 14:40] Touffy commented on #2237
I think so too. Unzipping is another beast entirely, though, and will never part of client-zip.

When zipping, you can pick just one implementation (that most unzip programs can understand) and do that well. For unzipping, you need to be compatible with all the quirky Zip files generated by lots of different programs and versions since 1989.

Also, unzipping can be streamed *sometimes* but you can

[2022-05-31 12:34] timreichen opened #2291 "feat(encoding/csv): restructure proposal"
**Is your feature request related to a problem? Please describe.**
The `encoding/csv` API is scattered and messy over multiple files and a csv subdir, some files are browser compatible, some are not.

**Describe the solution you'd like**
This proposal includes a restructure and changes as following:
- [x] make `parse` browser compatible and sync and therefore remove `BufReader` as input (https://g

[2022-05-31 12:41] kt3k commented on #2291
I think BufReader input of csv.parse can be deprecated or removed now in favor of stream API.

@crowlKats What do you think?

[2022-05-31 15:12] kt3k commented on #2291
Sounds reasonable to me. Maybe let's first deprecate BufReader for a while and then start the above sequence of changes?

[2022-05-31 15:21] crowlKats commented on #2291
sounds good

[2022-06-01 00:19] rinfield commented on #1654
unblocked by https://doc.deno.land/deno/unstable@v1.22.1/~/Deno.spawnSync ?

[2022-06-01 11:49] #1415 closed

[2022-06-01 12:13] tdillon opened #2294 "typo: colelcted"
https://github.com/denoland/deno_std/blob/4d43706106a8d61078267646ffc243cfb0c1ecf0/flags/README.md?plain=1#L51

[2022-06-01 15:26] mrkldshv commented on #2220
@kt3k Should we close this issue?

[2022-06-01 15:34] kt3k commented on #2220
@mrkldshv Yes, thanks!

[2022-06-01 18:27] bradenmacdonald opened #2295 "assertEquals is reporting identical sets as different"
I'm trying to do a deep comparison of two `Set` objects, and some recent versions of `deno_std` are reporting that they are different, but printing an empty diff because they are actually identical.

Here's the output from `deno repl` :

[code]

**Expected behavior**

`assertEquals` treats the sets as identical.

**Environment**

- OS: MacOS arm64
- deno version: 1.22.1
- std version: 0.138.0 -> 0

[2022-06-02 01:04] TomokiMiyauci commented on #1779
@kt3k Thanks for the response.

I will start working on the pull request. It may possibly be different from the current `unitest` implementation.

[2022-06-02 03:27] kt3k commented on #2295
This seems to have been changed in https://github.com/denoland/deno_std/pull/2172

The purpose of #2172 looks irrelevant of this change. So I think this is a bug.

Passes
[code]

Throws
[code]

(Note: if `data` in the above example has only one item, then it doesn't throw. I think that also implies this is a bug.)

[2022-06-02 08:17] #2294 closed

[2022-06-02 22:09] c4spar opened #2300 "Flags: Make negatable options configurable"
**Is your feature request related to a problem? Please describe.**

We discussed in #2180 that we want to make negatable options configurable, because it would improve the typings we want to introduce in #2180.

**Describe the solution you'd like**

We agreed for now on following solution:

[code]

**Describe alternatives you've considered**

An alternative solution could be to prefix the option n

[2022-06-03 12:13] lbguilherme opened #2306 "std/node/async_hooks: implement AsyncLocalStorage"
I have an existing application that depends on Node's `AsyncLocalStorage` to run properly and Deno doesn't support it yet in the compatibility mode. So this is a feature request for that.

It has only two methods that are not marked as "experimental", I think the policy would be to implement only those:

[code]

I'm willing to contribute an implementation for that myself, but before I would like t

[2022-06-04 13:09] mfulton26 opened #2309 "testing/asserts: `assertNotInstanceOf()`"
**Is your feature request related to a problem? Please describe.**

I would like to assert that an object is NOT an instance of a specific type. (i.e. the complement to  #2025).

**Describe the solution you'd like**

An `assertNotInstanceOf` to complement `assertInstanceOf`.

**Describe alternatives you've considered**

I've currently taken the source for the existing `assertInstanceOf` and transf

[2022-06-04 20:57] Industrial opened #2310 "Implement streams toWeb/fromWeb"
**Is your feature request related to a problem? Please describe.**

I want to convert from Node.js streams to Web streams and back. Node.js has the methods `toWeb` and `fromWeb` to do this.

**Describe the solution you'd like**

Implement these functions.

**Describe alternatives you've considered**

I tried implementing the helper functions but got stuck because `.pipe()` didn't work. (https://gi

[2022-06-05 12:33] kt3k commented on #2310
We have Duplex.fromWeb https://github.com/denoland/deno_std/pull/2086, but yes, Readable.fromWeb/toWeb, Writable.fromWeb/toWeb, Duplex.toWeb are still missing

[2022-06-05 14:43] prettykool commented on #2211
Any reason why [x/gql](https://deno.land/x/gql@1.1.1) isn't sufficient?

[2022-06-05 19:21] timreichen commented on #2291
Working on the restructure:

Do we need `ColumnOptions` for the `columns` option next to `string[]`? I don't really see the point, in which cases would this be used?
https://github.com/denoland/deno_std/blob/f415da4c62cdacce880c3c7e492ceee184c3be4a/encoding/csv.ts#L148-L153

[2022-06-06 02:13] kitsonk commented on #2211
While GraphQL is popular, it does really feel outside of the scope to include a server implementation in std.  While GraphQL is a protocol, a server becomes quite complex, as it needs to provide integrations to back end services and then becomes how much scope would there be.  My opinion is that it is much better served by the community, like [x/gql](https://deno.land/x/gql) mentioned above.

[2022-06-06 04:51] kt3k commented on #2291
ColumnOptions used to have `parse` property, but that was removed in https://github.com/denoland/deno_std/pull/1724. Looks like they are now useless. I think it's ok to remove it from the input typing.

[2022-06-06 06:25] idanran commented on #2211
The library above has not been maintained for some time.

[2022-06-06 10:58] bartlomieju commented on #2306
No, currently Deno has no infrastructure to track that. I'm sure it's something @cjihrig would be interested in.

[2022-06-06 19:02] cjihrig commented on #2306
@bartlomieju I think we'll need to be cautious here. Node is keeping `async_hooks` marked as unstable indefinitely while exposing stable APIs like `AsyncLocalStorage` that are built on `async_hooks`.

[2022-06-06 19:18] cjihrig commented on #2306
I think it makes sense to try to implement. I think we should make sure not to paint ourselves into any corners while doing so though since the [future of `async_hooks` is unclear on the Node.js side](https://github.com/nodejs/diagnostics/issues/437).

[2022-06-06 21:34] joehillen opened #2312 "fs.ensureSymlink() can't create relative symlinks"
**Describe the bug**

It appears that `fs.ensureSymlink()` won't create links to files that are relative to the link.

It also produces broken links when give a destination path relative to the current working directory but is not relative to the link.

**Steps to Reproduce**

[code]

**Expected behavior**

I have trouble understanding how `ensureSymlink()` is useful if it can't work with relative

[2022-06-06 21:55] joehillen opened #2313 "`fs.walk()` has trouble with links"
**Describe the bug**

This is really 2 issues:

1) no symbolic link files are returned when using `walk()`. See below to reproduce.

2) when using `followSymlinks: true`, the path to the destination is returned and labeled `{ isFile: false, isSymlink: true }`, even though the destination is a regular file.

**Steps to Reproduce**

[code]

**Expected behavior**

`fs.walkSync("dir", { followSymlinks

[2022-06-06 22:48] lucacasonato commented on #2313
I think this may be a duplicate of #1359. @joehillen can you take a look at that issue?

[2022-06-06 23:07] joehillen commented on #2313
Yup. It's a dup. I'll repost my message there for more context.

[2022-06-06 23:07] #2313 closed

[2022-06-06 23:08] joehillen commented on #1359
Here is some more context from the duplicate issue I posed:

This is really 2 issues:

1) no symbolic link files are returned when using `walk()`. See below to reproduce.

2) when using `followSymlinks: true`, the path to the destination is returned and labeled `{ isFile: false, isSymlink: true }`, even though the destination is a regular file.

**Steps to Reproduce**

[code]

**Expected behavior*

[2022-06-07 09:30] git136975643 opened #2315 "支持带中文的编码和解码吗"
比如对这种url（http://a.com?b=1&c=呵呵）编码解码

[2022-06-07 09:48] #2315 closed

[2022-06-07 15:09] #2206 closed

[2022-06-08 00:11] timreichen opened #2320 "bug(std/_tools): 3rd party import"
**Is your feature request related to a problem? Please describe.**
`std/_tools/check_circular_deps.ts` is importing a 3rd party mod. std should never import from somewhere other than std.
https://github.com/denoland/deno_std/blob/bcc57478422645cba01b9c75d34938e17ba8a383/_tools/check_circular_deps.ts#L3

**Describe the solution you'd like**
Either remove the tool or have deno_graph be included into

[2022-06-08 00:42] nayeemrmn commented on #2320
I think tools not transitively imported by any public module are exempt. Otherwise imported github actions wouldn't be allowed, the only difference is that these are written in Deno/TS.

[2022-06-08 05:56] turuslan commented on #2193
Hi.

This is **not** a bug.

### Example
If you change this line in server example ([why 4096?](https://github.com/denoland/deno_std/blob/0.142.0/io/buffer.ts#L250)), you will see file write.
[code]

### Explanation
`FileHandler` uses [`BufWriterSync`](https://github.com/denoland/deno_std/blob/0.142.0/log/handlers.ts#L126) to [buffer file writes](https://stackoverflow.com/a/33691533).
So `logger.w

[2022-06-08 12:54] bartlomieju opened #2322 ""process.stdout" doesn't implement "WriteStream""
`process.stdout` in `node/` doesn't implement `WriteStream` class and `WriteStream` class has no implementation: https://github.com/denoland/deno_std/blob/a9052a287318369febe318de9e2541fc83bc5bb4/node/tty.ts#L17-L22

This was surfaced when trying to run Vite in compat mode, namely `process.stdout.clearLine()` and `process.stdout.cursorTo()` are not available.

Ref https://twitter.com/biwanczuk/sta

[2022-06-08 15:18] kt3k opened #2323 "flags: `parse` options should be validated more strictly"
context: https://github.com/denoland/deno_std/pull/2301/files#r891541278

`parse` options (`string`, `boolean`, `alias`, `collect`, `negatable`) are validated roughly. These should be validated more strictly

[2022-06-08 21:01] timonson commented on #2193
Thank you @turuslan for this comprehensive explanation! I know a `log` module has always side effects but this is too much for me :)

[2022-06-08 21:01] #2193 closed

[2022-06-09 04:06] #2300 closed

[2022-06-09 08:51] kt3k commented on #2320
I agree with Nayeem. Scripts under `_tools/` should be an exception of that rule

[2022-06-09 09:57] kt3k commented on #2122
done in #2200

[2022-06-09 09:57] #2122 closed

[2022-06-09 13:07] caperaven opened #2328 "selenium requires http"
I am trying to use selenium-webdriver with deno using
https://www.skypack.dev/view/selenium-webdriver

I get this error when trying to run it
throw new Error("[Package Error] \"http\" does not exist. (Imported by \"selenium-webdriver:14:7\").");
export default null;

I assume it's because the current compat mode does not have http support.

[2022-06-09 15:38] kt3k commented on #2328
There's basic support of `http`. I think there's something wrong in skypack's side

[2022-06-09 15:42] kt3k opened #2329 "node: `parallel/test-net-allow-half-open.js` test case is flaky"
example failure https://github.com/denoland/deno_std/runs/6812327594?check_suite_focus=true

[2022-06-09 16:07] caperaven commented on #2328
hmmm, damn ok, thanks dude.

[2022-06-09 23:14] lucacasonato opened #2333 "Frontmatter parser"
It'd be nice to include a front matter parser in std. I always need one in various projects, and considering we already have a yaml parser this should be a trivial addition.

@littledivy wrote up a simple parser a few months ago for an internal project. Maybe we can contribute that one into std?

[2022-06-09 23:30] bartlomieju commented on #2333
Already done by @kt3k in https://deno.land/x/frontmatter@v0.1.4

Sounds fine to include it in std

[2022-06-10 07:40] littledivy opened #2334 "bytes: equalSimd is misleading"
V8 does not do auto-vectorization. The function should be named `equal32bit`

[2022-06-11 10:13] #1778 closed

[2022-06-12 09:35] GJZwiers opened #2340 "Using `fs-extra` with `--compat` works on WSL but not Windows"
Steps to reproduce:

  - `mkdir compat_fsx` & `cd compat_fsx`
  - `npm init -y`
  - `npm i fs-extra`
  - add `app.js`:
[code]
- add `foo.js` with any content

- `deno run --compat --unstable --allow-all app.js`

Result:
- With Node: `success!`
- On WSL 2 Ubuntu with Deno: `success!`
- On Windows 10 with Deno:
[code]
[code]

[2022-06-12 19:39] Industrial commented on #2310
[code]

This worked for me but it's probably not how you'd want to implement it.

[2022-06-12 21:40] mrkldshv commented on #2334
Should we copy `equalsSimd`, rename it to `equals32bit` and deprecate `equalsSimd`?

[2022-06-13 05:39] kt3k commented on #2310
cc @crowlKats

[2022-06-13 20:12] timreichen opened #2341 "bug(flags): boolean flag doesn't equal assigned value"
**Describe the bug**
A flag which is set as a boolean shouldn't be parsed as a boolean if it has a value assigned with the equals sign as described:

**Steps to Reproduce**
[code]
parse returns `{ _:[], reload: true }`

**Expected behavior**
parse should return `{ _:[], reload: "value" }`

**Environment**

- OS: MacOS 12.4
- deno version: 1.22.0
- std version: 0.143.0

[2022-06-13 20:16] timreichen opened #2342 "bug(flags): collect is prioritised over boolean"
**Describe the bug**
Not sure if intentional or a bug: if boolean and collect is set for a flag, it will return `[true]`. `boolean` should probably be higher prioritised than `collect`. Else it should be documented.

**Steps to Reproduce**
[code]
parse returns `{ _:[], reload: [true] }`

**Expected behavior**
parse should probably return  `{ _:[], reload: true }`

**Environment**

- OS: MacOS 12.4

[2022-06-13 20:39] sigmaSd commented on #2341
Maybe this check https://github.com/denoland/deno_std/blob/main/flags/mod.ts#L310 should just be removed and always run `setArg(key, value, arg)` instead?

[2022-06-13 21:00] sigmaSd commented on #2342
it takes this path https://github.com/denoland/deno_std/blob/main/flags/mod.ts#L340 setArg calls setkey which has collect=true as default

[2022-06-14 05:01] kt3k commented on #2342
If you specify arg name in `collect`, that arg is always parsed as array. So the above behavior is intentional.

The above description should explain it. If you find the docs misleading/not clear, suggestions to the docs are welcome

[2022-06-14 05:03] kt3k commented on #2334
`equalsSimd` is marked as `@private`, so I believe `equalsSimd` is not part of public API. So I think it's ok to just rename it.

[2022-06-14 07:31] mrkldshv commented on #2334
Oh yeah, I've missed that it's private. I'll rename it and submit PR.

[2022-06-14 09:09] #2334 closed

[2022-06-14 11:16] #2333 closed

[2022-06-14 11:25] timreichen commented on #2342
@kt3k But what is the point of collecting a boolean flag which always returns `[true]`?

[2022-06-14 16:40] kt3k commented on #2342
You can specify the same arg multiple times, like `command -vvv`, and you'll get different number of items in the array

[code]

[2022-06-14 20:34] c4spar commented on #2341
The returned result is correct here because `--foo=bar` is only parsed as `string` if `boolean` is set to `true`, but in your example it is set to `["verbose"]`, which explicitly marks `verbose` as a boolean argument.

But i noticed the value for short flags is wrong:

[code]

both returns `{ _:[], reload: "value" }`

**Expected behavior**
both should return `{ _:[], reload: true }`

[2022-06-15 02:17] ayame113 opened #2348 "proposal(media_types): Improve contentType type definition"
The return type of the `contentType()` of the media_types module is `string | undefined`.
Therefore, if I set the return value of the `contentType()` to the Content-Type of the Response object as it is, a type error will occur. (`Type '{ "Content-Type": string | undefined; }' is not assignable to type 'HeadersInit | undefined'.`)

[code]

However, for well-known extensions like `contentType(".html

[2022-06-15 02:25] arseneyr opened #2349 "`FakeTime.runMicrotasks` unmocks globals inside async functions"
**Describe the bug**

When mocking time using `FakeTime` and running async functions with `FakeTime.runMicrotasks()` (or `tickAsync()`, `nextAsync()`, `runAllAsync()`), the mocked globals (Date, setTimeout, etc.) are unmocked inside of the async function.

**Steps to Reproduce**

Run `deno test` on the following file:
[code]
**Expected behavior**

The time globals are mocked throughout the async f

[2022-06-16 06:20] bytooo opened #2355 "Node built-in https module implementation into deno's std/node library"
**Is your feature request related to a problem? Please describe.**
I would like to use the [google-spreadsheet](https://www.npmjs.com/package/google-spreadsheet) module, more specifically the [skypack](https://www.skypack.dev/view/google-spreadsheet) version of it with deno, but it requires the **https node module** and according to the std [manual](https://deno.land/manual/node/std_node) the **No

[2022-06-16 07:12] kt3k commented on #2355
`std/node` has a basic support of `https` module (At least https.request and https.get are available). I think the above is an issue of skypack's side.

BTW google-spreadsheet module seems available & importable with `esm.sh`. How about trying that version?

The below ran successfully on my machine:
[code]

[2022-06-16 10:40] ayame113 commented on #2348
I opened #2357.

[2022-06-16 16:58] bytooo commented on #2355
Thank you so much for your reply, I'll try it and close this issue. I just saw the message in the manual saying that it wasn't yet implemented and created the issue.

[2022-06-17 12:56] timreichen opened #2364 "refactor(collections): rename RBTree and BSTree"
**Is your feature request related to a problem? Please describe.**
The names `RBTree` and `BSTree` are not really consistent with any naming scheme, it should be either the full acronym or the full name, not a mix.

**Describe the solution you'd like**
Use the full name and rename `RBTree` to `RedBlackTree` and `BSTree` to `BinarySearchTree`. Deprecate the two old names.

**Describe alternatives y

[2022-06-17 21:23] coloursofnoise opened #2366 "Include missing dotenv key(s) in MissingEnvVarsError"
**Is your feature request related to a problem? Please describe.**
When loading config from a dotenv file using `config({safe:true})` it can be desirable to add an additional fallback if a key is missing, such as prompting for input from the cmdline.
Being able to check which keys were not defined by catching `MissingEnvVarsError` would make this more reliable.

**Describe the solution you'd like*

[2022-06-18 14:47] harrysolovay opened #2367 "Wrap an emitter as an async iterable iterator"
**Describe the feature you'd like**

I'm working with a simple subscription method, which accepts a callback and returns the unsubscribe function. Whenever incoming messages arrive, the callback is triggered.

[code]

Nothing too wild going on here.

I'd like a standard approach with which I can manage and iterate over this subscription as an async iterable. Perhaps something like the following.

[2022-06-18 15:54] bartlomieju commented on #2366
Sounds reasonable, PRs are welcome

[2022-06-18 15:54] bartlomieju commented on #2364
Seems reasonable, PRs are welcome

[2022-06-19 07:15] masx200 opened #2368 "missing module node/util/types.ts node/diagnostics_channel.ts"
**Describe the bug**
missing module node/util/types.ts node/diagnostics_channel.ts
**Steps to Reproduce**
[code]

[code]

[2022-06-19 07:18] masx200 commented on #2368
import_map.json
[code]
diagnostics_channel.ts

[code]

[2022-06-19 08:47] timreichen commented on #2364
I came across this: https://github.com/denoland/deno_std/blob/5c26306183d0a57f4ae1f4264201b7956526aa01/collections/bs_node.ts#L4
Shouldn't a type be uppercase? If yes, I would rename it in the same PR.

[2022-06-19 14:30] sntran opened #2370 "flags: Skip parsing numeric-looking argument with no option"
**Is your feature request related to a problem? Please describe.**

When parsing numeric-looking arguments which is not a flag, they are parsed as number. There are cases which it is not desired to do so. For example:

[code]

**Describe the solution you'd like**

There is `string` option to indicate argument names to be treated as string instead, but since the above argument is not a flag, it can

[2022-06-20 00:06] #2208 closed

[2022-06-20 11:48] bartlomieju opened #2374 "node: Use Node streams v4 for streams implementation"
Starting with v18, Node uses "streams v4" as a default stream implementation: https://github.com/nodejs/readable-stream/releases/tag/v4.0.0

We should create a Deno build and use it instead of our hand rolled implementation.

Suggested by @benjamingr in https://github.com/denoland/deno/issues/12577#issuecomment-1159707601

CC @cjihrig

Ref https://github.com/nodejs/readable-stream/issues/451

[2022-06-21 06:36] #1898 closed

[2022-06-21 07:54] #2368 closed

[2022-06-21 09:31] Amaranese commented on #2370
for me its good the routing you are taking

[2022-06-22 10:37] sinclairzx81 opened #2377 "WASI: Implement sock_accept() for snapshot1"
Hi, was wondering if `https://deno.land/std@0.144.0/wasi` could implement the `sock_accept` function on the current preview1 snapshot. I note that this function was included in the WASI snapshot a little while ago (see https://github.com/WebAssembly/WASI/pull/458), but would be quite good to see implemented in Deno (effectively allowing Deno to host network processes implemented in WASM).

Would t

[2022-06-22 10:45] bartlomieju commented on #2377
CC @cjihrig

[2022-06-22 13:13] #2348 closed

[2022-06-22 14:57] cjihrig commented on #2377
I think it makes sense to support this.

[2022-06-23 04:54] kt3k commented on #2342
memcached has `-v` `-vv` `-vvv` for different levels of verbosity https://docs.oracle.com/cd/E17952_01/mysql-5.6-en/ha-memcached-cmdline-options.html

symfony (php tool) also seems having them https://symfony.com/doc/current/console/verbosity.html

[2022-06-23 17:56] timreichen commented on #2342
Looks to me like the aliases `-vv` and `-vvv` should be declared separately (. With that behavior this is valid:
[code]
as is
[code]
Where as `deno run -rrr …` and `deno run -r --reload …` it rightfully throws an error:
[code]
So imo this is also a bug.

In any case, the flag mod seems overly complicated for what it does with boolean arrays and alias maps etc.
I would suggest to deprecate it in fa

[2022-06-24 14:58] cjihrig commented on #2377
There was a bunch of discussion about this today in Discord starting from roughly [here](https://discord.com/channels/684898665143206084/684898665151594506/989832448554700810). This may be blocked on not wanting an op in core for performing `accept()`.

[2022-06-24 16:18] kt3k commented on #2342
I would suggest to deprecate it in favour of an object oriented flag mod:

I'm not in favor of changing `flags` in that way. There's no trivial way to migrate from existing one to that version. So that will cause huge confusion in the ecosystem.

Also std/flags is based on minimist, which has 20K+ dependent libraries. So the design can be considered very well battle tested. Changing this to comple

[2022-06-25 10:57] jonnydgreen opened #2386 "zlib codes contains undefined values and keys"
**Describe the bug**

Hi! I recently found that the exported `codes` from `https://deno.land/std@0.145.0/node/zlib.ts` contains `undefined` values, namely, `Z_VERSION_ERROR`.

It looks like there are issues in the following files:

- `node/_zlib.mjs`

Incorrect key value:

[code]

- `node/_zlib_binding.mjs`

No exported variable:

[code]

**Steps to Reproduce**

Create file `test.ts` with contents

[2022-06-25 15:53] bartlomieju commented on #2386
Thanks for the bug report, PRs are most welcome and highly appreciated.

[2022-06-26 08:39] rivy opened #2388 "🐛 node util `format` and `inspect` formatting bug(s)"
**Describe the bug**

Array consolidation using `format()` or `inspect()` (via `groupArrayElements(...)`) for any array over 6 elements results in an empty array as output. The issue looks like the root caused is the use of `Array.prototype.push(...)` where `Array.prototype.push.call(...)` (or alternate) is needed.

Other formatting bugs are likely present, as well.

**Steps to Reproduce**

[code]

[2022-06-26 09:18] jonnydgreen commented on #2386
No problem, I'll get something out this week!

[2022-06-26 09:21] arseneyr opened #2389 "`createReadStream` not found when ESM importing `fs` under compat mode"
### Description
 Importing `createReadStream` from `fs` fails under compat mode if using ESM import.

### Repro
Create a file `test.mjs`:
[code]
Run with `deno run -A --compat --unstable test.mjs`.

### Output
[code]
### Notes
There are no errors if using CommonJS `require('fs').createReadStream`.
Repros on:
[code]

[2022-06-27 15:37] johnspurlock opened #2391 "Please do a Deno existence check in io/buffer.ts BufReader.readline"
I'd like to use std streams in the browser, and the only reference to the Deno ns after bundling is this reference:

https://github.com/denoland/deno_std/blob/09e24d81ce0bacebe81b3c9f683a6ecf9263fc12/io/buffer.ts#L499

Mind doing an existence check here to make sure it runs in the browser?

Thanks,
\- John

[2022-06-27 18:17] bartlomieju commented on #2391
PRs are welcome

[2022-06-27 19:24] #2388 closed

[2022-06-27 20:05] #2389 closed

[2022-06-27 21:16] #2295 closed

[2022-06-27 21:30] johnspurlock commented on #2391
@crowlKats I'm actually bundling std streams, and the only reference to buffer is the one I pointed out above, seems like it could be elided if the Deno ns is not present with no issues, unless I'm missing something

Can inspect the bundle output here: https://bundle.deno.dev/https://deno.land/std@0.145.0/streams/mod.ts

[2022-06-28 04:36] #2366 closed

[2022-06-28 15:44] #2386 closed

[2022-06-28 17:30] meepeek opened #2397 "indirect import std log cause app freeze after run"
**Describe the bug**
indirect import https://deno.land/std@0.145.0/log/mod.ts makes the log not working and freeze the program (you will find that running following code will print console but not terminate until you press ctrl-c). Instead, moving import from deps.ts to place directly in test.ts and the problem is gone.

**Steps to Reproduce**
deps.ts
[code]
test.ts
[code]

[code]

**Expected beha

[2022-06-28 18:17] Symbitic opened #2398 "Separate logging information from presentation"
**Is your feature request related to a problem? Please describe.**

One problem with the log module of the standard library is that it isn't scalable across module boundaries. Different modules may implement a different logging style (no color, different prefixes, etc). This makes it difficult for applications to present a consistent experience and discourages modules from emitting useful debug in

[2022-06-28 19:18] timreichen commented on #2364
https://github.com/denoland/deno_std/pull/2400

[2022-06-29 13:50] dahlia opened #2402 "node: events.setMaxListeners()"
**Is your feature request related to a problem? Please describe.**

Node.js introduced [`events.setMaxListeners()` function](https://nodejs.org/dist/latest-v18.x/docs/api/events.html#eventssetmaxlistenersn-eventtargets) since v15.4.0, but deno_std's node compatibility layer lacks this API.  Some existing libraries depending on this API does not work on Deno.

**Describe the solution you'd like**

[2022-06-30 05:59] kt3k opened #2404 "refactor: replace RBTree usage with RedBlackTree"
We renamed RBTree to RedBlackTree in #2400. We also need to update the usage of them in std.

ex. https://github.com/denoland/deno_std/blob/883fe0f40105f39a5084863f07894670c9d56792/testing/time.ts

[2022-07-01 05:30] geofmureithi commented on #2402
@kt3k I want to get into Deno (I have prior Rust and Node experience), Can I take this one?

[2022-07-01 05:39] kt3k commented on #2402
@geofmureithi yes, please!

[2022-07-02 03:38] dsherret opened #2407 "Update docs for using `-- --update` in powershell with snapshot testing"
See https://github.com/denoland/deno/issues/14405#issuecomment-1111108281

[2022-07-02 06:15] geofmureithi commented on #2402
Looking at the `main` branch, there is this method.
https://github.com/denoland/deno_std/blob/main/node/_events.mjs#L141
@dahlia Am I missing something?

[2022-07-02 07:30] dahlia commented on #2402
@geofmureithi Node.js provides [module-level `setMaxListeners()` function][1] besides [`EventEmitter.setMaxListeners()` method][2].  Currently deno_std/node only provides the latter.

[1]: https://nodejs.org/dist/latest-v18.x/docs/api/events.html#eventssetmaxlistenersn-eventtargets
[2]: https://nodejs.org/dist/latest-v18.x/docs/api/events.html#emittersetmaxlistenersn

[2022-07-02 08:52] kt3k opened #2408 "node: `util.promisify(fs.exists)` always rejects"
`util.promisify` works differently in node and `deno_std/node` when the fs.exists is passed to it.

The following code prints `Error!!!\ntrue` (assuming README.md exists in current dir)
[code]

On the othe hand, the following prints `Success\ntrue` with node.js:
[code]

[2022-07-02 09:24] #2214 closed

[2022-07-02 09:45] bartlomieju opened #2410 "node: process.argv doesn't work if executing remote file"
**Describe the bug**

If you execute a file from `esm.sh` that polyfills Node APIs and accesses `process.argv` it will throw. That's caused by `fromFileUrl` function because `process.argv[1]` is defined as follows:
[code]

**Steps to Reproduce**

[code]

**Expected behavior**

Don't throw when executing remote file. I think we could somehow use "fake" local path like `CWD/$deno$node.js`

**Environ

[2022-07-02 09:50] bartlomieju opened #2411 "node: Using V8 flags when spawning a subprocess fails"
**Describe the bug**

When Node compat spawns a subprocess that uses V8 flags, we get an error. This is caused by the fact, that Node accepts V8 flags as "top level" CLI flags, whereas Deno requires them to be a value to `--v8-flags=` CLI flag.

Quick idea to fix it is to get a list of all V8 flags (`deno run --v8-flags=--help`) and embed them somewhere in `std/node`, then when spawning a subproce

[2022-07-03 17:00] jukefr opened #2415 "Top level await in log/mod.ts"
**Describe the bug**
https://deno.land/std@0.146.0/log/mod.ts?codeview=#L216
Contains a top level await which when compiled to npm module with dnt will throw a warning unless targeting ESM.

**Steps to Reproduce**
Import std::log and use dnt to compile for node.

**Expected behavior**

The log library to be able to target node (maybe, not sure if actually a goal)

**Environment**

- deno version:

[2022-07-03 22:01] elycheikhsmail opened #2417 "deno_std/ partialy supported api"
what are parts of cluster api supported and what are the parts not support in deno compat ?

[2022-07-04 06:37] #2407 closed

[2022-07-04 07:17] kt3k opened #2419 "testing(node): `parallel/test-net-allow-half-open.js` is flaky"

[2022-07-04 07:22] kt3k commented on #2417
Currently almost nothing is supported for `std/node/cluster`, but Craig is working on it in https://github.com/denoland/deno_std/pull/2271, which includes the majority of the APIs except `connected` and `send()`

[2022-07-04 14:51] elycheikhsmail commented on #2417
Thank you

[2022-07-05 07:39] geofmureithi commented on #2402
Let me make an attempt before the end of the week and see how it goes.

[2022-07-07 09:00] WoHal opened #2423 "'ErrorOptions' is not defined"
https://github.com/denoland/deno_std/blob/b6118875be9ce83f2392e8b82e42e3e5bbcc66f6/http/http_errors.ts#L99

[2022-07-07 12:07] kitsonk commented on #2423
What makes you think it isn't defined?

It defined in `lib.es2022.error.d.ts` which is globally scoped and built into current versions of Deno.

[2022-07-07 13:15] luk3skyw4lker commented on #2404
I'm gonna take this one!

[2022-07-07 13:25] bartlomieju commented on #2404
I believe this was already done in #2400

[2022-07-07 13:25] #2404 closed

[2022-07-07 15:31] binyamin opened #2425 "In `/archive/tar.ts`, export `TarEntry` as a type"
**Is your feature request related to a problem? Please describe.**

In the docs for the tar module, [the `Untar.extract()` method](https://doc.deno.land/https://deno.land/std@0.147.0/archive/tar.ts/~/Untar#extract) doesn't fully document its return type. It returns a promise containing `TarEntry`, which is not exported as a type.

**Describe the solution you'd like**

Export the `TarEntry` class a

[2022-07-08 02:55] WoHal commented on #2423
Sorry about that. I'm using Deno v1.17.2 which was installed by brew by default, but deno_std is the newest.

[2022-07-08 02:55] #2423 closed

[2022-07-08 18:54] lucacasonato opened #2426 "Include an `accept-language` parser"
I think it would be useful to include an `accept-language` parser in std. It is very useful when building internationalized websites. Maybe something along the lines of:

[code]

[2022-07-08 22:09] bartlomieju opened #2427 "Include "semver" module"
Ref https://zenn.dev/sosukesuzuki/articles/177c782f8110ba

[2022-07-09 16:02] aabedraba opened #2428 "Remove vary header from response"
I'm using a gateway and need my requests to be cached by the gateway, but std http is adding a `vary` header to the response which I need not to be there for the request to be cached.

On caching, from the Envoy docs: [envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/cache_filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/cache_filter)

Is there a w

[2022-07-10 11:17] GJZwiers opened #2431 "`fastify` does not run in Node compat mode: `server.setTimeout is not a function`"
[code]

`deno run --compat --allow-all --unstable main.mjs`:

[code]

`server` is the return from `http.createServer()` (Node built-in `http` module)

[2022-07-10 11:22] cuobiezi commented on #2425
please refer #2429

[2022-07-10 13:48] cuobiezi commented on #2427
I want to help, I worked seven years with JS. And I created a simple plan for it, maybe it is useful. Thanks 😊

[2022-07-10 17:02] GJZwiers opened #2432 "Cannot use `@sentry/node` from esm.sh"
**Describe the bug**

Importing the Sentry SDK through esm.sh and calling `Sentry.init` throws `error: Uncaught SyntaxError: The requested module 'https://deno.land/std@0.145.0/node/zlib.ts' does not provide an export named 'createGzip'
    at <anonymous> (https://esm.sh/v86/@sentry/node@7.3.0/deno/node.js:2:5108)`

**Steps to Reproduce**

`sentry.ts`:
[code]

`deno run -A sentry.ts`:

[code]

**E

[2022-07-10 21:40] Haprog commented on #955
It seems like the old error message is still being used for this even in Deno 1.23.3. I ran into this when trying to use:

[code]

First few times I was reading this I wasn't even sure what this means. First I thought what even is a "file module"? And what is the case that is not working/supported then?

Do I understand it correctly now that `createRequire` does not work for importing via HTTP/HTT

[2022-07-10 23:32] kitsonk commented on #2427
@cuobiezi the PR #2430 is not the approach that should be used.  We shouldn't be adding node_modules.  While the issue isn't abundently clear, we should add something like `/semver/mod.ts`, porting the code into clean TypeScript code.

That being said, @justjavac ported Node.js semver to TypeScript and made it available here: https://deno.land/x/semver@v1.4.0.  It has tests, but the licensing and

[2022-07-11 07:20] justjavac commented on #2427
I would move it to `std`, and I created https://semver.deno.dev

[2022-07-11 08:38] #2425 closed

[2022-07-11 09:07] bartlomieju commented on #2427
@justjavac that would be a great addition!

@cuobiezi thanks for the work, as pointed by @kitsonk I should have added description to hint that we shouldn't bring whole module from npm.

[2022-07-11 09:18] cuobiezi commented on #2427
IC, Thanks for your explain.

[2022-07-11 20:11] cjihrig commented on #2408
This was fixed in https://github.com/denoland/deno_std/pull/2409. Closing.

[2022-07-11 20:11] #2408 closed

[2022-07-11 20:54] #2432 closed

[2022-07-12 01:36] yeskunall opened #2436 "(node/crypto): `crypto.timingSafeEqual` is not a function"
**Describe the bug**

I tried to use `timingSafeEqual` from Node.js’ Crypto API, expecting it to be available based on #1333, but I get the following error:

[code]

**Steps to Reproduce**

[code]

**Expected behavior**

[code]

In #2263 the unimplemented methods were stubbed out. However, in the same PR, the implementation for `timingSafeEqual` was simply moved ([node/_crypto/timingSafeEqual.ts →

[2022-07-12 10:17] SimonRask commented on #2436
I think you forgot to run the REPL in compat mode. I got the following:
[code]

[2022-07-13 10:12] kt3k commented on #955
@Haprog Thanks for reporting. Right, the error message doesn't look great now. I opened #2440 to try to address this

[2022-07-14 03:54] yeskunall commented on #2436
Ah, looks I need to RTM better. FWIW, here’s where I should have been looking: [Deno Manual > Interoperating with Node and NPM > Node compatibility mode](https://deno.land/manual@v1.23.3/node/compatibility_mode#node-compatibility-mode).

I’ll be closing this now. Thank you @SimonRask and @kt3k!

[2022-07-14 03:54] #2436 closed

[2022-07-14 14:30] jespertheend opened #2441 "Path: Should `normalize()` remove trailing slashes?"
**Is your feature request related to a problem? Please describe.**

I'm trying to find out if a file is inside a specific directory. My plan was to do it like this:

[code]

However, this doesn't work if the `dir` argument doesn't contain a trailing slash. For example:
[code]
returns `"/path/to/dir/"`, and `"/path/to/dir/" != "/path/to/dir"`

**Describe the solution you'd like**

If I'm not mistak

[2022-07-15 06:58] jgrunik commented on #2370
I too have this issue.
BigInts are being cast to ints.
I see no workaround.

[2022-07-15 13:18] #2364 closed

[2022-07-15 23:33] c4spar opened #2442 "Custom `Promise` implementation no longer works with `assertRejects`"
**Describe the bug**

Currently `assertRejects` allows only an instance of `Promise` as return value. If a custom `Promise` is returned, It throws with `AssertionError: Expected function to reject`.

It was working before deno_std@0.140.0.

**Steps to Reproduce**

[code]

Throws with `error: AssertionError: Expected function to reject`.

**Expected behavior**

I would expect the above example to w

[2022-07-16 23:01] #2442 closed

[2022-07-17 12:32] harrysolovay opened #2444 "Feat request: `assertIsNotError`"
Feature request: an `assertIsNotError` util to compliment [assertIsError](https://github.com/denoland/deno_std/blob/66671c44955f9fd0b48dd9859127bea2f79c4037/testing/asserts.ts#L571) assertion. I frequently return (not throw) errors.

[code]

To test such function requires us to perform checks to narrow the fn's result union type to exclude its error-based members.

[code]

Ideally I could utilize

[2022-07-17 23:59] typhoeus-ltd opened #2445 "Unimplemented basic methods when running Vite and Fastify"
**Describe the bug**

Unimplemented basic methods, `ChildProcess.unref()`, and `server.setTimeout` when using fastify-vite and vite itself.

**Steps to Reproduce**

1. Install fastify-vite, vite
2. create and run a Fastify dev server
3. Profit.
4. See error

**Expected behavior**

Run the module correctly.

**Environment**

- OS: Windows 11
- deno version: deno 1.23.4 (release, x86_64-pc-windows-m

[2022-07-18 02:27] timfish opened #2446 "Don't unnecessarily request to read environment variable"
My library uses some npm dependencies from esm.sh but this causes the user to be prompted for access to the environment due to this code:

https://github.com/denoland/deno_std/blob/8b34f7363501d17b059ab65575b985902ef190ba/node/internal/util/debuglog.ts#L106-L115

It looks like this file is included via `https://deno.land/std@0.148.0/node/process.ts` which esm.sh is injecting because the npm module

[2022-07-18 02:51] harrysolovay opened #2447 "feature request: base58 encoding"
The [base58 encoding scheme](https://tools.ietf.org/id/draft-msporny-base58-01.html) has become quite popular for a number of use cases. Any thoughts on including a standard implementation in this lib?

[2022-07-18 03:02] crowlKats commented on #2447
I think it makes sense

[2022-07-18 21:55] typhoeus-ltd commented on #2445
oh, didn't notice, hope this implementation is live asap.

[2022-07-19 01:10] justjavac commented on #2427
This issue can be closed

[2022-07-19 01:11] #2427 closed

[2022-07-19 03:03] NotFounds opened #2449 "feature: crypto.timingSafeEqual"
**Is your feature request related to a problem? Please describe.**

Comparing two sequences has a risk for [timing attack](https://en.wikipedia.org/wiki/Timing_attack). Nodejs has a function [`crypto.timingSafeEqual`](https://nodejs.org/docs/latest-v18.x/api/crypto.html#cryptotimingsafeequala-b) to compare two sequence constant time. And [`deno_std/node/crypto`] is also supporting it.

Has deno_st

[2022-07-20 18:23] timonson opened #2451 "http/http_errors: Optional headers argument"
The class `HttpError` doesn't have a `headers` property. I would suggest that an optional `headers` property and argument for `createHttpError`  might be useful for cases like `Unauthorized, 401` where a `WWW-Authenticate` header would be required.

@kitsonk would you agree to this?

Thanks!

[2022-07-21 07:54] iuioiua opened #2454 "suggestion: set-cookie parser"
I wrote a simple `set-cookie` header parser. Initial tests are passing.

Perhaps it might be a good fit for `http/cookie`? Check it out [here](https://github.com/iuioiua/fetch_with_cookies/blob/main/mod.ts).

[2022-07-21 07:56] kt3k commented on #2411
solved in #2424

[2022-07-21 07:56] #2411 closed

[2022-07-21 16:17] jmandel opened #2455 "readerFromStreamReader potentially dropping the last value returned from a ReadableStreamDefaultReader?"
Looking at the conversion at:

https://github.com/denoland/deno_std/blob/86c7d8ad4505ee61ca992e8c08159905e8bd8c61/streams/conversion.ts#L85-L88

Isn't it possible that within the `if (res.done)` branch, `res.value` contains one final chunk of data that's being ignored by this conversion routine? My question is just based on the type definition for `res`, which would be  a `ReadableStreamReadDoneRe

[2022-07-21 17:09] 0f-0b commented on #2455
As per the [standard](https://streams.spec.whatwg.org/#default-reader-read), `value` will always be `undefined` when `done` is `true`. The type definition in `lib.deno_web.d.ts` seems misleading here.

[2022-07-21 18:07] jmandel commented on #2455
Thanks for the quick response. I'll close this and open a separate issue on `lib.deno_web.d.ts`.

[2022-07-21 18:07] #2455 closed

[2022-07-21 22:02] kitsonk commented on #2451
Could you give a better example of how you expect it work?

[2022-07-22 19:10] stuartlangridge opened #2461 "assertEquals can't show a helpful diff and a provided message"
**Describe the bug**

`assertEquals` (from `std/testing`) shows a nice diff when comparing two multiline strings. However, if an optional `msg` is passed to `assertEquals` then it shows the message but _not_ the diff; there is no way to get both.

**Steps to Reproduce**

Obviously assertEquals could compare two arrays all in one go, but this is a simplified example. The key point is that a test ma

[2022-07-25 01:58] timonson commented on #2451
Maybe something like this https://github.com/denoland/deno_std/pull/2462 ?

[2022-07-25 06:32] jerry4718 opened #2463 "(node/process)TypeError: process.env.hasOwnProperty is not a function"
**Describe the bug**

**Steps to Reproduce**

**Expected behavior**

**Environment**

- OS: Deepin 20.5 x86_64
- deno version: 1.23.4
- std version: 0.148.0

[2022-07-26 04:28] #2451 closed

[2022-07-26 07:54] #2463 closed

[2022-07-26 14:50] kt3k commented on #2461
If we support the above, I'd suggest the overload like the below:

[code]

and the usage will be:
[code]

[2022-07-27 01:04] kt3k opened #2470 "compat: fix fs.watchFile"
`fs.watchFile` doesn't seem working

[2022-07-27 04:26] kitsonk opened #2472 "node/internal: incorrect import"
The following import doesn't exist:

https://github.com/denoland/deno_std/blob/48058b109aea531df44790a95e5b59221b3e9ff8/node/internal/streams/duplexify.mjs#L5

It is concerning that we don't have tests that identify this.

[2022-07-27 04:29] kitsonk opened #2473 "node/internal: incorrect import in lazy_transform"
The following import doesn't exist:

https://github.com/denoland/deno_std/blob/48058b109aea531df44790a95e5b59221b3e9ff8/node/internal/streams/lazy_transform.mjs#L5

It is `util.ts`.

It is concerning that we don't have tests that discover this.

[2022-07-27 14:15] #2472 closed

[2022-07-27 14:15] #2473 closed

[2022-07-27 17:34] jespertheend commented on #2441
That would work in a scenario where you'd want to see if a file is a direct child of a specific directory. But I'd also want to detect files in subdirectories. I.e.
[code]
should also return true.

I'm currently wrapping the result of `common()` in a `resolve()` call, which seems to work. Though I have only tested this on macOS.

[2022-07-27 23:23] iuioiua commented on #2454
PR submitted.

[2022-07-27 23:23] #2454 closed

[2022-07-28 09:25] Delapouite commented on #1331
Hi.

This issue seems closely related to a similar request made in https://github.com/denoland/deno_std/issues/981. So we may want to merge them in a unique thread.

Also, as Deno std lib is closely modeled from Go std lib inspiration, https://pkg.go.dev/encoding/pem may also be worth implementing as dealing with PEM is often related to handling X509 certificates.

[2022-07-28 14:28] gamer0mega opened #2476 "compat(node/https): ClientRequest.setTimeout is not a function"
**Describe the bug**

ClientRequest.setTimeout in node/https erroring and saying that it is not a function, which is incompatible with node's https module and will break projects which use the compat mode.

**Steps to Reproduce**

1. Create a file with contents
[code]
2. Run it using the Deno compat mode(it uses the std modules for node defaults)
[code]

**Expected behavior**

[code]
The code shou

[2022-07-28 14:30] gamer0mega commented on #2476
The exact same error occurs when using
[code]
I get
[code]

[2022-07-28 14:41] gamer0mega commented on #2476
Also, there is another bug if you will remove the setTimeout line, due to std having a different url parser, node parses it properly.

[2022-07-28 14:46] bartlomieju commented on #2476
Can you report it as a separate issue?

[2022-07-28 14:51] gamer0mega commented on #2476
I will, just noticed it.

[2022-07-28 15:22] gamer0mega opened #2478 "compat(node/https): request function does not accept a complete url as the path"
**Describe the bug**

Most HTTP Servers can handle a complete url as the request path, and in node, you can set it to a complete url. It just passes it to the HTTP header, while std just yields an error about invalid url.

**Steps to Reproduce**

1. Create a script with contents
[code]
2. Run it using the deno compat mode(it uses modules from std for node defaults)
[code]

**Expected behavior**

[

[2022-07-28 19:32] gamer0mega commented on #2478
The issue seems to be that std does not specify the protocol field by default, unlike node, the code actually returns
[code]
if I set protocol to `https:`, this needs to be fixed aswell.

[2022-07-28 19:52] luk3skyw4lker commented on #2447
Also taking this one!

[2022-07-29 06:47] #2470 closed

[2022-07-29 13:27] kt3k opened #2482 "compat: `parallel/test-net-allow-half-open.js` is flaky on mac"

[2022-07-31 09:16] cuobiezi commented on #2444
@harrysolovay There is assertIsError. Is it your want ?
[code]

[2022-07-31 13:30] harrysolovay commented on #2444
As I specified above, this util would be...

`assertIsError` does not provide the desired behavior. I'm looking for the inverse (to assert something is not an error instance).

[2022-07-31 14:35] cuobiezi commented on #2444
In my mind about your above case is
[code]
Is right ?

[2022-07-31 14:43] 0f-0b commented on #2444
`assertNotInstanceOf` might be a more general alternative.

[code]

[2022-07-31 14:46] harrysolovay commented on #2444
`assertNotInstanceOf` would be great.

[2022-07-31 22:02] bartlomieju opened #2483 "Update README"
`README.md` should be updated.

- "Releases" section is a bit lacking in explanation why different versioning
- "How to use" needs to be reworded, it's often coming up in comments that devs don't use "deno_std" because it's still unstable.
We should better communicate information about stability and inform that even if there's a breaking change users can use specific modules with pinned version of

[2022-08-01 02:47] jerry4718 opened #2485 "(node/README.md)Suggestions on detailed introduction of ```Supported modules```"
**Is your feature request related to a problem? Please describe.**

Whether to provide a clearer progress table for the ```Supported modules``` in the ```README.md``` introduction of ```--compat``` mode, which is more conducive to the implementation of partners in the community

**Describe the solution you'd like**

|  module   | api  | status  |
|  ----  | ----  | ----  |
| path  | join | √ |
| p

[2022-08-01 06:08] #1596 closed

[2022-08-01 06:18] #1910 closed

[2022-08-01 15:07] jespertheend opened #2486 "testing/mock.ts: Allow stubbing non existent instance methods"
**Is your feature request related to a problem? Please describe.**

When writing unit tests, I often run into issues when importing an entire dependency. That's why I usually create a minimal version of the dependency that only implements a few methods required for the test to work.
I then cast the mock object to the original object, so that it can still be passed in existing apis.
When using `stu

[2022-08-01 15:16] jespertheend commented on #2486
@KyleJune do you see any immediate issues with this? Removing that error doesn't cause any tests to fail, but maybe I'm missing something obvious.

[2022-08-01 16:57] jespertheend commented on #2486
Yeah it does, but only by way of casting. A minimal example would be something like

[code]

In this case `createStubClass()` is a function that is shared between multiple tests, not all tests need `theMethod()` so it isn't implemented by default. This causes the `stub()` call at the last line to fail. But since the `castInstance` has the type `TheRealClass`, no type errors are generated in this c

[2022-08-01 20:30] jespertheend commented on #2486
Seems like restoring already works out of the box :D
I've opened #2487

[2022-08-02 05:12] kt3k commented on #2486
@jespertheend

Why not just provide empty `theMethod` implementation here instead of type casting?

This change to `stub` seems to make it confusing to me.

[2022-08-02 08:20] iugo opened #2488 "XML support"
XML is common. It would be nice if the standard library could support XML to JS and some JS to XML.

**Is your feature request related to a problem? Please describe.**

Just like: https://github.com/denoland/deno_std/issues/231, https://github.com/denoland/deno_std/issues/431

**Describe the solution you'd like**

https://www.npmjs.com/package/xml2js

**Describe alternatives you've considered**

[2022-08-02 08:40] crowlKats commented on #2488
There is #2471, however it seems a bit questionable whether it will be part of std

[2022-08-02 09:06] kt3k opened #2489 "☂️ compat: tracking issue for next.js support"
part of https://github.com/denoland/deno/issues/12577. This issue tracks the remaining issues for running [next.js](https://nextjs.org/) in deno

- [ ] `styled-jsx` detect browser env by `typeof window !== 'undefined'` (deno compat mode becomes `isBrowser: true`), then crashes after referencing `document`
- [ ] `fs.watchFs` throws uncaught error on trying to watch `next.config.mjs`
- [ ] swc binar

[2022-08-02 10:24] mtmulch1 commented on #2447
Hello, is anyone currently working on this? New around these parts. Correct me if I am wrong and someone else is working on the issue still.

I did not see a standard implementation of Go to port over.
https://github.com/denoland/deno_std/tree/main/encoding    is the correct location for adding the exported deno stand library functionality of the encoding and test files placed in the same director

[2022-08-02 10:30] mtmulch1 commented on #2444
Is anyone currently working on this?

[2022-08-02 11:15] luk3skyw4lker commented on #2447
I am currently working on this issue still but this would be the right directory to add the implementation files.

[2022-08-02 15:46] jespertheend commented on #2486
Adding an empty method implementation will cause a type error when casting `instance as TheRealClass`.
This can be worked around by casting like `instance as unknown as TheRealClass`. But makes all the other methods of the stub class less type safe.
Another workaround is to make the `theMethod` return either a valid type, or some value cast as a valid type. In the example above I'd probably go tha

[2022-08-02 16:42] czottmann opened #2490 "dotenv: different behaviour between `load.ts` and `mod.ts` when used together with `run --watch=`"
### Describe the bug

When using Deno's watcher (`deno run --watch=file,folder/ …`) in conjunction with dotenv, I get different behaviour with auto loading compared to using `config()`.  **I'm not sure whether the fault lies with dotenv or `Deno.env`'s handling of changes, though.**

On a watcher-triggered reload, when using auto-loading, eventual changes in `.env` will not be available via `Deno.

[2022-08-03 02:39] kt3k commented on #2486
I guess `return {} as any` works for any return type, doesn't it?

I didn't know that `instance as TheRealClass` in the above example doesn't cause type error, but it feels very strange as it's actually not type safe at all.. 🤔

[2022-08-03 10:59] #2482 closed

[2022-08-03 11:24] kt3k opened #2493 "docs: remove types in jsdoc @param directive"
We sometimes write jsdoc `@param` directive like the below:
[code]

But, this should be:
[code]
as we use typescript.

[2022-08-03 13:05] bartlomieju opened #2494 "node: fs.existsSync throws when returning false in Node"
**Describe the bug**

Running `std/node` in Deno:
[code]

Running in Node:
[code]

**Expected behavior**

Should return false, this is needed for Vite compatibility.

Related https://github.com/denoland/deno_std/issues/1216
Ref https://github.com/denoland/deno_std/issues/2055

[2022-08-03 13:06] #2322 closed

[2022-08-03 13:07] bartlomieju commented on #1664
Done in https://github.com/denoland/deno_std/pull/2395

[2022-08-03 13:07] #1664 closed

[2022-08-03 13:35] jespertheend commented on #2486
Ah yeah, that should do it!

Yeah it's definitely not ideal. I keep running into runtime errors and then it turns out some method of a mock class isn't implemented. Ideally I would not have to create a mock class at all, so I can just use the real thing and stub a few of its methods. But when doing this I often run into issues where a class constructor requires the dom or some network functionalit

[2022-08-03 14:39] #2494 closed

[2022-08-04 08:34] kt3k commented on #2486
Ok. Let's try it

[2022-08-04 21:24] iuioiua commented on #2493
Easy. I’m happy to do this! 🤙🏾

[2022-08-05 01:34] zachauten opened #2498 "(path/parse) suggestion: ParsedPath.toString return string representing full path"
**Is your feature request related to a problem? Please describe.**

It would be nice if [ParsedPath.toString](https://deno.land/std@0.151.0/path/mod.ts?s=ParsedPath) returned a string of the path that created it, like [URL](https://developer.mozilla.org/en-US/docs/Web/API/URL/toString). Currently it returns `"[object Object]"`.
Example:
[code]

**Describe alternatives you've considered**
Adding a

[2022-08-08 05:00] harrysolovay commented on #2447
Hi @luk3skyw4lker, wondering if there are any updates on this front? It seems others (@mtmulch1) may be interested in implementing this as well.

[2022-08-08 07:35] mtmulch1 commented on #2447
I found another issue in this repository this one is all yours.

[2022-08-08 20:03] erfanium opened #2505 "docs: change example for `readableStreamFromReader` and `writableStreamFromWriter`"
Currently doc examples suggests using `readableStreamFromReader` and `writableStreamFromWriter` to get a `readableStream` or `writeableStream` from a `FsFile` which is not required anymore after https://github.com/denoland/deno/pull/13615

bad docs:
- https://deno.land/std@0.151.0/streams/mod.ts?s=readableStreamFromReader

[2022-08-08 20:09] crowlKats commented on #2505
Things can still just be a `Deno.Reader` or `Deno.Writer`, as one can just create an object with the required functions, so having `readableStreamFromReader` & `writableStreamFromWriter` still makes sense.

[2022-08-08 20:11] erfanium commented on #2505
@crowlKats Yeah, I'm now changing this issue to improve docs, because docs are still suggests readableStreamFromReader to read from FsFile

[2022-08-08 21:45] iuioiua commented on #2493
Should we also do the same for the `@return` directive?

[2022-08-08 23:41] darrachequesne opened #2506 "Print logs from 3rd party library"
**Describe the bug**

It seems calling `log.setup()` interferes with loggers already created with the `getLogger()` method.

I used the documentation [here](https://deno.land/std@0.151.0/log/README.md) as reference.

**Steps to Reproduce**

`index.ts`

[code]

`3rd-party-lib.ts`

[code]

Output:

[code]

**Expected behavior**

I expected `INFO foo` to be printed in the console too.

**Environment*

[2022-08-10 00:51] dsherret opened #2507 "Suggest: `Deno.env.get("NODE_DEBUG")` should not permission prompt"
I think probably `Deno.env.get("NODE_DEBUG")` should not permission prompt and do a permission check for the env var before requesting it (using `Deno.permissions.query`).

https://github.com/denoland/deno_std/blob/cac7764e3878ac8c2a3c26a1201f3dfcc15e6910/node/internal/util/debuglog.ts#L108

[2022-08-10 11:58] cuobiezi commented on #1767
@kt3k Please refer 2509

[2022-08-10 19:01] sgwilym opened #2510 "node/fs/promises missing typings"
**Describe the bug**

All exports from `node/fs/promises.ts` have the type `any`

**Steps to Reproduce**

Import anything from `node/fs/promises.ts` in any IDE with Deno LSP integration. Hover over the import and see the `any` type.

**Expected behavior**

That the exports have typings.

**Environment**

- OS: macOS 11
- deno version: 1.24
- std version: 0.148

[2022-08-11 03:03] #2486 closed

[2022-08-11 07:12] chaorace opened #2512 "callback for `tls.connect` is bound to event which is never emitted"
Note how this callback is being bound to an event which is emitted nowhere else in the polyfill:
https://github.com/denoland/deno_std/blob/6f9e33341826821ba73593238bf0da7c515c30aa/node/_tls_wrap.ts#L332

In the baseline implementation, this event is emitted by the `onConnectSecure` function:
https://github.com/nodejs/node/blob/c3770536bcfb79fd2b562a861831eed369576b58/lib/_tls_wrap.js#L1524-L1586

[2022-08-11 10:17] kt3k commented on #2493
I think so!

[2022-08-11 13:04] luk3skyw4lker commented on #2447
Hello @harrysolovay

I'm still finishing the work, there are still some details but I'm planning to open a PR this weekend to finish it

[2022-08-11 13:04] luk3skyw4lker commented on #2447
BTW, sorry to take so long!

[2022-08-12 04:05] harrysolovay commented on #2447
@luk3skyw4lker I appreciate you taking on this work –– thank you!

[2022-08-12 06:06] #1767 closed

[2022-08-12 08:46] masx200 opened #2516 "TS6196 [ERROR]: 'GenericFunction' is declared but never used."
**Describe the bug**
https://deno.land/std@0.152.0/node/internal/errors.ts?code#L72
**Steps to Reproduce**
[code]
[code]

**Expected behavior**

**Environment**

- OS: [e.g. Ubuntu 20.04, MacOS 11]
- deno version:
- std version:

[2022-08-12 09:42] kt3k opened #2517 "ci: `Generate lcov` step fails on CI"
Recently `Generate lcov` step started failing on CI.

It was successful at e5d48464bf8a6bc6ea49d8e5054c7fb957fb66c7 (16 hours ago). I guess something has been changed in CLI canary

[2022-08-12 09:46] kt3k commented on #2517
https://github.com/denoland/deno/pull/15459 might be related

[2022-08-12 10:32] kt3k commented on #2517
tested with the canary versions `e4a5f9952f404e10f1b577b1477b89b155092b67` and `c3b04683c55fef8929e83429ec17b7a6898c6048`.

`c3b04683c55fef8929e83429ec17b7a6898c6048` (denoland/deno#15459) seems to have started this behavior

[2022-08-13 01:12] disjukr commented on #2517
It seems fixed in https://github.com/denoland/deno/pull/15467

[2022-08-13 06:45] kitsonk commented on #2426
@lucacasonato we have https://github.com/denoland/deno_std/blob/main/http/negotiation.ts#L74 now, which meets this requirement. I don't believe just parsing the header is as useful a content negotiation all together.

[2022-08-13 08:43] devadeka commented on #2507
@dsherret I'd like to try my hand at this one if that's alright...

[2022-08-13 09:34] devadeka commented on #2507
So had a go at it...
I found out how to check whether the permissions for the `NODE_DEBUG` environment variables have been granted used  `Deno.permissions.query`.

Could I please get more clarification on expected behaviour? I am assuming line 108 is only run when permissions are granted. What happens for the other permission states? Should it permission prompt? If so could you point me to docs on

[2022-08-13 13:43] #2517 closed

[2022-08-13 14:41] kt3k commented on #2507
Introducing TLA in `std/node` has undesired effects on some `esm.sh` modules. See https://github.com/denoland/deno/issues/14243 and https://github.com/denoland/deno_std/issues/2097 for the past discussions.

Because `Deno.permissions.query` is async, querying env permission before getting it doesn't work in this case. (And actually we removed `Deno.permissions.query` call before to avoid the above

[2022-08-13 14:43] #2516 closed

[2022-08-13 14:45] dsherret commented on #2507
Oh yeah, I forgot about that. I’m going to close this one, but we should come up with a way to remove this env var check eventually.

[2022-08-13 14:45] #2507 closed

[2022-08-13 14:47] kt3k commented on #2507
I agree. Maybe we can enhance/change CLI somehow to achieve this

[2022-08-13 14:53] #2493 closed

[2022-08-13 16:11] char8x opened #2522 "collections: BinaryHeap has different result when implement top-k-frequent-elements"
**Describe the bug**
BinaryHeap has different result when implement  top-k-frequent-elements

**Steps to Reproduce**
https://github.com/char8x/binary-heap-different-result

**Expected behavior**

the result should be close to using `array` or using [Heap](https://www.npmjs.com/package/heap)

**Environment**

- OS: macOS 11.6.8
- deno version: v1.24.3
- std version: 0.152.0

[2022-08-13 16:14] char8x commented on #2522
@KyleJune Could you help look at this problem ?

[2022-08-13 16:35] KyleJune commented on #2522
I'll take a look at it in the next few hours.

[2022-08-13 20:28] KyleJune commented on #2522
I think the sorted array is expected to be different than both binary heap implementations since there are so many values in the array that have the same count.

I'm working on identifying exactly what is causing a difference in behavior.  There does appear to be a bug in the Deno implementation I made for std. I think I should be able to fix it this weekend. Once I identify the cause I'll make an

[2022-08-13 20:54] iuioiua commented on #2507
I see. I’ll keep that in mind. Thanks!

[2022-08-13 21:14] iuioiua commented on #1730
@kt3k, doing this will break browser compatibility unless a Deno namespace check is done. If that’s ok, I’m happy to work on this feature.

[2022-08-13 21:18] iuioiua commented on #2426
I mostly agree, @kitsonk. My question was does `Intl.Locale` provide some added functionality or benefit to negotiation that I’m not aware of?

[2022-08-14 03:56] kitsonk commented on #2426
If there is, we should adjust the acceptsLanguage to take `Intl.Locale | string` arguments and return `Intl.Locale` values.

[2022-08-14 09:18] iuioiua commented on #2426
I like the idea of modifying the current `acceptsLanguages` parser, but I can't see any reason to have `Intl.Locale` as an argument. Are you able to explain?

[2022-08-14 09:23] iuioiua commented on #1977
@kt3k, this was implemented in #2475.

[2022-08-14 09:26] #1977 closed

[2022-08-14 09:37] kitsonk commented on #2426
Because `acceptsLanguage` takes an [optional set of languages](https://deno.land/std@0.152.0/http/mod.ts?s=acceptsLanguages#overload_1) that are supported by a server.  These should be expressible by either `string` (as supported now) or an instance of `Intl.Locale`.  It would then be able to match on `.language` and `.baseName` without its current string parsing.  It is actually arguable the the

[2022-08-14 09:51] iuioiua commented on #2005
This throws `Deno.errors.NotFound`, which I'd expect to be the intended behaviour, leaving the error handling to be left up to the request handler. For example:
[code]
Perhaps, a small explainer in the docs might help clarify not found behaviour. @bartlomieju, do you agree? If so, I'll do it.

[2022-08-14 09:58] iuioiua commented on #2426
Yeah, I think this new function might not be needed on second thought. If the user wants to use `Intl.Locale`, they can easily implement it themselves. I've never dealt with internationalisation but still can't see a good reason to use `Intl.Locale` in this instance.

[2022-08-14 11:26] kt3k commented on #1730
@iuioiua

Right, let's check Deno namespace and keep the browser compatibility.

[2022-08-14 13:06] bartlomieju commented on #2005
Yes, that makes sense

[2022-08-14 15:05] KyleJune commented on #2522
I'm still investigating this, but I thought I'd report back that I found a bug in the heap node module's clone function. When you clone the heap it will return a new one with the default compare function instead of the same one as the original heap object being cloned. This will result in the returned values being different when popping them off a cloned heap. My deno binary heap implementation do

[2022-08-14 17:43] KyleJune commented on #2522
I believe the bug is with the deno's binary heap push functions implementation. If I look at the internal structure and compare it against that of the heap npm package, it looks like deno's binary heap push implementation is doing an additional swap it shouldn't be doing.

[code]

This issue can end up affecting extraction, causing deno to return some values out of order. Below is a test case I wr

[2022-08-14 22:38] KyleJune commented on #2522
There were 2 issues and I fixed both in PR https://github.com/denoland/deno_std/pull/2525.

1. push was using the wrong algorithm for finding the parent index. It would end up comparing and swapping with the wrong index in some cases. The first test case below pins the correct behavior. The test case passes for the heap npm module too.
2. pop would swap with the wrong child if both were less than

[2022-08-14 22:56] KyleJune commented on #2522
All 3 implementations will have different results after my fixes.

- The reason BinaryHeap will be different from the heap npm module is that when removing values, the heap npm module is incorrectly swapping values when they are the same. See my last comment for more details on that.
- There are a lot of entries with the same count. If the heap is full the top value will be popped off and the valu

[2022-08-14 23:19] #2522 closed

[2022-08-15 06:27] #2510 closed

[2022-08-15 07:12] kt3k commented on #2005
I discussed this with @timonson a while before and we observed that `serveFile` already returns error `Response` object for some irregular cases (e.g. `416 Range Not Satisfiable`, `304 Not Modified`). So I think the current behavior is not consistent about error handling.

I think the special handling of the case `if (error instanceof Deno.errors.NotFound)` in `serve` is wrong and we should make t

[2022-08-15 09:02] iuioiua commented on #2005
Yeah, I agree.

[2022-08-16 00:14] iuioiua commented on #644
@bartlomieju, I believe this can be closed. [Benchmark functionality](https://deno.land/manual/tools/benchmarker), while marked as unstable, is now Deno-native and has the `only` option too.

[2022-08-16 00:19] iuioiua commented on #1702
@kt3k, these tests have been re-enabled.

[2022-08-16 00:49] iuioiua commented on #2444
`assertNotInstanceOf` sounds like a good idea. @kt3k?

[2022-08-16 04:16] kt3k commented on #1702
@iuioiua Thanks!

note: fixed in https://github.com/denoland/deno_std/pull/1709

[2022-08-16 04:16] #1702 closed

[2022-08-16 04:34] #2402 closed

[2022-08-16 04:35] iuioiua commented on #680
Is this something we'd still like to have? If so, I can give it a crack.

[2022-08-16 05:09] kt3k commented on #680
For I/O, we're moving from Reader/Writer interface to [Web Stream](https://developer.mozilla.org/en-US/docs/Web/API/Streams_API) based interface. So, in my view, these `std/io` related issues are half deprecated.

(BTW I think we've never discussed about sync I/O in web stream based world)

@bartlomieju What is your opinion on this?

[2022-08-16 05:24] iuioiua commented on #680
I've seen mention of that. Why's that? Just web compatibility?

[2022-08-16 05:45] kt3k commented on #680
Mostly yes. Web Stream is already part of basic builtin Web APIs such as `fetch` (the response body is web stream). So we can't drop Web Stream from Deno. And having two separate I/O system in a single runtime feel confusing and redundant. So we decided to drop Reader/Writer type I/O

[2022-08-16 05:49] #2005 closed

[2022-08-16 06:29] cmorten commented on #2419
Duplicate of https://github.com/denoland/deno_std/issues/2329?

[2022-08-16 06:39] kt3k commented on #2419
Thanks!

[2022-08-16 06:39] #2419 closed

[2022-08-16 07:40] #644 closed

[2022-08-16 11:50] #2320 closed

[2022-08-16 21:01] iuioiua commented on #2170
@kt3k, is this able to be closed?

[2022-08-17 04:30] iuioiua commented on #658
@bartlomieju, is this able to be closed? `std/hash` is deprecated.

[2022-08-17 04:31] iuioiua commented on #661
@bartlomieju, is this able to be closed? Benchmarking is now native and has the `parallel` option.

[2022-08-17 08:24] iuioiua commented on #655
Hi @jeroenptrs, I just tested this and didn't run into any issues. Are you still having issues?

[2022-08-18 07:27] kt3k commented on #2170
I think this can be still explored a bit more.

What @bcheidemann suggested was:

[code]

I'm not 100% sure this is correct way of typing it though.

[2022-08-18 07:29] #2309 closed

[2022-08-19 02:34] iuioiua commented on #2163
Also, https://deno.land/std doesn't display summaries in the index section seemingly for directories that do not contain a `mod.ts` file. For example, the `/archive` summary is displayed in https://doc.deno.land/https://deno.land/std, but not https://deno.land/std.

[2022-08-19 02:38] iuioiua commented on #2163
I'm happy to work on this.

For modules, like `/archive`, shall we add a `mod.ts` to just point to the other files to fix the above mentioned issue? Or, is there a good reason to omit `mod.ts` files?

[2022-08-19 03:01] kitsonk commented on #2163
No, we don't want to introduce `mod.ts` (default modules) where they don't exist currently.  There is this issue to resolve the current challenge: https://github.com/denoland/dotland/issues/2331

We have added `@module` everywhere in `std`, so really what needs to be worked on is improving that documentation, providing good examples where applicable as well as improving the JSDoc across `std`.

[2022-08-19 04:12] iuioiua commented on #2163
Cool, I'll see where I can help!

[2022-08-19 05:00] iuioiua commented on #2446
@timfish, I also attempted this in #2519. However, top-level `await` needs to be avoided in `std/node`.

[2022-08-19 08:25] timreichen commented on #2291
Do we really need this `column.fn` as part of the api? https://github.com/denoland/deno_std/blob/6bd0f514b63c68c57b1625aa38f015d6b2a02676/encoding/csv.ts#L63
One can always loop over the values and manipulate them before the stringification process.
If we remove it, `stringify` can be sync as `parse` is now.

[2022-08-19 10:20] mechanoid opened #2534 "dotenv forces apps to grant access to all env vars, possibly allowing attackers to read Envs not consumed by the app on purpose"
### Discussed in https://github.com/denoland/deno_std/discussions/2533

<div type='discussions-op-text'>

<sup>Originally posted by **mechanoid** August 19, 2022</sup>
At first let me say how great it is, that dotenv is now part of the STD.

I was wondering though, why it uses `Deno.env.toObject()` to parse all env variables, without ability to restrict which Env vars are of interest for the app/l

[2022-08-19 11:30] kt3k commented on #2446
Right, we can't use top-level-await in `std/node` for compatibility issues.

One option to solve this might be, in my view, to introduce `Deno.permissions.querySync` in Deno CLI, and use that before `Deno.env.get("NODE_DEBUG")` call.

[2022-08-19 12:56] kt3k opened #2535 "feat: dotenv reads all env vars, it should be allowed to restrict which ones can be accessed"
### Discussed in https://github.com/denoland/deno_std/discussions/2533

<div type='discussions-op-text'>

<sup>Originally posted by **mechanoid** August 19, 2022</sup>
At first let me say how great it is, that dotenv is now part of the STD.

I was wondering though, why it uses `Deno.env.toObject()` to parse all env variables, without ability to restrict which Env vars are of interest for the app/l

[2022-08-19 12:57] #658 closed

[2022-08-19 12:58] kt3k commented on #2535
this was duplicate of #2534

[2022-08-19 12:58] #2535 closed

[2022-08-19 12:59] #661 closed

[2022-08-19 15:15] iuioiua commented on #2446
I like the sound of that 👀. It help with other similar situations.

[2022-08-19 19:47] luk3skyw4lker commented on #2447
Hi everyone! It weren't able for me to open a PR last weekend, but I'm still working on the issue. During the week I keep tangled at work and usually am not able to work here or provide updates, I mostly do the work at weekends, I think that this weekend I'll be able to surely open the PR

[2022-08-20 14:27] timreichen opened #2538 "clear files structure for submodules in std"
**Is your feature request related to a problem? Please describe.**

Submodules as in `std/encoding` have an unnecessary messy file structure and it will become even messier, if we don't introduce a strict file structure for submodules.

An example of that was the introduction of `encoding/csv/stream.ts`, which expands a submodule and necessarily added a `encoding/csv` directory for utility files.

[2022-08-20 15:12] harrysolovay commented on #2444
@iuioiua while I like that you've "deliberately kept simple"... the lack of narrowing is (imo) not ideal. I'd recommend reworking as follows.

[code]

Without the diff noise:

[code]

[2022-08-21 10:20] stefnotch commented on #2436
Relevant PR for future readers
https://github.com/denoland/deno_std/pull/2503

[2022-08-21 13:16] nayeemrmn commented on #2507
@kt3k What do you think about just not checking permissions for `NODE_DEBUG` in cli? Excluding any number of select environment variables from the permission system, as long as they are select, shouldn't be a problem since the alternative is just creating a separate permissionless binding for it which is the same thing.

[2022-08-21 18:13] luk3skyw4lker commented on #2449
But in the Node.js case the function is implemented natively as C++ code. You're suggesting that we do a Typescript version of it?

[2022-08-21 19:59] kitsonk commented on #2449
This already exists in std. https://deno.land/std@0.152.0/crypto/mod.ts?s=StdSubtleCrypto#method_timingSafeEqual_2

[2022-08-21 19:59] #2449 closed

[2022-08-21 22:19] iuioiua commented on #2397
Hi @meepeek, are you still running into this issue when using the latest versions of `deno` and `std/log`?

[2022-08-21 22:25] iuioiua commented on #2047
Hi @LuizzAugusto, are you after the `onListen` param in [http/serve](https://deno.land/std/http/server.ts?s=serve)?

[2022-08-21 22:33] iuioiua commented on #2017
I'm happy to give this a crack 🤙🏾

[2022-08-21 22:37] iuioiua commented on #1920
Hi @idanran, I just successfully ran your snippet without issue.
[code]

[2022-08-21 23:43] jespertheend opened #2540 "http/server: ERR_CONNECTION_RESET when uploading a large file"
**Describe the bug**

**Steps to Reproduce**

1. Create `main.ts`:

[code]

2. Run `deno run --allow-net main.ts`
3. Visit `http://localhost:8000/`
4. Select a large file (in my case I'm using [dist.zip](https://github.com/denoland/deno_std/files/9390192/dist.zip))
5. Open the network panel in the browser inspector
6. Click 'POST'.

**Expected behavior**

The request responds with 'ok'

**Actual b

[2022-08-22 10:09] iuioiua opened #2541 "suggestion(fs): removal of deprecated `exists` and `existsSync` within `std/fs`"
**Is your feature request related to a problem? Please describe.**

`exists` and `existsSync` are deprecated. However, these functions are still used within `std/fs`.

**Describe the solution you'd like**

Removal of `exists` and `existsSync` within `std/fs`.

I'm happy to work on this.

[2022-08-22 10:16] kt3k opened #2542 "compat: `parallel/test-stream-writable-final-destroy.js` is broken"
https://github.com/denoland/deno/pull/15522 seems to have broken `parallel/test-stream-writable-final-destroy.js` compat test case.

You can check it with the below steps:
[code]

[2022-08-22 13:23] nayeemrmn commented on #2542
I suppose this was an already broken test, there were failed assertions within the callback passed to `queueMicrotask()` which were swallowed previously.

[2022-08-22 15:24] kt3k commented on #2542
Ah, makes sense. It was just a false negative

[2022-08-23 00:21] dsherret opened #2548 "node - fs.ReadStream - Should work as function in addition to class"
I ran this test in the CLI, which does `deno run npm:cpy-cli@4.1.0 source.txt destination`:

[code]

And I got:

[code]

It seems we use a class for `ReadStream`, but it looks like it works as a function too.

[2022-08-23 08:03] iuioiua commented on #1966
@bartlomieju, I believe this can be closed.

[2022-08-23 08:07] iuioiua commented on #1730
@kt3k, I believe this issue can be closed.

[2022-08-23 08:16] #1730 closed

[2022-08-23 08:16] #1966 closed

[2022-08-23 08:17] iuioiua commented on #2540
Hi @jespertheend, this is likely because the `req.body` needs to be consumed. Otherwise, your handler is leaking resources. It's best practise to always consume your `req.body`, even if it doesn't need to be used, per se. For example:
[code]

[2022-08-23 08:26] iuioiua commented on #1090
@kt3k, serving files using the `?js` flag isn't yet supported, according to [https://github.com/denoland/dotland/pull/1902](https://github.com/denoland/dotland/pull/1902). However, technically, [this module is browser compatible](https://github.com/denoland/deno_std/blob/d7cd0080b8aa8a2df315edb220f919f4b88c4086/bytes/mod.ts#L2), so this issue might be able to be closed.

[2022-08-23 08:32] iuioiua commented on #638
@bartlomieju, this might be able to be closed, seeing as the PR was closed with good reason.

[2022-08-23 08:58] kt3k commented on #1090
Right, dynamic ts-js compilation is tracked in https://github.com/denoland/dotland/pull/1902. This can be closed as a std issue.

[2022-08-23 08:58] #1090 closed

[2022-08-23 09:07] loynoir opened #2612 "`deno test` create incorrect order snapshot object"
[code]

### Reproduce
[code]

### Actual
[code]

### Expected
[code]

[2022-08-23 09:46] timreichen opened #2551 "std(textproto, bytes): empty tests"
**Describe the bug**
There are some empty tests in std. Is this intentional or were they removed by accident?

https://github.com/denoland/deno_std/blob/d7cd0080b8aa8a2df315edb220f919f4b88c4086/bytes/bytes_list_test.ts#L212
https://github.com/denoland/deno_std/blob/6d33b18a8c89f7caf0a8e7588f9ea31efe5a45fc/textproto/test.ts#L15

- std version: [0.152.0](https://github.com/denoland/deno_std/releases

[2022-08-23 10:58] timreichen opened #2553 "tests: unified test names"
**Is your feature request related to a problem? Please describe.**
test names in std use different implementation of test groupings (`[brackets]`, `[brackets/with/slashes]`, `name with: colon`, `name with – dash`) and casings. This was used before nested tests (`t.step`) were possible. These naming implementations are inconsistent amongst themselves, "pollute" the actual test name and can be repla

[2022-08-23 12:01] lts20050703 commented on #1920
Hey @idanran please check what you're trying to import
[code]
<details><summary>Full output</summary>
<pre>
PowerShell 7.3.0-preview.7
PS C:\Users\lts20> deno
Deno 1.24.2
exit using ctrl+d or close()

Download https://deno.land/std@0.125.0/node/http.ts
Download https://deno.land/std@0.125.0/_deno_unstable.ts
Download https://deno.land/std@0.125.0/http/http_status.ts
Download https://deno.land/std@

[2022-08-23 15:26] jespertheend commented on #2540
Hmm ok that makes sense.
I could swear I ran into issues earlier where the same `ERR_CONNECTION_RESET` would happen even when returning 404 responses or throwing errors, but I can't seem to reproduce this anymore. So this is arguably less of a problem than I initially thought.

[2022-08-23 16:11] mreinstein commented on #1090
So said differently 1902 is a duplicate of this issue (1090) right?

[2022-08-23 21:22] iuioiua commented on #2553
If we’re going to come up with a well-defined test name convention, it’d be worth detailing it in the contributing section.

[2022-08-23 21:53] iuioiua commented on #2270
Hi @aslilac, just clarifying. Are you saying that `handler` somehow consumes `req.body` but calling `req.text()` thereafter doesn’t throw?

[2022-08-24 01:17] kt3k commented on #1090
@mreinstein
This is earlier one, but there's nothing actionable in this repo (deno_std) because `bytes` module seems already browser compatible.

If you're interested in this topic further, please subscribe https://github.com/denoland/dotland/issues/1728 or https://github.com/denoland/dotland/pull/1902 (These issues are in dotland repo, where ts->js compilation is more relevant.

[2022-08-24 01:47] mreinstein commented on #1090
Maybe I just don't understand @ry intent when he filed this ticket but I understood it to mean "it should be possible to import https://deno.land/std/bytes/mod.ts in a browser". The fact that the module itself _should_ work in a browser but can't actually be requested and used...that isn't solving the actual purpose of this ticket.

[2022-08-24 03:15] iuioiua commented on #2540
I’ll test this out on my machine and see how I go. Also, the `dist.zip` you shared is only 600kb. However, you say it’s large. Is this definitely the same file you tested with?

[2022-08-24 03:19] jespertheend commented on #2540
Yes, I'm assuming this happens once a file reaches a certain size, because I tried it with a smaller file of a couple kb and I didn't see this issue.
I'm also now running into the issue on an ubuntu server even though I'm returning a 404 response, and doing the same thing on my local machine doesn't give this issue. So sounds like it's running into some sort of race condition.

[2022-08-24 03:42] jespertheend commented on #2540
Seems like using `serveTls` rather than `serve` has an  effect as well. I've run into a case where switching to `serveTls` causes an `ERR_CONNECTION_RESET` whereas using `serve` does not.

[2022-08-24 06:17] ah-yu opened #2554 "Implement the `semVer` module to follow the standard and remove non-standard parts"
Currently, I am working on something related to version management, so I need a module to parse versions and the `std/semver` module works well.

But I found `std/semver` contains too many things beyond the standard, such as `^` and `~`.  Some features ,`^0.2.3 := >=0.2.3 <0.3.0`,even break the standard.

So I'm wondering what is the goal of the `semver` module, does it need to be compatible with

[2022-08-24 08:01] #2541 closed

[2022-08-24 08:29] iuioiua commented on #1429
@kt3k, I believe this can be closed.

[2022-08-24 08:32] penberg opened #2555 "urlObject.format is not a function error with Axios"
**Describe the bug**

I am trying to use `axios` with Deno's compatibility mode, but I am seeing the following error:

[code]

**Steps to Reproduce**

With the following `axios.mjs` file:

[code]

`deno run` (in compat mode) fails as follows:

[code]

**Expected behavior**

[code]

**Environment**

- OS: MacOS 12.4
- deno version: 1.24.3
- std version: 0.152.0

[2022-08-24 08:34] jajaperson opened #2556 "Asserts triggers `TS2531 [ERROR]: Object is possibly 'null'` on nightly"
**Describe the bug**
When importing from `testing/asserts.ts` on nightly Deno, I get a TS generated error regarding [this line](https://github.com/denoland/deno_std/blob/main/testing/asserts.ts#L359) in the body of a function I'm not using. Looking at the code, I can't see how typescript thinks the object is possibly null.

[code]

![Screen Shot 2022-08-24 at 4 19 19 pm](https://user-images.github

[2022-08-24 09:09] penberg opened #2557 "Not implemented: crypto.Hmac error with Jsonwebtoken"
**Describe the bug**

I am trying to use jsonwebtoken with Deno's compatibility mode, but I am seeing the following error:

[code]

**Steps to Reproduce**

With the following webtoken.mjs file:

[code]

`deno run` (in compat mode) fails as follows:

[code]

**Expected behavior**

[code]

**Environment**

- OS: MacOS 12.4
- deno version: 1.24.3
- std version: 0.152.0

[2022-08-24 11:03] iuioiua commented on #1371
Hi @roj1512, I just tried the following and it worked.
[code]
Are you still experiencing this issue?

[2022-08-24 11:06] iuioiua commented on #1310
I got the same as @getspooky. Is this still an issue?

[2022-08-24 11:33] roj1512 commented on #1371
Seems fine now. Thanks, @iuioiua!

[2022-08-24 11:33] #1371 closed

[2022-08-24 12:17] iuioiua commented on #2444
I agree, @harrysolovay. PR submitted.

[2022-08-24 12:53] iuioiua commented on #2170
Ok, why not make it complete? Officially, falsy would be defined by the [following](https://developer.mozilla.org/en-US/docs/Glossary/Falsy):
[code]
If this sounds good. I'm happy to do this.

[2022-08-24 13:06] ayame113 opened #2559 "Feature request: Webstream-based parser for CSV with headers"
I think we need a way to parse a CSV with headers while streaming the file contents.
For example something like this:

[code]

Previously this was possible via the Deno.reader interface. Since the csv.ts parse function has become synchronous, there is no way to do this anymore. ( #2491 )

I think we need a new method based on Web Streams instead of the Deno.reader interface used previously.

### p

[2022-08-24 13:42] kt3k commented on #2170
@iuioiua Sounds good to me, but TypeScript seems regarding `0` and `-0` as the same (No type error with `const a: -0 = 0`) and also "", '', and `` as the same.

[2022-08-24 15:49] idanran commented on #1920
@iuioiua @lts20050703 Thanks!

[2022-08-24 15:49] #1920 closed

[2022-08-25 00:01] luk3skyw4lker commented on #2559
I have an open PR that makes it possible to parse csv files with no headers. I'll make it work with the new stringify version this weekend, it's in #2168

[2022-08-25 05:11] iuioiua commented on #2170
Ah, that makes sense. Thanks for the correction. So, it'd be:
[code]
I'll submit the PR.

[2022-08-25 05:58] kt3k commented on #2170
fixed by #2562

[2022-08-25 05:58] #2170 closed

[2022-08-25 05:58] kt3k commented on #2447
implemented in #2539

[2022-08-25 05:58] #2447 closed

[2022-08-25 05:59] kt3k commented on #2444
done in #2558

[2022-08-25 05:59] #2444 closed

[2022-08-25 06:11] kt3k commented on #2553
Let's not take action (like #2552) before we reached the consensus on how to write test names.

What do you think is the best way to name/organize test cases?

Is there any existing standard for it?

[2022-08-25 06:20] kt3k commented on #2554
`std/semver` mirrors most APIs of https://github.com/npm/node-semver

How does this break the standard? I believe these are the extension to the standard, which are common in Node.js ecosystem

[2022-08-25 06:39] kt3k commented on #2556
I couldn't reproduce the issue.

BTW `denolib/setup-deno@v2` is not maintained anymore and the downloaded 'nightly' deno is probably very old version. Please update the github action to `denoland/setup-deno@v1`. (Also use `canary` instead of `nightly`)

[2022-08-25 06:39] harrysolovay commented on #2447
@luk3skyw4lker thank you so much for seeing this through. Very excited to use this.

[2022-08-25 06:57] timreichen commented on #2553
There is https://github.com/mawrkus/js-unit-testing-guide#design-principles which collects a lot of good ideas in one document (except the "should" in every name which imo is obsolete).

[2022-08-25 07:40] ah-yu commented on #2554
It seems `0.2.3` is not compatible with `0.2.4` according to the [standard](https://www.google.com.hk/search?q=semver&rlz=1C5GCEA_en&oq=se&aqs=chrome.0.69i59l2j69i57j69i59j69i60l2j69i61j69i60.1005j0j7&sourceid=chrome&ie=UTF-8)

[node-semver](https://github.com/npm/node-semver) is designed for `npm`, not for general use. I mean the `semver` module is tightly bound to some package manager (npm), so

[2022-08-25 08:14] jajaperson commented on #2556
Thanks, switching to `denoland/setup-deno@v1` seems to have resolved this issue. I will close this issue.

[2022-08-25 08:14] #2556 closed

[2022-08-25 13:32] luk3skyw4lker commented on #2447
@harrysolovay you're welcome! If there is any bug you can open an issue and tag me already

[2022-08-25 18:11] GJZwiers commented on #2340
Closing in favour of https://github.com/denoland/deno/issues/15603.

[2022-08-25 18:11] #2340 closed

[2022-08-25 20:52] iuioiua commented on #896
@kt3k, I believe this can be closed.

[2022-08-25 20:55] #896 closed

[2022-08-26 04:57] ydcjeff opened #2566 "is `Promise.All` a typo or a thing?"
I just tested Vite to run in Deno and faced `Promise.All` is not a function. Since I am not sure this is a bug, I am opening a blank issue. I have found that in many places on the codebase.

https://github.com/denoland/deno_std/blob/fa6c014902d834203914afa9a77d83c69c60c228/node/internal/streams/writable.mjs#L937

https://github.com/denoland/deno_std/blob/3ea3c9fad88575bf1ff373e2bb9ebcea05d391a2/no

[2022-08-26 06:03] iuioiua commented on #2566
Wow. Interesting find! I'll look into this.

[2022-08-26 06:14] iuioiua commented on #2566
Oh, and yeah, that's certainly a typo.

[2022-08-26 08:08] kt3k commented on #1310
Seems like not an issue. Let's close

[2022-08-26 08:08] #1310 closed

[2022-08-26 08:14] kt3k commented on #638
Yes. Let's close this. We recommend the use of `emptyDir` if you prefer to replace the entire directory contents. `overwrite: true` option means it overwrites the contents of a file if the file of the same name exists in the destination.

[2022-08-26 08:14] #638 closed

[2022-08-26 10:13] #2566 closed

[2022-08-26 14:27] kidonng opened #2571 "`globstar` option of `expandGlob{,Sync}` is ignored"
**Steps to Reproduce**

[code]

**Expected behavior**

Tests pass

**Describe the bug**

[code]

**Environment**

- OS: Ubuntu 18.04
- deno version: deno 1.25.0
- std version: 0.153.0

[2022-08-26 14:31] kidonng commented on #2571
Slightly related, why does `**` globs the parent itself? This is different from shell behavior and in my opinion harmful.

[2022-08-26 14:56] nayeemrmn commented on #2571
Hmm, it seems the conventional behaviour is to match the parent when there is a prefix before the globstar but not if it's on its own:
[code]
we should fix that as well I suppose.

[2022-08-26 15:43] kidonng commented on #2571
Thanks, I was thinking about globbing in Fish 😅

[2022-08-27 00:48] masx200 opened #2572 "http:add alpnProtocol to ConnInfo"
**Is your feature request related to a problem? Please describe.**
https://github.com/denoland/deno_std/blob/36fa687ecc30b4a69d6bb498afc501cb06bc20d0/http/server.ts#L20

http:add alpnProtocol to ConnInfo

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**

Support http2 to prepare ahead of time in the future.

[2022-08-28 01:02] iuioiua commented on #2553
Examples of my suggestion for a naming convention:
[code]
This convention is more or less used in parts of this repo. It aims to be clear and has three ingredients, in order:
1. States the submodule
2. States the function or method in question
3. States the exact test scenario

[2022-08-28 01:23] iuioiua commented on #2391
@bartlomieju, is the streams module meant to be web compatible? One would think so. However, there doesn't appear to be any explicit mention of that being the case. If so, the checks mentioned above within the streams module might make sense.

[2022-08-28 06:48] timreichen commented on #2553
The goal would be not to have test names with "boilerplate", which means no mod name prefix an no function/method prefix.
The mod name is given by the test file name which is logged automatically. And the function/method prefix should be the actual test name which contains steps that test the function/method.
So it would look like this:

[code]

The question is what name syntax/casings/tense phras

[2022-08-28 07:16] mikeatbuilder commented on #1310
@lucacasonato @kt3k there's a related TODO in the fresh code here just FYI:
https://github.com/denoland/fresh/blob/b12867a5823a338b318b14f1b6e399e61064dce9/src/server/context.ts#L249

[2022-08-28 07:32] iuioiua commented on #2553
Actually, yeah, that's true. Having the module stated isn't needed. I think `ensureDir()` wins over `ensureDir` just because it's more explicit. I think the snippet you shared looks great and ticks all the boxes, IMO.

I don't think this matters all that much.

@kt3k and @bartlomieju, what do you guys think?

[2022-08-28 07:40] iuioiua commented on #2391
Actually, it looks as though the block in question can be deleted anyway.

https://github.com/denoland/deno_std/blob/36fa687ecc30b4a69d6bb498afc501cb06bc20d0/io/buffer.ts#L499-L501

The following block takes care of that same condition.

https://github.com/denoland/deno_std/blob/36fa687ecc30b4a69d6bb498afc501cb06bc20d0/io/buffer.ts#L513-L515

This might fix the issue at hand.

[2022-08-28 12:20] kt3k commented on #1310
@mikeatbuilder Thanks for the input. Sounds interesting. I think we should try to remove that workaround in fresh as this was a non issue

[2022-08-28 13:55] lucacasonato commented on #1310
@kt3k Have you tried on Linux. This may be fine on macOS, but it's still broken on Linux.

[2022-08-29 03:24] kt3k commented on #1310
Ok. I'll take a look

[2022-08-29 05:02] hyp3rflow commented on #1744
@bartlomieju Is this issue completed with https://github.com/denoland/deno_std/pull/2460?

[2022-08-29 05:42] iuioiua commented on #1201
@kjhughes, `std/hash` is now deprecated in favour of `std/crypto`, which is web compatible. Try that and let us know how you go.

[2022-08-29 08:13] kt3k commented on #2553
I agree with this.

I'm in favor of keeping module names in test names. That might look verbose, but more obvious what are tested, less confusing to newcomers.

There are also cases where the test file name and exporting module name don't match. (For example `encoding/json/_parse_test.ts` tests APIs which are exported from `encoding/json/stream`. Without module names in test names, exporting modul

[2022-08-29 08:51] timreichen commented on #2553
If it is easier to read in general, I think it makes much more sense to make `deno test` log a prefix based on the filename on every `Deno.test` name instead of this "workaround" by putting it into the name. I also like verbosity but not if data is doubled and needs to be copied all over.

In that case I think the file is not placed right and adding a prefix is a bit "hacky". As I have pointed out

[2022-08-29 09:34] bartlomieju commented on #1744
Yes, this is now completed. Thanks

[2022-08-29 09:34] #1744 closed

[2022-08-29 11:53] kt3k commented on #1310
It still seems NotFound in ubuntu

[code]

[2022-08-29 11:56] kt3k commented on #1310
If I put a file of the same name of walk entrypoint, then I get `Error: Not a directory (os error 20), readdir './deno'`. This might be the actual problem in the above line in fresh?

[2022-08-29 12:49] littledivy opened #2575 "assertion diff for "Expected" is barely readable"
Bg green on white text makes it very hard to read anything. It should have some contrast.

https://github.com/denoland/deno_std/blob/fa6c014902d834203914afa9a77d83c69c60c228/testing/_diff.ts#L383

![image](https://user-images.githubusercontent.com/34997667/187204710-1acc9f7f-9807-419f-962e-47dac78c14e4.png)

[2022-08-29 12:51] lucacasonato commented on #2575
Agreed. Black on green seems much better.

[2022-08-29 21:21] iuioiua opened #2577 "suggestions(CI): minor changes and updates"
I have a few suggestions that could be made to the current workflows, mostly as a matter of maintenance. I'm happy to implement.
1. Upgrade to `actions/checkout@v3` ([changelog](https://github.com/actions/checkout/blob/main/CHANGELOG.md))
2. Upgrade to `denoland/setup-deno@v1` to ensure the latest `v1` version is being used ([changes](https://github.com/denoland/setup-deno/releases)) and to use th

[2022-08-29 21:35] iuioiua commented on #1780
@WingDust, have you upgraded to the latest version of Deno, like @lucacasonato said? If so, are you still having this issue?

[2022-08-29 21:45] bartlomieju commented on #2577
👍

- Upgrade to denoland/setup-deno@v1 to ensure the latest v1 version is being used ([changes](https://github.com/denoland/setup-deno/releases)) and to use the latest stable Deno version by default

We want to test `deno_std` against latest canary. Ideally we could run tests against latest stable and canary to catch up more regressions (if a CI pipeline was kicked off after CI passes in `deno` re

[2022-08-29 22:33] iuioiua commented on #2577
Sorry, to clarify, I was initially referring to just the `version_bump` workflow. Nevertheless, adding latest stable to the testing matrix will make the footprint of CI workflows bigger. I'm happy to implement this but just checking, are you sure you'd like this done?

[2022-08-30 04:00] #2391 closed

[2022-08-30 10:41] iuioiua commented on #680
Is sync I/O possible using web streams?

[2022-08-30 10:43] crowlKats commented on #680
no, web streams are async

[2022-08-30 13:20] johnspurlock commented on #2391
Thank you!!

[2022-08-30 16:28] kt3k commented on #680
Transition from Reader/Writer to Web Stream was discussed, for example, in this issue https://github.com/denoland/deno/issues/9795

Maybe we were too less concerned about what happens with sync I/O?

[2022-08-30 16:29] kt3k commented on #680
Is it possible to extend Web Streams API to have synchronous reader/writer?

[2022-08-30 17:30] crowlKats commented on #680
no, as they are promise based on a very deep level; web streams spec adding sync capabilities sounds extremely unlikely

[2022-08-31 03:35] iuioiua commented on #2548
It appears as though `ReadStream` as a function isn't defined within Node, but rather within the [graceful-fs](https://www.npmjs.com/package/graceful-fs) package [here](https://github.com/isaacs/node-graceful-fs/blob/1f19b0b467e4144260b397343cd60f37c5bdcfda/graceful-fs.js#L297-L302). This was found by testing one of the dependencies, [cpy-file](https://www.npmjs.com/package/cpy-file).

Script:
[co

[2022-08-31 03:41] dsherret commented on #2548
And that calls fs.ReadStream which errors since our implementation is a class instead of a function?

[2022-08-31 04:56] iuioiua commented on #680
If sync I/O is still wanted, perhaps Reader/Writer can be repurposed to do that instead of being deprecated.

[2022-08-31 06:45] iuioiua commented on #2551
Not sure why that ignored textproto test was added (commit [here](https://github.com/denoland/deno_std/commit/1ee7c0b6724da7fe859d986c16d450e744eebecd)). I'd imagine it'd look like this, once implemented:
[code]
@kt3k, is this correct?

[2022-09-01 00:52] dionjwa opened #2594 "Deprecating "exists" because of some use cases ignores legitimate use cases"
Latest docs: https://deno.land/std@0.153.0/fs/mod.ts?s=exists

"Checking the state of a file before using it causes a race condition. Perform the actual operation directly instead."

So it's saying instead of:

1. Check if file/dir exists
2. If it exists, do the thing

 instead do

1. Just do the thing on the file/dir (maybe handle errors)

Rather than that flow, I have this flow:

1. Check if a f

[2022-09-01 09:55] kt3k commented on #2577
resolved in #2578 #2579 #2580. Thanks @iuioiua for the PRs!

[2022-09-01 09:55] #2577 closed

[2022-09-01 10:20] NotFounds commented on #2594
FYI: https://github.com/denoland/deno_std/discussions/2102

[2022-09-01 11:45] kt3k commented on #2594
If the check is for a file (not dir), and `expensive thing` is creating that file at the checked path, then that case can be covered by `Deno.open()` with `createNew: true` option, which creates a file only when the file doesn't exist.

[2022-09-01 15:43] oscarotero opened #2595 "front_matter returns false possitives"
I have the following code to extract front matter data from files:

[code]

The test function returns `true` with Markdown files with separators like `---`. For example.

[code]

And this makes the script to fail:

[code]

To consider that a file content has front matter, the triple dash separator must be at the begining of the content. In this case there's a title before, so the `test` function s

[2022-09-01 20:33] cjihrig opened #2596 "node: net servers are swallowing errors and hanging the process"
**Describe the bug**
If an exception is thrown from the handler of a running server, the process hangs and no error is reported. If the server is closed prior to throwing the exception, the process terminates, but the error is not displayed.

**Steps to Reproduce**
Run the following script. The `server.close()` call can optionally be uncommented.

[code]

**Expected behavior**
The process should e

[2022-09-02 02:02] iuioiua opened #2598 "bug(async): `delay` is not browser compatible"
[async/delay.ts](https://github.com/denoland/deno_std/blob/5a3206d6eb96a693b90c3c64c5106dc41ccfbae4/async/delay.ts) is not browser compatible. However, it has the header claiming that it is. Reason being is the use of `Deno.unrefTimer()` for the `persistent` option (which I added 😅).
What is the best way to fix such an issue?
1. Somehow check for the existence of the `Deno` namespace and function?

[2022-09-02 03:17] kt3k commented on #2017
@iuioiua Thanks!

[2022-09-02 03:17] #2017 closed

[2022-09-02 07:20] iuioiua commented on #1654
I'll give this a crack!

[2022-09-02 08:57] kt3k commented on #2598
No.1 looks an ideal approach to me

BTW it's concerning that our CI doesn't catch this situation...

[2022-09-02 11:02] iuioiua commented on #2598
What’s the usual method of doing so?

[2022-09-02 11:30] #2575 closed

[2022-09-02 11:35] kt3k opened #2602 "restore background highlight in diff of assertEquals"
We temporarily disabled background highlight in diff of assertEquals  (#2601) as it's very hard to see in certain terminals

We used to use `bgGreen` and `white` combination for that highlight. It's enough visible in some terminals, but it's not in some others. (See #2575 for example)

[2022-09-02 14:35] kt3k commented on #2598
I think the code like the below should work on both Deno and non-Deno runtimes.

[code]

[2022-09-02 17:22] dionjwa commented on #2594
@kt3k That assumes:

- that you are only creating a single file (are you really going to do this check on every single file if there are lots?)
  - that creates many edge cases in case that state flow is interrupted. Often safer to restart and redo.
- that the creation of the contents of the file should done *after* opening the file and possibly failing
- that this whole song and dance with `Deno.

[2022-09-02 22:26] luk3skyw4lker commented on #2291
I think that your suggestion makes a lot of sense @timreichen

The transformation process always can be done before de stringification process

[2022-09-02 22:26] luk3skyw4lker commented on #2291
I think that your suggestion makes a lot of sense @timreichen

The transformation process always can be done before de stringification process

[2022-09-03 01:04] luk3skyw4lker commented on #2557
I'm taking a stab at this one!

[2022-09-03 01:12] luk3skyw4lker commented on #2602
So I could only check if the terminal supports true color and if it does I can color it with bgGreen and white and if it doesn't leave it uncolored?

[2022-09-03 01:22] luk3skyw4lker commented on #2595
The bug is actuallly happening, I'm already working on fixing it!

[2022-09-03 01:35] luk3skyw4lker commented on #2595
I have added a exclusive validation for the first line for multiline texts like yours, I think that should do the trick

[2022-09-03 07:23] kt3k commented on #2602
The issue happens on some terminals with ansi colors (`green`, `bgGreen`, etc). To avoid that if the terminal supports `true color` then we should use color code (like `006400` for green, for example), and if it doesn't, we fallback to ansi colors (green, bgGreen, etc)

[2022-09-03 11:17] medamin25 opened #2605 "TypeError: Cannot read properties of undefined (reading 'writeSync')"
**Describe the bug**
I get error `TypeError: Cannot read properties of undefined (reading 'writeSync')`
when using `printf` from https://deno.land/std@0.154.0/fmt/printf.ts

**Steps to Reproduce**

1. Create a **Deno Deploy** sample project at https://dash.deno.com/projects with the contents ...
[code]
2. Ensure project type is **Typescript**
3. Click **Save & Depoy** button
4. See Error
[code]
**

[2022-09-03 11:26] medamin25 commented on #2605
- Also the same error occurred with `sprintf`
- Error persist with both project type **typescript** and **javascript**

[2022-09-03 18:08] GJZwiers commented on #2431
Closing because this works in 1.25.1 by using npm imports.

[2022-09-03 18:08] #2431 closed

[2022-09-03 18:52] luk3skyw4lker commented on #2602
I'll take a stab at this one then. I'll be trying to open a PR next weekend

[2022-09-03 23:32] iuioiua commented on #2605
Hi @medamin25, `printf()` calls `Deno.stdout.writeSync()`, which appears to not be supported on Deno Deploy (check the [API reference](https://deno.com/deploy/docs/runtime-api)).

@kt3k, would it be worth changing `printf()` to use `console.log()` instead? I'm not sure what advantage `Deno.stdout` offers in this context and believe compatibility might be more important.

[2022-09-03 23:56] iuioiua commented on #2605
Actually, I realise the purpose of `printf()` is to take care of the rounding of numbers. If you just want to print format plain strings, you're better of using:
[code]

Ignore this.

[2022-09-04 03:22] iuioiua commented on #2598
Yeah, one would think that'd be the answer but it throws in the browser. The solution ended up being a `try`/`catch` as you see in the PR.

I believe this is due to the current way `deno task test:browser` works, namely `browser-compat.tsconfig.json`. `Deno` namespace not being defined is causing an issue. I don't know what the solution is but the `// @ts-nocheck Bypass static errors for missing -

[2022-09-04 04:40] medamin25 commented on #2605
ok thank you

[2022-09-04 06:36] iuioiua commented on #2605
@kt3k, I believe this can be closed.

[2022-09-04 07:26] #2605 closed

[2022-09-04 07:29] #2555 closed

[2022-09-04 08:03] 0f-0b commented on #2598
What did it throw? I tested the code below in a browser and it logs the message to the console without throwing an error.

[code]

[2022-09-04 09:43] iuioiua commented on #2598
It threw `ReferenceError`. However, I tried a comparison which I incorrectly thought would be equivalent:
[code]
I should've tried the recommended method exactly first. `typeof Deno === "undefined"` works fine.

[2022-09-04 11:32] iuioiua opened #2609 "suggestion: deprecate `std/textproto`"
AFAIK, `std/textproto` has been made obsolete by [`Deno.serveHttp()`](https://doc.deno.land/deno/stable/~/Deno.serveHttp) and [`Deno.serve()`](https://doc.deno.land/deno/unstable/~/Deno.serve) (unstable). Plus, the standard library also has other better tools for working with line-by-line, text-based data.

[2022-09-04 17:07] cjihrig commented on #2374
This was closed by https://github.com/denoland/deno_std/pull/2584.

[2022-09-04 17:07] #2374 closed

[2022-09-04 17:45] benjamingr commented on #2374
Great, thanks!

[2022-09-06 00:08] tracker1 opened #2619 "fs/mod.ts ensureSymlinkSync throws error with code EEXIST"
**Describe the bug**

**Steps to Reproduce**

1. Create a directory of `./dir_src`.
2. Create and run the script below

[code]

**Expected behavior**

It doesn't throw an error.

**Environment**

- OS: Debian Bullseye, inside docker
- deno version: 1.21.0
- std version: 0.154.0

** Example Error **

[code]

[2022-09-06 07:07] iuioiua commented on #1780
@kt3k, seems as thought this might be able to be closed.

[2022-09-06 07:12] iuioiua commented on #1915
Hi @idanran, are you still having this issue? If so, could you please share the exact snippet?

[2022-09-06 07:19] iuioiua commented on #2594
Related: #2125. Perhaps, this is a matter that requires more thorough documentation.

[2022-09-06 07:46] iuioiua commented on #931
@kt3k, this functionality has been implemented in `testing/bdd`. I believe this issue can be closed.

[2022-09-06 07:47] iuioiua commented on #2047
@kt3k, I believe this can be closed.

[2022-09-06 07:48] iuioiua commented on #1114
Is this issue fixed by #1384?

[2022-09-06 08:46] idanran commented on #1915
I don't have any, thank you!

[2022-09-06 08:46] #1915 closed

[2022-09-06 12:30] kt3k commented on #2534
closed in #2544.

@mechanoid Thank you for your suggestion!

[2022-09-06 12:30] #2534 closed

[2022-09-06 12:46] kt3k commented on #1780
Yeah, let's close for now.

@WingDust Please reopen if you still see the error

[2022-09-06 13:59] mechanoid commented on #2534
Very welcome!

[2022-09-06 16:20] tracker1 commented on #2619
Not sure if it matters, but the src directory is under a Docker volume mount, and the destination is inside the container... not sure if that makes a difference... should probably trap and swallow that error code anyway.

[2022-09-07 07:48] kt3k opened #2621 "test: [node/fs.accessSync] test case is flaky"
https://github.com/denoland/deno_std/runs/8222739443?check_suite_focus=true

seems leaking `remove` op

[2022-09-07 08:46] kt3k commented on #2612
The keys are intentionally sorted in serialized format https://github.com/denoland/deno_std/blob/9c6ffb8c21cdc6d48010c944cbfde815be5c9273/testing/snapshot.ts#L71

[2022-09-07 10:44] #2621 closed

[2022-09-07 10:46] iuioiua opened #2626 "suggestion: remove obsolete import and `Doctest node/` CI step"
`test_import_map.json` is outdated and appears possibly obsolete now and there aren't many markdown files in `/node`. Are we good to remove this and its relatives? Or, is type-checking code in markdown files still something we'd like to have?
1. [`test_import_map.json`](https://github.com/denoland/deno_std/blob/main/test_import_map.json) file
2. [`Doctest node/`](https://github.com/denoland/deno_s

[2022-09-07 10:55] iuioiua commented on #2626
Disregard

[2022-09-07 10:55] #2626 closed

[2022-09-07 10:57] #2047 closed

[2022-09-07 11:15] iuioiua opened #2628 "suggestion: remove `Doctest node/` step from CI"
If this test is still desired, we can work towards bringing it back. Otherwise, reasons for removing:
1. There aren't many markdown files in `std/node` anyway.
2. The step uses a `strict-ts44.tsconfig.json` config file, which doesn't exist.
3. The comment hasn't been actioned since late 2021 (#1590).

https://github.com/denoland/deno_std/blob/d3b14b2aa06db78dd642ba816a6388e88d5008e2/.github/workfl

[2022-09-07 11:20] #2598 closed

[2022-09-07 11:21] iuioiua commented on #2628
Suggestions submitted in PR #2629.

[2022-09-07 11:21] #2628 closed

[2022-09-07 15:06] PolarETech commented on #2548
Hi,
Can I take this issue?

On my local machine, I have been able to fix it by rewriting the class to function.
If Deno team is okay with the way of rewriting class to function, I would like to submit a PR.

[2022-09-07 19:36] iuioiua commented on #2551
@kt3k, this can be closed.

[2022-09-07 20:43] cjihrig opened #2631 "Tracking issue: Node 18 compat layer updates"
This issue is about updating the Node compatibility layer test suite to Node 18 as it enters LTS in October 2022.

- https://github.com/denoland/deno_std/pull/2585 has already been opened and finishes most of the work. This is a big PR that touches a lot of files. It would be good to get it merged so that it doesn't go stale.
- `parallel/test-fs-rm.js` fails on Windows because `child_process.execS

[2022-09-08 02:47] #2551 closed

[2022-09-08 04:57] iuioiua commented on #655
@kt3k, I believe this issue can be closed as it is stale.

[2022-09-08 05:08] #655 closed

[2022-09-08 05:42] iuioiua commented on #2091
@kt3k, I believe this can be closed as #2353 has implemented this fix.

[2022-09-08 05:43] kt3k commented on #2548
@PolarETech
I think wrapping with a function can be easier solution than rewriting it in function-style:

For example,
[code]

And `ReadStream` can be called in the form of both `ReadStream(...)` and `new ReadStream(...)`

[2022-09-08 05:44] kt3k commented on #2091
@iuioiua Thanks!

[2022-09-08 05:44] #2091 closed

[2022-09-08 06:33] PolarETech commented on #2548
Hi @kt3k

I tried that approach as well, but faced another error:

[code]

Trying to add `Object.setPrototypeOf(...)` as following, I got another error.

[code]

[code]

I tested some others, but the only way I could find to fix it was to rewrite the `ReadStream` (and `WriteStream`) from class to function.

[2022-09-08 07:43] kt3k commented on #2548
Fair enough. Rewriting to function sounds like the only way to make it work. Let's try it.

BTW if ReadStream becomes function, I think it can't be used as the type of ReadStreams. Do you think of any workaround for that?

[2022-09-08 08:06] PolarETech commented on #2548
I think the following implementation could provide the type. How about it?

[code]

[2022-09-08 08:15] PolarETech commented on #2548
Sorry, I forgot `return this`.
I edited the code in the above comment.

[2022-09-08 08:20] kt3k commented on #2548
Thanks for the sample code. That structure looks good to me 👍

[2022-09-08 08:42] kt3k commented on #1114
`dayOfYear` seems handling the given date as UTC. If the system's timezone has the negative offset, `new Date(2021, 0, 1)` becomes 2020-12-31 in UTC. So I think the above examples work as intended

[2022-09-08 09:12] PolarETech commented on #2548
Thanks for the confirmation.
I have submitted the PR.

[2022-09-08 12:03] iuioiua commented on #802
@bartlomieju, I believe this can be closed as `opendir` and `opendirSync` were implemented in #2576.

[2022-09-08 12:08] iuioiua commented on #648
I believe the following are required from the Deno FS API to be implemented:
- [ ] fs.lchmod
- [ ] fs.lchmodSync
- [ ] fs.lutimes
- [ ] fs.lutimesSync
- [ ] fs.readv
- [ ] fs.readvSync

Is this correct?

[2022-09-08 15:53] kt3k opened #2636 "node: `child_process.fork` is unavailable"
We disabled child_process.fork at #2591, but it turned out that it's necessary for `prisma generate` command support. We need to enable this again soon.

[2022-09-09 06:02] kt3k commented on #1033
Closed in #2615

[2022-09-09 06:02] #1033 closed

[2022-09-09 06:13] iuioiua commented on #2003
`spawn` is now implemented. This script:
[code]
Now throws this error:
[code]

[2022-09-09 19:27] jespertheend commented on #759
CompressionStream and DecompressionStream is now supported:
https://github.com/denoland/deno/issues/7113

[2022-09-09 22:22] loynoir commented on #2612
I think snapshot kind of refers to WYSIWYG, what-you-see-is-what-you-get.

AFAIK, `deno_std/testing/snapshot` is the only snapshot implement which sort object, different from other assert library implement.

Thus, I think it's a bad design.

[2022-09-10 01:43] wojpawlik opened #2640 "Node process execPath should be writable"
[code]

[2022-09-10 03:04] kitsonk commented on #2640
The setter should use `Deno` namespace to change the cwd.

[2022-09-10 03:19] kitsonk commented on #2612
Incorrect, Jest sorts snapshots alphabetically, to make them stable: https://github.com/facebook/jest/issues/3936 and is the standard in this space. It is not a poor design decision. Unstable snapshots would be.

Closing, as it is standard to sort keys in snapshot objects.

[2022-09-10 03:19] #2612 closed

[2022-09-11 12:57] #2478 closed

[2022-09-11 12:57] #2159 closed

[2022-09-12 14:10] lucacasonato commented on #2596
Maybe related: https://github.com/denoland/deno/issues/15869

[2022-09-12 19:33] nesk opened #2645 "Rework ConsoleHandler to use native console methods"
**Is your feature request related to a problem? Please describe.**

When using the `log` module with Deno Deploy, the output is not "native" in the dashboard:

![Screenshot 2022-09-12 at 21-21-33 actions - Project - Deploy Redacted](https://user-images.githubusercontent.com/817508/189738857-16fdcd39-6af4-420f-9974-ab9e3fdc9bf4.png)

**Describe the solution you'd like**

Deno Deploy provides a clea

[2022-09-13 06:48] #802 closed

[2022-09-13 08:53] kt3k commented on #1750
It's really strange to see this flakiness. We check the child process prints `Listening` to stdout. So the child process should be ready for serving http requests, but `Deno.connectTls` call still see the `connection refused` error sometimes.

[2022-09-13 09:48] iuioiua commented on #2476
@luk3skyw4lker, are you still planning on tackling this one? Otherwise, I can give it a crack.

[2022-09-13 12:15] dsherret opened #2648 "Node - add ClientRequest#setNoDelay"
We're missing this: https://nodejs.org/api/http.html#requestsetnodelaynodelay

https://github.com/denoland/deno_std/blob/main/node/http.ts

Seems like we're missing a few methods on there actually.

Related #2476

[2022-09-13 12:23] luk3skyw4lker commented on #2476
@iuioiua You can do it! I didn't manage to see it through

[2022-09-13 14:12] #2548 closed

[2022-09-13 22:16] cjihrig commented on #2310
Closing as these are now implemented.

[2022-09-13 22:16] #2310 closed

[2022-09-14 04:15] #2640 closed

[2022-09-14 06:06] kt3k opened #2651 "node: `readableObjectMode` option of Transform of `npm:readable-stream@3` is not respected"
Our `Transform` handles `readableObjectMode` correctly, but `npm:readable-stream`'s Transform doesn't handle it correctly.

[code]

The above prints `true false` (It should be `true true`)

This makes `npm:ndjson` broken, which is a dependency of `@pnpm/logger`

[2022-09-14 06:09] kt3k commented on #2651
Our `Stream` construtor replaces `_readableState`, and that seems the issue. In Node.js, `Stream` constructor seems just a wrapper of EventEmitter constructor https://github.com/nodejs/node/blob/309ca4513efabd148b28bfef7868a71a4941c200/lib/internal/streams/legacy.js#L11

[2022-09-14 06:15] kt3k commented on #2651
`readable-stream@4` doesn't have this problem. It happens with `readable-stream@3` and `readable-stream@2`.

[2022-09-14 06:36] thomaslaurie opened #2652 "`expandGlob` always requires read access to CWD"
Regardless of the root specified, running `expandGlob` will prompt for `--allow-read` access to the CWD.

main.ts:
[code]

Running `deno run main.ts --allow-read=./subfolder`

will produce:

[code]

Swapping both or either of the root or --allow-read paths for absolute paths produces a similar permission denial:

[code]

**Expected behavior**

Using a root path that is within the boundary granted

[2022-09-14 06:39] iuioiua commented on #2652
Related: #1136.

[2022-09-14 07:25] #2355 closed

[2022-09-14 10:44] #2619 closed

[2022-09-14 21:53] #2651 closed

[2022-09-15 08:40] timreichen opened #2660 "fix(encoding/csv): remove stringify object array support"
**Is your feature request related to a problem? Please describe.**
There seems to be inconsistencies and unpredictable behaviours within `stringify()`.
You can currently pass an array of objects, but it will throw an error if no `columns` option is passed, which is weird, since the options object is always optional. And the `stringify()`output changes with `headers` and `columns` options depending

[2022-09-15 17:47] bartlomieju opened #2663 "Support JSON in encoding/front_matter"
It would be nice if our `encoding/front_matter` could support JSON syntax in addition to YAML

[2022-09-16 17:53] guybedford opened #2665 "Cannot iterate `process.env` when `=C:` is set"
**Describe the bug**

Getting this error in Node.js compat workflows:

[code]

**Steps to Reproduce**

Have the `=C:` environment variable declared.

Run `import process from 'https://deno.land/std/node/process.ts'; console.log(process.env)`.

**Expected behavior**

Firstly, the error message should include the name of the invalid environment variable - manually cloning the compat layer locally to

[2022-09-16 17:53] guybedford commented on #1341
I'm brushing up against a similar issue to this in Node.js compat workflows in https://github.com/denoland/deno_std/issues/2665 that iterate the entire `process.env` where `=C:` is set.

[2022-09-17 11:33] kt3k opened #2666 "node/net: `close` and `error` events happen in wrong order in net.Socket"
The below script prints events in `close` -> `error` order.
[code]

But the equivalent node.js script:
[code]
prints `error` -> `close` order.

This difference prevents mongoose working correctly in deno (ref: https://github.com/denoland/deno/issues/15824 )

[2022-09-17 15:28] tjosepo commented on #2488
While this might not be the answer you're looking for, most DOM parsers are able to parse XML as well:

[code]

[2022-09-17 20:39] Industrial opened #2667 "[Feature] `vm.isContext`"
**Is your feature request related to a problem? Please describe.**
I can't get `jsdom` to work.

[code]

**Describe the solution you'd like**
Implement `vm.isContext` (and probably `vm.createContext`)

**Describe alternatives you've considered**
https://deno.land/manual@v1.25.3/jsx_dom/linkedom
https://deno.land/manual@v1.25.3/jsx_dom/deno_dom