[2018-11-13 10:13] wangtxxl opened #1 "http_test.ts"
chrome is ok but curl and  firefox never response
[code]
[code]

[code]

[2018-11-14 15:16] alexhultman commented on #1
Works in Firefox for me. Does not work in curl or wrk for me.

[2018-11-27 08:09] FrankFang commented on #1
It works in Chrome for me, but not in curl.

[2018-11-28 01:12] justjavac commented on #1
This server may only accept one link from a user agent.

1. `deno http_test.ts -D`

[code]

2. open Chrome, visit

[code]

3. refresh it

[code]

4. open Firefox, visit

[code]

	The program is suspended.

5. refresh the webpage in Chrome again

[code]

	It still works.

6. Waiting for a long time

[code]

My system is Chinese, so the error message is also Chinese. I don't know what the English in

[2018-11-28 04:32] justjavac commented on #1
When using a browser to access, 2 requests were sent at the same time

[code]

![](https://user-images.githubusercontent.com/359395/49128907-64ba0280-f308-11e8-8e04-17ad52cc20d4.png)

For some reason (probably a bug), deno has not received `EOF`, cause Conn to not close. When using curl, can always receive `EOF`, so [c.close()](https://github.com/denoland/net/blob/0c8ad6eb1af05b259cc7c622e87e27b40

[2018-11-28 06:46] FrankFang commented on #1
@justjavac try `curl http://127.0.0.1:8090/favicon.ico & curl http://127.0.0.1:8090/`

[2018-11-28 07:58] justjavac commented on #1
I add some log-code,  in Chrome, [c.close()](https://github.com/denoland/net/blob/0c8ad6eb1af05b259cc7c622e87e27b402886c96/http.ts#L36) has indeed **NOT** been invoked, and [listener.accept()](https://github.com/denoland/net/blob/0c8ad6eb1af05b259cc7c622e87e27b402886c96/http.ts#L10) has **NOT** been invoked too.

Maybe Chrome uses a socket connection pool, both requests use the same socket.

I gen

[2018-11-29 08:17] zhmushan commented on #1
@justjavac u are right.
when i use browser access the url, the connection cannot be closed properly.

the following code seems to be working fine
[code]

[2018-11-30 00:28] ry commented on #1
Hey - sorry for the late reply to this. `http.ts` is only half-implemented, as you can tell. It needs someone (probably me) to dig in and complete it. Help welcome - but otherwise you'll have to wait a few weeks. Ultimately we'll probably use a native http parser - this was added so we can benchmark what sort of overhead parsing in pure JS has.

[2018-12-05 01:57] zhmushan opened #6 "Safair cannot open the page"
[code]
![image](https://user-images.githubusercontent.com/24505451/49485005-1eb6ee80-f874-11e8-8a91-0288baa15d92.png)

[2018-12-06 13:21] Phinome opened #7 "compile error when respond set headers"
deno: 0.2.1
v8: 7.1.302.4
typescript: 3.2.1

[code]

[code]

[2018-12-06 13:47] zhmushan commented on #7
You must use `new Headers()` to create an instance of Headers

[2018-12-06 21:08] #1 closed

[2018-12-07 02:20] Phinome commented on #7
soga, thx

[2018-12-07 02:20] #7 closed

[2018-12-07 23:22] ry opened #9 "wanted: http file server program"
I'd love to be able to do
[code]
and it would serve the cwd() in http. This is useful for developing HTML locally.
Like this one https://www.npmjs.com/package/http-server

[2018-12-07 23:47] zhmushan commented on #6
@FrankFang great! This problem has been fixed.

[2018-12-07 23:47] #6 closed

[2018-12-08 08:54] bartlomieju commented on #9
I already started developing it. Will get back soon

[2018-12-09 20:35] #9 closed

[2018-12-09 21:41] bartlomieju opened #12 "Support streaming body"
For serving large files using `file_server.ts` we want to avoid loading whole files into memory. To prevent that we should add support for streaming response in `http.ts`

[2018-12-11 18:37] ry opened #14 "file_server should support file index"
When serving a directory which does not have an `index.html` page a list of files should be displayed. Like `http-server` does.

<img width="785" alt="screen shot 2018-12-11 at 1 36 22 pm" src="https://user-images.githubusercontent.com/80/49821974-d3a44c00-fd49-11e8-8a34-1b11c672d220.png">

[2018-12-11 19:35] kevinkassimo commented on #14
Working on this.

[2018-12-11 22:56] #14 closed

[2018-12-12 00:24] ry opened #18 "Wanted: irc server"
Needs tests. Although this repo has been cavalier about landing code without tests, I am trying to grow it now - and that necessitates the ability to check code in CI.

[2018-12-12 10:10] ry opened #19 "crash when visiting dir with index.html"
Try running 'file_server' in the deno root directory and visiting http://0.0.0.0:4500/website

[code]

[2018-12-12 10:15] kevinkassimo commented on #19
Looks crashing from the logger... (will investigate tomorrow, too tired today...)

[2018-12-12 10:17] bartlomieju commented on #19
My bad, I'll fix that

[2018-12-12 17:50] ry commented on #19
Not fixed yet.

[2018-12-12 18:31] bartlomieju commented on #19
@ry can you tell when it fails? I just tried it with #20 merged and looks ok

[2018-12-13 00:35] zhmushan commented on #19
@ry Maybe fixed yet.
I manually cleaned up the cache.

[2018-12-13 00:49] ry commented on #19
Ah ok when i cleaned the cache it worked. Thanks. Sorry for the noise.

[2018-12-13 00:49] #19 closed

[2018-12-17 16:50] ry commented on #12
Fixed in https://github.com/denoland/deno_net/commit/269665873a9219423085418d605b8af8ac2565dc

[2018-12-17 16:50] #12 closed

[2018-12-17 16:51] ry opened #22 "Port more remaining responsewrite tests from Go"
https://github.com/golang/go/blob/master/src/net/http/responsewrite_test.go#L19
https://github.com/denoland/deno_net/blob/master/http_test.ts

[2018-12-17 17:13] bartlomieju commented on #22
I'm working on this

[2018-12-19 04:07] ry opened #29 "Web sockets."

[2018-12-19 18:01] ry opened #34 "Add Windows CI"

[2018-12-19 18:49] bartlomieju opened #35 "Migrate testing module"
IMHO it'd be a good idea to provide `testing` module as part of `deno_std`. I can take care of migration

[2018-12-19 18:53] bartlomieju commented on #35
Nvm, testing is part of `deno` itself.

[2018-12-19 18:53] #35 closed

[2018-12-21 15:36] bartlomieju commented on #22
@ry I'm starting this 3rd time, please comment on desired approach. There are significant differences with Go's implementation, mainly explicitly setting protocol version, as well as content length of the body. Those differences drive specific test cases. Do we want to adapt that approach or just generally emulate Go's test cases?

[2018-12-21 15:51] bartlomieju opened #39 "Logger implementation"
I'm opening this issue to start discussion on vision for `logging` module.

Coming from Python world and being familiar with its library, my intent for Deno logging was to emulate [Python's approach](https://docs.python.org/3/library/logging.html#logging.Logger.log).

Its mechanism is based on:
- `loggers` - object to call to log something obviously
- `LogRecord` - contains timestamps and metadata

[2018-12-22 04:17] reggi opened #40 "ProtocolError: malformed MIME header initial line"
I'm sending over a `POST` request and I think it's confusing the body for the header.

`ProtocolError: malformed MIME header initial line:   "query": "{ hello }",`

[2018-12-22 04:57] kevinkassimo commented on #40
Could you post the raw response that triggers this error?

[2018-12-22 05:11] reggi commented on #40
[code]

[2018-12-22 06:36] kevinkassimo commented on #40
Actually, have you sent the request correctly? Because it seems as if it is treating `"query": "{ hello }",` as the initial header line, which should only happen when it reads the first line `{` as the request line... (looks as if no request line nor headers are sent along with the body...)

[2018-12-22 12:12] bartlomieju commented on #39
1. Agreed
2. IMHO Go's logging module is low level compared to Python's. Do we want to provide simpler solution in standard library and leave it to user libraries to provide more battery-included solution?
3. I think so, default logging level should display only error and critical messages, while `-D` set default log level to debug.

[2018-12-24 01:52] ry opened #43 "file_server should serve Content-Type header for common file formats"

[2018-12-24 01:53] ry commented on #34
added azure pipelines without windows support https://github.com/denoland/deno_std/commit/ffd9f9d41e26de5f1becc7df2283761dd7b7bf74

[2018-12-24 02:54] ry opened #44 "file_server should support "--cors" command line argument"
when it does it also supplies the following headers
[code]

[2018-12-24 03:50] #44 closed

[2018-12-25 04:56] djKooks commented on #39
@bartlomieju seems good!
Have one question...is `log.config` need `await`?

[2018-12-25 08:13] bartlomieju commented on #39
Probably yes, I'm still trying to figure it out. But if you look for example at `deno.open` it's asynchronous, so making most of the handlers would be asynchronous operation. AFAIK you can't do asynchronous stuff in class constructor, so it might be rewritten to: `await new FileHandler().setup({ filename })`

[2018-12-27 17:13] bartlomieju commented on #40
I managed to reproduce this issue, and it turns out this problem arises if you try to respond to request without reading its body.

`http_bench.ts`
[code]

I guess a check is needed in `request.respond` that ensures whole requests has been read.

[2018-12-27 18:23] bartlomieju opened #48 "Add crypto module"
SHA1 is required for #29

[2018-12-28 18:17] hayd commented on #48
I think the way to do this is including webcrypto via gn in main deno.

[2018-12-28 23:03] avinashdvv commented on #18
you guys talking about writing test cases for these modules, i would to work on few of them

[2018-12-29 07:05] keroxp commented on #29
https://github.com/keroxp/deno-ws

Hi, I created an experimental websocket server with deno.
I hope this is useful for you.

Thanks.

[2018-12-31 06:05] sh7dm commented on #48
I'll try to make simple sha1 hash function in TS.

[2018-12-31 07:31] hayd commented on #48
See e.g. https://github.com/keroxp/deno-ws/blob/master/crypt.ts

[2018-12-31 07:50] sh7dm opened #54 "JSON response for net module"
add JSON response support

[2018-12-31 09:06] #43 closed

[2018-12-31 11:45] sh7dm opened #60 "Idea: .env file parser"
Maybe create `.env` file parser for the std library? I would like to work on it

[2018-12-31 11:49] sh7dm commented on #60
We can use [this repo](https://github.com/motdotla/dotenv) as an example

[2018-12-31 11:59] sh7dm commented on #39
I would like to work on file handler. OK?

[2018-12-31 12:53] bartlomieju commented on #60
There already exists implementation at pietvanzoen/deno-dotenv if you want check it out

[2018-12-31 12:54] sh7dm commented on #60
@bartlomieju OK! I'll check it out!

[2018-12-31 12:54] #60 closed

[2018-12-31 13:43] ry opened #61 "CI should use v0.2.4"
https://github.com/denoland/deno_std/blob/ffd9f9d41e26de5f1becc7df2283761dd7b7bf74/azure-pipelines.yml#L2

(Travis too)

[2018-12-31 15:10] #61 closed

[2019-01-02 00:11] djKooks commented on #39
@bartlomieju please share to me how logger will be implemented when decided. I'll fix my PR by the guide if needed. Thanks for your work.

[2019-01-02 00:16] ry opened #64 "file_server should render markdown"

[2019-01-02 00:54] kevinkassimo commented on #64
I think since [marked](https://github.com/markedjs/marked/blob/master/lib/marked.js) supports browser we could probably use it instead of doing a custom implementation from scratch. However, I think we might need to host a forked version to slightly modify the IIFE around it to make it fit for Deno.

I'll work on that if this sounds right.

[2019-01-02 01:01] ry commented on #64
Sure. Ideally we'd find some small TS implemented one, but that works too.

[2019-01-02 05:30] kevinkassimo commented on #64
Got marked [ported](https://github.com/denolib/marked). However currently not able to run any existing tests on it, since the original tests depends on quite a few Node packages to run (especially html-differ). I'll see if I could extract some tests to ensure minimum guarantees...

[2019-01-02 08:44] bartlomieju commented on #39
@djKooks you can track progress in #51

[2019-01-02 14:14] ry commented on #64
@kevinkassimo Nice!

[2019-01-02 15:43] axetroy opened #67 "Add time util module"
something like [moment](https://github.com/moment/moment) or [date-fns](https://github.com/date-fns/date-fns)

Let it be an official library.

Reduce developer focus, focus on their code rather than due to which library to choose

is there anyone think so

[2019-01-02 18:46] ry opened #69 "Reenable logging test"
https://github.com/denoland/deno_std/blob/61fdae51a7cc50874b9674c40b1aef3fbf012494/logging/test.ts#L69-L70
https://github.com/denoland/deno_std/commit/5132550c113c7e03081fc64e62f2c1a68ea35a0f

[2019-01-02 20:18] ry opened #70 "README looks bad on mobile"
<img width="355" alt="screen shot 2019-01-02 at 3 17 54 pm" src="https://user-images.githubusercontent.com/80/50610614-a3ac1c80-0ea1-11e9-9918-a095cf4c65ff.png">

[2019-01-03 07:58] bartlomieju commented on #39
During chat conversation with @ry we concluded that logging methods should take only one argument `msg` and leave it to user to format message properly, eg.
[code]
This minimizes the API that has to be implemented.

As for output format of each message, [Glog's style was proposed](https://github.com/google/glog/blob/0e4ce7c0c0f7cda7cc86017abd775cecf04074e0/src/glog/logging.h.in#L281) (also [here](

[2019-01-03 08:15] hayd commented on #39
Would this be configurable?

[2019-01-03 13:38] sh7dm commented on #67
Work in progress, check out #72!

[2019-01-03 13:43] ry commented on #29
@keroxp How well is it working? Can you give us a status update? What are the major missing features? Would you be open to including that in deno_std?

[2019-01-03 15:19] #67 closed

[2019-01-03 16:40] #70 closed

[2019-01-03 16:47] bartlomieju commented on #39
My initial idea was to leverage `Error.stack` but I'm concerned with performance, throwing error at each logged message can't be a good idea.

It is, but glog's format is hard to grep when you see it for first time, especially conjunction of log level and date. But I'm not sticking to it no matter what.

That's fine for me, but it will bring a need for another logging libraries that allow to confi

[2019-01-03 16:55] ry commented on #39
Hm.. It's possible we could provide `__LINE__` as a preprocessed symbol in deno. For the filename we could use [import.meta](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import.meta) once https://github.com/denoland/deno/issues/975 lands.

[2019-01-03 17:48] ry opened #76 "Reorg"
We've been adding code without much thought to the overall directory structure. I suggest the following renames:

[code]
Along with the associated tests.

If you're worried about breaking existing code:
1) People should link to tagged releases of deno_std ... EG "https://deno.land/x/std@v0.2.4/net/http.ts" .. we do not make stability guarantees for master.
2) It's better to make these changes now,

[2019-01-03 18:05] ry opened #77 "CI should fail if format.ts detects differences"
We do this in core with https://github.com/denoland/deno/blob/master/tools/test_format.py

[2019-01-03 18:49] hayd commented on #76
Very much approve of this issue/cleanup but

Not a huge fan of "utils". What is the logic for putting datetime there? What else is a util?

[2019-01-03 18:51] ry commented on #76
datetime is very small... seems to not deserve its own directory. I agree it seems odd. I will remove it frmo the list

[2019-01-03 18:56] ry commented on #76
[code]
I've also updated the above list with these suggestions. It's a little odd to put `textproto.ts` into `io`.... but i think it's better than in `http/` ?

[2019-01-04 08:21] keroxp commented on #29
@ry I opened PR for websocket. Please review it!

[2019-01-04 08:40] bartlomieju commented on #39
@ry one more comment on configurable format - tests would be much simpler if format could be manipulated, eg. date could be skipped. Otherwise we'd need some kind of wildcard matching?

[2019-01-04 08:43] ry commented on #39
@bartlomieju true good point.

[2019-01-04 14:15] #34 closed

[2019-01-04 16:26] ry opened #86 "Windows CI should use a fixed version of deno"
https://github.com/denoland/deno_std/blob/2ece847a82bd06eb8810950b3064070135d2d94d/azure-pipelines.yml#L26

cc @srijanreddy98

[2019-01-05 03:47] srijanreddy98 commented on #86
@ry  This should solve this https://github.com/denoland/deno_install/pull/19

[2019-01-05 10:19] keroxp commented on #76
Please let me express the opposite opinion. I understand we need some consistent style or rule about module file's naming. However, in my opinion, `mod.ts` can't be consistent because there can be directories with no `mod.ts` (e.g. `io` directory may not have `mod.ts` because there are relatively many separated files). Some developer may get confused no `mod.ts` exists.
If you plan to place mod.ts

[2019-01-05 10:54] kitsonk commented on #76
I believe a collection of modules, something we would put in `std` in a sub directory, should have a module named `mod.ts`, even if all it does is export the "public" API surface that is intended for that collection.  There needs to be a "default" place to go look.  Even if it is a loose collection of functions and classes broken up across modules, the then they should all be re-exported from `mod

[2019-01-05 13:20] keroxp commented on #76
Thank you for the opinion!

From style guid, I understand mod.ts was ported from Rust's unofficial module convention. I doesn't know much about Rust, so looked around some famous rust codes on Github.

Even in rust community, mod.rs (or lib.rs?) doesn't looks predominant idea for representing module entry file, for me. For example, ring, the famous crypto library, has decided to stop using mod.rs

[2019-01-05 13:58] ry commented on #76
I think @keroxp makes a good point. I suggested mod.ts as an alternative to using index.ts - but a more minimal solution would be to simple tell people to avoid index.ts in the style guide.

[2019-01-05 14:58] ry commented on #86
Fixed in https://github.com/denoland/deno_std/pull/89

[2019-01-05 14:58] #86 closed

[2019-01-05 16:53] hayd commented on #76
Ring/that issue has a history, see https://github.com/briansmith/ring/issues/598.
Anyway this is just a style guide not rejecting certain configurations (as rust were).

We're also not talking about a mod.ts for each *file* which is what ring maintainer took exception to with mod.rs. In deno you can use relative imports trivially within a project.

ring still uses lib.rs which is what this is more

[2019-01-05 16:54] sh7dm opened #90 "SSE support"
Add support for server-sent events in net package.

[2019-01-06 09:56] keroxp commented on #76
Sure, I let it decided totally by @ry
But may I ask you more questions?

In deno_std,

- Should every sub(and sub)directories have `mod.ts` for default entry point?
- Should there be no module files on the root directory?
- Collecting public api to `mod.ts` means there are duplicated exportation on the project, is it desirable?
  - deno resolves "Aclass" from `https://deno.land/x/some/mod.ts`,
  -

[2019-01-06 20:59] kevinkassimo commented on #76
The duplicate suggestions part sounds more like a problem with the editor itself. It might be possible that the editor could prefer exports from `mod.ts` over those from other files (a simple reordering of suggestions sounds good enough for many use cases). (definitely not a good idea, but the editor could also possibly choose to ignore/gray out exports from file with names, say, starting with `_`

[2019-01-06 21:14] MarkTiedemann opened #93 "Less verbose test function"
Currently, the `test` function has the following usage:

[code]

I like `#2`, but I think `#1` is a bit verbose.

How about this instead?

[code]

[2019-01-06 21:39] kitsonk commented on #76
I believe this is something that could be added to [deno_ls_plugin](https://github.com/kitsonk/deno_ls_plugin) fairly easily.  I think re-ordering (versus eliminating) would be best.

I agree with this wholeheartedly.

[2019-01-06 21:45] kitsonk commented on #93
Personally, I really hate overloads that change the ariaty of the arguments.  Omitting "optional" parameters is different.  Adding complexity to a straight forward API without real value doesn't seem warranted IMO.

[2019-01-06 22:04] MarkTiedemann commented on #93
Well, yeah, that would change the arity of the function. Before, however, the arity was kind of "hidden" in the object properties. In both cases, two things (the name and a function) need to be passed to the test function.

I still think an options object with two specifically named properties is more complex than two parameters... But it might also be that it's just more familiar to me since quit

[2019-01-06 22:34] hayd commented on #93
See also https://github.com/denoland/deno/issues/20

[2019-01-06 22:50] ry opened #94 "merge deno_install into this repo"
Reasons:
1. To manage fewer repos
2. To make sure changes in the install script do not inadvertently break deno_std's CI
3. With the [new deno install script](https://github.com/denoland/deno_install/pull/21), people might want to import it and use it in other code.
4. To potentially add a `install.sh` script with the latest version of deno hard coded into it. deno_std currently gets bumped for ev

[2019-01-07 08:07] MarkTiedemann commented on #94
Did this happen before or would that be preemptive?

Why hard-code it? Why not get the latest release from the GitHub API just like the other install scripts?

I guess there are limited use cases where people would want to install deno via a function rather than a script (version managers and other CI tooling perhaps?), but I don't think that's a standard use case. So does a function like that bel

[2019-01-07 15:55] ry commented on #94
preemptive

To simplify the bash scripting. To do one less request. It seems difficult to extract the version from the JSON response without using some higher level language or making it extremely brittle.

[2019-01-07 16:33] MarkTiedemann commented on #94
Compared to the binary that will be downloaded, I think that one request is rather negligible, at least in terms of the bandwidth being used...

Hmm, how about using the new GraphQL API in this case?

[code]

[code]

If we don't treat the result as JSON but just as a string, it should be doable with bash, right? Maybe not pretty, but it shouldn't be brittle.

[2019-01-07 16:46] kevinkassimo commented on #76
@keroxp fyi extensionless support has been dropped in denoland/deno#1396 . As for other part of your argument, please give me more time to think about and I’ll reply later...

[2019-01-07 17:31] keroxp commented on #93
I think It is good idea.

I agree. I rarely saw test runner written in that style, `name` and `fn` look redundant.
It is natural to define `test()` with 2 argument: description, body for most JS developers. It's usual style in Jasmine, mocha, RSpec..

As @kitsonk said, I know defining typed function with different number of arguments is quite complicated. But It can be by TypeScript. I  understand

[2019-01-07 19:21] MarkTiedemann commented on #93
I think the correct typings are:

[code]

Which could be used as follows:

[code]

Unfortunately, I don't think it's possible to distinguish named and anonymous functions in TypeScript...

[2019-01-08 21:47] MarkTiedemann commented on #93
The implementation of the overloading might not look all too pretty.

[code]

But using the API is more intuitive, IMHO.

[2019-01-09 07:51] MarkTiedemann commented on #93
@ry Would you accept a PR that implements this breaking change? If so, I'd start working on it.

[2019-01-10 17:45] MarkTiedemann commented on #94
The GraphQL API wouldn't work from an installer script since anonymous access to it is currently [not available](https://platform.github.community/t/anonymous-access/2093).

How about putting a `version` file on the website? Would be nice to be able to run `curl https://deno.land/version` and get back `vX.Y.Z` in plaintext.

[2019-01-10 22:09] keroxp commented on #76
@kevinkassimo  There seems to be unmerged reorg PR with `mod.ts` styles. and third party's libraries are starting to follow this style. So I  drop my proposal for speeding up. Keep going.

[2019-01-10 23:10] kevinkassimo commented on #76
@keroxp I’m still collecting opinions on `mod.ts` from others I know. Since it is currently still at an early stage of adoption it should be easy to change if given more negative feedbacks

[2019-01-11 23:52] tunnckoCore commented on #76
Hm, sorry but trying to keep up. Can we read somewhere about the `mod.ts` decision?
I don't see why `/index.ts` is not an option? If it's only because "it's shorter", that's not an argument to me, and definitely, don't like it. Why not think upfront for smooth transitioning by node.js folks or newcomers? Why should follow conventions or ideas from other languages such as Rust and Go, when we alrea

[2019-01-12 02:42] ry commented on #76
@tunnckoCore I wrote about it in the readme of this project:
[code]

[2019-01-12 09:10] kitsonk commented on #76
It isn't the browser the resolves `index.html`, it is the server that does it and tells the browser it is "such and such UI".  That non-explicit nature has _always_ caused issues.  So the decision was to _always_ try to be explicit, no magic and `index.html` implies that there is/will be some magic.

[2019-01-12 21:50] #76 closed

[2019-01-13 14:41] ruphin commented on #94
I can pick up this issue. Should all installers in the `deno_install` repo be placed in the `install` dir here, or only the typescript installer, with the python and powershell installers in the global space? I think placing everything in the `install` subdir makes more sense.

Also, how do we want to handle the testing? Merge the installer tests into azure pipelines, or keep the existing travis a

[2019-01-14 06:48] kevinkassimo commented on #76
So there has been an alternative proposal that I have thought of in the past and brought up again recently during some discussions.

Since extensionless support has been dropped, there are no more conflicts between `log.ts` and `log/`. Thus it might be possible to adopt a directory structure like this:

[code]
With such directory layout, we could do
[code]
instead of
[code]

There are some issues

[2019-01-14 07:11] hayd commented on #76
Is there a clever way to do this automagically, so that:

`https://deno.land/x/${module_name}.ts`

rendered a typescript file that imported and exported everything from

`https://deno.land/x/${module_name}/mod.ts`

... without having to actually run any of the typescript on the registry server.

[2019-01-14 08:05] kitsonk commented on #76
Generally "automagically" !== good idea... every time it bites you in the 🍑, that is the main justification for staying away from `index.ts`...  @kevinkassimo proposal isn't bad because it has no ✨🦄.

[2019-01-14 08:50] hayd commented on #76
By "automagically" (silly word, I shouldn't have used it) I just meant populate `https://deno.land/x/${module_name}.ts`, nothing magical, and would be entirely within the registry.

[2019-01-14 16:05] ry commented on #76
I'm maybe open to deno.land registry hacks like that but this discussion is more about the style guide for deno in general.

1. I think we all agree that index.ts is a bad idea because it comes with the wrong connotations.
2. We'd like to avoid a lot of module specifiers that look like this "/foo/bar/mod.ts" - it's a waste of space when "/foo/bar.ts" would work.
3. We'd also like to avoid a lot of

[2019-01-15 15:09] ry opened #116 "Wanted: bundler"
Very simple to start - but something like rollup - that uses deno-like imports.
Please scope out ideas here before submitting PR - this is ideally something everyone can share.

[2019-01-15 21:57] 43081j opened #122 "Testing module compatibility"
At the minute we don't really seem to follow node's assertion interfaces or anyone else's.

Is there any reference as to what convention was followed or was it thought up just for deno?

It may be worth rewriting the testing module to adhere to node's assertion module and be entirely compatible.

Basically current implementation:

[code]

Node implementation:

[code]

So:
* `assertEqual` doesn't s

[2019-01-16 10:56] kitsonk commented on #122
Personally I would rather take queues from [Chai assert](https://www.chaijs.com/api/assert/) personally.

The behaviour of `assertEqual()` and `equal()` is already established, both in all of `std` but also the core of Deno.  There is a lot of tests that depend upon that deep comparison behaviour.

I don't think we should be pedantic about following anyone else's behaviour.  We can take queues and

[2019-01-16 11:05] 43081j commented on #122
I don't think it is about being pedantic and following other behaviours for that reason, but rather that these implementations are well established and known. Any difference in behaviour will lead to confusion as nobody is starting 'new' with deno, they will have used one of the widely used assertion libraries beforehand.

`equal` really shouldn't do a deep equality check and restricting it to tha

[2019-01-17 05:50] hayd commented on #93
I dislike overloading this much further...

I think it's going to be much more useful to add setup and teardown, an example might be something like this: https://github.com/hayd/deno_std/commit/987ef5137b004b66973ecbdfc8178c30457d9d4b

[2019-01-17 17:26] bartlomieju commented on #39
After some consideration I think we might want to change `LogRecord` and signature of logging methods from:
[code]
to:
[code]
this object would be placed in `LogRecord` and be later utilized in custom formatter. Simple but powerful IMHO.

[2019-01-17 17:51] ry commented on #39
@bartlomieju That seems like more to type? Or maybe I misunderstand. Can you give some examples of invocation?

[2019-01-17 18:16] bartlomieju commented on #39
Yeah after all it seems so. My initial idea was that `args` would be interpolated in `msg` (`msg % args`), but we already established that we don't want that.

We could keep `LogRecord.args` and allow to use that instead of metadata

[2019-01-18 19:57] ry opened #130 "Too much usage of mod.ts"
I'm glad we've got rid of the usage of index.ts everywhere - however I'm not so happy with the excessive usage of "mod.ts" now. For example, in `http/mod.ts`:
https://github.com/denoland/deno_std/blob/4283c26b8930ca80e5babca3337b5431f16334d0/http/mod.ts#L1-L7
This is just boilerplate. It would be better to have people link to `http/http.ts` instead.

I would like to do another disruptive rename -

[2019-01-18 21:04] hayd commented on #130
This would be less boiler plate if there were more modules in http.
Perhaps an easier thing to do is mv http.ts to mod.ts?

I like the mod.ts if there were a bunch of different ts files and mod was gluing them up that, would be useful. Especially since you may need to export functions e.g. say in a utils.ts, but don't really want that to be in the "published" API: mod.ts.

[2019-01-18 21:08] ry commented on #130
@hayd What's wrong with a bunch of TS files. Each of them exports different functionality. There's no semantic difference between "a/b/c/mod.ts" and "a/b/c.ts" but the latter is shorter.

[2019-01-18 21:10] hayd commented on #130
top level mod.ts e.g. color/mod.ts then no other mod.ts e.g. color/b/c.ts rather than color/b/c/mod.ts

[2019-01-18 21:13] kevinkassimo commented on #130
Possibly revisit [keroxp's proposal](https://github.com/denoland/deno_std/issues/76#issuecomment-451934821) or [my proposal](https://github.com/denoland/deno_std/issues/76#issuecomment-453913798)?

[2019-01-18 21:16] ry commented on #130
@kevinkassimo I'm more or less onboard with your proposal but I want to avoid having source code in the root - so what if we come up with some categories:
[code]
I want us to be very thoughtful about our path names - since it's the public interface. I realize it's disturbing to continually rename stuff, but it's important we iterate on this now rather than later.

[2019-01-18 21:20] kevinkassimo commented on #130
@ry agree. Yeah I think avoid spreading at the root level of deno_std is reasonable.
cc @hayd on the `util` part since I remember you have some idea on this.

[2019-01-19 00:59] hayd commented on #130
Is everything exported in any file a public interface?
(As I see it that's the benefit of mod.ts, it says "exported things in this file are the public API".)

[2019-01-19 10:52] daniel-levin opened #135 "Gauging interest for collections module"
Hi all,

I am interested in implementing generic collections if there is a desire for it. Things like maps, sets, etc. Is this a goal for this library?

[2019-01-20 05:11] keroxp commented on #135
@daniel-levin [Map](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map) and [Set](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set) are available on `deno` global context. These are generically typed. Do you plan to implement another version of collections?

[2019-01-20 07:46] zhmushan opened #139 "output test information in http.ts"
[code]
output:
[code]

[2019-01-20 08:04] keroxp commented on #130
@ry How about like this?
The concepts:
- no `mod.ts` and `test.ts`
- no duplicated exportations on the project
- no module files on the root
- less subdirectories in the module
  - if has, should be the same name with responsible module
  - e.g: module/module_file.ts, module/module_file/some.ts
- less modules, less files
- consistent naming of test files
[code]

[2019-01-20 14:53] keroxp commented on #116
I don't fully understand what you want. What is the main purpose of the bundler?
- bundle what?
- when used?
- who uses?
- place on where?

Are you simply planning to replace `rollup` on deno core?

[2019-01-20 15:31] ry commented on #139
Fixed in
https://github.com/denoland/deno_std/pull/129

[2019-01-20 15:32] zhmushan commented on #139
thanks

[2019-01-20 15:35] ry commented on #130
textproto should keep its name (it’s not a http parser) but I’m generally in agreement.

[2019-01-20 15:36] ry commented on #139
Not landed yet. I’ll keep this open until then.

[2019-01-20 17:48] MarkTiedemann commented on #93
Not yet, unfortunately. I was working on `deno_install` in the past week.

My next week is gonna be busy, too, so if you want to work on it, feel free!

I guess that's a matter of taste.

I personally don't like it when test frameworks offer a special way to do setup and teardown (which you have to learn or look up in the docs).

I prefer a plain old function call for setup and a try-finally-block

[2019-01-20 19:55] kitsonk commented on #116
@keroxp

Given an arbitrary set of modules, authored in TypeScript, using imports with include fully qualified URLs (inlcuding the extension) output a single `.ts` file which can then be used with Deno (possibly a single JS file).

The use case would be something like, as a developer, I want to create a single file asset that I can potentially distribute which contains all of my dependencies for a

[2019-01-20 20:31] 43081j commented on #122
The reason for `equal` being simple (value equality check, usually) is that we can then have a `deepEqual` for when we want recursive equality checks. Leaving `equal` to do a deep check seems fine as long as we then have a `strictEqual` or similar, for when we _don't_ want deep equality (which would be `Object.is` pretty much).

I agree with your `rejects` idea, too, but it could be argued that bo

[2019-01-20 21:02] MaxGraey commented on #130
May I ask a question about `mod.ts` instead `index.ts`?
Style guide mentioned:

What does it mean?
In my opinion `index.ts` shouldn't not reflect connotation. It has special goal is preventing path's boilerplate and implicitly lead to main directory file. I guess `deno_std/http/mod.ts` or `deno_std/http/http.ts` looks less expressive than jsut `deno_std/http` which possible with `index.ts` insead

[2019-01-20 22:15] MaxGraey opened #142 "Unreachable code after infinte loop inside generic function "http#serve""
Code in this [line](https://github.com/denoland/deno_std/blob/master/http/http.ts#L86) never run and listener never closing.

[2019-01-20 22:37] hayd commented on #135
DefaultDict (Map), Counter, OrderedDict, Heapq, Deque seem useful.

Are there also useful prototypes that could be added to Map/Set?

[2019-01-21 05:51] kevinkassimo commented on #142
Currently there is indeed no way of closing the listener. It would be a good idea to revamp the HTTP module with more careful design (and possibly emulating part of implementation from Go) (a few contributors have expressed interest on this)

[2019-01-21 08:03] hayd commented on #130
@ry Did you have examples other than http? Which would be addressed with `mv http/http.ts http/mod.ts`.

Honestly, I don't understand the hate for explicitly defining the api in a potentially separate file (and in most cases there is only one file anyway).

*I know I said this before: but why util? (Perhaps everything should just be in util 🙄 )*
There's plenty of prior art of other languages group

[2019-01-21 15:56] keroxp commented on #130
I think current usage of `mod.ts` on the project is not consistent. `mod.ts` are placed on each subdirectories (I have no idea to describe those subdirectories... module set?) but its contents and structures are not equal.

 `//ws/mod.ts` is complete implementation of ws module but `//http/mod.ts` is just export rotation. `//http/file_server.ts` has no exported member (it's just executable). `//io

[2019-01-21 16:21] hayd commented on #130
That's because std is a collection, they're organised in that way as each directory would ordinarily be a distinct repo (and correspond to a single name in the registry). Other projects won't have this issue: they'll only be one mod.ts.

There's a pr to export file_server, imo the actual executable belongs in examples. Agree there is inconsistency ATM, but I don't think it's fatal (or that the abo

[2019-01-24 18:41] ry opened #150 "Re-enable cat.ts test"
https://github.com/denoland/deno_std/blob/8ad47e358426b71d3e2508c0d4ab00f241ebd4eb/examples/test.ts#L12-L23

It was disabled in 8ad47e358426b71d3e2508c0d4ab00f241ebd4eb because it froze on Windows.

[2019-01-24 20:57] NarHakobyan opened #151 "Is deno supports runtime type checking?"

[2019-01-24 21:24] ry opened #152 "testing: add runIfMain"
Once we support `imports.meta.url` and have a way for testing if the current script is the main script, we want to have a two line snippit of code that will allow any test to be executed as a standalone test `deno foo_test.ts` rather than running the main entry point.
Essentially something like this:
https://github.com/tensorflow/tensorflow/blob/c4e61ac1fd0b3b48461e2876b20fe56c09faa2ff/tensorflow/

[2019-01-25 04:46] kitsonk commented on #151
This really isn't a question for `std` and is more appropriate for deonland/deno.  The short answer is no, and it never will.

The longer answer is that because Deno has the TypeScript compiler built into it, type safety is checked before any code is run.  Then plan for the future is to restore that checking for plain JavaScript files too.  So from a developers perspective, it is effectively runti

[2019-01-25 07:19] NarHakobyan commented on #151
thanks @kitsonk

[2019-01-25 07:19] #151 closed

[2019-01-25 15:03] akircher opened #153 "HTTP/2"
Forgive me if this is already been discussed or I am wrong, but is there a reason that Deno HTTP (and Websockets) are based on HTTP/1.  Everything else in Deno seems so modern, it seems weird to support the old standard and not HTTP/2.  Maybe this is already on the roadmap?

Obviously biased article supporting this viewpoint:
https://medium.com/@pgjones/http-1-should-die-81b7588d617e

[2019-01-25 15:16] ry commented on #153
We are slightly in limbo regarding the HTTP server. Currently we have this one implemented in TypeScript but it's slow. [I have attempted to build a native version which would use Rust's HTTP/2 libs ](https://github.com/denoland/deno/pull/1147) but due to [technical reasons] it was not fast enough.

I am currently optimistic that the [TypeScript HTTP server ](https://github.com/denoland/deno_std/b

[2019-01-26 00:05] ry opened #154 "wanted: prettier"
currently in deno_std we fork out to Node in order to run prettier:
https://github.com/denoland/deno_std/blob/master/format.ts#L30

This has several problems:
* deno_std shouldn't depend on node.
* different people may have different prettier versions installed
* forking to execute JS is not optimal - we should already be able to execute JS.

Somehow we want to either have a remote link to a versi

[2019-01-26 08:39] kitsonk opened #155 "Create branch when we bump versions of Deno"
The last branch we can "pin" to was v0.2.4, a pre-ESM release which had some changes the broke.  It isn't safe to externally depend on master, but it would be great to get regular branches we can fix to.

[2019-01-26 09:10] ry commented on #155
I'm tagging releases... I'll do a "v0.2" branch once deno is bumped to 0.3

[2019-01-26 09:13] kitsonk commented on #155
We can't use tags yet with the registry?

[2019-01-27 01:22] kt3k opened #159 "Make prettier usable from other repositories."
[code]

The command like the above should format the source code in any repository.

[2019-01-27 04:19] #154 closed

[2019-01-27 13:56] bartlomieju commented on #77
Closed in #156?

[2019-01-28 00:54] akircher commented on #153
Thanks for the detailed and thoughtful response!  For HTTP/3 and QUIC in RUST this library looks interesting
https://blog.cloudflare.com/enjoy-a-slice-of-quic-and-rust/

[2019-01-28 13:37] kt3k commented on #159
I want to clarify these points before starting to work:
- What options should it support?
- Should it support non git repository? (probably yes)
- Should it support config files which the original prettier CLI has? (like .prettierrc.json, .prettierignore)
- Which languages should it format by default? (maybe ts, js, and md?)

[2019-01-28 15:10] hayd commented on #159
I don't think you necessarily need to support any of these in a first pass.

Perhaps allowing files to be specified if you pass them explicitly.

`deno format.ts mod1.ts mod2.ts`

[2019-01-28 16:42] ry commented on #159
@kt3k this would be super useful and a minimal version that @hayd described would be great for a first pass.

[2019-01-29 16:01] robmuh opened #162 "Testing: Explanation of runTests()"
I'm guessing there is a  reason none of the test examples include the `runTests()` call. I inferred from reading `main.ts` that there is some plan to automatically call that from `deno` eventually.

May I suggest, at least temporarily, that some clarification be made to the main `testing/README.md` that includes this `runTests()` call? I have forked `deno_std` and am prepared to attempt a document

[2019-01-29 16:18] ry commented on #162
Thanks for reporting this - the `runTests` behavior has just recently changed - hence the inconstant docs. Although we liked the ability to run any test file easily - we found that there were situations where we needed more control starting the test runner. The design of the testing library is to be very minimal and very explicit (hence needing to explicitly import the "test" function).

We plan t

[2019-01-29 16:31] robmuh commented on #162
Thanks for the quick response. I will just add a blockquote container marked temporary and will happily remove after the changes. Should have that tonight. Nothing huge.

[2019-01-29 17:51] sholladay commented on #142
Yep, I was looking for a way to implement a [server.close()](https://nodejs.org/api/http.html#http_server_close_callback) equivalent in [pogo](https://github.com/sholladay/pogo), order to gracefully stop accepting requests and exit the process with a zero exit status. This is needed for production deployments.

[2019-01-29 19:24] kevinkassimo commented on #142
For people who want this feature immediately, it is possible to add `server.close` feature given current `http.ts` structure. Basically you want to add something so that you can call and stops
https://github.com/denoland/deno_std/blob/bef7ba14303997a05cdd1ea0d28ffefeee75c993/http/http.ts#L60-L69
(this piece of code immediately tries to wait for a next `accept` when the previous one is handled)
and

[2019-01-31 10:36] zhmushan commented on #139
Landed yet.

[2019-01-31 10:36] #139 closed

[2019-02-01 15:16] #159 closed

[2019-02-03 16:16] ry commented on #152
import.meta.url is now available in 0.2.10 so runTestsIfMain should be doable now.

[2019-02-03 18:56] bartlomieju commented on #152
I guess this belongs to `testing/mod.ts` but that file contains this notice: `// Do not add imports in this file in order to be compatible with Node.`. So `import { args } from "deno";` isn't desired there. Any thoughts?

[2019-02-04 11:56] bartlomieju commented on #39
I reckon `log` implementation is good enough now we can close this.

[2019-02-04 11:56] #39 closed

[2019-02-06 09:17] thgh commented on #116
This rollup plugin can resolve URL imports: https://github.com/thgh/rollup-plugin-url-import

[2019-02-06 10:59] kitsonk commented on #116
@thgh the module resolution isn't the issue, it needs to run under Deno.

[2019-02-06 17:46] thgh commented on #116
Proof of concept:
[code]

[2019-02-08 17:06] ry opened #179 "Discussion: asserts"
In testing we originally had two methods `assert` and `assertEqual`

but at some point I (somewhat thoughtlessly) suggested that we mirror the Node API. So we have things like `assert.equal` as well as `assertEqual`.

What do people think? I kinda like `assertEqual` as it's less to type and I imagine the tab completion is better in VS Code.

Obviously we should do one or the other but not both.

(

[2019-02-09 00:15] piscisaureus commented on #130
Without suggesting one thing or the other on how deno_std should be organized, but semantically, I think it'd be nice to follow what rust does w.r.t `mod.rs`.

[2019-02-09 06:55] keroxp commented on #116
@thgh That example may not be able to bundle `.ts` file. I got:

[2019-02-09 07:27] sh7dm commented on #179
With `assert.equal` we can make more `assert.*` functions and keep in clean

[2019-02-09 07:49] bokuweb commented on #179
I think so too.

I'm glad to hear that :) I'll add it  to the core at any time if you're OK ;)

[2019-02-09 11:21] kitsonk commented on #179
From a VSCode code completion perspective, I am not sure either way provides a distinct advantage.  What assert looks like:

![assert](https://user-images.githubusercontent.com/1282577/52520051-c3144180-2cb8-11e9-904c-969e65560caa.gif)

The one advantage, for `assert` is that you only have a single import to have the full API.  As you are authoring tests, sometimes you don't realise you need `asse

[2019-02-09 23:30] thgh commented on #116
After some struggling with `typescript` and `rollup-plugin-typescript` and [this particular file](https://raw.githubusercontent.com/denoland/deno_std/master/prettier/vendor/parser_typescript.js), here is a version that supports typescript:

[code]

I'm not 100% sure if [my implementation](https://github.com/thgh/rollup-plugin-url-import/blob/master/src/resolve.js#L3) of the [deno module resolution

[2019-02-12 04:48] hayd opened #189 "Add fs.walk"
A basic implementation:
[code]

Should this go in fs/walk.ts or should there be some other directory structure?
The current org of fs is a little strange.

Also, what other functions ought to be in fs? [glob](https://github.com/hayd/deno-globrex)?

[2019-02-12 09:26] bartlomieju commented on #152
@ry any more thoughts on this?

[2019-02-12 14:58] ry commented on #189
Yes please.
We have something that can be adapted easily:
https://github.com/denoland/deno/blob/1e5e091cb074896c7550b1b6f802582f12629048/tools/util.ts#L10-L41

[2019-02-12 16:33] sholladay commented on #93
What do y'all think about [AVA](https://github.com/avajs/ava)'s API?

Personally I love it and it already has great TS types, so should be very easy for Deno to adopt.

[2019-02-12 16:41] ry commented on #93
If someone ported AVA to deno_std and it worked perfectly, I would be happy to have it. But likely that won't happen - because it looks big and complex.

I'm a fan of the current testing module because of how minimal it is. I realize it has some problems at the moment (https://github.com/denoland/deno_std/issues/162, https://github.com/denoland/deno_std/issues/122), but I intend to clean it up soo

[2019-02-12 17:09] sholladay commented on #93
Sorry, I meant the API definition (or a subset of it), not necessarily the implementation. Would be awesome if AVA's implementation could be ported, but I agree that sounds hard. Among other things, AVA relies on Node's `child_process`. It might be possible to replace that with Web Workers, but there could be other issues.

If, however, Deno were to adopt the API of a popular framework like AVA, i

[2019-02-12 17:21] ry commented on #93
@sholladay Hm - looks quite minimal and similar to ours. I'm not opposed to that API. @piscisaureus thoughts?

[2019-02-12 17:31] hayd commented on #189
I'll do this. I prefer the IterableIterator<FileInfo> return type, but can support all those options.

[2019-02-12 17:37] ry commented on #189
@hayd Thanks! It'd be great to also get a follow up commit to make `deno/tools/util.ts` use the new `fs.walk()`.

[2019-02-12 18:25] ry commented on #152
@bartlomieju Yes - I think if we implement `window.location` as described in https://github.com/denoland/deno/issues/1750 then we can do
[code]

[2019-02-15 19:20] #189 closed

[2019-02-15 19:42] hayd commented on #189
@ry `deno/tools/util.ts` doesn't exist in master!
(Note: All functions are unnecessary in it, with walk+execPath.)

[2019-02-15 23:56] luvies opened #193 "Provide a test runner"
I was wondering if it would be reasonable to provide a test runner that (with some config) searched for, loaded, and ran all tests of a project? I'm personally not quite a fan of having to import all the tests manually and run them like that, and I feel like it could potentially be a little limiting. Plus, having a test runner that searches and executes tests would allow us to spin up sub-processe

[2019-02-16 00:10] hayd commented on #193
I have an implementation for this, but am waiting on `import()` to be supported in deno.

[2019-02-16 06:30] lucascaro opened #195 "Idea: file/file.ts -- ergonomics for interacting with files"
Extending the core with more ergonomic file functions:

example:

[code]
etc.

If this seems useful and in line with deno_std then I can propose a more complete API.

[2019-02-16 13:14] bartlomieju commented on #69
Closed with latest improvements to `log` module

[2019-02-16 13:15] bartlomieju commented on #77
@ry this can be closed

[2019-02-16 14:10] chiefbiiko opened #198 "Speed up testing and benching"
Currently `testing` and `benching` do `await`s in a loop in `runTests`/`runBenchmarks` 🐌
I got a `Promise.all` refactor for `benching`. Think the same should be done for `testing`.
Does not require any API changes.

[2019-02-17 18:34] jbreckmckye commented on #193
An inbuilt test runner is not a bad idea. But at this stage I probably wouldn't write / consume any config files. That seems a second-order priority to getting parallelisation and file watching going. Convention > configuration.

[2019-02-17 18:44] jbreckmckye opened #200 "Does Deno need a QueryString module?"
It's common in Node and JavaScript applications to store simple state in URL query strings. But manually parsing and serialising query strings is a pain. In Node-land, packages like e.g. [qs](https://github.com/ljharb/qs) are very popular.

My question:

1. Is this functionality worth bringing into a Deno standard library?
2. If so, what behaviours, capabilities and interface(s) would be most desi

[2019-02-17 19:00] bartlomieju commented on #200
Deno has built in [`URLSearchParams`](https://github.com/denoland/deno/blob/master/js/url_search_params.ts). I used it to parse DSN and worked pretty well.

[2019-02-17 21:41] jbreckmckye commented on #200
Ah, didn't realise it had URLSearchParams! That's great news.

[2019-02-17 21:41] #200 closed

[2019-02-18 02:13] linweiwei123 opened #201 "Downloading https://deno.land/x/util/deferred.ts... NOT FOUND"
Downloading https://deno.land/x/util/deferred.ts... NOT FOUND

[2019-02-18 02:21] zhmushan commented on #201
https://github.com/denoland/registry/pull/54

[2019-02-18 06:43] syumai commented on #201
@linweiwei123 https://deno.land/x/std/http/server.ts
Can be used for this purpose as a workaround.

[2019-02-18 11:50] keroxp commented on #201
@linweiwei123 Thank you for report. Currently modules under https://deno.land/x/ was fully managed by denoland/registry. And While reviewing #188, we haven't got unified opinion about having `util` module set on deno_std. So `util` namespace under `x` won't be registered for a while. Use `//x/std/util/deferred.ts` instead. But that url may be gone after discussion.

[2019-02-18 11:58] keroxp commented on #179
+1 for `assertXXX`.
Exported object can be changed after importing even if it is declared as const.

[code]
[code]

[2019-02-18 12:07] thysultan commented on #179
@keroxp `Object.defineProperty` can make the property non-writable/configurable but being able to monkey patch can be considered a plus in some cases.

There's also the option of:

[code]

[2019-02-18 15:09] luvies opened #680 "Add sync version of std/io readLines"
It would be useful to provide a function that can read a line of input from stdin that has a simple interface. It would probably good to support both async and sync versions, something like

[code]

I think `readLine` might be too close to the file functions, so maybe something like `getInput` or `ttyReadLine`

[2019-02-18 18:42] j-f1 commented on #193
Especially while Deno is still new and it’s possible to get everyone to follow the convention.

[2019-02-18 18:58] hayd commented on #193
Yes, this will be cli only, at least initially. It will import from filenames that match `/(.+_)?test\.ts$/` _but_ could later take a glob as an arg. It also will --grep on test name if passed (only run matching tests). More features could be added in the future...

[2019-02-18 21:16] kitsonk commented on #179
The only problem with the namespace import it you lose the root `assert()` as a function.

As pointed out though if mutating `assert` really concerns people, which I don't think it should, then the function can be frozen.

[2019-02-18 23:32] #150 closed

[2019-02-18 23:47] ry commented on #198
I don't think our tests in core are such that they can be run in parallel... It would be cool to have this as an option tho.

[2019-02-18 23:51] #77 closed

[2019-02-18 23:51] ry commented on #69
thx

[2019-02-18 23:51] #69 closed

[2019-02-19 14:23] ry commented on #152
FYI `window.location` [has landed](https://github.com/denoland/deno/commit/42408febe8cdf9e30ff8d1a3bb13f4994906c53b) in Deno v0.3.0

One can test if the script is main by using this:
[code]
We should be able to adapt for `testing.runIfMain(import.meta)`

[2019-02-20 03:45] ChrisAckerman commented on #116
Is there a reason to make this bundle to a TS file? Why not support tar or zip archives?

[2019-02-20 06:30] hayd opened #208 "Generate API docs"

[2019-02-20 12:58] j-f1 commented on #179
Could be exported both ways: each function as a named export, and the `assert` function with all its properties as the default export.

[2019-02-20 13:33] keroxp commented on #29
@ry Can be closed?

[2019-02-20 15:42] ry commented on #29
yes thanks

https://github.com/denoland/deno_std/tree/57c9176b19bf4f4580466e088c249cbe9b145119/ws

[2019-02-20 15:42] #29 closed

[2019-02-20 18:27] MarkTiedemann opened #210 "deno --fmt failing because parser_typescript.js lambda returns 502 Bad Gateway"
[code]

[code]

[2019-02-20 23:20] kitsonk commented on #179
I think we should pick one way and stick with it.  It is the DRY principle.  I like the all in one assert because it is the model I have been most used to, but I see it as an either/or, and wouldn't lose too much sleep if we went to individual functions.

[2019-02-20 23:23] kitsonk commented on #116
I suspect we would be better off adopting something like: https://github.com/electron/asar if we went down the virtual file system route.  It isn't a bad idea at all, and like Electron apps, `.asar`s could be built into a single binary distribution.

[2019-02-21 00:16] kt3k commented on #210
(Note: parser_typescript is the biggest file (2.2M) in deno_std)

[2019-02-21 02:13] keroxp opened #211 "Discussions: http server responding way"
on #188, I changed responding way for `serve()`. This changes were incompatible with previous way. So these changes temporally reverted until `v0.3.0` is released. Give us your (developer) opinions about the ideal responding way of http server.

## Current

[code]

[code]

## Next

[code]

[code]

I did these changes for some reasons but mostly for new `HttpServer`. It might not be suitable for th

[2019-02-21 04:39] kitsonk opened #212 "Update GitHub link"
The main link on the GitHub repo is to `https://deno.land/x/` instead of `https://deno.land/std/`.

[2019-02-21 07:12] MarkTiedemann commented on #210
I was on a slow hotel WiFi. Could this be some sort of timeout I hit?

[2019-02-21 16:52] ry commented on #210
This is due to a bug I've introduced in the deno.land server https://github.com/denoland/registry/pull/62
Trying to resolve this now.

[2019-02-21 17:48] ry commented on #211
At the lowest-level we ideally operate with only `Uint8Array`. I think it's nice if the lowest-level HTTP server maintains this - so - for example `respondJson` seems inappropriate for `//http/server.ts` in my mind and rather belongs to a framework.

What if we created something like `//http/friendly_server.ts` - which has a bit more usability than the raw `server.ts` ?

[2019-02-21 20:14] ry commented on #210
Should be working now.

[2019-02-21 20:14] #210 closed

[2019-02-21 20:36] MarkTiedemann commented on #210
Yep, it's working. Thanks a lot, @ry!

[2019-02-21 21:01] ry commented on #211
Here's how I view the //http/server.ts module

Maybe we can add this to the top of the file to clarify its purpose

in-scope:
- parsing http/1.1
- parsing http/2
- keep alive
- streaming uploads and downloads
- setting some headers - e.g. "Connection: keep-alive"
- trailing headers (eventually)
- transfer encoding chunked
- giving users some way to handle upgrade

out-of-scope:
- setting the "Serv

[2019-02-21 21:10] kitsonk opened #213 "Implement strict mode in `std`"
Deno runs in non-strict mode, in the Deno core though, we enforce strict mode.  I think we should enforce that for `std`.  I am seeing a lot of code in here that is not compliant with strict mode, which allows a lot of unsafe assignments around `null` and `undefined` as well as quite a few other violations which make the code unsound.

We also have quite a few linting violations too, which we catc

[2019-02-21 21:19] ry commented on #213
Yes - we need TSLint here.

[2019-02-21 21:20] kitsonk commented on #213
Actually, ESLint.  See denoland/deno#1824... TSLint is moving itself into ESLint.

[2019-02-21 22:24] kitsonk commented on #211
I feel I generally aligned with Ry's in and out of scope.

For in-scope, "setting some headers" would need a bit more definition for me.  I think we would be explicit.  Setting things like `content-length` can be problematic and address higher order concerns, like if you are responding with an empty body and no content length, is that because you expect to stream the body in chunks or is it becaus

[2019-02-22 15:44] bartlomieju commented on #211
@kitsonk @ry I agree with the scope 100%, but IMHO we should handle situation when pass neither body nor `content-length` header is provided. It should "just work" for simple usages and provide enough config to be able to stream body (which I believe we already do), close the connection and handle more complicated situations.

I'm a fan of current `respond` API, it's simple enough, but `Response`

[2019-02-22 17:11] akircher commented on #211
Thanks for asking!  As the http server will likely be the *first* experience most developers have with Deno, I do like having the API really well thought out is a great idea.

_My opinions follow:_
I like `req of serve()` better than `{req,res} of serve` because I think `res.respond()` is redundant and the ability to write `{headers, body, ...req} of serve()` would just be awesome.

I think I saw

[2019-02-23 06:22] keroxp commented on #211
Thank you for opinions.

in #188, I added three different improvements. Changes within `serve()` are related to others. Apart from `serve()` and `ServerRequest`, would you approve new features below?

## 1. Making `serve()` cancellable with deferred

[code]

This aims to make it possible to cancel `accept` await from outside. It is particularly useful at testing. Now we can run e2e http test witho

[2019-02-23 07:07] kitsonk commented on #211
I will respond more later, as I am mobile, while we have Defer, I don't think it is really clean way. I would like to see a `PromiseCancellable` based on https://github.com/tc39/proposal-cancellation. While it is stage 1, it should be polyfillable and the sponsors are quite core to TC39 so I suspect we will see it eventually.

[2019-02-23 10:17] bartlomieju opened #214 "Discussion: run specific test - test.only"
I got some test that is failing and I'd want to debug it, so when I run my test suite I want to focus some tests without needing to comment out my `test.ts` file. It boosts productivity significantly and would be nice to have it in standard lib.

This pattern is common in Node.js testing frameworks:
- AVA - [`test.only`](https://github.com/avajs/ava/blob/master/docs/01-writing-tests.md#running-spe

[2019-02-23 16:11] akircher commented on #211
@keroxp if we do a `friendly_server.ts` can we make it the same API as `server.ts`?  I mean rather than going with your `interface HttpSever` you keep it as `req of httpServer(...)`.  I like the idea of consistent apis between the two even though yours would have more bells & whistles.

I also agree with @kitsonk on using a upcoming standard for cancellable

[2019-02-23 16:35] bartlomieju commented on #152
Closed in #215

[2019-02-24 00:02] kitsonk commented on #211
As far as part 2, we rejected oak (#144) because it was a middleware and routing framework and in the end agreed that it shouldn't be part of `std`.  I don't see what has changed.

[2019-02-24 06:19] keroxp commented on #211
@akircher If api is identical, `serve()` is enough. I doubt idea itself to use `AsyncIterableIterator` as request routine for general purpose server. We should pack all props and method into `req` object.
It may be desirable for the lowest level api but not for middle level. And routing logic can be mapped.

@kitsonk I know promise cancellable was withdrawn by [some reason](https://github.com/tc39

[2019-02-24 23:20] kitsonk commented on #211
If not cancellable promises, we should just have a `.cancel()` then.  Exposing a deferred is a really strange API.

I think routing of any sort is a framework.  If we are not including frameworks in `std` we need to stop there.  Having an API, like `path-to-regex` as part of `std` which someone could easily create a routing solution on top of `serve()` is as far as we should go.  Having the conten

[2019-02-25 17:49] keroxp commented on #211
@kitsonk

We may be not able to share point of view about a framework. I think having minimal features or much is a watershed. I believe new `friendly_server.ts` is minimal enough. The lines of code is important.

@ry How do you think? It seems that nothing is better than something for them. No landing point is seen.  It may be waste to continue discussion even if there is someone who want to have

[2019-03-01 12:46] zekth commented on #208
Based on JsDoc? If so everything has to be documented and also a check on PR has to be done. Am i right?

[2019-03-01 17:07] ry opened #222 "Testing should use the color module for ansi codes"

[2019-03-02 20:22] zekth commented on #214
In addition i'm also using the jest cli parameter `-t` like this:
[code]
This is nice to debug. Also in a homemade framework we added something like glob on spec names. For example:
[code]

[2019-03-02 21:02] hayd commented on #214
Test cli is waiting on import(), would be able glob on filename and test.
https://github.com/denoland/deno_std/issues/193

[2019-03-03 18:53] zekth commented on #214
@hayd once the `import()` is implemented we can change the filter part of testing module to handle regex and glob too?
https://github.com/denoland/deno_std/blob/master/testing/mod.ts#L210

[2019-03-03 22:02] kitsonk commented on #222
Fixed in #223

[2019-03-04 04:45] #222 closed

[2019-03-04 12:08] chiefbiiko opened #228 "fix runBenchmarks to include default runOptions"
Currently, `runBenchmarks` throws if it gets not passed an options object.
However, this should not be the case.
`runBenchmarks()`should just work.

[2019-03-04 12:57] zekth commented on #130
In addition to this there is no definition in the style guide for test naming.
For example:
- javascript (often) foo.spec.js
- golang foo_test.go

I can see the use in deno_std is based on the Go syntax. It might be good to put this in the style guide no? (like a recommended usage)

[2019-03-04 17:00] chiefbiiko commented on #228
fixed in #229

[2019-03-04 17:00] #228 closed

[2019-03-04 18:23] zekth opened #231 "YAML support"
As yaml is more and more used everywhere i think it's a nice feature to have in the deno_std.

We can port [js-yaml](https://github.com/nodeca/js-yaml) or [yaml-js](https://github.com/jeremyfa/yaml.js) for example.

Your thoughts?

[2019-03-04 19:01] hayd commented on #231
I think [toml](https://github.com/toml-lang/toml) is more popular in the rust community.

Personally I find yaml very brittle...

[2019-03-04 19:03] j-f1 commented on #231
I’d suggest making a [TOML](https://github.com/toml-lang/toml) parser instead, since YAML is [extremely complex](https://yaml.org/spec/1.2/spec.html). For reference, a quick print-to-PDF yielded an 82-page-long spec for YAML and an 11-page-long spec for TOML (A4 size).

[2019-03-04 19:07] zekth commented on #231
I don't like Yaml neither but i have to often use it that's why i'm asking for this. TOML is good too.

If everyone is ok for TOML let's close this one and open one for TOML.

@kevinkassimo  what do you think?

[2019-03-04 19:12] ry commented on #231
I'm happy to have both in deno_std

[2019-03-04 19:13] zekth opened #232 "TOML support"
As mentionned in https://github.com/denoland/deno_std/issues/231 TOML support is a good addition to deno_std

[2019-03-04 19:18] ry opened #233 "Use testing/pretty.ts as the default assertEqual in testing."

[2019-03-04 19:37] kevinkassimo commented on #231
@zekth Why not both? ;)

[2019-03-04 23:05] #212 closed

[2019-03-05 01:03] #233 closed

[2019-03-05 11:48] kt3k opened #236 "[prettier] Styling option support"
The original prettier cli has the following styling options:

[js/ts styles]
- --print-width <int> Default: 80
- --tab-width <int> Default: 2
- --use-tabs Default: false
- --no-semi Default: true
- --single-quote Default: false
- --trailing-comma <none|es5|all> Default: none
- --no-bracket-spacing Default: true
- --arrow-parens <avoid|always> Default: avoid
- --end-of-line <auto|lf|crlf|cr> Defaul

[2019-03-05 11:49] kt3k commented on #236
BTW prettier has the following non-js/ts rule options as well.

[html styles]
- --html-whitespace-sensitivity <css|strict|ignore> Default: css

[jsx styles]
- --jsx-single-quote Default: false
- --jsx-bracket-same-line Default: false

But I think these are out of scope of deno_std

[2019-03-05 11:59] j-f1 commented on #236
IMO the deno maintainers should pick a set of options they prefer for Deno and not allow configuration so all Deno code will be consistent.

[2019-03-05 12:01] zekth commented on #236
As @kitsonk mentionned on Gitter.
[code]
Also `html` and `jsx` are out of scope yes.

[2019-03-05 17:08] hayd commented on #179
#227 seems to be resolution of this discussion... ?

[2019-03-05 17:09] zekth commented on #179
You're right

[2019-03-05 17:30] ry commented on #179
Ok, enough discussion.

I'm going to remove the node-style assert object and go with a better API more familiar to gtest people.

Asserts will be moved out of testing/mod.ts and people will import from testing/assert.ts.

The first part of this work will be done in #227

[2019-03-05 17:30] #179 closed

[2019-03-05 20:06] ry opened #237 "Decouple test runner (testing/mod.ts) from the asserts (testing/asserts.ts)"
That is, remove this:
https://github.com/denoland/deno_std/blob/c734e3234322cea5298a887373fe4ad1591d7c97/testing/mod.ts#L5-L65

This will require updating a lot of call sites across deno_std ... I apologize in advance for the API instability.

cc @zekth @piscisaureus

[2019-03-05 20:09] ry commented on #236
Certainly "deno --fmt" will be opinionated and have defaults - and I don't think we should worry about exposing configuration there yet.

However at an API level, it seems reasonable for the deno_std prettier module to support these options

[2019-03-05 20:25] zekth commented on #237
I can handle this :feelsgood:

[2019-03-07 09:29] zekth commented on #130
A contributing.md with the style guide would be nice to add to the repo. Your thoughts?

[2019-03-07 09:34] bartlomieju commented on #130
@zekth link is in the README: https://deno.land/style_guide.html

[2019-03-07 09:38] zekth commented on #130
@bartlomieju So about the test syntax it is revelant to add in the style guide of deno itself? Like `In deno_std we use the golang syntax for test files` and give examples.

[2019-03-07 10:21] zekth opened #243 "Color terminal capabilities"
As mention in : https://github.com/denoland/deno_std/blob/master/colors/README.md

Here is the OS detection:
https://github.com/denoland/deno/blob/master/js/build.ts

Problem is we just return the OS property, which is not enough to detect the capabilities of the env. For example windows 7 does not support this in CMD. To make this possible we have to know the current version of the running env. @

[2019-03-07 11:55] zekth commented on #243
As mention in : https://github.com/denoland/deno_std/blob/master/colors/README.md

Here is the OS detection:
https://github.com/denoland/deno/blob/master/js/build.ts

Problem is we just return the OS property, which is not enough to detect the capabilities of the env. For example windows 7 does not support this in CMD. To make this possible we have to know the current version of the running env. @

[2019-03-07 14:03] ry commented on #130
@zekth Sure you can add that to the style guide, but don't reference golang (the style doesn't originate there - it's google style AFAIK). Something like:
[code]

[2019-03-07 19:07] ry opened #249 "Use AssertionError in testing/asserts"

[2019-03-08 03:40] ry opened #251 "Move benching/mod.ts to testing/bench.ts (and associated files)"
cc @chiefbiiko

[2019-03-08 09:52] bartlomieju commented on #249
Reference of last try: https://github.com/denoland/deno_std/pull/209/files/509735750813a2191790d06a9f0d9a26953f274a#diff-21d94e5c829319e0d4c4acd5e1cc2bd3

[2019-03-08 15:19] chiefbiiko commented on #251
Cool, thanks, will PR this weekend :truck:

[2019-03-08 16:38] chiefbiiko commented on #214
An alternative to the `test.only` pattern could be, adjusting [this interface](https://github.com/denoland/deno_std/blob/02274ef48bb298047f2a9a1821a75cd060fc5500/testing/mod.ts#L193) to:
[code]

**Semantics**
Any test case that matches the `only` pattern and does not match the `skip` pattern is run.
Any test case that does not match the `only` pattern or does match the `skip` pattern is not run.

[2019-03-08 18:00] sh7dm opened #256 "Testing: mock functions"
Mock functions like [in Jest](https://jestjs.io/docs/en/mock-functions.html)

[2019-03-08 18:02] zekth commented on #256
The mock / stubing func is a huge and complicated task. It might be better to have it in a separate module

[2019-03-08 18:06] ry commented on #256
@sh7dm Can you give an example of what you'd like to be able to do? I'm certainly not going to port all of Jest over - so let's consider this case by case. What is the functionality, specifically, you want?

[2019-03-08 18:07] zekth commented on #214
Is the regexp pattern checking the filename of the import? If so it's ok for me and we can glob it too like @hayd suggested

[2019-03-08 18:12] sh7dm commented on #256
E.g. I want to make sure callback or other function has been called 2 times, or w/ specific args. Maybe even some **SIMPLE** hack implementation for it, e.g. if mocking important internal function

[2019-03-08 18:33] hayd commented on #214
There's a filter regex already, having runTests look at a named --filter arg, and passing it as the filter, seems reasonable to me.

[2019-03-08 21:00] zekth commented on #256
for example:
[code]

By this way you ensure the response of the usage of the function. But if we do this way we have also to mock imports like this: https://jestjs.io/docs/en/es6-class-mocks

[2019-03-09 09:07] zekth commented on #249
Maybe an addition to AssertionError would be:
[code]

By then, then render in the prompt and console would be in the AssertionError classe instead of each assert. Ex;
[code]

Thoughts?

[2019-03-09 10:47] bartlomieju commented on #249
@zekth lets not reinvent the wheel, you could override `toString()` method.

[2019-03-09 11:00] zekth commented on #249
Fair point. For the rest, seems fine?

[2019-03-10 08:33] keroxp commented on #211
Ok, I understand that there are no better way from current implementation about http server. I'm sorry  but close this discussion as no progress may be seen. Thank you.

[2019-03-10 08:33] #211 closed

[2019-03-10 11:13] bartlomieju commented on #211
@keroxp don't get discouraged, we'll surely settle on some better HTTP implementation. AFAICT those past 2 weeks were focused on improving Deno's core.

[2019-03-10 11:28] bartlomieju commented on #214
@chiefbiiko your solution still requires to got to entry point of tests and place a filter. My initial idea was to just append `.only` to particular test case that I'm working on.

We might consider adding `test.skipIf` as well:
[code]

[2019-03-10 11:31] zekth commented on #214
May we use Ts decorator for this kind of filter?
https://www.typescriptlang.org/docs/handbook/decorators.html
Like :
[code]

[2019-03-10 11:51] zekth commented on #214
Could be nice doing something like this in tests scripts :
[code]

[2019-03-10 15:37] JoakimCh commented on #142
I'm testing a hack to support closing the server, preferably something with very few and simple changes.

For example this is a way you could run the server and handle it closing:
[code]
Where this would be called to stop it:
[code]
And how the serve generator function could implement it (not finished, but works). I'm no TypeScript programmer, so please excuse my dirty JavaScript... :P
[code]
Of c

[2019-03-10 16:21] hayd commented on #214
One alternative is skip() that raises a SkipTestError which we catch/handle in runTests.

So code would be:
[code]

[2019-03-11 16:22] axetroy opened #261 "implement fs-extra api for fs modules"
[fs-extra](https://github.com/jprichardson/node-fs-extra) is a useful tool to process file. most of `node` library depends on it.

suffice to say that it is very useful.

I am going to implement it with `deno`.

- [x] readFileStr #276
- [x] writeFileStr #340
- [x] copy #278
- [x] emptyDir #263
- [x] ensureFile #264
- [x] ensureDir #264
- [x] ensureLink #353
- [x] ensureSymlink #268
- [x] move #266

[2019-03-11 16:36] zekth commented on #261
Another idea would be to add rimraf function? like `rm -rf` ?

[2019-03-11 17:25] axetroy opened #262 "add defer feature of Golang for testing"
`defer` in Golang is easy is useful especially in the test.

eg.

[code]

do the same thing in `Deno`

[code]

I wrote a library before. [https://github.com/axetroy/godefer](https://github.com/axetroy/godefer)

[2019-03-11 18:09] zekth commented on #262
So defer is simply an helper for :
[code]
Right?

[2019-03-11 18:16] axetroy commented on #262
@zekth
Not at all. @ry should know that.

here is the example

[code]

[2019-03-11 18:18] zekth commented on #262
I get it. Using the same defer behaviour LIFO after all the sync code has been executed.

[2019-03-11 18:21] #251 closed

[2019-03-11 18:22] j-f1 commented on #262
Maybe call it `cleanup()`?

[2019-03-11 18:28] ry commented on #262
I don’t like the idea because it needs to be called in a special context to work. (Unless I’m missing something?) It’s impossible to implement the general semantics that Go has.

[2019-03-11 18:46] axetroy commented on #262
@ry
In fact, we only need to create a context containing the defer function when execute each test function.

After the test function is executed (regardless of reject or resolve), then the `defer` queue is executed one by one.

This is achievable.

and it can be `No side effects`, `No breaking API`

Looking back, it can also add hooks like `after`

[code]

[2019-03-11 18:55] ry commented on #262
@axetroy But it only works in test, and the name suggests it can work elsewhere... If we could implement this generally, I'd be all for it - but I think that would be impossible without a compilation pass.

[2019-03-11 19:53] kitsonk commented on #262
I am not sure about the semantics of Go, but Promises are already scheduled out of turn in JavaScript as a microtask. So all this would be is a function that would reschedule at the end of the current queue before the next macrotask. That should be implementable just in the runtime by creating a new Promise.

[2019-03-11 20:06] ry commented on #262
In Go, the deferred function is executed before the function returns to caller, but after the body of the function is executed.

I haven't really thought thru how to implement this, but it seems not possible... If @axetroy has a way to do this in general, I'd be all for adding it. (It's super useful and a very nice feature.) But if it's restricted to `test()` callbacks, I think we should not do it

[2019-03-11 20:06] #262 closed

[2019-03-11 22:44] kitsonk commented on #262
One way, if there is a compelling use case, would be that the `test` function would always pass a function named `deferred(cb: () => void | Promise<void>)` which could then could schedule/drain the deferreds before the test function returns, as @axetroy indicates.  Usage would be something like this:

[code]

Anything throwing in there would be attributed to the test function.  No magic, just "sta

[2019-03-12 01:56] axetroy commented on #262
After I finish this, I will create a PR.

[2019-03-12 08:47] axetroy commented on #262
@ry I have implemented this feature.

try it out

save as `defer.ts` file

[code]

[code]

[2019-03-12 10:22] ry commented on #262
@axetroy Sorry - it's a bit too non-standard for me. Please submit it to https://github.com/denoland/registry

[2019-03-13 11:10] zekth opened #270 "testing: Generate lcov"
As we implement test in the std lib, it would be very interesting to generate a lcov file to check the coverage of the tests.

Only the lcov file. Report can be generated in another library like deno_coverage, as it needs templates and so on for html reporting.

[2019-03-13 16:31] shisama commented on #261
Is it `await Deno.remove("/path/to/dir", {recursive: true});` ?

https://deno.land/typedoc/index.html#remove

[2019-03-13 16:40] zekth commented on #261
You're right my bad

[2019-03-13 17:48] axetroy commented on #261
I think we should add this API alias to `Deno.remove` avoid to switch between `Deno` and `fs` API

[code]

[2019-03-13 18:01] axetroy opened #273 "discuss: all test file's name should end with _test.ts"
In order to maintain the uniformity of the project style, the test file should end with `_test.ts`

This also helps the `third-party library` to detect whether it is a test file.

Other `test-tools/plugins/extensions` will definitely appear in the future.

So should files like this be renamed?

https://github.com/denoland/deno_std/blob/master/ws/test.ts
https://github.com/denoland/deno_std/blob/ma

[2019-03-13 18:05] j-f1 commented on #273
Perhaps `mod_test.ts`?

[2019-03-13 18:05] zekth commented on #273
There was a discussion about it: https://github.com/denoland/deno_std/issues/130
`test.ts` is the test file of the module itself

[2019-03-13 18:15] axetroy commented on #273
@zekth Already confirmed?

@j-f1 I prefer to `{entry file}_test.ts`. It seems that the `entry file` is not be `mod.ts`

[2019-03-13 18:17] zekth commented on #273
Updated the style_guide for this.
ref: https://github.com/denoland/deno/pull/1918/files

But there was no mention of the module test file.

May be better to continue this discussion on: https://github.com/denoland/deno_std/issues/130

[2019-03-14 00:45] kitsonk commented on #270
Duplicate of denoland/deno#106

We need to address it there.

[2019-03-14 02:05] hayd commented on #273
I think the regex /(test|.+_test).ts/ is reasonable.

I don't think there's a huge point in talking about this until https://github.com/denoland/deno_std/issues/193

[2019-03-14 02:29] axetroy commented on #273
It seems that this is not an urgent matter, so close it.

[2019-03-14 02:29] #273 closed

[2019-03-14 02:35] axetroy opened #274 "refactor fs to following style guide"
here to remind me refactor it.

1. export options
2. remove params type in comment
3. rename `option` to `options`
4. `default optoins` instead of `optional options`

[2019-03-14 07:12] zekth commented on #270
Great! Closing.

[2019-03-14 07:12] #270 closed

[2019-03-14 08:50] zekth commented on #274
@axetroy doing the `remove params type in comment` ATM. Checking all the deno_std to fit style_guide.

[2019-03-14 14:05] zekth commented on #261
Add in the task list : Write the readme.MD of the module.

Would you want me to write it?

[2019-03-14 14:08] axetroy commented on #261
@zekth ok, you do it

[2019-03-14 14:42] #274 closed

[2019-03-15 16:06] zekth opened #283 "lodash like functions"
[Lodash](https://github.com/lodash/lodash) has done the past few years a lot of helpers / polyfills for the Js community. ES / Typescript have lot of those polyfills now but some usefull are missing. I think it would be revelant to add `collection`, `array` modules for example with those functions:

**collection:**
- [groupBy](https://lodash.com/docs/4.17.11#groupBy)
- [keyBy](https://lodash.com/d

[2019-03-15 16:48] bartlomieju commented on #283
You can use lodash with Deno so it looks like reinventing the wheel

[2019-03-15 16:54] zekth commented on #283
In a sense yes, i agree. But it's not the only library to do it, that's why i suggest those funcs to be integrated; as its really usefull and i think it has its place in ES / TS and not in a third party.

[2019-03-16 09:54] sh7dm opened #284 "Axios-like wrapper on top of fetch"
Will work on it by myself, issue is just for feedback

[2019-03-16 10:40] zekth commented on #284
What's the advantage of having axios if fetch is already supported?

[2019-03-16 10:42] sh7dm commented on #284
@zekth e.g. migrating Axios apps

[2019-03-16 10:44] zekth commented on #284
It's maybe more revelant to have it in `deno_axios` no?

[2019-03-16 14:08] bartlomieju commented on #284
Definitely yes.

[2019-03-16 17:34] axetroy commented on #284
`axios` base on `XMLHTTP` in browser. but `deno` does not support it.

it means some methods like `onUploadProgress` and `onDownloadProgress` can not be implemented.

If we need to make an HTTP library like `axios`. Then it should not be called `axios`

Maybe it should be the sub-module of `http`

[code]

[2019-03-16 17:38] axetroy commented on #283
agree with @bartlomieju.

we should not reinvent the wheel.

`Lodash` is a great library, but it can still run in `deno`

[2019-03-16 18:10] zekth commented on #283
Seems legit. Closing it.

[2019-03-16 18:10] #283 closed

[2019-03-17 22:23] #236 closed

[2019-03-18 09:04] #243 closed

[2019-03-18 09:05] zekth commented on #237
This can be closed.

[2019-03-18 12:32] GrosSacASac commented on #261
Hi please consider adding safe delete (move to trash-bin)

[2019-03-18 12:44] zekth commented on #261
I think move to trash bin may have it's place in another repository instead of being into the std lib.

[2019-03-18 12:45] zekth commented on #261
Adding this for readfilestr ref: https://github.com/denoland/deno_std/pull/276

[2019-03-18 15:05] ry commented on #237
thx

[2019-03-18 15:05] #237 closed

[2019-03-20 14:26] sundowndev opened #296 "Cannot resolve module "deno" (NOT FOUND)"
On this line

https://github.com/denoland/deno_std/blob/master/http/server.ts#L2

Get his error :

[code]

https://deno.land/x/http@v0.3.0/deno gives a 404 error.

deno: 0.3.3
v8: 7.4.238
typescript: 3.3.3333

[2019-03-20 14:43] kt3k commented on #296
'deno' builtin module is removed at deno@v0.3.3. You need to update the import path to `https://deno.land/std@v0.3.2/http/server.ts`

[2019-03-20 14:44] sundowndev commented on #296
The issue was from this file https://deno.sh/abc@v0.1.0/package.ts
Nevermind.

[2019-03-20 14:44] #296 closed

[2019-03-23 13:56] bartlomieju opened #298 "BUG: Prettier check fails on empty files"
I have a simple script:
[code]

Output is clean and no file is formatted. However when I add `--check` option it outputs:
[code]
I've peeked into `prettier/main.ts` and it seems this line: https://github.com/denoland/deno_std/blob/e80f14489084d748bb52c4311519f5d0c7696f47/prettier/main.ts#L122 should output which files are not formatted, but that's not the case.

Any ideas @kt3k ?

[2019-03-23 14:28] axetroy opened #299 "Internal module's filename starts with underscore"
`http/http_bench.ts` is not an importable module.

https://github.com/denoland/deno_std/blob/e5a493e9e8df80abec51c06958dea755e19c40fd/http/http_bench.ts#L1-L15

similar to this `testing/main.ts`

https://github.com/denoland/deno_std/blob/e5a493e9e8df80abec51c06958dea755e19c40fd/testing/main.ts#L1-L3

We don't want users to import into their projects. they should not be exposed

[code]

follow the

[2019-03-23 15:17] zekth commented on #299
Added to this it may be a good idea to directly disable import with file starting with an underscore in deno if not sibling. Your thoughts? It's a bit strict but could be nice.

[2019-03-23 15:40] j-f1 commented on #298
Can you try running Prettier using Node.js to see if it produces an error or something there?

[2019-03-23 15:48] kt3k commented on #298
@bartlomieju
I confirmed the bug with v0.3.1. It seems caused by this line https://github.com/denoland/deno_std/blob/c0390ade3de4d825423c9f0f5e1aa56ffd509942/prettier/main.ts#L99
(This should return true)
but because of #241, I think this behavior is now fixed. So can you try your command with --reload option?

[2019-03-23 16:49] bartlomieju commented on #298
@kt3k I tried it with `--reload` flag, I also tried with:
[code]

Still getting the same error. I'll debug it and get back to you.

[2019-03-24 02:25] lisniuse commented on #261
I think that shortcuts like fs-extra should be placed in a non-standard library.

[2019-03-24 08:43] kt3k commented on #298
@bartlomieju Can you share the repository you're experiencing the above behavior? If so, I can look into it.

[2019-03-24 10:44] bartlomieju commented on #298
Sorry @kt3k got caught up debugging other issue. I can confirm that line you showed above is the problem. It should return true. The bug is visible if you have a file that is empty, then the fail will always fail because it's returning `undefined`.

[2019-03-24 15:26] #298 closed

[2019-03-25 11:49] zekth opened #304 "BUG: AssertEquals"
AssertEquals is not working for type `Date` and `Regex`. The module `testing/diff.ts` is maybe buggy.

Test:
[code]

[2019-03-26 12:15] #304 closed

[2019-03-26 13:38] zekth opened #306 "[Discussion] Testing"
I have some concerns about testing. At the moment everytime we encounter a failing test it exit without testing all the tests cases. This is due to:
https://github.com/denoland/deno_std/blob/master/testing/mod.ts#L12

**EDIT**: Merged in #307

Which is not mutable. Do we add it as a parameter for the `runTests()` method? I personnaly prefer to have a total report of failing tests instead of debugg

[2019-03-26 13:41] ry commented on #306
You may submit a PR to turn off exitOnFail.

[2019-03-26 13:46] zekth commented on #306
/me opens VsCode :godmode:

[2019-03-26 15:53] chiefbiiko opened #308 "Parameter order of testing/mod.ts::createTestCase"
Parallel testing is currently not working due to a minor change in #307

We need to reorder parameters from:

[code]

to

[code]

Then [`initTestCases`](https://github.com/denoland/deno_std/blob/d9e89531105b6ce989e5a860781536cbdc99235c/testing/mod.ts#L153) binds the parameters correctly.

[2019-03-27 15:16] zekth commented on #64
We can start by porting `unit-tests` and progress granularly ? ref: https://github.com/markedjs/marked/blob/master/test/unit/marked-spec.js

If ported and tested do we add it to deno_std?

[2019-03-27 18:54] kevinkassimo commented on #64
@zekth You can probably try adding unit tests here: https://github.com/denolib/marked

[2019-03-27 22:05] kevinkassimo commented on #284
I'm actually thinking about whether we should add `XMLHttpRequest` and client side `WebSocket` to core, both of which are very important web APIs (even just for historical reasons). It should be possible to just do a reverse polyfill using `fetch` for `XMLHttpRequest`,

[2019-03-28 04:38] sh7dm commented on #284
@kevinkassimo please say me when you want to implement XHR and WS, I'd like to participate

[2019-03-28 16:29] #308 closed

[2019-03-28 18:15] kevinkassimo commented on #284
@sh7dm I'll probably wait for feedback from @ry first on this

[2019-03-28 18:20] ry commented on #284
XMLHttpRequest is really old..  I'm not against adding it necessarily but I would wait until someone has an actual use case rather than adding it preemptively.

[2019-03-28 18:31] kevinkassimo opened #310 "TOML module cannot parse strings with #s"
Example: for the following file
[code]

Actual output:
[code]

Expected behavior:
[code]

I think we might have split with `#` prematurely here:
https://github.com/denoland/deno_std/blob/fa1664e6ccaad9ad98a131f03fdd600c5fa24100/toml/parser.ts#L29-L39

cc @zekth

[2019-03-28 18:33] zekth commented on #310
Working on a fix

[2019-03-28 20:48] kitsonk commented on #284
Also, it has a lot of really bad behaviours that would need to be replicated to be compatible. Again something that would likely be better addressed with a shim for targeted code to make it functional than something that is part of Deno.

[2019-03-29 09:56] irustm opened #313 "error TS2339: Property 'build' does not exist on type 'typeof Deno'."
[code]
deno -v
[code]

[2019-03-29 09:57] irustm commented on #313
Oo, deno not updated

[2019-03-29 09:57] #313 closed

[2019-03-29 14:21] zekth commented on #232
merged in: https://github.com/denoland/deno_std/pull/300

[2019-03-29 14:21] #232 closed

[2019-03-29 14:51] #310 closed

[2019-03-29 17:46] zekth opened #316 "[BUG] Benchmark / Fetch - process still hanging"
see: https://github.com/denoland/deno_std/pull/312

EDIT:
After few checks it seems like using `https://google.com/` instead of `https://deno.land/` works but using `https://www.google.com/` fails.

So it seems like fetch is not handling well the redirections.

cc @athecoder

[2019-03-29 18:32] ATheCoder commented on #316
This makes deno v0.3.5 hang after printing `Finished`
[code]
Changing `Array.fill(10)` to `Array.fill(9)` makes deno hang sometimes and exit other times.
Changing `Array.fill(10)` to Array.fill(8)` makes deno exit everytime(?)

[2019-03-29 18:42] ATheCoder commented on #316
Problem persists with deno v0.3.4, but is completely fixed on v0.3.3

[2019-04-02 12:42] zekth commented on #316
Fix merged. Closing

[2019-04-02 12:42] #316 closed

[2019-04-03 07:49] zekth commented on #198
I think this can be closed due to all the evolutions done to Bench and testing. No?

[2019-04-04 03:57] kt3k commented on #256
How about the testdouble.js as a candidate of mocking library? This seems more simple, and not coupled to any framework.
https://github.com/testdouble/testdouble.js/

[2019-04-04 08:00] zekth opened #321 "[Documentation] Typedoc"
After @hayd mentionned it on Gitter i gave a try to [TypeDoc](https://typedoc.org/) on the `deno_std`. We have 2 problems for the moment:

- The resolution of the modules : `An import path cannot end with a '.ts' extension. Consider importing '../testing/asserts' instead.` Someone has an idea to make the module resolution work?
- The Deno style guide is not compliant with TSdoc style guide, especi

[2019-04-04 08:46] bartlomieju commented on #321
@zekth check out denoland/deno#2043, I believe you need to add 2 spaces in the example and it will render properly

[2019-04-04 08:54] zekth commented on #321
@bartlomieju right, one space was missing my bad. Will fix it. Editing the issue.

[2019-04-04 13:05] j-f1 commented on #256
Looks like it requires porting since it doesn’t use extensions in its imports.

[2019-04-04 13:20] zekth commented on #256
so quibble also has to be ported too i guess? https://github.com/testdouble/quibble
This would be nice to add to `Denolib` as it's tied to `lodash` and `quibble` and the `deno_std` is dependency free?

[2019-04-04 16:56] #198 closed

[2019-04-07 12:32] axetroy commented on #261
@GrosSacASac
sorry for late response.

**move to trash** have third party dependence. it should add to std.

[2019-04-07 19:54] hayd commented on #321
Is there a way to use tsconfig & declarations so that typedoc will work OOTB?

[2019-04-07 20:13] zekth commented on #321
I'll try it we may need to inject a special tsconfig for the generation step but it could work.

[2019-04-09 16:21] kt3k opened #330 "//prettier/main.ts doesn't work with absolute paths."
If I have a.js, and it's not formatted, then the following works:

[code]

But the following doesn't:
[code]

[2019-04-11 22:19] tlrobinson opened #333 "Separate out generic modules that are compatible with other environments (browsers, node, etc)?"
Some of the modules in `deno_std` could potentially work in other environments such as browsers (basically anything that doesn't use `Deno` object?) As I understand it from @ry's [recent talk](https://www.youtube.com/watch?v=z6JRlx5NC9E), Deno aims to be compatible with browsers where possible.

Is there any interest in separating out the generic modules into a repository (`denoland/std`?) that ca

[2019-04-11 23:04] ry commented on #333
Yes - I’ve been wanting to establish browser tests in deno_std for applicable modules. In particular our test runner previously was used in browsers (but likely has drifted out of conformance lately as we don’t have browser tests currently). I think the first step would be establishing browser CI for just the testing framework and then slowly expand it to cover more modules. Any help in this area

[2019-04-11 23:18] zekth commented on #333
@ry to test in the browser we can run the code in a chrome headless browser by using [puppeteer](https://github.com/GoogleChrome/puppeteer) for example.
If we want to use more browser the easier solution is to setup a [selenium](https://www.seleniumhq.org/) environment. If needed i'm used to work with both.

[2019-04-11 23:23] ry commented on #333
I think puppeteer would work for a first pass - in the future we can worry about exact conformance if necessary.

[2019-04-11 23:31] zekth commented on #333
Adding the `npm install puppeteer` in the init script and write the spec files. I can give it a try. Also i think it's not really related to make it run on all platforms because it's browser related and not environment related. I can give it a try.

[2019-04-12 04:59] tlrobinson commented on #333
Any reason not to also run the test suite in Node?

[2019-04-12 11:02] runnerSnail opened #334 "discuss: cookie"
### node use cookie
`req.headers.cookie && req.headers.cookie.split(';').forEach(function (Cookie) {
        var parts = Cookie.split('=');
        Cookies[parts[0].trim()] = (parts[1] || '').trim();
    });
`
### How does deno read the cookie ？

[2019-04-12 16:44] ry commented on #333
@tlrobinson if someone wants to do that - sure. I think browser support would be the first goal.

@zekth sounds good but we should also have the ability to run the browser tests locally.

[2019-04-12 17:03] zekth commented on #333
@ry i'll provide a way to do it no worries.

[2019-04-13 15:55] zekth commented on #334
At the moment there is no helper to get cookies. You can access it by using req.headers.get("cookie") and parse it.

Will work on a helper for this.

[2019-04-14 10:04] zekth commented on #333
Also `Node` and `browser tests` can use the same asserts has they will use the same transpiled code (using `tsc -m es6` right?). Will work on `compatibilityTest` function

[2019-04-14 20:41] drdreo opened #343 "WebSocket only receiving every second event"
I am playing around with a deno socket-based chat and have encountered that only every second sent event is received on the server. I haven't figured out yet why `for await (const ev of socket.receive())` would only trigger every second time.

I have checked the network requests, and the event is definitely being sent from the client but never received on the server.

A demo repo: https://github.c

[2019-04-15 15:18] evbogue commented on #343
@drdreo I'm a little stumped here too.

I tried a very simple app

[code]

And it stops printing `req.url` on the 7th request from the client.

[2019-04-15 15:37] evbogue opened #344 "`Uncaught Error: invalid signature` in ws example server"
I'm getting this error on occasion when trying the example ws server: https://github.com/denoland/deno_std/blob/master/examples/ws.ts

This might be related to https://github.com/denoland/deno_std/issues/343

[code]

The browser application I'm using to send the message is:

[code]

[2019-04-16 11:40] drdreo commented on #343
The server `serve()` works fine for me. Tested your code as well and no problems having >7 requests.

[2019-04-17 15:07] sh7dm opened #346 "Snapshot testing"
Add `.toMatchSnapshot()` matcher to testing module

[2019-04-17 15:38] j-f1 commented on #346
What should the format be? Jest uses a CommonJS-inspired format, so here’s a few suggestions:

[code]

[2019-04-17 19:17] sh7dm commented on #346
@j-f1 look at jest

[2019-04-17 21:08] nivida opened #347 "BigInt's"
### Description

I'm working in the blockchain world as a developer and we have to handle security-sensitive and FinTech related data. This is the reason why Deno could be interesting for the usage with [DApp's.](https://github.com/ethereum/wiki/wiki/Decentralized-apps-(dapps))

We have currently a discussion over several projects because of the coming BigInt and the current solutions to represent

[2019-04-17 21:27] zekth commented on #347
Really interesting feature. I'd enjoy working on this.
I think the choice between WASM or Ts would be the benchmarks. Do you have an example of common operation that can be bottlenecked with Ts ? I can see the tests in your refs but no bench that's why i'm asking.

[2019-04-18 19:14] j-f1 commented on #346
Jest uses this format:

[code]

My two snapshot proposals alter this in a few ways:

1. Instead of using an implict comment, an explicit `import` is used.
2. Instead of creating multiple snapshots for each test with repetitions of the test name, I use an array.
3. ESM is used instead of CommonJS

[2019-04-18 19:16] j-f1 commented on #346
Here’s another proposal: eschew the JS format altogether

[code]

[2019-04-20 00:10] johnsonjo4531 opened #349 "Testing: Deep equality of sets always passes"
I would expect Sets to have different behavior than objects in deep equality testing. Currently all Set objects are evaulated as equal using `std/testing/asserts.ts`'s equal method. As side notes I would expect `new Set([1,2,3])` to equal `new Set([3,2,1])` as order shouldn't matter, and I would also expect `new Set([1,2,3])` to not equal a set with different length of elements such as `new Set([1

[2019-04-20 08:47] sh7dm commented on #349
@johnsonjo4531 I can work on this. Thanks for code

[2019-04-20 08:51] sh7dm commented on #214
@bartlomieju @zekth @hayd @chiefbiiko what's decision about this one? I'd like to do this

[2019-04-20 09:57] sh7dm opened #351 "Repo: use commitizen"
Not an issue, but I think it'll be better if we use commitizen for commit messages, it'll be easier to understand commit messages. Created issue to know your opinion.

[2019-04-20 10:07] zekth commented on #351
I think it's more revelant to add this to this issue : https://github.com/denoland/deno/issues/2075

As the guideline may be the same for the whole project.

[2019-04-20 10:13] harrysarson commented on #214
Based on my own experience of using `test.only` when developing a pull request and forgetting to remove it when submitting the patch...

It would be really good if using `test.only` would cause the test runner to exit with a non zero exit code so that CI services will pick up accidental additions of `test.only`.

[2019-04-20 10:32] zekth commented on #214
I don't think it's a good idea to exit with a non zero error code because in some cases you want to use `test.only` depending on the `env` so it will be a mess for the CI to handle this.

[2019-04-20 15:24] ry commented on #351
I had never heard of commitzen before, but I'm glad to finally understand why everyone is prefixing their commits with "feat:" and whatnot.

I can't say I'm a big fan of this style, and I don't want to introduce a dependency on some random node utility program.

I would rather follow Go's commit message style guide. "feat" and "bug" are not the most important thing I need to know, but rather what

[2019-04-21 10:35] sh7dm opened #352 "WebSocket: socket.io alternative"
It'll be nice to have something like SocketIO for deno. Maybe std module or userland repo. I'd like to work on it with somebody's help.

[2019-04-21 14:30] axetroy commented on #351
In fact, the introduction of commitizen does not require any cost.

Just install the app for Github.

https://github.com/tlvince/validate-commit-msg-bot

Unfortunately, this project is not maintained, but it is enough

[2019-04-21 14:35] zekth commented on #351
"this project is not maintained" so i don't think it's good to use it

[2019-04-21 14:36] sh7dm commented on #351
2nd one is a nice idea

[2019-04-22 13:24] axetroy commented on #347
`BigInt` only supports `integer`

But maybe we can make it support `float` in a clever way.

[2019-04-22 13:39] #349 closed

[2019-04-22 15:02] axetroy commented on #347
I tried to implement it with BigInt, it is feasible for me.

[code]

There is a problem with this, do we need to write a library of high-precision calculations in std?

I think there should be.

High-precision calculations make deno more widely used and can be applied to `blockchain/Machine learning` technology.

If @ry agree with this, I am happy to work on it.

[2019-04-22 19:39] sh7dm opened #355 "Feature: something like Cheerio"
It'll be awesome to have a web data mining tool like Cheerio in Deno. Cheerio is something like server-side jQuery

[2019-04-22 19:47] zekth commented on #347
@axetroy what about make `class Big` and `BigInt extends Big` and `BigFloat extends Big` ?

[2019-04-23 01:28] axetroy commented on #347
@zekth

`BigInt extends Big` doesn't make any sense.

If you only need integer calculations, why not use `BigInt`

[2019-04-23 01:52] hayd commented on #347
Is this available in v8?

cc @kevinkassimo

[2019-04-23 01:54] kevinkassimo commented on #347
@hayd V8 Deno using already comes with `BigInt`

[2019-04-23 06:24] zekth commented on #347
was meaning `BigInt` calculation and not `BigFloat`.

[2019-04-23 06:32] zekth commented on #355
ref: https://github.com/cheeriojs/cheerio

@sh7dm please consider add links for examples.

[2019-04-24 11:38] #334 closed

[2019-04-24 15:10] AlvaroBernalG opened #358 "Module fs is broken."
Hello good people of Denoland,

The module fs is throwing the following error :

[code]

The reason why I think nobody realised that the module was failing is because "ensure_link_test.ts" is not imported into "test.ts".

[code]

[2019-04-24 15:19] zekth commented on #358
cc @axetroy

[2019-04-25 18:35] j-f1 commented on #355
I’d suggest that given the increasing capabilities of the native DOM APIs and Deno’s philosophy of sticking to the standards, using or porting [`jsdom`](https://github.com/jsdom/jsdom) seems wiser. It seems like it can already run in a web worker, so it would probably do fine in Deno if wrapped in an ES Module wrapper.

[2019-04-26 21:20] zekth opened #363 "HTTP: Malformed requests make server crash"
As mentionned here : https://github.com/denoland/deno/issues/2216
A malformed requests makes the server crash. It has to return a `HTTP 400` error code according to the RFC: https://tools.ietf.org/html/rfc7231#section-6.5.1

https://github.com/denoland/deno_std/blob/0431b2f92fba69582f4412bfe9ad138838f46275/http/server.ts#L310

[2019-04-27 00:35] marcinkumorek commented on #352
Deno has a core WS implementation so I think it'd be a better idea to create deno dedicated WS library. Unless there is a plan to extend current WS module functionality.

Either way I can lend a hand during the development :)

[2019-04-27 00:38] krnik commented on #352
Deno has a core std module WS implementation so I think it's a better idea to create deno dedicated WS library.
Unless there is a plan or need to extend current WS module functionality.

Either way I can lend a hand during the development :)

[2019-04-27 04:12] sh7dm commented on #352
@krnik it's awesome! We can start the project after other people say if they need this!

[2019-04-27 17:14] #358 closed

[2019-04-27 23:05] AlvaroBernalG opened #365 "Docs: improper use of async iterators"
According to the current documentation the way to walk over files using async iterator (**walk**)  is the following:

[code]

where in reality it should be something like this:

[code]

or

[code]

[2019-04-29 03:21] axetroy opened #367 "Discussion: enhance strings module"
This issue discusses what modules should be included in strings.

Is it necessary to add some common methods to the strings module?

These methods may also be referenced by other std modules.

It's not copying similar `lodash`

It is a supplement to `ECMAScript` that makes up for the lack of manipulation of strings. Methods already in the specification should not add to the `strings` module.

- [

[2019-04-29 06:34] zekth commented on #367
Type checking like `isString()` is already in the polyfill of node : https://github.com/denolib/node/blob/master/util/main.ts

`escape()` is almost deprecated now and is replaced by `encodeURI()`

But i like the idea of all the casing manipulations:
- snakeCase()
- pascalCase()
- camelCase()
- kebabCase()

[2019-04-29 06:42] axetroy commented on #367
@zekth

To be honest, I am not very optimistic about `node-polyfill`

It won't let the `node` modules run on `deno` and it take a lot of times.

[2019-04-29 06:51] zekth commented on #367
Mixed feelings about node-polyfill

About casing just thoughts about something like:
- `validateCasing(value:string, type: caseType)`

[2019-05-01 09:42] axetroy commented on #351
It seems that ry has installed the `commitlint-bot`.

This issue not can be closed

[2019-05-01 21:45] #365 closed

[2019-05-02 19:10] KluVerKamp opened #376 "Zlib module"
Is there any plans to create a module to zip/unzip files and folder?

[2019-05-03 04:12] axetroy commented on #376
`deno_std` refers to [golang std](https://golang.org/pkg/archive/) to achieve.

So this should be part of the plan.

- [ ] deno_std/archive
  - [ ] tar
  - [ ] zip

If you or someone else is interested, welcome PR.

[2019-05-03 12:49] dshubhadeep commented on #367
@zekth Hi, I'm interested on working on the string functions. Please let me know which functions need to be implemented.

[2019-05-03 12:53] zekth commented on #367
As discussed with Ryan it may be in another module. So i've started this one: https://github.com/zekth/deno-case-style

Maybe a word counting / parser could be a good repo addition. I don't know what @kevinkassimo thinks about adding them to denolib or not.

[2019-05-03 13:08] dshubhadeep commented on #367
@zekth I can work on the word counter function, if you'd like

[2019-05-03 15:13] dshubhadeep commented on #367
@zekth I have submitted a pull request. Please let me know if there are any changes to be made.

[2019-05-04 14:50] zekth opened #379 "Multiple header in response"
As mentionned in : https://github.com/denoland/deno_std/pull/359

We currently can't send multiple `Set-Cookie` header due to the usage of `Headers` (allow only 1 unique key) in `ServerResponse`. But RFC says the server can send multiple `Set-Cookie` headers. For example even github do this on `http://github.com/manifest.json: see:
[code]
RFC:
[code]

So we may need to stop using `Headers` and wri

[2019-05-06 06:42] kitsonk commented on #355
Porting jsdom would be a nightmare.  It is huge and complex and has to be tightly coupled to Node.js at several levels.  On top of that, the DOM APIs for querying are really not as usable as they should have, which is why things like jQuery came along in the first place.  Given that, jQuery has a lot of baggage and I wouldn't consider it a modern API for querying DOM strings either.

That doesn't

[2019-05-06 10:41] bartlomieju commented on #306
This was done in #307?

[2019-05-06 10:43] bartlomieju commented on #201
I think this is stale now. Can we close it @ry?

[2019-05-06 10:43] bartlomieju commented on #152
CC @ry

[2019-05-06 12:56] zekth commented on #306
Yes

[2019-05-06 15:21] ry commented on #201
Thanks

[2019-05-06 15:21] #201 closed

[2019-05-06 15:21] #152 closed

[2019-05-09 09:29] yuqingc opened #383 "suggestion: add fatal handler to "log""
Go's `log.Fatal()` crashes the current process with a non-zero code. I suppose we might as well add a similar handler like "crash"(or other ways), to opt-in crash our process with a non-zero code when there is a CRITICAL-level log(for example, log.critical or log.fatal).

[2019-05-09 15:42] arcatdmz commented on #376
I have ported a simple JavaScript-based `tar` archiver to Deno during my effort to implement a web server.
https://github.com/arcatdmz/danoweb/blob/71bec75f7baea33fc320b09171a7bde4763037b6/server/tar.ts

There are multiple variations in `tar` format and it currently only supports USTAR but the other two popular formats (PAX and GNU). Still, could it be a small starting point? I could implement a b

[2019-05-09 21:15] Nautigsam opened #384 "Wrong normalization of unix-style paths"
I have the following code:

[code]
I get the following output:
[code]
I think the output should rather be like:
[code]

[2019-05-10 05:24] zhmushan commented on #384
NOT WRONG

So output `file:/tmp/toto` is as expected

[2019-05-10 11:30] hayd commented on #384
@zhmushan  why does /// become / ?

[2019-05-10 11:59] zhmushan commented on #384
Uh....
"///" is not a "normal path". It’s like "foo//bar" will be normalize as "foo/bar".
You can think of "file" as a volume, like "c:/" in windows.

[2019-05-10 15:49] zhmushan opened #386 "Export http listener"
In some case, we may need to close the listener manually.

[2019-05-10 19:06] thgh commented on #384
You cannot always collapse multiple slashes: for example:`https://` is not `https:/`

Chrome normalizes `/Users/thomas/` to `file:///Users/thomas`

<img width="241" alt="screenshot 2019-02-08 at 15 55 07" src="https://user-images.githubusercontent.com/1109982/52485784-eefccd80-2bb9-11e9-861a-5d8fa5ffb258.png">

which makes sense when reasoning about urls instead of paths.

[2019-05-10 19:22] arcatdmz opened #389 "Tests on Azure Pipelines (Mac) always fail"
I believe these failures have nothing to do with the `deno_std` code. (In my local environment, calling `npm i functional-red-black-tree` before the actual tests resolved the issue.)

- https://dev.azure.com/denoland/deno_std/_build/results?buildId=1215
- https://dev.azure.com/denoland/deno_std/_build/results?buildId=1212

[2019-05-11 00:25] zhmushan commented on #384
@thgh you should use URL API instead of path

[2019-05-11 06:46] Nautigsam commented on #384
@zhmushan That's what I ended up with: `new Url("file:///tmp/toto").pathname`.

[2019-05-11 06:49] #384 closed

[2019-05-11 17:07] zekth commented on #389
I have the same problem on one of my projects: https://travis-ci.org/zekth/deno-templates/jobs/531185589

not related to `deno_std` but `eslint`

[2019-05-11 18:17] zekth opened #391 "[discussion] text template"
I just added a repo : https://github.com/zekth/deno-templates

Which kind of do the job of : https://golang.org/pkg/text/template/
Without the logic in it.

Just wondered if it's revelant to expand and add to `deno_std`

[2019-05-11 18:24] j-f1 commented on #391
What do you think about implementing [mustache](http://mustache.github.io/mustache.5.html) instead?

[2019-05-11 18:30] zekth commented on #391
First it was just to write a module for myself so just wondering.
I've thought about migrating mustache : https://github.com/janl/mustache.js/
I may need some help because it's a bit a lot of work. Especially for the tests.

[2019-05-11 20:35] ry opened #392 "Consider porting path.swift"
https://github.com/mxcl/path.swift

Seems like a nice api

[2019-05-11 21:33] ry commented on #389
Fixed in https://github.com/denoland/deno_std/pull/390

[2019-05-11 21:33] #389 closed

[2019-05-12 08:21] zekth commented on #392
Looks nice but all the api?
Seems like you can chain a lot of `fs` features. Maybe porting it to another repo? Because `deno_std.path` is already used and may be misunderstanding.

[2019-05-12 15:28] zekth commented on #363
Merged into #369

[2019-05-12 15:28] #363 closed

[2019-05-13 06:28] kitsonk commented on #391
I don't think templating languages should be part of `deno_std`.  They really are an opinionated specialist area.

Also, [Template Literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) (in particular tagged templates and template functions) that are part of ES6 are the best parts of un-opionated templating built into the language.  There is no need these da

[2019-05-13 06:41] zekth commented on #391
Template literals does not fit the same purpose as Go Template does.
Compare : https://godoc.org/text/template#ParseFiles
You don't have this possibility in ES6 except using workarounds like using `eval`.

And that's one of the main reason to use this.

[2019-05-13 13:04] ry commented on #392
It doesn't need to be called "path". That said, I agree it would probably be better developed as an external repo... but if someone felt strongly about it, I would allow it here : )

[2019-05-13 13:11] keroxp commented on #386
I agree, and have some opinion for it.

I think `AsyncIterableIterator` is not suitable for async event handler. There is no way to stop iteration while awaiting next promise, and `yield` generally blocks generator loop. It degrades concurrency of async handler in many cases.

In fact, `await` was [remove](https://github.com/denoland/deno_std/blob/master/http/http_bench.ts#L11) from `http/http_ben

[2019-05-13 13:26] keroxp commented on #231
FYI: https://github.com/nekobato/deno-xml-parser

[2019-05-13 13:29] zekth commented on #231
Nice, would be nice to consider adding it to std. Also having the `.toString()` would be great.

[2019-05-13 13:44] zekth commented on #392
I'll start a personnal repo. Let's see how is the interest of it in the futur.

[2019-05-13 13:50] ry opened #395 "Azure Pipelines escapes forward slashes"
The output of the CI is difficult to read. Example: https://dev.azure.com/denoland/deno_std/_build/results?buildId=1232&view=logs&jobId=0da5d1d9-276d-5173-c4c4-9d4d4ed14fdb&taskId=b525c197-f769-5e52-d38a-e6301f5260f2&lineStart=1&lineEnd=14&colStart=1&colEnd=1

Apparently you can't copy&paste from the log either (another great feature, MSFT) so here's a screenshot instead:
<img width="1278" alt="Sc

[2019-05-13 14:09] zekth commented on #395
On deno_std with 0.4.0 there is no such issue:
https://dev.azure.com/denoland/deno_std/_build/results?buildId=1234

This may be related to deno 0.5.0

[2019-05-13 14:20] ry opened #396 "Move posix and win implementations in fs/path/mod.ts to separate files."
https://github.com/denoland/deno_std/blob/4e143b135a8d8119b4f7a9801e3d28fb3ae14238/fs/path/mod.ts#L119

https://github.com/denoland/deno_std/blob/4e143b135a8d8119b4f7a9801e3d28fb3ae14238/fs/path/mod.ts#L1002

[2019-05-13 14:48] axetroy commented on #396
I got this.

[2019-05-13 15:07] axetroy commented on #392
Although I think it is not a standard.

But maybe give it a try and we will see.

[2019-05-13 15:20] axetroy commented on #391
@kitsonk

We need an official template language so that users can develop quickly without wasting time looking for which library is appropriate.

This library may not be the fastest but it should exist.

`Template Literals` can't satisfy a simple template engine

[2019-05-13 15:32] zekth commented on #392
ref: https://github.com/zekth/deno-path-swift

[2019-05-13 15:51] ry commented on #392
@zekth That's  not a very good name. 1) [it uses dashes instead of underscores ](https://deno.land/style_guide.html#forconsistencyuseunderscoresnotdashesinfilenames) 2) 'swift' in the name is confusing.

Better: deno_path2, deno_easypath, deno_fs2, ...

[2019-05-13 16:03] zekth commented on #392
here we go: https://github.com/zekth/deno_easypath

[2019-05-13 16:06] axetroy commented on #392
@zekth

Here is the case.

Your code does not guarantee the order of execution

[code]

we must rewrite like this:

[code]

[2019-05-13 16:30] zekth commented on #392
I've not spotted those kind of example when i first read the documentation. You're right.

Btw i think this is revelant to add also a Sync implementation.

[2019-05-13 16:32] #396 closed

[2019-05-13 18:46] ry commented on #386
@keroxp You're absolutely right. In `for await...of`, the `next()` method is not called until the previous promise has resolved. I am ashamed to not have recognized this before.

The consequence of this is that we must remove it from the HTTP interface.

[2019-05-13 19:14] ry commented on #391
@kitsonk has a point. It's also important to note that template literals almost solve this purpose at the language level.

That said... if I do agree that template files are a very common and useful pattern, and it would probably help deno developers. Also the existence of `text/template` in Go generally satisfies my requirement for deno_std.

If we did add a template the question is what kind wou

[2019-05-13 19:33] zekth commented on #391
I've worked with both mustache and handlebars. I prefer mustache and as i've said the only real work to port it would be the tests.
+1 to port mustache in registry.

[2019-05-14 01:32] ry opened #401 "Add //ws/README.md"
And add //ws/README.md

[2019-05-14 01:59] ry opened #402 "http ServerRequest.respond({ status: 404 }) should not hang"
That is, it should be legal to leave out the the body when responding. It should default to an empty body.

[2019-05-14 02:16] ry opened #403 "import https://github.com/lucascaro/deno-uuid into deno_std"
cc @lucascaro

[2019-05-14 03:45] kitsonk commented on #391
There are some very basic code snippets that would support interpolation of strings with object values, in line with template literals in ECMAScript.  It wouldn't allow running of arbitrary code, like you can with template literals, but it could solve the main use case of templating loaded strings.  So for example, it would be something like this:

[code]

So I think it either should be kept dead

[2019-05-14 04:15] akircher commented on #391
I originally proposed using `${}` in angular 2 templates rather than `{{}}`, this did not stick but did get picked up in aurelia's templating language.  I think it was the right decision for the consistency but there is a downside - if you ever want to put the template within a template string then you have to escape it.  eg.

[code]

[2019-05-14 04:50] ry commented on #116
Moving this discussion back to the main repo, as some time as passed: https://github.com/denoland/deno/issues/2357

[2019-05-14 04:50] #116 closed

[2019-05-14 06:29] zekth commented on #391
@kitsonk i'm ok to stick with ES syntax. The module i've written handle this, but i have to add the logic to render logic of functions.
[code]
Also we need to find a symbol for conditionnal statements if we want to add it.

[2019-05-14 16:45] ry opened #405 "Fix EOF handling in //io and //ws"
There are several methods I've discovered that do not handle EOF
- [ ] `ws.readFrame()`
- [ ] `ioutil.readShort()`
- [ ] `ioutil.readInt()`
- [ ] `ioutil.readLong()`

Probably the best way to handle this is to return null on EOF?

cc @keroxp

[2019-05-14 17:05] axetroy commented on #403
Will it be better to port [https://github.com/kelektiv/node-uuid](https://github.com/kelektiv/node-uuid) ?

It contains several versions of UUID and is stable.

[2019-05-14 17:09] hayd commented on #403
Is the deno one based on this gist? https://gist.github.com/jed/982883#gistcomment-2661313

[2019-05-14 17:59] keroxp opened #407 "why noLib: true is set in tsconfig.json?"
<img width="571" alt="スクリーンショット 2019-05-15 2 39 12" src="https://user-images.githubusercontent.com/927286/57720533-fce05400-76bc-11e9-9683-7a239af7bfb5.png">

I'm using type definition file generated by `deno types > deno.d.ts` while developing. But  IDE shows many symbol errors as `noLib: true` is set in `tsconfig.json`. Why `noLib: true` is needed? Doesn't deno explicitly refer to `esnext` lib?

[2019-05-14 22:03] kitsonk commented on #407
There was a change of behaviour in TypeScript 3.2 in regards to noLib and the tsconfig should be changed to remove that and be more like https://github.com/kitsonk/deno_example

[2019-05-15 04:26] lucascaro commented on #403
mine is pretty basic  and it only supports v4, porting  https://github.com/kelektiv/node-uuid would be a better option long term

[2019-05-15 04:29] lucascaro commented on #403
on the flip side, porting https://github.com/kelektiv/node-uuid would require more work since there's a fair amount of re-writing needed.

[2019-05-15 04:30] lucascaro commented on #403
yep

[2019-05-15 13:28] ry opened #408 "tests make modifications to the source directory"
There are several tests which modify testdata files in the source tree. This is bad practice.

CI should be changed so that the source tree is immutable, to ensure these errors don't creep back after they're fixed.

[2019-05-15 13:57] ry commented on #386
@keroxp While I agree with you, I do want to avoid having a callback that is triggered for each request. Generally you want to receive new requests as quickly as possible, but there are situations where a server becomes overloaded and should not try to get new requests. There should be some way of giving back pressure. With a callback API, back pressure is only achieved with additional methods (of

[2019-05-16 04:18] axetroy commented on #408
The existing test case should be changed step by step.

[2019-05-16 04:48] locol23 commented on #401
I'd like to work on this.

[2019-05-16 08:57] zekth commented on #392
Improved the API and the chaining:
https://github.com/zekth/deno_easypath

Also waiting for https://github.com/denoland/deno_std/pull/278 to land for copy and will work on LS to be as tied as path.swift.

Suggestions welcome.

Thanks to @bartlomieju for the contributing.

[2019-05-16 12:06] irustm opened #409 "readMIMEHeader exception: malformed MIME header line"
[code]

[2019-05-16 12:43] zekth commented on #409
Is your cache up to date for deno_std?
Could you run it with `--reload` ?

[2019-05-16 13:19] irustm commented on #409
Yeah, I've tried the latest version, too.

[2019-05-16 13:50] irustm commented on #409
and
[code]

[2019-05-16 14:26] ry commented on #401
The examples were already moved in #394, but a readme would be a welcome addition to //ws

[2019-05-16 14:29] ry commented on #392
@zekth Nice! Consider submitting it to the registry.

Also, the "new EasyPath" seems kinda weird. Why not have a constructor function?
[code]

[2019-05-16 14:29] #392 closed

[2019-05-16 15:18] arcatdmz opened #410 "[discussion] Non-MIT License code in deno_std"
With regards to #376, I've started to port `pako` to Deno, a JavaScript port of `zlib` library.
https://github.com/arcatdmz/deno_std/tree/feat-archive-zip/archive

What I've just noticed is that `zlib` is under zlib license, which looks pretty flexible and "free" but is definitely NOT the MIT License.
https://en.wikipedia.org/wiki/Zlib_License

Would it be okay to mix some code under a different l

[2019-05-16 15:23] ry commented on #410
@arcatdmz zlib license looks fine and MIT compatible. But please highlight which files are under this license when you submit your code, and ensure they have the proper headers.

Thanks for raising this.

[2019-05-16 15:23] #410 closed

[2019-05-16 16:21] #261 closed

[2019-05-16 18:55] ry opened #412 "Rename //multipart/multipart.ts to //mime/multipart.ts"
As is done in Go https://golang.org/pkg/mime/multipart/

[2019-05-17 09:45] locol23 commented on #401
Thanks, I got it
I'll try adding //ws/README.md

[2019-05-18 06:13] runnerSnail commented on #409
[code]

[2019-05-18 06:16] runnerSnail commented on #409
I made the same mistake

[2019-05-18 09:53] zekth opened #414 "[http] Promote use of enums"
After seeing this : https://github.com/denoland/deno_std/pull/411/files#diff-b462a10d351b72f15940c98312099c4eL11

I thought it would be revelant to promote the use of `http_status` enumerable in the doc instead of direct use of http code.

ref: https://github.com/denoland/deno_std/blob/master/http/http_status.ts

[2019-05-18 10:04] zekth commented on #403
https://github.com/denoland/deno/pull/2327 would be revelant to use in `deno-uuid` no?

[2019-05-18 10:24] axetroy commented on #412
How about `media_types`?

it should rename to `mime`?

[2019-05-18 14:42] ry commented on #409
I'm unable to repeat this error. If you're able to trigger this exception reliably, please copy and paste the exact HTTP request.

You can attempt to put the request into one of these tests:
https://github.com/denoland/deno_std/blob/c2f5a7cf2206a9a476e0e9b116db00ced327f188/textproto/reader_test.ts#L147-L167
and see if you can trigger a failure.

[2019-05-18 15:16] zekth commented on #409
I can reproduce. Working on it.

[2019-05-18 17:21] ry commented on #412
I was thinking the same - but we should search Go's std lib to see if there's a corresponding structure.

[2019-05-18 17:56] zekth commented on #321
At the moment the Typedoc version is 0.14.2 and it embeds typescript 3.2.4. This does not compile our code.
The next release 0.15.0 embeds typescript 3.3.X which is still behind us.

We'll still have to wait for the auto Documentation of the API.

[2019-05-18 18:05] #409 closed

[2019-05-18 18:36] hayd commented on #321
Is matching ts version with deno a hard requirement?

[2019-05-18 18:46] #407 closed

[2019-05-18 20:21] zekth commented on #321
Problem is the code does not compile in the Typedoc env 😢

[2019-05-19 14:51] axetroy commented on #321
we can add a plugin for `typescript`.

try this https://github.com/justjavac/typescript-deno-plugin

[2019-05-19 15:38] zekth commented on #321
Even with the plugin i still got compilation error. I can run it with this command :
`typedoc  --exclude "flags/examples.ts,**/testdata/**,examples/**,**/*+(test).ts" --ignore
CompilerErrors --tsconfig ./tsconfig.json ./`

if you want to try just use : `npm install -g typedoc`
and add this to the compiler options in the tsconfig:
[code]
But i'm not pretty happy with the result, especially with the

[2019-05-19 18:32] bartlomieju opened #418 "Consider moving deno testPerm and unit_test_runner to std library"
Once we get support for `import()` and start working on more concrete test runner I suggest we should consider introducing `testPerm` function and logic from `unit_test_runner` to standard library.

Rationale:
Since we have `Deno.permissions()` API it's crucial to test applications with different set of permission and I believe we should support it as first class citizen.

I decided to open this i

[2019-05-20 06:44] kitsonk commented on #412
Yeah, the only objection is that mime is very antiquated term.  Can I blame Go for being stuck in the early 2000? `media_type` is much more correct name.

[2019-05-20 07:34] zekth commented on #412
Agree. See: https://tools.ietf.org/html/rfc6838

[2019-05-20 08:06] bartlomieju commented on #383
I can see usages for that, if there's enough interest we should consider adding `logger.fatal()` that has the highest priority and exits with non-zero code.

[2019-05-20 09:37] bartlomieju commented on #249
`AssertionError` is now used in `testing/asserts.ts` so I guess this issue can be closed

[2019-05-20 09:41] bartlomieju commented on #40
I believe this was resolved in #49, can we close this now?

[2019-05-20 09:41] bartlomieju commented on #162
This is now available with `runIfMain(import.meta)`.

Can this issue be closed now?

[2019-05-20 09:44] bartlomieju commented on #213
With ESLing in CI pipeline can we close this issue?

[2019-05-20 12:20] #162 closed

[2019-05-20 13:23] ry commented on #321
I'm all for getting typedoc working, but FYI I have larger plans for documentation that will not involve typedoc.

[2019-05-20 13:28] zekth commented on #321
If it's ok for you @ry i can write down the CI scripts to generate the `/docs`. Also maybe some theming to fit the colors of `deno.land` website could be good.

[2019-05-20 14:14] ry commented on #412
Nevertheless, I think it will be easier if we stick to Go structure as much as possible.

So Let's move meda_type stuff into mime.

[2019-05-20 14:21] #249 closed

[2019-05-20 14:22] #40 closed

[2019-05-20 15:28] zekth opened #421 "[fs] MacOs : flaky copy test"
[code]

Sometimes it happens randomly on MacOs.

cc @axetroy

[2019-05-20 16:21] axetroy commented on #421
This should be a bug for `Deno.utime`

Loss of precision when changing timestamps using `Deno.utime`

[2019-05-20 16:32] axetroy commented on #421
I tried it, `deno.stat()` does not change the file's `accessed` attribute.

So whenever you access, you get consistent properties.

### Let's try

[code]

[code]

### Source Code

https://github.com/denoland/deno_std/blob/301c12d9d20d94d0ed36a394353835a90b5e9249/fs/copy.ts#L87-L94

### Conclusion

I guess the problem does not appear in the `copy module`, but in `Deno.utime()`

[2019-05-21 04:41] kitsonk commented on #412
To be somewhat impertinent, I would never have known that Go uses `mime` except for this thread.  Following Go only makes sense to people who have a Go background.  I don't think that is the target for Deno, to make a secure JavaScript runtime for Go users.  We have borrowed from Python, Rust, Go, Node.js, web standards, and ECMA script proposals as appropriate.  I personally don't see what blind

[2019-05-21 05:34] kitsonk commented on #213
No, this is more than that.  Now that `tsconfig.json` is support on the CLI, we would want to change the CI to run Deno in strict mode in addition to linting.  I haven't tried it yet, but I suspect it will throw out a huge amount of errors.

[2019-05-21 07:57] axetroy opened #424 "[discussion] Do not use glob for prettier by default"
Use glob if there should be a wildcard, otherwise, use a normal file path

Otherwise, it is difficult for `Prettier` to format a specific file.

eg. in `deno_std` directory.

### We want to format the `test.ts` file.

only this file, no one else.

[code]

### Does it look right?

No.

It will format all files under `deno_std` directory which match with `/test\.ts/g`.

It is difficult to specify a

[2019-05-21 08:59] jamesseanwright commented on #193
I also agree that convention > configuration, so I'll support you in following the `_test` suffix.

[2019-05-21 09:04] bartlomieju commented on #213
Thanks for comment @kitsonk, I'll look into it

[2019-05-21 09:21] yuqingc opened #425 "bug(file_server):clicking filename/dirname makes url absolute path with a 404 code"
I ran the new file_server example with the --reload flag. There's a bug. When I click one of the file/dir name on the home page, the url becomes the absolute path of my OS, which leads to a 404 of that resource. In line 52 of file_server.ts, the absolute path is passed to the display function, making this error.

[2019-05-21 09:22] yuqingc commented on #425
https://github.com/denoland/deno_std/blob/master/http/file_server.ts#L152

[2019-05-21 10:05] yuqingc commented on #425
Modifying line 165 should work. I have tested. Should I open a PR for that?

From
[code]
to
[code]

[2019-05-21 11:37] zekth commented on #425
Which version of Deno are you running? Cannot reproduce on 0.5.0

[2019-05-21 13:36] #412 closed

[2019-05-21 13:47] ry commented on #412
@kitsonk Could you have a look at the documentation for https://golang.org/pkg/mime and let me know if it is trying to accomplish the same thing as our `//media_type` module here.

For example [`TypeByExtension()`](https://golang.org/pkg/mime/#TypeByExtension) seems to correspond to `media_type.lookup()` ?

Although the naming might be anachronistic, pushing our code towards the Go directory struc

[2019-05-21 17:06] ry opened #427 "readRequest in go does not take a Conn as an argument"
https://github.com/golang/go/blob/1d1ba85d9986bb56226046c06dec4ce63ef9fe48/src/net/http/request.go#L992

The corresponding code in http/server.ts should be changed to also not depend on conn.
https://github.com/denoland/deno_std/blob/aad0896346805513dc87eb01cd867a1513f574b1/http/server.ts#L201-L220

[2019-05-21 17:42] Nautigsam commented on #402
I will work on this for my first work here.

[2019-05-21 18:04] ry opened #428 "import typescript into deno_std"
Yes, it's built into deno, but it's difficult to access from the special snapshot where it's stored.

It would be nice to have access to typescript in 3rd party code. So the easy solution is to just import it in here.

[2019-05-21 23:59] kitsonk commented on #412
@ry it certainly is similar, but the APIs in `media_type` are based on other open source JavaScript projects that are the foundations of Express, Koa, etc. so there is quite a bit of inconsistency in the API design which likely would make the tests not specifically re-usable in this case.

I get your point, I just wanted to vent my spleen a bit. 😁 I understand what you've added to the readme, don'

[2019-05-22 02:28] kt3k commented on #424
npm has `is-glob` module. This looks a more robust approach to me.

[source](https://github.com/micromatch/is-glob/blob/master/index.js), [test](https://github.com/micromatch/is-glob/blob/master/test.js)

[2019-05-22 02:31] axetroy commented on #424
@kt3k yes. that's great.

Are you interested in porting it?

[2019-05-22 05:33] kt3k commented on #424
@axetroy
I'm interested in it, but I can't start it right now. If you can do it, I appreciate your help!

[2019-05-22 08:55] zekth commented on #412
I agree with both of you. But atm staying more close to golang std give us the availability to port their tests cases and have a better coverage of the code. Illustration here: https://github.com/denoland/deno_std/pull/419

[2019-05-22 11:05] dshubhadeep commented on #424
@axetroy I would like to work on it, if that's okay with you

[2019-05-22 11:25] axetroy commented on #424
@dshubhadeep
I appreciate your help.

expose a new function name `isGlob`

[code]

[2019-05-22 12:41] dshubhadeep commented on #424
axetroy in which module should I add the function ? Btw the is-glob module also checks for extglob. Should that be added as well ?

[2019-05-22 13:02] axetroy commented on #424
@dshubhadeep
It should be added to `fs` module `glob.ts` file

[2019-05-22 13:30] #427 closed

[2019-05-22 13:47] zekth opened #431 "Adding csv to deno_std"
As we have TOML support this is revelant to have CSV.
In golang it's in the encoding csv package: https://golang.org/pkg/encoding/csv/

If we add csv to deno_std, would it be revelant to move TOML to `encoding/toml` ?

note: working on the CSV parser ATM

[2019-05-22 13:49] ry commented on #431
All for it. And yes I think that move would be appropriate.

[2019-05-22 13:50] zekth commented on #431
Will move toml when i'll push CSV so.

[2019-05-22 13:53] axetroy commented on #431
How about existing encoding like `json`?

It already has a built-in API for `ECMAScript`, does it need to be added to `encoding` module?

[2019-05-22 13:59] ry commented on #412
@kitsonk Actually ya the fact that media_types is an oft used API is good enough to not change it.

[2019-05-22 17:44] zekth commented on #431
@axetroy i don't think so, but XML would be cool too.

[2019-05-22 23:47] piscisaureus opened #436 "BufReader's interface is un-idiomatic javascript."
Currently `BufReader.readLine()`, `readSlice()`, `peek()` etc return a Promise resolving to a `[result, BufState]` tuple, where BufState is non-null if an error condition has occurred.

The exact definition of `BufState` is:

[code]
(Note that some of these BufState values aren't applicable to BufReaders; they're only applicable to BufWriters.)

This may be idiomatic in go (which doesn't have exce

[2019-05-23 02:33] #402 closed

[2019-05-23 02:36] #425 closed

[2019-05-23 05:40] ry commented on #436
SGTM

[2019-05-23 15:52] runnerSnail opened #439 "please how to redirect new url in http module ?"

[2019-05-23 15:59] runnerSnail commented on #439
sorry i know

[2019-05-23 16:30] MarkTiedemann opened #441 "ws module broken"
https://github.com/denoland/deno_std/pull/430 removed the `conn` property from `ServerRequest` "because it's not used anymore". However, this property is still used in `acceptWebSocket` (see: https://github.com/denoland/deno_std/blob/master/ws/mod.ts#L368). So the `ws` module is broken now.

[2019-05-23 16:43] ry commented on #441
Oops. And apparently not tested well.

[2019-05-23 16:49] ry commented on #441
We should consider
https://golang.org/pkg/net/http/#Hijacker
https://github.com/golang/net/blob/f3200d17e092c607f615320ecaad13d87ad9a2b3/websocket/server.go#L73

[2019-05-23 17:06] MarkTiedemann opened #442 "Error "Cannot read property 'w' of null at iterateHttpRequests" on aborted connections"
[code]

[code]

[code]

When I restarted the server and ran another load test, it crashed again. Might not be related to the high load, though.

[2019-05-23 17:13] zekth commented on #442
@piscisaureus is it due to the deletion of `await req.done.resolve()` ?

[2019-05-23 20:50] MarkTiedemann commented on #442
Still the same.

[code]

[2019-05-23 20:52] zekth commented on #442
Related to this: https://github.com/denoland/deno_std/pull/443

[2019-05-23 21:25] MarkTiedemann commented on #442
It seems to crash only at the end of the load test rather than because of the load. So probably when requests are being aborted.

[2019-05-23 21:36] zekth commented on #442
well that's a nice hint!

[2019-05-23 21:41] MarkTiedemann commented on #442
Yes, on each `autocannon` run. I can basically watch the server and wait until it crashes to see when the load test is over.

I did try to reproduce making different combinations of aborted and partial requests from Node, but couldn't reproduce it yet. Maybe it's the combination of a certain load and aborted requests or something of that sort.

[2019-05-23 22:13] zekth commented on #442
After 9 runs no crash on my side. Running on OSX with deno 0.6. What's the env you're running on?
If you can maybe try to put a wait on the server side for keeping the request up and cancel it before write the response? Using : https://github.com/axios/axios#cancellation

[2019-05-23 22:45] MarkTiedemann commented on #442
macOS 10.14.4, deno 0.6.0.

[2019-05-24 07:27] axetroy opened #445 "[bytes] No test cases running"
There is nowhere to run the test case of `bytes`.

I will fix this later

[2019-05-24 07:57] axetroy commented on #347
Using `big` module in here

[code]

[2019-05-24 08:29] MarkTiedemann commented on #442
Did you run `autocannon` with `--duration` or `--amount`?

I just ran `autocannon --duration 1 localhost` 10 times. Each time, the server handled ~`16000` requests just fine, then crashed at the end.

When I ran `autocannon --amount 16000 localhost` 10 times, however, the server didn't crash a single time.

So I'm pretty sure that it has to do with how the connections are closed. When running with

[2019-05-24 08:31] #299 closed

[2019-05-24 08:38] zekth commented on #442
i've copied your example:
`autocannon localhost`

So i'll work on with your new investigation. Thanks

[2019-05-24 09:04] MarkTiedemann commented on #442
Cloned `deno_std` and added a good old console log...

[code]

[code]

The `req` variable which is `null` comes from [`[req, bufStateErr] = await readRequest(bufr);`](https://github.com/denoland/deno_std/blob/7a722ceffc0b60305863c1417ef22b835db0d58d/http/server.ts#L262). In `readRequest` there's an [`if (err) { return [null, err]; }`](https://github.com/denoland/deno_std/blob/7a722ceffc0b60305863c

[2019-05-24 09:05] MarkTiedemann commented on #442
In any case, we shouldn't try to send a HTTP 400 response when we can't read the status line of the request, right?

[2019-05-24 09:07] zekth commented on #442
Right. Because it can't be read as a HTTP request we don't have to answer.

Maybe @ry or @piscisaureus can confirm?

[2019-05-24 09:10] MarkTiedemann commented on #442
On a side note, having the HTTP server in the std lib makes it surprisingly easy to debug. :heart:

[2019-05-24 10:10] MarkTiedemann commented on #442
Here's a reliable reproduction:

[code]

[code]

[2019-05-24 11:26] runnerSnail commented on #439
[code]

[2019-05-24 11:27] runnerSnail commented on #439
it dont work,sad~

[2019-05-24 11:44] #445 closed

[2019-05-24 11:46] ry opened #447 "functions in bytes should not be prefixed with "bytes""
EG `bytesFindIndex()` ... it should be `findIndex()`
https://github.com/denoland/deno_std/blob/bd46d60ded3197d93a52ede92eba7302df9b4713/bytes/bytes.ts#L5

[2019-05-24 11:51] #439 closed

[2019-05-24 11:51] runnerSnail commented on #439
i know

[2019-05-24 12:07] ry commented on #439
Can you explain what happened, in case someone else has the problem?

[2019-05-24 12:18] axetroy commented on #447
I will do this.

By the way

Is this directory structure a bit strange? eg `bytes/bytes.ts`

[code]

Should it be reconstituted like this

[code]

[2019-05-24 12:20] ry commented on #447
Sure. Also strings/strings.ts

[2019-05-24 12:40] #447 closed

[2019-05-24 13:52] zekth commented on #431
merged.

[2019-05-24 13:52] #431 closed

[2019-05-24 15:06] runnerSnail commented on #439
[code]

[2019-05-25 14:17] #424 closed

[2019-05-26 11:15] bartlomieju opened #454 "Rewrite flags module in strict mode"
I've started implementing strict mode for code in this repo. Most of the changes are not so bad, but `flags` module has to rewritten completely to conform to strict mode.

[2019-05-26 13:53] zekth opened #455 "[encoding/csv] add easyCSV parse"
I developped a wrapper for CSV with proposals of @j-f1 and @bartlomieju .

https://github.com/zekth/deno_easyCSV

I think it would be a good addition to add `parse` function to `std`.

[2019-05-26 14:27] bartlomieju commented on #454
Merged into #453

[2019-05-26 14:27] #454 closed

[2019-05-26 16:21] sh7dm commented on #401
@ry looks like it's done

[2019-05-26 23:57] ry commented on #455
SGTM

[2019-05-27 03:25] axetroy opened #457 "[Prettier] read code from stdin and output formatted code to stdout"
something like this.

[code]

[code]

try it out

[code]

[2019-05-27 12:34] #401 closed

[2019-05-29 13:22] youth95 opened #462 "Wanted: A http util funciton to make a response from file or anywhere"
like this:
[code]
or modify `http/file_server.ts` 124 line number like this
[code]

then we can:
[code]

is it usefull ?

maybe we can do more like:

- `fromRequest(url:string):Promise<Response>`
- `fromFtp(url:string):Promise<Response>`
- and more

[2019-05-29 13:46] zekth opened #463 "[http] refactor parseHTTPVersion"
following https://github.com/denoland/deno_std/pull/444#discussion_r288567556

cc @piscisaureus @MarkTiedemann

[2019-05-29 15:33] bartlomieju commented on #352
This is outside of standard library scope, as pointed by @krnik a dedicated library would be better suited for this issue.

CC @ry I think we can close this one

[2019-05-29 15:44] #352 closed

[2019-05-29 16:59] #436 closed

[2019-05-30 02:21] zhmushan opened #465 "Uncaught error when the listener is closed"
**Version:** v0.7.0

**Code:**
[code]
**Expected behavior:**
[code]
**Actual behavior:**
[code]

[2019-05-30 12:59] #213 closed

[2019-05-30 21:46] ry opened #471 "Wanted: installer"
[code]
a program which installs itself into your $PATH. It will walk your $PATH, find a writable directory, writing a new shell script into it called `$PATH/deno_install`

The shell script will look like this:
[code]
So now people can run this:
[code]
This will create a new executable shell script called `$PATH/file_server`, which would have the following contents:
[code]

[2019-05-30 21:51] bartlomieju commented on #471
This is super useful! I'll work on that

[2019-06-02 08:03] runnerSnail opened #477 "Not expected req.w error"
[code]

[2019-06-02 09:13] zhmushan commented on #477
Tested on `http@v0.7.0`
[code]
[code]

[2019-06-02 12:34] j-f1 commented on #463
Was this fixed by #452?

[2019-06-02 12:38] zekth commented on #463
No, it was the port from golang. A refactor of it was mentionned in the comments of the ref.

[2019-06-02 12:56] j-f1 commented on #386
Maybe something like

[code]

This would specify that up to 5 requests can be handled at once, with further requests being forced to wait until previous ones are finished.

Alternatively, maybe encouraging a `Worker`-based API?

[code]

This would automatically boot new workers as needed and potentially kill them if server load decreases. The `initWorker` function could be used to enable workers t

[2019-06-02 18:48] ry commented on #386
@j-f1 I think features like that should be left to frameworks.

Upon further thinking I think for-await loop is fine API. We should adjust the documentation to remind people not to await in the loop.

[2019-06-03 01:42] #408 closed

[2019-06-03 03:42] runnerSnail commented on #477
I'm not sure what the reason is, but it can't be repeated. It can be solved after reload. I shut it down

[2019-06-03 11:40] runnerSnail commented on #477
![image](https://user-images.githubusercontent.com/40654631/58799142-0b27ed00-8637-11e9-9e1b-f8f94201a1d4.png)

browser quick press command + R  error

[2019-06-03 12:17] #477 closed

[2019-06-03 14:13] runnerSnail commented on #477
cant repeat

[2019-06-04 16:51] lucascaro commented on #403
taking a stab at this right now, I'll do an initial import of my code but using an api inspired in node-uuid, so we can iterate on it.

[2019-06-05 23:49] kitsonk opened #481 "Deno master (TypeScript 3.5.1) regressions"
Upgrading to Deno that includes TypeScript 3.5.1 will break `deno_std`.  TypeScript closed a couple big untype safe situations when dealing with generics and it seems several bits of code had potentially un-type-safe situations:

[code]

These regressions could be addressed before we try to upgrade, or otherwise the CI will go 💥 💣 .

[2019-06-06 01:03] kitsonk opened #484 "assertStrContains and assertArrayContains"
IMO, Both of these should be better aligned to current ES and shouldn't be seperate functions, but the same overloaded function. Also the array variant should allow a single item to be searched, versus only matching on an array:

[code]

[2019-06-06 15:15] mrkurt opened #485 "More fetch-like http server interface?"
I'd like to submit a PR to make the http server more fetch like. The biggest gap right now is the `url` property, `ServerRequest` just gives the pathname + querystring, `Request` is the full URL including protocol and hostname.

I'm guessing there are more fiddly differences, but so I'd like to fix that ^^ plus whatever else doesn't match. Is that a reasonable change?

[2019-06-07 12:59] jamesseanwright commented on #379
I've just run into this problem today. Looking at the [`Headers` class](https://fetch.spec.whatwg.org/#headers-class) heading in the [`fetch` spec](https://fetch.spec.whatwg.org) reveals an interesting caveat:

Looking at that last sentence, it seems that we'll somehow have to abstract or augment `Headers` and consume this in the HTTP module's [`writeResponse` function](https://github.com/denoland

[2019-06-07 17:44] irustm commented on #441
Tell me, please, what have you decided on this issue?

[2019-06-07 18:23] zaynv commented on #471
It would be cool if this could just be a part of the `deno` program itself since subcommands are used now maybe something like

[code]

[2019-06-07 18:25] bartlomieju commented on #471
@zaynv this will most likely happen after we land it here. I shall have prototype before end of weekend

[2019-06-09 11:56] bartlomieju commented on #471
It looks like [denoget](https://github.com/syumai/denoget) already does most of the stuff described in the issue.

Maybe we could import it into std and change some things (no need for wget and update directory selection).

CC @syumai @ry

[2019-06-09 11:57] bartlomieju commented on #471
Should we select first writeable dir? How about keeping it all in one place and using `~/.deno/bin` for that purpose?

Also we should take a moment to figure out how to go about updating and/or reloading of installed scripts

[2019-06-09 14:27] ry commented on #471
~/.deno/bin sounds good to me

[2019-06-09 15:21] syumai commented on #471
Thanks @bartlomieju !
I think what [denoget](https://github.com/syumai/denoget) does is almost same as @ry says.

Usage of denoget:

[code]

This command creates files below:

1.)
path: ~/.deno/denoget/src/file_server.ts
content: `import 'https://deno.land/std/http/file_server.ts';`

2.)
path: ~/.deno/denoget/bin/file_server (shell script)
content: `deno --allow-all /Users/syumai/.deno/denoget/src

[2019-06-09 15:31] syumai commented on #471
In Go's way,
* `go get <script>` installs script.
* `go get -u <script>` updates and installs script.

These behaviors may be helpful to decide command name ;)
* `deno get / install <script>`
* `deno get / install -r <script>` // This flag has consistency with deno's original refreshing option.

[2019-06-09 15:41] ry commented on #471
Let’s just call it “deno install” for now. I think “deno fetch” and “deno get” are confusing next to each other.

[2019-06-09 15:44] bartlomieju commented on #471
content: import 'https://deno.land/std/http/file_server.ts';

I think 1) can be skipped and included directly in 2)

We can automate it

denoget adds launch options like --allow-net --allow-write to generated shell script.

Can you elaborate? Won't `fetch` allow to read content of file after redirects?

Re: installation `deno install`, `deno install --update` and `deno uninstall` should handle wha

[2019-06-09 16:04] syumai commented on #471
Yes, this can be

[code]

directly.

Maybe what I should try is to implement feature of this TODO comment.
https://github.com/denoland/deno/blob/master/js/fetch.ts#L246

Thanks! I'm going to start doing it this week ;)

What I'm going to do:
1. Fix redirect of deno fetch
2. Create PR to add `installer` to std (based on denoget)
Is this ok? If it is, I start doing it. @bartlomieju

[2019-06-09 16:24] bartlomieju commented on #471
Sure, you can start with `installer` to get the ball rolling and we'll figure out fetch in the meantime

[2019-06-09 16:31] syumai commented on #471
OK, then I create a PR to std first.

[2019-06-09 17:07] syumai commented on #471
@bartlomieju @ry I created a PR 🙏
https://github.com/denoland/deno_std/pull/488

[2019-06-11 22:47] ry commented on #485
SGTM

[2019-06-12 00:08] sholladay commented on #386
Oops. I think multiple frameworks are doing that.

Code like this, right?

https://github.com/sholladay/pogo/blob/e63ae6004b3ea4176e0c9918c351728727933202/main.js#L56

Looking at it with a fresh pair of eyes, I guess that is waiting until the first request is completely responded to before making any progress on a second request. We don't actually want to block the loop, though.

[2019-06-12 00:13] ry commented on #386
[code]
Yeah - that's bad. It's obvious once you think about it, but we're all still new to for-await, so I think a reminder in the docs would be the best approach.

[2019-06-12 03:22] sholladay commented on #386
Yeah, agreed that documentation about `await` is important. I fixed the usage in pogo.

In terms of being able to close the listener, what are your thoughts? I'm not really sure how to implement a `server.stop()` method. I tried setting a boolean that `break`s out of the loop, but of course this means the server will keep listening until a new request comes in. And in fact, `break`ing out of the l

[2019-06-14 13:28] barthuijgen commented on #376
For my project I need to parse a gzip compressed http response, but sadly I found absolutely no way to complete this task in Deno even when allowing hacky solutions, zip is not implemented and I could not spawn a child process to use a external program either.

The nodejs method would be `zlib.createGunzip()`

Seeing how you wish to port the go std, this would be the one: https://github.com/golang

[2019-06-14 15:43] #471 closed

[2019-06-14 22:10] thefliik opened #491 "suggestion: a decoder/assertion library"
Something I've found to be a recurring need: taking an `unknown` input, asserting that it has a specific shape, and either returning a response that is correctly typed in typescript or returning an error.

You could call this a decoder library or an assertion library, but would adding a package to deno_std that deals with this be appropriate?

As an example, recently I started using a small but he

[2019-06-14 22:13] thefliik commented on #491
Beyond simply providing a unified API for (what I think is) a common programming task, a decoder library is generally going to be related to an application's security, so I think it could benefit from being maintained in `deno_std`.

[2019-06-14 22:30] thefliik commented on #491
#484 could be related (in that a generalized decoder API would be able to handle the assertions described in that issue).

The main advantage of providing a decoder API, instead of using individual `assert()` functions, would be composability.

[2019-06-14 22:34] thefliik commented on #484
#491 may (?) be another approach to this same issue.

[2019-06-15 13:33] bartlomieju commented on #455
Done in #458?

[2019-06-15 13:40] zekth commented on #455
we can close it yes.

[2019-06-15 13:49] #455 closed

[2019-06-15 13:56] zekth commented on #484
Agree for the renaming.

About the separates functions i've focus on the Jest implementations, see: https://jestjs.io/docs/en/expect.html

I don't think it's better to have it just one function. It's more a philosophy question than a technical one.

[2019-06-16 11:59] bartlomieju commented on #130
@ry do you still want tu pursue this issue?

[2019-06-16 11:59] bartlomieju commented on #193
FYI I'm working on it

[2019-06-16 12:02] bartlomieju commented on #481
These issues were addressed in #487

[2019-06-16 12:03] #481 closed

[2019-06-16 15:05] ry commented on #130
No - closing

[2019-06-16 15:05] #130 closed

[2019-06-17 04:20] axetroy opened #496 "installer support windows"
current install only supports `Linux/osx`

We can refer to the npm executable

Because it is a sh file, it does not have cross-platform capabilities.

It should be changed to the `deno` executable

https://github.com/denoland/deno_std/blob/aa628cb926078375c3164711e49af1bd71825983/installer/mod.ts#L209-L214

[code]

But there is a problem here.

`#!/usr/bin/env deno run --allow-run` The parameters

[2019-06-17 04:39] #496 closed

[2019-06-17 09:43] bartlomieju opened #497 "Upgrades to installer"
After initial landing of installer there are still a few things to upgrade:
- support for Windows (#496)
- use `deno fetch` instead of downloading remote file or checking for local file - it will preload dependencies - better than fetching and discarding file
- expose `uninstall` command

[2019-06-18 08:34] axetroy opened #500 "Installer: missing real test in different platforms"
ref #497

currently, the installer has unit test only.

Did not test whether the installed module can run in the system.

- [ ] Windows
- [ ] MacOS
- [ ] Linux

I will work on this after #499 is merged

[2019-06-18 08:42] axetroy opened #501 "installer: installed module can not run in fish terminal"
eg. install `file_server`

[code]

run installed module `file_server` in [fish](https://github.com/fish-shell/fish-shell) terminal

[code]

Temporary solution:

[code]

[2019-06-18 10:13] arcatdmz commented on #376
I was working on the port of `pako` library which allows binary equal output as the famous `zlib` implementations, while it is still on its way.

Probably I can have some time to do the rest (provide an API on top of the `pako` port) by the end of this month, but if you are in a hurry, you can find a working prototype here in my fork:
https://github.com/arcatdmz/deno_std/blob/feat-archive-zip/arch

[2019-06-18 12:38] axetroy commented on #497
How about changing the file directory to something like this?

[code]

[2019-06-18 12:43] bartlomieju commented on #497
Yes, that was my plan, `mod.ts` would be entry point that does flag parsing and calls either `install` or `uninstall`

[2019-06-18 12:46] axetroy commented on #497
@bartlomieju
That's the problem: Where to parse the uninstall command's flag.

The command `install` and `uninstall` parse flags in `mod.ts` together?

[2019-06-18 12:51] bartlomieju commented on #497
Yep:
[code]

It can be then easily wired in Deno CLI

[2019-06-18 14:20] davidjamesstone opened #503 "http file_server support for ? or # in url"
The http file_server module returns 404 in the event the url contains a query string.

When matching urls to file paths, only the url pathname part of the url should be used.
This matches the behaviour of other static file servers like e.g. `python -m SimpleHTTPServer`.

[2019-06-18 15:13] axetroy opened #506 "discuss: disable all "import * as xxx""
For some reason, we need to disable this syntax in `deno std`

### Why I want to disable it?

Sometimes we only need a function of the module. eg:

[code]

In order to use `fs.exists(filepath)`, we need to download all the dependencies under `fs/mod.ts`, which is not worth the candle in the long run.

Especially after the `deno bundle` implementation, it will produce useless extra code.

### What

[2019-06-18 16:50] ry commented on #506
I agree that usually this should be avoided if there's only one function - but I'm not sure about making it illegal in general...

[2019-06-18 22:32] ry opened #508 "file_server should display files in alphabetical order"
currently I see this

<img width="392" alt="Screen Shot 2019-06-18 at 6 32 13 PM" src="https://user-images.githubusercontent.com/80/59724328-6b9e5900-91f7-11e9-9203-8f816a25c1ef.png">

[2019-06-19 01:42] axetroy commented on #497
@bardiarastin

List items 1 and 2 are completed. Do you want to do the third item?

[2019-06-19 08:48] bartlomieju commented on #497
@axetroy yes I do, btw you were pinging wrong person 😅

[2019-06-19 08:49] bartlomieju commented on #501
@axetroy is this issue still valid after #499?

[2019-06-19 08:50] axetroy commented on #501
@bartlomieju yes.

[2019-06-19 08:58] bardiarastin commented on #497
Wrong person here 😅🙋🏻‍♂️❤️
just wanted to mention that I was receiving emails entire time but I wanted to act like nothing has happened 😂😬

[2019-06-19 12:14] axetroy commented on #497
Currently using `deno fetch` without --reload.

This may cause the module to not update when reinstall.

[2019-06-19 12:18] bartlomieju commented on #497
This is a good idea, I'll incorporate it tonight.

[2019-06-20 04:23] kitsonk commented on #506
`deno bundle` does not do tree shaking... an import is an import is an import as far as that is concerned.  We can put tree shaking on the roadmap for `deno bundle`, but it is quite complex logic and most.  I have put some thinking into it and one of the biggest challenges is that all the tree-shakers I am aware of utilise an ESTree type AST format to identify the dependencies.  That would be a re

[2019-06-20 06:31] kt3k commented on #330
Now this seems fixed (probably fixed in https://github.com/denoland/deno_std/pull/438)
[code]

[2019-06-20 06:31] #330 closed

[2019-06-20 14:29] j-f1 commented on #491
There’s [an implementation of this](https://github.com/nvie/decoders) in Node.js land, but unfortunately it’s Flow-native rather than TS-native.

[2019-06-20 14:52] #497 closed

[2019-06-20 14:52] #501 closed

[2019-06-20 18:22] bartlomieju commented on #500
Done in #512 ?

[2019-06-20 23:54] kitsonk opened #513 "Bundle runner doesn't handle args well"
The bundle loader does not handle `Deno.args` well, in that it expects exactly two args (the path to the runner and the path to the bundle) and doesn't leave the args in a state where the bundle doesn't realise it was bundled.  It should remove the runner from the args.

[2019-06-21 00:05] kitsonk commented on #513
Because the args are frozen, there is no modifying them, but at least we can at least accept >= 2 arguments.

[2019-06-21 00:20] thefliik commented on #491
@j-f1 that's a great example. My hope in opening this issue was to see if a pull request would be accepted, as well as start a discussion of what an API might look like.

`ts.data.json` returns either an `Ok<T>` (on success) or `Err<T>` (on failure) object from a Decoder. It looks like the `decoders` library you've linked to throws an error on failure and simply returns the value on success.

At f

[2019-06-21 01:16] #500 closed

[2019-06-21 02:48] j-f1 commented on #491
IMO `allOf` should be called something like `chain` to clarify that it passes the result of one decoder to the next one.
How about `value` for the `hardcoded` decoder?
For `tuple`, here’s a type definition that will work for an arbitrarily-large number of types:

[code]

[2019-06-21 04:07] thefliik commented on #491
@j-f1

That's fair. I chose the name as the counterpart to `oneOf`, but I think your suggestion is better. I've updated my previous suggestion to `chain`.

Initially I liked the suggestion, but on second thought I think it's too similar to the `constant` decoder (having both `value` and `constant` seems confusing)? Really, the two decoders are very similar. What about `insertConstant` instead?

[2019-06-22 00:02] #513 closed

[2019-06-22 10:11] manyuanrong commented on #442
Is there any follow-up to this?
I launched a more formal Deno application. But because of this problem. So it always breaks down.
https://denocn.org

[2019-06-22 14:52] #508 closed

[2019-06-23 14:45] motss commented on #465
This might be related https://github.com/denoland/deno_std/issues/386

[2019-06-23 15:04] motss opened #519 "Typo in testing's README"
`comparision` -> `comparison` in `equal() - Deep comparision function, where actual and expected are compared deeply, and if they vary, equal returns false.`

[2019-06-23 16:47] j-f1 commented on #519
Can you open a PR to fix this/

[2019-06-24 04:01] motss commented on #506
Were there any valid reason back then using `import * as xxx` instead of named imports?

[2019-06-24 04:06] motss commented on #519
@j-f1 Done.

[2019-06-24 05:28] kitsonk commented on #506
Yes, in Deno code.  Because of the way we have to build the type library and arrive at a single global type definition, when dealing with importing modules, we have to do so via the namepsaces to avoid some collisions and naming problems in the global namespace.

Aside from the technical challenges internal to Deno, there are some use cases where using a module as a namspace makes more sense, like

[2019-06-24 05:57] motss commented on #506
Yeah. That makes more sense. But for bundling's sake, using named imports with aliases is the way to go for better treeshake.

[2019-06-24 13:08] #519 closed

[2019-06-26 03:13] Dreamacro opened #525 "suggestion: code style about async try catch"
## Why I suggest this code style

I have a quick look at `deno_std` and find out that the "try-catch" code style could be improved. I use a little trick about "try-catch" to improve code structure in the real world.

[code]

it's helpful when we want to throw a wrapper error and reduce indent deep to make code clear. btw, it seems like golang error handle 😛.

[code]

## Example

https://github.com

[2019-06-26 03:48] jas0ncn commented on #525
Awesome! The return type of `to` maybe `Promise<[T, null] | [null, E]>` which more semantic.

[2019-06-26 06:43] axetroy commented on #525
it's a bit too non-standard for me.

The standard library should avoid some magic-hacks.

[2019-06-26 06:48] Dreamacro commented on #525
@axetroy It doesn't mean exposing `to` as an std function, but it really improves std library code readability

[2019-06-26 08:17] bartlomieju commented on #525
Not so long ago we had similar syntax to this example:
[code]
It was deemed non-idiomatic TypeScript and I agree that `try/catch` is better.

Check #472 for more details.

[2019-06-26 08:23] axetroy commented on #525
In fact, this style of interface return is not impossible.

But limited to some specific interfaces

[code]

In this scenario, you need to accurately get the number of bytes of copy, even if the entire copy fails.

Unfortunately, `Deno.copy()` does not have this implementation.

[2019-06-26 08:32] Dreamacro commented on #525
@bartlomieju

In my opinion, no every `try/catch` need this helper function.

It is used in somewhere "make sense" like `ensure_dir.ts` (When I refactored `ensureDir`, I found that Its logic is a bit complicated.)

[2019-06-26 12:38] j-f1 commented on #525
You could always use the native promise methods:

[code]

[2019-06-26 14:10] zekth commented on #525
Really looks like Haskell's `Either` : https://www.schoolofhaskell.com/school/starting-with-haskell/basics-of-haskell/10_Error_Handling

This may be used in other modules but not standard.

[2019-06-26 23:24] thefliik commented on #484
In a test, I could see value in being more explicit. Is it possible for someone to think they were testing an array, but actually a string gets passed and the test still passes? Typescript reduces the likelihood of this, but I imagine it could still be possible with some poorly typed code.

[2019-06-27 00:12] kitsonk commented on #484
No.  Both the left and right would have to be strings.  Or the left would have to be an array containing strings and the right would be a string which is actually contained in wholly as a value in the left.  You would have to a) not be using TypeScript and b) make some really really big logic errors.  So why encumber everyone for what is a really odd and unlikely edge case?

[2019-06-27 04:41] thefliik commented on #484
Well that's an exaggeration. Many people and libraries make use of `any`, which could easily eliminate the type safety and prevent the error from being noticed. Alternatively, someone could be make use of a javascript library that had inaccurate typings made for it. In short, someone could make a mistake.

I guess the central difference between us is the benefit this change provides. I was actuall

[2019-06-30 08:17] zekth commented on #506
What if you use all the methods of the mod? It seems a bit strict IMO. Having this restriction using some `strict` argument could be better.

[2019-06-30 15:10] #457 closed

[2019-07-02 17:14] kevinkassimo commented on #525
I do think we still want to stick with idiomatic JS try-catch, but I feel this wrapping `to` function (we might want to rename it to something else, maybe like `asResult`) would be a good util to include in https://github.com/denoland/deno_std/blob/master/util/async.ts

Also maybe we could implement `Option` or `Result` types (similar to the one in Rust) and wrapping helpers as a module here that

[2019-07-03 15:13] #403 closed

[2019-07-07 18:21] irustm opened #529 "error TS2694: Namespace 'Deno' has no exported member 'ReadResult'."
deno: 0.11.0
v8: 7.7.37
typescript: 3.5.1

https://deno.land/std@v0.9.0

[code]

cc: deno/2591
https://github.com/denoland/deno/pull/2591

[2019-07-07 18:30] irustm commented on #529
@kt3k ?

[2019-07-07 18:33] irustm commented on #529
aa.. waiting this PR: #527

[2019-07-07 18:33] #529 closed

[2019-07-07 19:22] ry commented on #525
I think @kevinkassimo put it well. For std it's best to s itick with idiomatic JS, but it would be interesting to see experiments with other methods.

[2019-07-07 19:22] #525 closed

[2019-07-08 05:27] Dreamacro commented on #525
@ry  The reason that prompted me to open this issue is to see the following code in std

[code]

I think this code should be avoided in std

[2019-07-08 06:03] kevinkassimo commented on #525
@Dreamacro Yeah I agree this looks strange. At lease I should have just do `try { ... } catch { ... }` without `(e)` part.

The idea is that for this single case the error is not important and we just want to leave it as null if an error occurs. But in many other cases you do want to handle the error with the try-catch block, which is idiomatic JS.

If we were to really implement something to make

[2019-07-08 14:14] ry opened #530 "Re-enable emptyDirIfItExist"
https://github.com/denoland/deno_std/blob/88b48945799322c0bc2f34134eed538759de4174/fs/empty_dir_test.ts#L41-L84

broken on windows.

[2019-07-08 15:09] #530 closed

[2019-07-09 22:30] ry opened #532 "catj should accept stdin input"
(also can we rename it from catjson to catj ?)

[2019-07-10 07:06] bartlomieju commented on #532
Try:
[code]

There's no easy way to check if there's something to read from stdin in Deno (if there's nothing it will block forever), that's why `-` is needed.

[2019-07-10 14:13] ry commented on #532
Oh sorry ! I didn't even see that in the help text. But trying it now, it doesn't seem to work.

[code]

[2019-07-10 14:19] bartlomieju commented on #532
I just checked and indeed it's not working... I think flag parsing after script name in `v0.11.0` might have broken it. I'll investigate in the evening.

[2019-07-10 16:21] MarkTiedemann opened #534 "std lib imports require version"
Works fine:

[code]

Fails with cryptic error:

[code]

[code]

I think this is kinda unexpected, especially since some of the documentation in the std lib is using unversioned imports.

[2019-07-10 16:27] ry commented on #534
I can't repeat the problem.

[2019-07-10 16:40] MarkTiedemann commented on #534
`rm -rf ~/Library/Caches/deno` fixed the error. I guess this was due to an older version of `.../fs/mod.ts`. Perhaps a caching issue?

[2019-07-10 17:50] #534 closed

[2019-07-11 02:50] axetroy opened #535 "Feature Require: HTTP mock tester"
The current HTTP test is tested by opening the child process, which will actually listen to the port.

We should provide a way to set up a simulated HTTP server without listening to the port.

so that we can test this HTTP server without any cost.

[code]

The above code, it seems impossible, it is just a hypothesis of mine.

If anyone has a better idea, welcome post it.

[2019-07-11 09:58] #532 closed

[2019-07-11 10:06] zekth commented on #535
To add for ref i like the [Fastify](https://github.com/fastify/fastify) implementation `inject`. Ref: https://github.com/fastify/fastify/blob/master/docs/Testing.md

[2019-07-11 10:58] kitsonk commented on #525
Yeah, we should omit the `(e)` if not used in the `catch` block.  That is allowed syntax in the current ECMAScript and is support both by the version of V8 and TypeScript we are using.

[2019-07-11 11:43] zekth commented on #525
ESlint would yell if not used.

[2019-07-12 04:01] kitsonk commented on #525
No it doesn't.  The binding was not optional until recently, so it will just allow `catch (e)` because that was the only valid way to right it.  ESLint is still [debating the rule](https://github.com/eslint/eslint/issues/10264).  The optional binding for `catch` statements is only part of ES2019 published in June (though there was a lot of adoption earlier than that, just not by eslint).

[2019-07-12 04:12] ry opened #537 "wanted: JSDOM port"

[2019-07-12 14:51] ry commented on #535
@axetroy How do they do this within the Go standard library?

[2019-07-14 17:08] ConsoleTVs opened #538 "[HTTP] Body's Promise is blocked when no body is present"
- Code to replicate:

[code]
- Send GET: http://127.0.0.1:8000/ OK

![image](https://user-images.githubusercontent.com/6124435/61186893-fa718a80-a66a-11e9-8aae-01fdbd5f8d47.png)

- Send POST (with some body): http://127.0.0.1:8000/ OK

![image](https://user-images.githubusercontent.com/6124435/61186900-0a896a00-a66b-11e9-9b44-1db72809c2fb.png)

- Send POST (without body): http://127.0.0.1:8000/ BL

[2019-07-17 06:24] AlfieriChou opened #540 "path add __dirname or another?"
### example
[code]

[2019-07-17 06:34] zekth commented on #540
duplicate: https://github.com/denoland/deno/issues/2125

[2019-07-17 13:39] ry commented on #540
import.meta.url contains that info

[2019-07-17 13:39] #540 closed

[2019-07-23 12:39] FrediLehmann opened #543 "console.log(headers) doesn't print useful info"
I have problems to read the headers of a `ServerRequest`.
I have updated the dependencies with the `--reload` flag, but the error still exists.
Is this a Bug or am i doing it wrong?

This is the Code i use:
[code]

This is the console output i get:
[code]

[2019-07-23 12:42] bartlomieju commented on #543
That's just how console print headers, did you check if there are any values inside with `req.headers.entries()`?

[2019-07-23 12:46] FrediLehmann commented on #543
With `console.log(req.headers.entries())` i get
[code]

[2019-07-23 12:53] FrediLehmann commented on #543
My bad, i was just to stupid:

[code]

[2019-07-23 13:09] ry commented on #543
It seems annoying that it's so difficult to display a Headers object. I checked Chrome and it does indeed display `Headers {}`... I wonder if we could do something different.

[2019-07-24 08:31] mapleeit commented on #367
Purposing adding `truncate` for strings.

API may be like (coping from `lodash`):

[code]

- `[string=''] (string)`: The string to truncate.
- `[options={}] (Object)`: The options object.
- `[options.length=30] (number)`: The maximum string length.
- `[options.omission='...'] (string)`: The string to indicate text is omitted.
- `[options.separator] (RegExp|string)`: The separator pattern to trunca

[2019-07-25 10:46] josephrocca commented on #441
Not sure it's related to this, but when I try to run the WebSocket demo code in the readme:
[code]

[2019-07-25 14:51] nayeem-rahman opened #544 "Shebang interpreters are given only one argument on Linux"
See https://unix.stackexchange.com/questions/63979/shebang-line-with-usr-bin-env-command-argument-fails-on-linux

[2019-07-28 11:10] #544 closed

[2019-07-28 11:35] #442 closed

[2019-07-29 02:09] runnerSnail opened #547 "ws error"
![image](https://user-images.githubusercontent.com/40654631/62017290-af1db700-b1e8-11e9-986d-0219e4b2ca96.png)

ps: I think our official package is terrible, although the deno is very good

[2019-07-29 08:47] ry commented on #547
Yes the ws module really needs some work!

[2019-07-29 10:17] ry commented on #547
Can you listen the code that made this error?

[2019-07-30 09:36] bartlomieju commented on #405
These issues have been fixed in #527

CC @ry

[2019-07-30 09:37] bartlomieju commented on #547
Looks like problem is in @runnerSnail code not in WS module

[2019-07-30 09:44] bartlomieju commented on #395
Seems like escape codes are now properly rendered

<img width="548" alt="Zrzut ekranu 2019-07-30 o 11 43 03" src="https://user-images.githubusercontent.com/13602871/62119157-405f5d00-b2bf-11e9-8f3e-04a9a281f06d.png">

Copy/pasting is still not working 😆 but I guess we can close this issue now @ry?

[2019-07-30 10:06] #405 closed

[2019-07-30 11:11] #395 closed

[2019-07-30 12:35] #306 closed

[2019-08-02 10:45] GrosSacASac commented on #506
Rollup can tree-shake wildcard imports [See this example](http://rollupjs.org/repl/?version=1.18.0&shareable=JTdCJTIybW9kdWxlcyUyMiUzQSU1QiU3QiUyMm5hbWUlMjIlM0ElMjJtYWluLmpzJTIyJTJDJTIyY29kZSUyMiUzQSUyMiUyRiolMjBUUkVFLVNIQUtJTkclMjAqJTJGJTVDbmltcG9ydCUyMColMjBhcyUyMGdlb21ldHJ5JTIwZnJvbSUyMCcuJTJGbWF0aHMuanMnJTNCJTVDbiU1Q25jb25zb2xlLmxvZyglMjBnZW9tZXRyeS5jdWJlKCUyMDUlMjApJTIwKSUzQiUyMCUyRiUyRiUyMDE

[2019-08-05 22:03] #441 closed

[2019-08-06 09:56] jimmywarting commented on #355
I find the browsers devtools `$$(selector)` to be somewhat useful.
It's a shorthand for `document.querySelectorAll`

[2019-08-06 19:10] irustm commented on #441
waiting..  release deno_std 🙏

[2019-08-09 07:56] tedstoychev opened #555 "[testing] assertEquals() throws a new Error() instead of a new AssertionError()"
In [deno_std/testing/asserts.ts][1] in [the declaration of assertEquals()][2] a `new Error()` is thrown instead of a `new AssertionError()`.

### Possible fix:
Throw a `new AssertionError()` instead of a `new Error()` in [deno_std/testing/pretty.ts#L83][3].

[1]: https://github.com/denoland/deno_std/blob/master/testing/asserts.ts
[2]: https://github.com/denoland/deno_std/blob/master/testing/assert

[2019-08-09 16:11] nayeem-rahman opened #557 "Absolute root directory argument in the file server"

[2019-08-10 08:03] dchest opened #559 "UUID loses 2 bits of entropy"
UUIDv4 includes [4 bits as version number and 2 or 3 bits as variant](https://en.wikipedia.org/wiki/Universally_unique_identifier#Version_4_(random)). This [code](https://github.com/denoland/deno_std/blob/3e17815c7e61cfd2e4c46a12649811543509d563/uuid/v4.ts#L12-L19):

[code]

takes 4 bits for variant instead (`8` is hard-coded), so it can generate only 2^120 uuids instead of 2^122.

[2019-08-12 09:30] bartlomieju commented on #418
This issue should be revisited after landing test runner #516

[2019-08-14 13:16] ry opened #562 "Add overloaded form of unit test declaration: test(name, fn)"
There are currently two ways to declare a unit test
[code]
It turns out that many of the tests in deno_std are using the expanded form. We could shorten this significantly by also allowing
[code]

Someone has suggested this before and noted that a certain existing test framework uses this form as well.  (I can't find a reference.) So that's another reason to change.

Edit: reportedly Ava.js, Mocha

[2019-08-14 14:22] #555 closed

[2019-08-14 20:12] #562 closed

[2019-08-15 00:04] #193 closed

[2019-08-15 15:59] #557 closed

[2019-08-21 23:56] Fenzland commented on #386
There are some better ways to use async iterator server:

### The worst
[code]
In this case, we get, handle and respond request queuely.

### A little better
[code]
In this case, we handle and respond request concurrently, but get request queuely.

### More better
[code]
In this case, we get, handle and respond request concurrently, and control the concurrency by a counter.

[2019-08-22 05:56] ry opened #569 "deno test doesn't work on subdirs"
[code]

[2019-08-22 05:58] ry opened #570 "deno test doesn't work with URLs"
[code]

[2019-08-22 07:05] bartlomieju commented on #569
I don't think it's a bug. `./fmt` is converted to a regex to match files during `walk()` and it causes to match all files in `fmt/` directory.

Actually the error is the same as in #568 - importing non-JS file. For good measure we can always only match `.js` and `.ts` files, but it may be surprising that some files are omitted. Anyway... `deno test` should definitely be as ergonomic as possible, w

[2019-08-25 20:59] zekth commented on #543
It is due to `Headers` inheritance.
You can debug it using:
`console.log(new Map(request.headers))`
or the iterator
`for (const e of request.headers.entries()) console.log(e);`

Problem is the `Header` class. Another issue like the one described here : https://github.com/denoland/deno/pull/2454

[2019-08-26 03:20] kitsonk commented on #543
You could implement `[Deno.customInspect]()` to provide something more meaningful now.

[2019-08-27 21:55] bartlomieju commented on #569
Nevermind my previous comment. This issue will be fixed in #574 as well. Test runner will import all files from that directory obviously, and only some of them contain tests :+1:

[2019-08-28 23:53] sholladay commented on #562
I suggested it in https://github.com/denoland/deno_std/issues/93.

More specifically, I think AVA's API should be adopted, for at least test definitions and assertions.

[2019-08-30 17:43] #569 closed

[2019-08-30 17:43] #570 closed

[2019-08-30 19:18] nayeemrmn opened #576 "Test runner file matcher should walk as little as possible"
If I run `deno -A https://deno.land/std/testing/runner.ts projects/deno_std/fmt/sprintf_test.ts`, it walks the whole directory tree from CWD and takes a really long time. Obviously no walking should be done in this case - sound easy enough.

Ideally though, `deno test projects/deno_std/fmt/*_test.ts` would only walk `projects/deno_std/fmt`. At that point you'd want to extract a magical glob expans

[2019-08-30 19:50] j-f1 commented on #543
Here’s a possible implementation:

[code]

Should I open a PR in Deno core?

[2019-08-30 19:56] j-f1 commented on #543
Here’s an option:

[code]

Should I make a PR to the Deno repo?

[2019-08-31 12:12] kitsonk commented on #543
Use `[Deno.customInspect]()` and then you won't have to touch core.  See denoland/deno#2791.

[2019-08-31 19:43] j-f1 commented on #543
It looks like `Headers` is a global type. How could I contribute the custom inspector so it’s used by Deno by default?

[2019-09-01 20:55] bartlomieju commented on #576
Yeah it makes sense. I'll update the test runner

[2019-09-02 04:09] kitsonk commented on #543
By submitting a PR adding it [to the Headers class](https://github.com/denoland/deno/blob/6cded14bdf313762956d4d5361cfe8115628b535/js/headers.ts#L20).  I think we need to remove most of the case logic in the `inspect()` to this symbol anyways, as it would be tightly coupled to the class it represents than located specifically in the logic of `inspect()`.

In the case of internal Deno code, you wou

[2019-09-04 02:06] rodrigooler commented on #529
I have the same problem

![Captura de tela de 2019-09-03 23-06-05](https://user-images.githubusercontent.com/5496931/64220348-6f10ba80-ce9f-11e9-8ca4-938808c96e0b.png)

Server.ts
[code]

[2019-09-04 06:39] kt3k commented on #529
@rodrigooler
The framework, deno-fen, seems depending on too old version of Deno, and not maintained well. You need to choose one of the other frameworks.

- https://github.com/oakserver/oak
- https://github.com/syumai/dinatra
- https://github.com/crookse/deno-drash
- https://github.com/zhmushan/abc
- https://github.com/alosaur/alosaur

[2019-09-04 13:54] rodrigooler commented on #529
@kt3k yes, I'm taking a look at ABC now. I realized about the downgrading and decided to look into the modules that are listed on the deno website. Thank you for the tips!

[2019-09-05 14:30] ry opened #586 "re-enable evaluateBundle test"
https://github.com/denoland/deno_std/commit/539338db330e630d006f0898921635c4e10ae671

[2019-09-05 14:30] ry opened #587 "re-enable getMatchingUrlsLocal test"
https://github.com/denoland/deno_std/commit/539338db330e630d006f0898921635c4e10ae671

[2019-09-08 10:50] Mark1626 opened #588 "[http] Support for HTTP gzip compression"
It would be nice for `deno` to support HTTP compression. It could be enabled as

[code]

[2019-09-08 11:03] kitsonk commented on #588
This is likely a higher order concern, something that someone would build on top of the server.

[2019-09-08 11:46] zekth commented on #588
I agree. This is mostly handled by nginx or apache. Adding this layer to the deno server is not really mandatory. At least in `deno_std`

[2019-09-11 16:34] #559 closed

[2019-09-11 16:52] lucacasonato opened #593 "[testing] deno test does not work on windows"
The `deno test` command does not work on windows. It always outputs `No matching test files found.` [Here](https://dev.azure.com/denoland/deno_std/_build/results?buildId=2230&view=logs&jobId=2d2b3007-3c5c-5840-9bb0-2b1ea49925f3&taskId=ddeebf02-4eb3-5b9c-39ee-cfd42d31a3cf&lineStart=17&lineEnd=18&colStart=1&colEnd=1) is an example from the `deno_std` CI. I think the file walker/matcher does not work

[2019-09-11 18:03] bartlomieju commented on #593
Yikes, definitely a bug. I guess `test_runner` should return exit code 1 if there are no matching files found, or it will keep on skipping silently.

[2019-09-11 18:12] nayeemrmn commented on #593
With an `--allow-none` option hopefully?

[2019-09-11 19:48] bartlomieju commented on #593
@lucacasonato are you working on a fix?

[2019-09-11 19:48] bartlomieju commented on #587
Done in #589

[2019-09-11 19:50] bartlomieju commented on #576
I got caught up in other work, if someone wants to tackle that feel free

[2019-09-11 19:52] lucacasonato commented on #593
Not yet, I can once I'm done with moving deno to GitHub Actions.

On Wed, 11 Sep 2019 at 21:48, Bartek Iwańczuk <notifications@github.com>
wrote:

[2019-09-11 20:40] #587 closed

[2019-09-13 21:04] kitsonk commented on #428
@ry and talked about this... it makes sense... largely we need a CompilerHost that works well under Deno, which would be similar to what we use in the built in Deno compiler (possibly to become _the_ host).

I am going to be taking a look at it, but anyone else wanting to help would be glad to talk about what needs to be done.

[2019-09-13 21:06] ry commented on #428
As a very first pass, I think just having a test that loads TS and checked the version (or some other basic thing) would be sufficient.

[2019-09-13 21:20] kitsonk commented on #428
For anyone interested, the "trick" is that `typescript.js` loads in two ways, either as CommonJS or as global (see: microsoft/TypeScript#32949).  Because it does not detect what it needs for CommonJS it creates a global variable `ts` when loaded.

So we need to combine the `@deno_types` directive and also import `typescript.js` and scope the type definitions in the global scope (similar to what we

[2019-09-15 21:17] kitsonk commented on #428
@ry I have it mostly working with the following (with the couple recent patches I made to deno master):

[code]

But the problem is that we load everything as a module into the isolate at runtime, which means that the global `ts` variable is created only in the scope of the module.  Unlike prettier, which properly detects that it isn't being loaded as a CommonJS or AMD module and defaults to expos

[2019-09-18 17:19] ry opened #602 "re-enable globrex tests"
I had to disable two tests in order to upgrade to v0.18.0
"globrex: filepath path-regex"
"globrex: filepath path segments"

See https://github.com/denoland/deno_std/commit/a8f6cf7b4fa4030878bb702a65f28f469ee1f87d for where they were removed.

cc @zekth

[2019-09-18 17:21] ry opened #603 "Merge deno_std into deno repo"
deno_std and deno have circular dependencies between them - and it's increasingly difficult as our codebase grows to keep them in sync.

I plan to merge the deno_std repo into deno in the near future.

I want to complete a few things first
- https://github.com/denoland/deno/issues/2933
- https://github.com/denoland/deno/issues/2852

[2019-09-18 17:31] zekth commented on #603
Just a question, deno_std will still not be shipped with the deno runtime right?

[2019-09-18 17:41] ry commented on #603
Correct - deno_std will still be available via https://Deno.land/std

This is just about being able to have CI testing both the std modules and internal code.

[2019-09-18 17:45] zekth commented on #603
Also this move requires the review of current issues of the repo. Moving the related ones and closing the staling. (just to have it in consideration)

[2019-09-18 18:28] sh7dm commented on #603
Won't this cause longer and more frequent builds since CI will run both deno and deno_std tests for anything? So `deno_std` change will cause a CI run for both. Please pay attention to this.

[2019-09-18 18:33] ry commented on #603
Yes, this will certainly increase the CI time for deno_std - it won't for deno.

We are moving to Github Actions in Deno - and that should improve the CI time... But yes, expect it to be about 15 minutes to get green.

The trade off is worth it. We need to have better understanding of how changing in core effect std and vise versa. Ultimately I think this merge will increase our agility.

[2019-09-18 19:07] zekth commented on #603
Tests of deno_std are really fast so i'm not concerned with that. The only concern is the occurence of builds yes.

[2019-09-20 18:34] kevinkassimo opened #606 "Implement `BufReader.readString(delim)`"
Noticed that this is [not yet implemented](https://github.com/denoland/deno_std/blob/a8f6cf7b4fa4030878bb702a65f28f469ee1f87d/io/bufio.ts#L215). Should be a very useful utility (also since both `readSlice` and `readLine` are implemented but in the documentation pointing to prefer using `readString`).

Also may be a good task for new contributors

[2019-09-20 20:16] sholladay commented on #588
I think compression absolutely belongs in `deno_std`, given that almost all web servers are going to want it. But I agree it should not be part of `server`. It should just be a separate thing within `deno_std`, which framework authors have to add on top of `server`. That's how it works in Node - there's a `zlib` module which provides the compression functions.

In Deno, I imagine GZip would be imp

[2019-09-20 21:21] zekth commented on #588
Agree. Also maybe implement a `compression` module like it's done in Golang:
https://golang.org/pkg/compress/gzip/

[2019-09-20 21:31] kitsonk commented on #588
JavaScript implementations of gzip are going to be silly slow.  This really treads into space where native modules would be helpful on Deno.  But at the moment I see two choices:

- We had compression op to Deno, which means technically it is part of core instead of std.  It should support gzip and brotli at a minimum.
- We look at ruggadising WASM support in std.  Something like https://github.co

[2019-09-22 07:23] #351 closed

[2019-09-22 07:42] sh7dm commented on #195
String functions seem good!

[2019-09-22 08:08] sholladay commented on #465
It seems that this is still happening. Makes it difficult to implement graceful shutdown for a Deno server.

[2019-09-22 17:04] #606 closed

[2019-09-23 02:09] wkirk01 opened #610 "Support generics in fs/read_json.ts"
It would be nice to support generic types in [fs/read_json.ts](https://github.com/denoland/deno_std/blob/master/fs/read_json.ts).

[code]

[2019-09-23 03:19] kitsonk commented on #610
When you don't use the generic in the arguments or implementation, the generic is meaningless.  Look at the type definitions in TypeScript for [`JSON.parse`](https://github.com/microsoft/TypeScript/blob/b963e1a2a7e3b1056ee2552927fa08fcc51e4c7d/lib/lib.es5.d.ts#L1059).  It doesn't support a generic because they are unneeded.  And for historic reasons, it returns `any` versus what is more appropriat

[2019-09-23 03:30] #610 closed

[2019-09-24 20:58] cdimitroulas commented on #588
I noticed that @arcatdmz who is a contributor here has been working on a deno port of `pako` which is a JS port of `zlib` which is surprisingly fast. Perhaps it's worth looking at those benchmarks first before dismissing a javascript implementation for other options.

The original library can be found [here](https://github.com/nodeca/pako). The issue where I saw this contributor's work is https://

[2019-09-26 11:13] drdreo opened #614 "ws send() masks frames which it must not when sending to the client"
The current mod.ts in std/ws masks the frame on send() which errors in the browser with the message: _"A server must not mask any frames that it sends to the client."_

Playing around with a websocket chat as an example: https://github.com/drdreo/deno-chat
I copied the mod.ts and simply not creating the mask fixed that error for me.
[code]

[2019-09-26 11:15] drdreo commented on #343
Seems to be fixed already.

[2019-09-26 11:15] #343 closed

[2019-09-28 05:28] keroxp commented on #614
Correct. This may be violation of WebSocket standard on server side.

[2019-09-28 11:31] keroxp commented on #603
Hmm... It must be hard task for contributors. I know there are some difficulties of managing parallel projects. But "all at once" is not good idea imo. On the first step, only modules depended by core repository should be moved, can you?

E.g. `installer` and `prettier` are pragmatically not part of std as a module. `testing` is special module and it is acceptable to have circular dependencies.  A

[2019-09-28 16:47] #614 closed

[2019-09-30 18:24] andrewstucki opened #620 "HTTP Request Smuggling Issues"
Heads up, but since deno's implementation of HTTP header parsing copies go's `textproto` implementation, it's currently susceptible to [CVE-2019-16276](https://github.com/golang/go/issues/34540). Basically you'll want to remove the header normalization happening here: https://github.com/denoland/deno_std/blob/f3bdf1a77b852cfb1490f20e4ad9b4346fe9d328/textproto/mod.ts#L101-L104

[2019-10-02 17:59] #576 closed

[2019-10-06 08:47] keroxp opened #622 "Why deno install always re-downloads dependencies?"
- https://github.com/denoland/deno_std/blob/master/installer/mod.ts#L230
- `deno install` ignores module caches
- Why?
- It should reload when `--reload` options provided, shouldn't it?
- cc: @bartlomieju

[2019-10-06 10:20] bartlomieju commented on #622
Hi @keroxp so I added `--reload` there to ensure that you always install newest version of script.

Example:
Say you want to install `file_server` from `deno_std`, I can install specific version or latest one.
[code]
So in case of installing with tag, then sure `--reload` is not needed because scripts won't change with the same version. But what about latest version? If we did not pass `--reload`

[2019-10-06 11:01] nayeemrmn opened #623 "fs export structure"
To access everything in `fs`, you have to import from:
- `fs/mod.ts`
- `fs/path.ts` (`fs/path/mod.ts` + `fs/path/interface.ts`)
- `fs/path/constants.ts`

These are all used from outside of `fs`.

`fs/path/mod.ts` should re-export everything public in `fs/path/constants.ts`.

`fs/mod.ts` should also have to re-export `fs/path.ts`, but I favour making `fs/path` top-level.

That would leave:
- `fs/mo

[2019-10-07 16:40] keroxp commented on #622
@bardiarastin I got it, thank you!

[2019-10-07 16:40] #622 closed

[2019-10-07 16:58] bardiarastin commented on #622
hi @keroxp, I'm not @bartlomieju but I'm happy that you got it :)

[2019-10-08 01:28] ry commented on #603
We’ve started the transition
https://github.com/denoland/deno/pull/3085

[2019-10-08 15:38] sosukesuzuki opened #626 "need to update the type definition for Prettier"
Hi, I'm  a collaborator of https://github.com/prettier/prettier .

Recently, the mistake in the Prettier type definition was found, and it was fixed. (https://github.com/DefinitelyTyped/DefinitelyTyped/pull/38820)

Maybe need to update the Prettier type definitions in the deno standard library.

[2019-10-09 06:41] zekth opened #629 "Discussion : path.isWindows"
I was reviewing a PR and i figured out it's weird to have `path.isWindows`. I mean it would make more sense to ask for `os.isWindows` no? Because in this case iswindow is returning the value in calculation of the context of execution not the path. For example i would imagine:
[code]
ref:
https://github.com/denoland/deno_std/blob/master/fs/path/constants.ts#L51

[2019-10-09 10:24] nayeemrmn commented on #629
See #624, last bullet. If that doesn't get merged I'll make a PR for just the smaller stuff like this.

[2019-10-09 10:29] zekth commented on #629
Indeed, it was on that point i was really wondering about the use of it.

[2019-10-09 16:30] zekth commented on #603
Also maybe a `std` tag github for the deno issues could be cool. To find if the issue / pr is related to core or std. Don't you think?

[2019-10-09 16:41] lucacasonato commented on #593
Fixed by #604

[2019-10-09 16:41] #593 closed

[2019-10-10 09:31] #603 closed, assigned to nobody

[2019-10-11 13:38] #626 closed

[2019-10-14 17:14] RoryMalcolm commented on #543
https://github.com/RoryMalcolm/deno/commit/8367894fe8d0af2e093987510eb76a837ff43609 I had a go at fixing this here but cannot get `cargo test` to run on my machine, other people can pick up if they want

[2019-10-14 17:23] ry commented on #543
@RoryMalcolm I'd be interested to hear what issue you ran into.

[2019-10-14 17:29] RoryMalcolm commented on #543
When I run `cargo test` I get this error:

[code]

I followed the instructions from the build environment setup page on deno.land, no sweat of your back I think its an issue with my setup.

Would've just tested with GitHub Actions but when I try to enable them on my fork I get a 500 😬

[2019-10-14 17:32] bartlomieju commented on #543
Just open a PR in main repo and run CI there :)

[2019-10-14 17:41] ry commented on #543
@RoryMalcolm It would be very helpful if you run this:
[code]
and open an issue in https://github.com/denoland/deno with the output.

[2019-10-16 18:39] #623 closed

[2019-10-22 08:19] Fenzland opened #631 "std resource responded 404"
I try the example in home page of deno land.
but https://deno.land/std@v0.19.0/http/server.ts but responded 404.
So as other resources.

[2019-10-23 02:13] Fenzland commented on #631
it's okay now

[2019-10-23 02:13] #631 closed

[2019-10-28 16:23] #543 closed

[2019-10-29 13:34] jamesseanwright opened #632 "assertEquals doesn't deeply verify Map equality"
It would seem that the [`equal`](https://github.com/denoland/deno_std/blob/73671a6f04d288dd57e75f9806959f7b055ae4a7/testing/asserts.ts#L68) function consumed by `assertEquals` in the `asserts` module doesn't verify the deep equality of `Map` instances. Therefore:

[code]

doesn't throw an `AssertionError`, whereas I'd certainly expect a test failure.

Was it an intentional decision to omit `Map` s

[2020-01-21 17:26] brandonkal opened #679 "[bug] yaml types -- ignores schema"
https://github.com/denoland/deno/blob/9de8178c9b9bc21cc880ea81f163118408cc6c46/std/encoding/yaml/parse.ts#L28

Following the types for yaml.parseAll(), the caller expects this to function:
[code]

However, parseAll types hide what is really going on:
[code]
undefined is not a callback function and so the third parameter is ignored.

The way to call it is like so, which the types do not allow:
[cod

[2020-01-25 15:22] cjbassi opened #678 "Consider adding a path class to the standard library"
Currently there is a path module in the Deno standard library, but it's not architectured in an OOP way and the functions are stringly typed. This is similar to how python used to do path operations with the `os` module, and then they replaced it with the pathlib module which works in a more object-oriented way with methods instead of functions and with a strongly typed path type. Rust also has a

[2020-02-05 02:36] brandonkal opened #677 "std/flags: Arg with `---` parsed as true"
It makes sense why this is happening but I am not sure if this is desired behavior.

For instance: `deno program.ts "$(cat file.yaml)"` will parse as { "-": true }.
It appears to be assuming a flag of "-" and then because nothing is attached to stdin it just returns true. It would be better if text that starts with "---\n" ends in the "_" array. I can't imagine a situation where one would want an